<div *ngIf="displayItem">
  <form class="item-form">
    <div class="form-group">
      <label>ID
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Somru's unique identifier for equipment">?</button>
      </label>
      <input *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayItem.id" name="id" />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.id}}</p>
    </div>
    <div class="form-group">
      <label>Series
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Serial number that is labeled on the item">?</button>
      </label>
      <input *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayItem.serial" name="serialnumber" />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.serial}}</p>
    </div>
    <div class="form-group">
      <label>Equipment Name
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Name of the equipment">?</button>
      </label>
      <input *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayItem.name" name="equipname" />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.name}}</p>
    </div>
    <div class="form-group">
      <label>Manufactor
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The company that provided the equipment">?</button>
      </label>
      <input *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayItem.manufactor" name="manufactor" />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.manufactor}}</p>
    </div>
    <div class="form-group">
      <label>Model
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Model type of the equipment">?</button>
      </label>
      <input *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayItem.model" name="model" />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.model}}</p>
    </div>
    <div class="form-group">
      <label>Current Location
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Location where the item is currently at">?</button>
      </label>
      <input *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayItem.currentLocation" name="currentLocation" />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.currentLocation}}</p>
    </div>
    <div class="form-group">
      <label>Comment(s)</label>
      <textarea *ngIf="enableEdit" class="form-control" [(ngModel)]="displayItem.comment" name="comments"></textarea>
      <div *ngIf="!enableEdit" class="read-only-textarea" >{{displayItem.comment}}</div>
    </div>
    <div class="form-group submit-buttons" *ngIf="enableEdit">
      <button class="btn btn-primary" (click)="save();">Save</button>
      <!-- <button class="btn btn-danger" (click)="reset()">Cancel</button> -->
    </div>
  </form>
</div>
