<div class="tab-container">
  <div class="config-menu">
    <ul>
      <li *ngFor="let p of pages" [class.active]="currentPage == p.key">
        <a [style.color]="(privilegeLevel < 3 && pendingpagelist.includes(p?.name))?'red':'' " (click)="changePage(p.key)" >{{p.name}}</a>
        <ul *ngIf="displaySetting && currentPage == p.key">
          <li *ngFor="let s of displaySetting" [class.active]="targetView?.type == s?.type">
            <a [style.color]="(privilegeLevel < 3 && pendingsettinglist.includes(s?.type))?'red':'white' " (click)="setTargetView(s?.type)" style="font-size: 12px;font-weight:bold;font-family: Arial;">
              <i class="fas fa-caret-right" *ngIf="targetView?.type == s?.type" ></i>
              {{s.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="config-body">
    <div *ngIf="!targetView" class="empty">Please Select an Configuration to View</div>
    <div *ngIf="targetView" [class.blur]="hasChange">
      <h4>{{targetView.name}} <button *ngIf="!enableEdit" class="btn icon-btn" (click)="enableEditing()"><i class="fas fa-pen-square"></i></button></h4>
      <div *ngIf="message">{{message}}</div>
      <table class="fix-table table">
        <tr>
          <td rowspan="2" [attr.colspan]="enableEdit?2:1">
            <h5>Config Value</h5>
            <table class="table table-bordered">
              <tr>
                <th>Count</th>
                <th>{{targetView.type=='subLocation'?'Location Id':'Identifer'}}</th>
                <th>Value</th>
                <th *ngIf="enableEdit"></th>
              </tr>
              <tr *ngFor="let con of targetView?.data; let i = index;" >
                  <!-- [style.background-color]="isDelRes(i)?'#ffc9c9':'white'" -->
                <td>{{i+1}}</td>
                <td>
                  <span *ngIf="!enableEdit||!targetView?.indexMatter||privilegeLevel == 3">{{con.id}}</span>
                  <input required class="form-control" *ngIf="enableEdit && targetView?.indexMatter && privilegeLevel !== 3"
                    [value]="con.id" #id (change)="validateIndex(id.value); isValid?con.id = id.value:con.id;">
                    <!-- <input required class="form-control" *ngIf="enableEdit && targetView?.indexMatter && privilegeLevel !== 3"
                    [value]="con.id" #id (input)="validateIndex(id.value, con.id);"> -->
                </td>
                <td>
                  <span *ngIf="!enableEdit||privilegeLevel == 3 ">{{con.name}}</span>
                  <input required class="form-control" *ngIf="enableEdit&&privilegeLevel !== 3" [value]="con.name"
                    #name (change)="validateVal(name.value); isValid?con.name = name.value:'';">
                </td>
                <td *ngIf="enableEdit && privilegeLevel == 1 && noadddelete!=true" style="text-align: center;" >
                  <button class="btn icon-btn btn-outline-info" (click)="moveUp(i)" title="Move Up Once"><i class="fas fa-arrow-up"></i></button>
                  <button class="btn icon-btn btn-outline-info" (click)="moveDown(i)" title="Move Down Once"><i class="fas fa-arrow-down"></i></button>
                  <button class="btn icon-btn btn-outline-danger" (click)="remove(i)" title="Remove"><i class="fas fa-times-circle"></i></button>
                </td>
                <td *ngIf="enableEdit && privilegeLevel !== 1 &&((currentPage!=='sale' && !isAdmin) || (isAdmin && currentPage=='sale'))" style="text-align: center;">
                  <button class="btn btn-danger" (click)="remove(i)" title="Request Remove">Remove</button>
                  <!-- <button *ngIf="isDelRes(i)" class="btn btn-default" title="Reverse Delete" (click)="reverseRemove(i)">Reverse Remove</button> -->
                </td>
                <!-- <td *ngIf="enableEdit && privilegeLevel == 3"></td> -->
              </tr>
              <ng-container *ngIf="enableEdit">
                <tr *ngFor="let con of targetView?.pending; let i = index" style="background-color: lightyellow;">
                  <td>{{targetView?.data?.length + (i+1)}}</td>
                  <td>{{con.id}}</td>
                  <td>{{con.name}}</td>
                  <td style="text-align: center;">
                    <i style="color:lightgrey;">Pending value</i>
                  </td>
                </tr>
                <tr *ngFor="let con of targetView?.del;let i = index" style="background-color: #ffc9c9;">
                  <td>--</td>
                  <td>{{con.id}}</td>
                  <td>{{con.name}}</td>
                  <td style="text-align: center;">
                    <button class="btn btn-default" title="Reverse Delete" (click)="reverseRemove(i)">Reverse Remove</button>
                  </td>
                </tr>
                <tr *ngFor="let con of newConfig; let i = index">
                  <td>--</td>
                  <td>
                    <span *ngIf="!targetView?.indexMatter">{{con.id}}
                      <br><span style="font-size: 9px; color:lightgrey;">*This is a temperary value*</span>
                    </span>
                    <input required class="form-control" *ngIf="targetView?.indexMatter" [value]="con.id" #newid (change)="validateIndex(newid.value); isValid?con.id = newid.value:'';"> 
                  </td>
                  <td>
                    <input required class="form-control" [value]="con.name" #newname (change)="validateVal(newname.value); isValid?con.name = newname.value:'';">
                  </td>
                  <td style="text-align: center;">
                    <button class="btn btn-default" title="Delete" (click)="removeNew(i)"><i class="fas fa-times"></i></button>
                  </td>
                </tr>
                <tr *ngIf="noadddelete!=true">
                  <td colspan="4" style="text-align:center;">
                    <button class="btn btn-info" (click)="addNewConfig()">New Value</button>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="targetView?.data == undefined || targetView?.data.length <= 0" class="empty">
                <td colspan="4">Empty</td>
              </tr>
            </table>
          </td>
          <td *ngIf="!enableEdit">
            <h5>Pending Config</h5>
            <table class="table table-bordered fix-table pending-table">
              <tr>
                <th>Count</th>
                <th>{{targetView.type=='subLocation'?'Location Id':'Identifer'}}</th>
                <th>Value</th>
                <th *ngIf="privilegeLevel < 3 && targetView?.pending.length > 0"></th>
              </tr>
              <ng-container *ngFor="let con of targetView?.pending; let i = index;">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{con.id}}</td>
                  <td>{{con.name}}</td>
                  <td *ngIf="privilegeLevel < 3 && targetView?.pending.length > 0" style="text-align: center;">
                    <div *ngIf="pendingChange== undefined && pendingTargetId== undefined && targetView?.pending.length > 0">
                      <button class="btn icon-btn btn-outline-info" title="Accept" (click)="pendingChange = 'accept'; pendingTargetId = con.id;"><i
                          class="fas fa-check"></i></button>
                      <button *ngIf="pendingChange == undefined" class="btn icon-btn btn-outline-warning" title="Reject" (click)="pendingChange = 'remove'; pendingTargetId = con.id;"><i
                          class="fas fa-times"></i></button>
                    </div>
                    <div *ngIf="pendingChange!== undefined && pendingTargetId == con.id" class="confirm">
                      <p>Are you sure you want to <b>{{pendingChange}}</b> this config value?</p>
                      <button class="btn btn-default btn-small" (click)="pendingChange=='accept'?acceptPending(i):pendingChange=='remove'? removePending(i):''; pendingTargetId = undefined;pendingChange = undefined;">Yes</button>
                      <button class="btn btn-default btn-small" (click)="pendingChange = undefined;pendingTargetId= undefined">No</button>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="targetView?.pending == undefined || targetView?.pending.length <= 0" class="empty">
                <td [attr.colspan]="privilegeLevel < 3 && targetView?.pending.length > 0 ?4:3">Empty</td>
              </tr>
            </table>
            
            <h5>Config Delete Request(s)</h5>
            <table class="table table-bordered fix-table del-table">
              <tr>
                <th>Count</th>
                <th>{{targetView.type=='subLocation'?'Location Id':'Identifer'}}</th>
                <th>Value</th>
                <th *ngIf="privilegeLevel == 1 && targetView?.del.length > 0"></th>
              </tr>
              <ng-container *ngFor="let con of targetView?.del; let i = index;">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{con.id}}</td>
                  <td>{{con.name}}</td>
                  <td *ngIf="privilegeLevel < 3 && targetView?.del.length > 0" style="text-align: center;">
                    <div *ngIf="delChange== undefined&&delTargetId== undefined">
                      <button class="btn icon-btn btn-outline-info" title="Accept" (click)="delChange = 'accept'; delTargetId = con.id;"><i
                          class="fas fa-check"></i></button>
                      <button *ngIf="!delChange" class="btn icon-btn btn-outline-warning" title="Reject" (click)="delChange = 'reject';  delTargetId = con.id;"><i
                          class="fas fa-times"></i></button>
                    </div>
                    <div *ngIf="delChange!== undefined && delTargetId==con.id" class="confirm">
                      <p>Are you sure you want to <b>{{delChange}}</b> this <u>delete</u> config request?</p>
                      <button class="btn btn-default btn-small" (click)="delChange=='accept'?acceptDel(i):delChange=='reject'? rejectDel(i):''; delTargetId = undefined;pendingChange = undefined;">Yes</button>
                      <button class="btn btn-default btn-small" (click)="delChange = undefined; delTargetId= undefined">No</button>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="targetView?.del == undefined || targetView?.del.length <= 0" class="empty">
                <td [attr.colspan]="privilegeLevel == 1 && targetView?.del.length > 0 ?4:3">Empty</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div *ngIf="message" class="alert alert-warning">{{message}}</div>
      <div *ngIf="enableEdit" style="text-align: center;">
        <button class="btn btn-primary" (click)="updateSetting()">Save</button>
        <button class="btn btn-default" (click)="enableEdit = false;  setTargetView(targetView?.type)">Cancel</button>
      </div>
    </div>
    <div class="update" *ngIf="hasChange">
      <div>There is change in the configuration which is made from other device.<br>Please cancel and refresh for new update configation value</div>
      <button class="btn btn-primary" (click)="setTargetView(targetView?.type)">Update</button>
    </div>
  </div>
</div>