.config-menu{
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: #1493a7;
    color: white;
    /* border: 10px solid #47cec6; */
    border-radius: 5px 0px 0px 5px;
    padding-bottom: 20px;
    background-image: url('../../../assets/images/config-bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y:scroll;
}

.config-menu ul{
    list-style: none;
    padding:0px;
    font-size: 20px;
    margin: 0px;
}

.config-menu ul>li{
    padding-left: 20px;
    border-bottom: 1px solid #d6d6d6;
    line-height: 2.5;
}

.config-menu li>a{
    width: 100%;
    text-decoration: none;
    color:#efefef;
    display: inline-block;
}

.config-menu li.active>a{
    font-style: italic;
    font-weight: bold;
    color: white;
}

li.active{
    background-color: rgba(195, 233, 51, 0.61);
    border-radius: 5px 0px 0px 5px;
}

.config-body{
    position: relative;
    width: 80%;
    height: 100%;
    display: inline-block;
    float: left;
    border: solid #a8dd44;
    border-width: 3px 11px 3px 3px;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 40px;
    overflow-y: auto;
    background-color: rgba(248, 252, 251, 0.5);
    
}

.fix-table{
    table-layout: fixed;
}

.small-btn{
    font-size: 12px;
}

.confirm{
    text-align: center;
}

.blur{
    filter:blur(3px);
}

.update{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    padding-top: 25%;
    font-size: 22px;
    text-shadow: 3px 2px 1px #cecece;
    line-height: 2;
}

::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 1px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
  }