.client-form{
    padding-bottom: 200px;
    background-image: url('../../../assets/images/recent-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

label{
    font-size: 12px;
    width: 100%;
    font-weight: bold;
}

.sub-form-display > label {
    border-bottom: 1px dotted lightgrey;
}

label i {
    font-weight: normal;
    font-style: normal;
    float:right;
}

.sub-form > label >input{
    width: 100%;
    border-radius: 2px;
    border: 0.09em solid #dde1e6;
}

.sub-form{
    border-radius: 5px;
    border-width: 2px 130px;
    margin: 2px 0px;
    background-color: #f8fcfb;
}

.table-form{
    table-layout: fixed;
    height: 90%;
    background-color: #f8fcfb;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #1ec7a4;
}

.display-form label{
    border-bottom: 1px dotted lightgrey;
}

.edit-form label>input{
    font-size: 12px;
}

.sub-form.odd{
    border-color: #aac939;
}

.sub-form.odd>span{
    color: #86a511;
    font-style: italic;
}

.sub-form.even{
    border-color: #17a2b8;
}

.sub-form.even>span{
    color: #0b92a7;
    font-style: italic;
}

.check-box{
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
}

.field-title{
    width: 100%;
    display: block;
    font-weight: bold;
    color: #0b8b71;
    font-size: 16px;
    font-style: italic;
}

.field-sub-title{
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #0b8b71;
}

.submit-buttons{
    text-align: right;
    margin: 10px 0px;
}