<div class="client-form" *ngIf="displayClient">
  <div class="row control-box" *ngIf="displayClient && !enableEdit">
    <button class="btn btn-default menu-btn" (click)="enableEdit = true" *ngIf="!isNew">
      <i class="fa fa-pen-square fa-2x"></i>
    </button>
  </div>
  <div class="control-box" style="text-align:right;" *ngIf="displayClient&&enableEdit">
    <button class="btn btn-default menu-btn" (click)="cancelEdit()"><i class="fas fa-times"></i></button>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="!validEmail || !validPhone || !validInput">
    <span *ngIf="!validEmail">Invalid email input</span>
    <span *ngIf="!validPhone">Invalid phone input</span>
    <span *ngIf="!validInput">Please make sure all information is filled in and in a correct format</span>
  </div>
  <h2 *ngIf="!enableEdit">{{isNew?'New Client Record': selectClient?.company?.company}}</h2>
  <div class="form-group" *ngIf="enableEdit">
    <label>Company Name <span style="color:red">*</span>
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The group or corporation associates with the sale representative">?</button>
    </label>
    <input class="form-control" #ccomapny [value]="displayClient.company" (change)="displayClient.company = ccomapny.value" required>
  </div>
  <table class="table table-form">
    <tr>
      <td>
        <span class="field-title">Shipping Address <button *ngIf="enableEdit" type="button" class="btn btn-outline-secondary help-tooltip"
            placement="top" ngbTooltip="The physical address of the company">?</button></span>
        <div *ngIf="enableEdit" class="edit-form">
          <label>Street Address 1: <span style="color:red">*</span>
            <input class="form-control" type="text" [value]="displayClient.address" #ad (change)="displayClient.address = ad.value">
          </label>
          <label>Street Address 2:
            <input class="form-control" type="text" [value]="displayClient.address2" #ad2 (change)="displayClient.address2 = ad2.value">
          </label>
          <label>City: <span style="color:red">*</span>
            <input class="form-control" type="text" [value]="displayClient.city" #ci (change)="displayClient.city = ci.value">
          </label>
          <label>Province/State:
            <input class="form-control" type="text" [value]="displayClient.province" #pr (change)="displayClient.province = pr.value">
          </label>
          <label>Country: <span style="color:red">*</span>
            <input class="form-control" type="text" [value]="displayClient.country" #co (change)="displayClient.country = co.value">
          </label>
          <label>Postal Code:
            <input class="form-control" type="text" [value]="displayClient.postalCode" #po (change)="displayClient.postalCode = po.value">
          </label>
        </div>
        <div *ngIf="!enableEdit" class="display-form">
          <label>Street Address 1: <span style="color:red">*</span>
            <i>{{displayClient.address}}</i>
          </label>
          <label>Street Address 2: <i>{{displayClient.address2}}</i>
          </label>
          <label>City: <span style="color:red">*</span>
            <i>{{displayClient.city}}</i>
          </label>
          <label>Province/State: <i>{{displayClient.province}}</i>
          </label>
          <label>Country: <span style="color:red">*</span>
            <i>{{displayClient.country}}</i>
          </label>
          <label>Postal Code: <i>{{displayClient.postalCode}}</i>
          </label>
        </div>
        <label *ngIf="enableEdit" class="check-box"><input type="checkbox" [value]="isSameAsShip" (change)="setBillAddress()">Billing
          is same as Shipping</label>
      </td>
      <td>
        <span class="field-title">Billing Address <button *ngIf="enableEdit" type="button" class="btn btn-outline-secondary help-tooltip"
            placement="top" ngbTooltip="The physical address of the company">?</button>
        </span>
        <div *ngIf="enableEdit" class="edit-form">
          <label>Street Address 1: <span style="color:red">*</span>
            <input class="form-control" type="text" [value]="displayClient.baddress" #bad (change)="displayClient.baddress = bad.value">
          </label>
          <label>Street Address 2:
            <input class="form-control" type="text" [value]="displayClient.baddress2" #bad2 (change)="displayClient.baddress2 = bad2.value">
          </label>
          <label>City: <span style="color:red">*</span>
            <input class="form-control" type="text" [value]="displayClient.bcity" #bci (change)="displayClient.bcity = bci.value">
          </label>
          <label>Province/State:
            <input class="form-control" type="text" [value]="displayClient.bprovince" #bpr (change)="displayClient.bprovince = bpr.value">
          </label>
          <label>Country: <span style="color:red">*</span>
            <input class="form-control" type="text" [value]="displayClient.bcountry" #bco (change)="displayClient.bcountry = bco.value">
          </label>
          <label>Postal Code:
            <input class="form-control" type="text" [value]="displayClient.bpostalCode" #bpo (change)="displayClient.bpostalCode = bpo.value">
          </label>
        </div>
        <div *ngIf="!enableEdit" class="display-form">
          <label>Street Address 1: <span style="color:red">*</span>
            <i>{{displayClient.baddress}}</i>
          </label>
          <label>Street Address 2: {{displayClient.baddress2}}
          </label>
          <label>City: <span style="color:red">*</span>
            <i>{{displayClient.bcity}}</i>
          </label>
          <label>Province/State: <i>{{displayClient.bprovince}}</i>
          </label>
          <label>Country: <span style="color:red">*</span>
            <i>{{displayClient.bcountry}}</i>
          </label>
          <label>Postal Code: <i>{{displayClient.bpostalCode}}</i>
          </label>
        </div>
      </td>
    </tr>
  </table>
  <div>
    <span class="field-title">Contact(s)<span style="color:red">*</span>
      <button *ngIf="enableEdit" type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Contact information of a person or group of the company">?</button>
    </span>
    <ngb-carousel *ngIf="contact && contact.length > 0 && !enableEdit" [wrap]="false" [interval]="false">
      <ng-template ngbSlide *ngFor="let c of contact; let i = index">
        <div class="form-control sub-form sub-form-display" [class.odd]="i%2==1" [class.even]="i%2==0">
          <span>Contact {{i+1}}</span>
          <label>Contact Name: <i>{{c?.name}}</i></label>
          <label>Role: <i>{{c?.role}}</i></label>
          <label>Email: <i>{{c?.email}}</i></label>
          <label>Phone: <i>{{c?.phone}}</i></label>
          <label>Ext: <i>{{c?.ext}}</i></label>
          <label>Fax: <i>{{c?.fax}}</i></label>
        </div>

      </ng-template>
    </ngb-carousel>
    <table *ngIf="enableEdit">
      <tr *ngFor="let c of contact; let i = index">
        <td>
          <div class="form-control sub-form edit-form" [class.odd]="i%2==1" [class.even]="i%2==0">
            <span>Contact {{i+1}}
              <button class="btn btn-outline-warning" style="float: right;" (click)="removeContact(i)" title="Remove Contact">
                <i class="fas fa-times"></i>
              </button>
            </span>
            <label>Contact Name: <span style="color:red">*</span>
              <input class="form-control" type="text" [value]="c?.name" #name (change)="c.name = name.value" placeholder="First and Last Name"></label>
            <label>Role: <span style="color:red">*</span>
              <input class="form-control" type="text" [value]="c?.role" #role (change)="c.role = role.value" placeholder="Sale Repersentative"></label>
            <label>Email: <span style="color:red">*</span>
              <input class="form-control" type="text" [value]="c?.email" #email (change)="validateEmail(i,email.value)" placeholder="email@domain.com"></label>
            <label>Phone: <span style="color:red">*</span>
              <input class="form-control" type="text" [value]="c?.phone" #phone (change)="validatePhone(i,phone.value)" placeholder="(+area code) 111 111 1111"></label>
            <label>Ext:
              <input class="form-control" type="text" [value]="c?.ext" #ext (change)="c.ext = ext.value" placeholder="123"></label>
            <label>Fax:
              <input class="form-control" type="text" [value]="c?.fax" #fax (change)="c.fax = fax.value" placeholder="111 1111"></label>
          </div>
        </td>
      </tr>
      <tr *ngIf="enableEdit">
        <td colspan="11" style="padding:0px;">
          <button class="btn btn-outline-primary new-ingre" (click)="newContact()">
            <i class="fas fa-plus"></i> New Contact</button>
        </td>
      </tr>
    </table>
    <div *ngIf="!enableEdit && contact == undefined || contact.length <= 0" class="empty">No Contact Found</div>
  </div>

  <div class="alert alert-warning" role="alert" *ngIf="!validEmail || !validPhone || !validInput">
    <span *ngIf="!validEmail">Invalid email input</span>
    <span *ngIf="!validPhone">Invalid phone input</span>
    <span *ngIf="!validInput">Please make sure all information is filled in and in a correct format</span>
  </div>
  <div class="form-group submit-buttons" *ngIf="enableEdit">
    <button class="btn btn-primary" (click)="save();">Save</button>
    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </div>
</div>