<div class="tab-container">
  <h2>SOP</h2>
  <div><b>Search In</b>
    <label class="search-area"><input type="radio" [checked]="searchArea=='All'" (change)="searchArea='All'"> All</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Recipeid'" (change)="searchArea='Recipeid'"> Recipe Id</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Name'" (change)="searchArea='Name'"> Name</label>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <input autocomplete="off" #search type="text" class="form-control" placeholder="Search Standard Operating Procedure by Id or Name"
      aria-describedby="basic-addon1" (keyup.enter)="page=1; searchRecipe(search.value)">
  </div>
  
  <div class="row control-box">
      <div ngbDropdown style="display: inline-block;">
          <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
              <input autocomplete="off" type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
          </div>
        </div>


    <button class="btn btn-default menu-btn" (click)="newSOP()">
        <i class="fa fa-plus" aria-hidden="true"></i> New SOP</button>
        
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container">
    <!--<h4>Standard Operating Procedure</h4>-->
    <table class="table table-scroll">
      <thead>
        <tr>
          <th *ngIf="viewColumn[0]">Recipe Id</th>
          <th *ngIf="viewColumn[1]">Name</th>
          <th *ngIf="viewColumn[2]">Volume</th>
          <th *ngIf="viewColumn[3]">Unit</th>
          <th *ngIf="viewColumn[4]">Description</th>
          <th *ngIf="viewColumn[5]">Entered Person</th>
          <th *ngIf="viewColumn[6]">Reviewd Person</th>
          <th *ngIf="viewColumn[7]">Approved Person</th>
          <th *ngIf="viewColumn[8]">Review Comment</th>
          <th *ngIf="viewColumn[9]">Approve Comment</th>
          <th *ngIf="viewColumn[10]">Edit Status</th>
          <th *ngIf="viewColumn[11]" colspan="8">Direction</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of displayRecipes; let i = index">
          <td *ngIf="viewColumn[0]">{{r.somruid}}</td>
          <!-- <td *ngIf="viewColumn[1]"class="recipename" (click)="isNewRecipe?'':showrecipe(r)">{{r.name}}</td> -->
          <td *ngIf="viewColumn[1]"class="recipename" [id]="r.somruid">{{r.name}}</td>
          <td *ngIf="viewColumn[2]">{{r.volumn}}</td>
          <td *ngIf="viewColumn[3]">{{r.unit}}</td>
          <td *ngIf="viewColumn[4]" >{{r.description}}</td>
          <td *ngIf="viewColumn[5]"  class="angular-with-newlines">{{r.enteredby}}</td>
          <td *ngIf="viewColumn[6]" >{{r.reviewedby}}</td>
          <td *ngIf="viewColumn[7]">{{r.approvedby}}</td>
          <td *ngIf="viewColumn[8]">{{r.reviewcomment}}</td>
          <td *ngIf="viewColumn[9]">{{r.approvecomment}}</td>
          <td *ngIf="viewColumn[10]">{{r.editstatus}}</td>
          <td *ngIf="viewColumn[11]" colspan="8">{{r.direction}}</td>

          <!-- <td style="width:10%" [ngClass]="{'red': r.prove=='FALSE', 'white': r.prove=='TRUE'}">{{r.approve=='TRUE'?'Approved':'Not Approved'}}</td> -->
        </tr>
        <tr *ngIf="displayRecipes == undefined || displayRecipes.length < 1">
          <td class="empty" colspan="18">Empty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="count>10">
    <p class="page-note" [style.text-align]="'center'">Recipe {{((page-1)*10)+1}} - {{page*10>count?count:page*10}} of {{count}}
      Recipe(s)
    </p>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="count" [(page)]="page" [maxSize]="5" aria-label="Default pagination"
      (pageChange)="loadPage()"></ngb-pagination>
  </div>

  <!-- <div class="d-flex justify-content-center">
    <button *ngIf="searchKey!==''"  class="btn btn-info" (click)="page = page - 1; searchRecipe(searchKey)">
      <i class="fas fa-caret-left"></i>Previous 
    </button>
  
    <button *ngIf="searchKey!==''" class="btn btn-info" (click)="page = page + 1; searchRecipe(searchKey)">
      Next <i class="fas fa-caret-right"></i>
    </button>
   </div> -->

  <!-- <button *ngIf="searchKey!==''&&displayRecipes.length>0" class="btn btn-info" [style.float]="'right'" (click)="page = page + 1; searchRecipe(searchKey)">
    Load Next 10 Results <i class="fas fa-caret-right"></i>
  </button> -->

  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif">
  </div>
</div>


<div [style.right]="isShowRecipe?0+'px':-100+'%'" class="slide">
  <div class="edit-container">
    <h4>
      {{isNewRecipe?'New Recipe':displayRecipe?.name}}
      <small *ngIf="!isNewRecipe">
        <button class="btn-icon" (click)="enableEditRecipe=true">
          <i class="fas fa-pen-square"></i>
        </button>
        <button class="btn-icon" (click)="openconfirmation('delete');">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </small>
      <br>
      <small *ngIf="message" class="sub-head" style="color:salmon;">{{message}}</small>
    </h4>
    <app-recipe-display [recipe]="displayRecipe" [enableEdit]="enableEditRecipe" [isNew]="isNewRecipe" (updateRecipe)="saveRecipe($event)"
      (cancel)="reset()"></app-recipe-display>
  </div>
</div>


<ng-template #confirmation let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
  </div>
  <div class="modal-body">
    {{confirmationmessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="e('');action()">Yes</button>
    <!-- action(); -->
    <button class="btn btn default" (click)="e('')">No</button>
  </div>
</ng-template>