.table-container{
  height: 65%;
}

.search-area{
  margin: 0px 10px;
}

.sub-head{
    font-size: 12px;
    color:grey;
}

.angular-with-newlines {
    white-space: pre-wrap;
  }

.red {
    color: deeppink; 
}

.black {
    color: black;
}  

.recipename:hover{
    background-color: lightgrey;
  }
  
  .slide{
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    /* width: 100%; */
    height: 100%;
    transition: 1s right;
    -moz-transition:1s right;
    -o-transition:1s right;
    -webkit-transition:1s right;
  }
  
  .edit-container{
    /* width: 100%; */
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: white;
    border-left: 15px solid #28a745;
    padding: 10px 30px;
    box-shadow: -5px 0px 20px 0px #705757;
    overflow-y: auto;
  }
  
  .exit-container{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: none;
    
  }

  .table-scroll{
    height: 100%;
    display: block;
    margin: 0px;
    width: 100%;
  }
  
  .table-scroll>tbody{
    display: block;
    width: 100%;
    height: 85%;
    overflow-y: overlay;
  }
  
  .table-scroll>tbody>tr{
    width: 100%;
    table-layout: fixed;
    display: table;
  }
  
  .table-scroll>thead{
    display: inline-table;
    width: 100%;
    table-layout: fixed;
  }