<div class="tab-container">
  <h2>Product</h2>
  <div><b>Search Product</b></div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <input autocomplete="off" #search type="text" class="form-control" placeholder="Search Product by Name or Cat" aria-describedby="basic-addon1"
      (keyup.enter)="page=1; searchProduct(search.value)">
  </div>

  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input autocomplete="off" type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
      </div>
    </div>

    <button class="btn btn-default menu-btn" (click)="reset(); open(importData)">
      <i class="fa fa-upload" aria-hidden="true"></i> Import Product
    </button>
    <button class="btn btn-default menu-btn" (click)="anewProduct()">
      <i class="fa fa-plus" aria-hidden="true"></i> New Product
    </button>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container">
    <!--<h4>Standard Operating Procedure</h4>-->
    <table class="table table-scroll">
      <thead>
        <tr>
          <th colspan="2" *ngIf="viewColumn[0]">Cat#</th>
          <th colspan="4" *ngIf="viewColumn[1]">Name</th>
          <th *ngIf="viewColumn[2]">Type</th>
          <th *ngIf="viewColumn[3]">Size</th>
          <th *ngIf="viewColumn[4]">Price(USD)</th>
          <th *ngIf="viewColumn[5]">Edit Status</th>
          <th *ngIf="viewColumn[6]">Host</th>
          <th *ngIf="viewColumn[7]">Clonality</th>
          <th *ngIf="viewColumn[8]">Isotype</th>
          <th *ngIf="viewColumn[9]">Immunogen</th>
          <th *ngIf="viewColumn[10]">Description</th>
          <th *ngIf="viewColumn[11]">Purification</th>
          <th *ngIf="viewColumn[12]">Buffer</th>
          <th *ngIf="viewColumn[13]">Old Cat</th>
          <th *ngIf="viewColumn[14]">Specificity</th>
          <th *ngIf="viewColumn[15]">Storage</th>
          <th *ngIf="viewColumn[16]">Safety</th>
          <th *ngIf="viewColumn[17]">Comment</th>
          <th *ngIf="viewColumn[18]">Pack Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of displayProducts; let i = index">
          <td colspan="2" *ngIf="viewColumn[0]">{{p.cat}}</td>
          <td colspan="4" *ngIf="viewColumn[1]" class="recipename" [id]="p.dbid">{{p.name}}</td>
          <td *ngIf="viewColumn[2]">{{p.type}}</td>
          <td *ngIf="viewColumn[3]">{{p.unitsize}} {{p.unit}}</td>
          <td *ngIf="viewColumn[4]">{{p.unitprice}}</td>
          <td *ngIf="viewColumn[5]">{{p.status}}</td>
          <td *ngIf="viewColumn[6]">{{p.host}}</td>
          <td *ngIf="viewColumn[7]">{{p.clonality}}</td>
          <td *ngIf="viewColumn[8]">{{p.isotype}}</td>
          <td *ngIf="viewColumn[9]">{{p.immunogen}}</td>
          <td *ngIf="viewColumn[10]">{{p.description}}</td>
          <td *ngIf="viewColumn[11]">{{p.purification}}</td>
          <td *ngIf="viewColumn[12]">{{p.buffer}}</td>
          <td *ngIf="viewColumn[13]">{{p.oldcat}}</td>
          <td *ngIf="viewColumn[14]">{{p.specificity}}</td>
          <td *ngIf="viewColumn[15]">{{p.storage}}</td>
          <td *ngIf="viewColumn[16]">{{p.safety}}</td>
          <td *ngIf="viewColumn[17]">{{p.comment}}</td>
          <td *ngIf="viewColumn[18]">{{p.packsize}}</td>
          <!-- <td style="width:10%" [ngClass]="{'red': r.prove=='FALSE', 'white': r.prove=='TRUE'}">{{r.approve=='TRUE'?'Approved':'Not Approved'}}</td> -->
        </tr>
        <tr *ngIf="displayProducts == undefined || displayProducts.length < 1">
          <td class="empty" colspan="18">Empty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="allcount>10">
    <p class="page-note" [style.text-align]="'center'">Product {{((page-1)*10)+1}} - {{page*10>allcount?allcount:page*10}}
      of {{allcount}} Product(s)
    </p>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="allcount" [(page)]="page" [maxSize]="5" aria-label="Default pagination"
      (pageChange)="loadPage()"></ngb-pagination>
  </div>

  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif">
  </div>
</div>


<div [style.right]="isShowProduct?0+'px':-100+'%'" class="slide">
  <div class="edit-container">
    <h4>
      {{isNewProduct?'New Product':displayProduct?.name}}
      <small *ngIf="!isNewProduct">
        <button class="btn-icon" (click)="enableEditProduct=true">
          <i class="fas fa-pen-square"></i>
        </button>
        <button class="btn-icon" (click)="openconfirmation('delete');">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button class="btn-icon btn-xs" *ngIf="!isnew" (click)="generatePDF(displayProduct);">
          <!-- <i class="far fa-file-pdf fa-2x" ></i> -->
          <i class="fa fa-file-pdf far-2x"></i>
        </button>
      </small>
      <br>
      <small *ngIf="message" class="sub-head" style="color:salmon;">{{message}}</small>
    </h4>
    <h6 *ngIf="displayProduct?.enteredby && displayProduct?.entertime">Entered by: {{displayProduct?.enteredby}} at {{displayProduct?.entertime|date}}
    </h6>
    <h6 *ngIf="displayProduct?.revieweby && displayProduct?.reviewtime">Reviewed by: {{displayProduct?.revieweby}} at {{displayProduct?.reviewtime|date}}
    </h6>
    <h6 *ngIf="displayProduct?.approvedby && displayProduct?.approvetime">Reviewed by: {{displayProduct?.approvedby}} at
      {{displayProduct?.approvetime|date}}
    </h6>
    <app-product-display [product]="displayProduct" [enableEdit]="enableEditProduct" [isNew]="isNewProduct" (updateProduct)="saveProduct($event)"
      (updateStatus)="updatestatus($event)" (cancel)="reset()"></app-product-display>
  </div>
</div>


<ng-template #confirmation let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
  </div>
  <div class="modal-body">
    {{confirmationmessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="e('');action()">Yes</button>
    <!-- action(); -->
    <button class="btn btn default" (click)="e('')">No</button>
  </div>
</ng-template>

<ng-template #importData let-c="close" class="importfile">
  <div class="modal-header">
    <h4 class="modal-title">
      Import Product
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <label class="btn btn-primary  btn-file">Browse
      <input autocomplete="off" type="file" name="file" (change)="getfile($event)">
    </label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="import(); c('')">Import</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('')">Cancel</button>
  </div>
</ng-template>




  <!-- <table class="pdftable" *ngIf="displayProduct" id="productpdftable" #productpdftable>
    <tr *ngIf="displayProduct.description">
      <td class="pdflabel" colspan="1">Description</td>
      <td class="pdflabel" colspan="3">{{displayProduct.description}}</td>
    </tr>
    <tr *ngIf="displayProduct.unit && displayProduct.unitsize">
      <td class="pdflabel" colspan="1">Quantity</td>
      <td colspan="3">{{displayProduct.unitsize}} {{displayProduct.unit}}</td>
    </tr>
    <tr *ngIf="displayProduct.host && displayProduct.clonality && displayProduct.isotype">
      <td class="pdflabel" colspan="1">Host/Isotype</td>
      <td colspan="3">{{displayProduct.host}} {{displayProduct.clonality}}{{displayProduct.isotype}}</td>
    </tr>
    <tr *ngIf="displayProduct.immunogen">
      <td class="pdflabel" colspan="1">Immunogen</td>
      <td colspan="3" [innerHTML]="displayProduct?.immunogen"></td>
    </tr>
    <tr *ngIf="displayProduct.purification">
      <td class="pdflabel" colspan="1">Purification</td>
      <td colspan="3">{{displayProduct.purification}}</td>
    </tr>
    <tr *ngIf="displayProduct.buffer">
      <td class="pdflabel" colspan="1">Buffer</td>
      <td colspan="3">{{displayProduct.buffer}}</td>
    </tr>
    <tr *ngIf="displayProduct.specificity">
      <td class="pdflabel" colspan="1">Specificity</td>
      <td colspan="3">{{displayProduct.specificity}}</td>
    </tr>
    <tr *ngIf="displayProduct.reconstitution">
      <td class="pdflabel" colspan="1">Reconstitution</td>
      <td colspan="3">{{displayProduct.reconstitution}}</td>
    </tr>
    <tr *ngIf="displayProduct.storage">
      <td class="pdflabel">Storage</td>
      <td colspan="3">{{displayProduct.storage}}</td>
    </tr>
    <tr *ngIf="productapplicationsforpdf && productapplicationsforpdf.length>0">
      <td class="pdflabel" [attr.rowspan]="2+ productapplicationsforpdf.length">Applications</td>
      <td class="pdflabel" colspan="1">Purpose</td>
      <td class="pdflabel" colspan="1">Recommended Concentration</td>
      <td class="pdflabel" colspan="1">Comment</td>
    </tr>
    <tr *ngFor="let application of productapplicationsforpdf; let i = index">
        <td colspan="1">{{application.purpose}}</td>
        <td colspan="1">{{application.recommenconcentration}}</td>
        <td colspan="1">{{application.comment}}</td>
    </tr>
    <tr>
        <td colspan="3" style="font-style:italic;">Please Note: Optimal dilutions should be determined by each laboratory for
            each applicaiton.</td>
    </tr>

    <tr>
      <td class="pdflabel">Safety<br>Precautons</td>
      <td colspan="3">This product should be handled by trained personnel only. Please contact our customer service at customer@somrubioscience.com
        for more details.</td>
    </tr>
  </table> -->
