<div (mouseup)="cancelRoute()" class="tab-container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <!--------Inventory Table--------->
      <ng-container *ngIf="showInventory === true">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 invent">
          <dashboard-inventory [timeNow]="timeNow" [doLogError]="doLogError" (routeDash)="subcomponentRoute($event)"></dashboard-inventory>
        </div>
      </ng-container>

      <!--------Immunizing Table-------->
      <ng-container *ngIf="showImmunizingSchedule === true">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 invent">
          <dashboard-immunization [timeNow]="timeNow" [doLogError]="doLogError" (routeDash)="subcomponentRoute($event)"></dashboard-immunization>
        </div>
      </ng-container>

      <!-------------------------------->
      <!---------Quotes Expiry---------->
      <!-------------------------------->
      <ng-container *ngIf="showQuotes === true">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 invent">
        <h4>Quotes</h4>
        <br>
        <div class="invent-body col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
          <!-------------------------------------->
          <!--------Sub-view: Expire Soon--------->
          <!-------------------------------------->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
            <h6>{{quotesReminderTitle}}
              <div ngbDropdown #quotesSDropdown="ngbDropdown" autoClose="outside" style="display: inline-block;">
              <button ngbDropdownToggle>Edit View</button>
              <div ngbDropdownMenu>
                <button (click)="showQuotesReminder(14);quotesSDropdown.close();" class="dropdown-item">2 Weeks</button>
                <button (click)="showQuotesReminder(28);quotesSDropdown.close();" class="dropdown-item">4 Weeks</button>
                <div class="divider dropdown-divider"></div>
                <span style="cursor: default" class="dropdown-item">Custom: <input (keydown.enter)="quotesSDropdown.close(); input_showQuotesReminder($event);" type="text" onfocus="this.value=''" style="width: 50px"> days</span>
              </div>
            </div> 
              <small *ngIf="!quotesRCollapsed" class="collapseBtn">
                <a (click)="quotesRCollapsed = true;">collapse &raquo;</a>
              </small>
            </h6>
            <div class="invent-content">
              <!------Collapsed View------->
              <table *ngIf="quotesRCollapsed" class="collapsedSummary table table-hover">
                <tr (click)="quotesRCollapsed = false;">
                  <ng-container *ngIf="_array.isArray(quotesReminderCurr) && quotesReminderCurr.length > 0; then hasResult else isEmpty"></ng-container>
                  <ng-template #isEmpty><th>Empty</th></ng-template>
                  <ng-template #hasResult><th class="danger">{{quotesReminderCurr.length}} Quotes Expiring Soon</th></ng-template>
                </tr>
              </table>
              <!--------Table View--------->
              <table *ngIf="!quotesRCollapsed" class="table table-hover">
                <tr>
                  <th>Quote Number</th>
                  <th>Client ID</th>
                  <th>Sales Rep ID</th>
                  <th>Expiry Date</th>
                </tr>
                <tr *ngIf="quotesReminderCurr == undefined || quotesReminderCurr.length < 1">
                  <td class="empty" colspan="4">Empty</td>
                </tr>
                <ng-container *ngFor="let model of quotesReminderCurr; let i=index">
                  <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.quotes_expireSoon)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.quotes_expireSoon, i)" (mouseleave)="cancelRoute()">
                    <td>{{model.quoteNum}}</td>
                    <td>{{model.clientid}}</td>
                    <td>{{model.saleRepid}}</td>
                    <td>{{model.expireDate|date}}</td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
          <!-------------------------------------->
          <!--------Sub-view: Expired------------->
          <!-------------------------------------->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
            <h6>Recently Expired
              <small *ngIf="!quotesECollapsed" class="collapseBtn">
                <a (click)="quotesECollapsed = true;">collapse &raquo;</a>
              </small>
            </h6>
            <div class="invent-content">
              <!------Collapsed View------->
              <table *ngIf="quotesECollapsed" class="collapsedSummary table table-hover">
                <tr (click)="quotesECollapsed = false;">
                  <ng-container *ngIf="_array.isArray(quotesExpired) && quotesExpired.length > 0; then hasResult else isEmpty"></ng-container>
                  <ng-template #isEmpty><th>Empty</th></ng-template>
                  <ng-template #hasResult><th class="warning">See Recently Expired</th></ng-template>
                </tr>
              </table>
              <!--------Table View--------->
              <table *ngIf="!quotesECollapsed" class="table table-hover">
                <tr>
                  <th>Quote Number</th>
                  <th>Client ID</th>
                  <th>Sales Rep ID</th>
                  <th>Expiry Date</th>
                </tr>
                <tr *ngIf="quotesExpired == undefined || quotesExpired.length < 1">
                  <td class="empty" colspan="4">Empty</td>
                </tr>
                <!------Show max 5 expired quotes------>
                <ng-container *ngFor="let model of quotesExpired; let i=index">
                  <tr *ngIf="i<5" [@routeAnimation]="(i==animateRow && animateTable==TABLE.quotes_expired)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.quotes_expired, i)" (mouseleave)="cancelRoute()">
                    <td>{{model.quoteNum}}</td>
                    <td>{{model.clientid}}</td>
                    <td>{{model.saleRepid}}</td>
                    <td>{{model.expireDate|date}}</td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </div>
      </div>
      </ng-container>

      <!-------------------------------->
      <!---------SOP / Recipe ---------->
      <!-------------------------------->
      <ng-container *ngIf="showSOP.show === true">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 invent">
          <h4>SOP</h4>
          <br>
          <div class="invent-body col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
            <!-------------------------------------------->
            <!--------Sub-view: Recipes To Review--------->
            <!-------------------------------------------->
            <div *ngIf="showSOP.type === SOP.review" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
              <h6>Recipes To Review
                <small *ngIf="!recipesRCollapsed" class="collapseBtn">
                  <a (click)="recipesRCollapsed = true;">collapse &raquo;</a>
                </small>
              </h6>
              <div class="invent-content">
                <!------Collapsed View------->
                <table *ngIf="recipesRCollapsed" class="collapsedSummary table table-hover">
                  <tr (click)="recipesRCollapsed = false;">
                    <ng-container *ngIf="_array.isArray(recipesToReview) && recipesToReview.length > 0; then hasResult else isEmpty"></ng-container>
                    <ng-template #isEmpty><th>Empty</th></ng-template>
                    <ng-template #hasResult><th class="danger">{{recipesToReview.length}} Recipes To Review</th></ng-template>
                  </tr>
                </table>
                <!--------Table View--------->
                <table *ngIf="!recipesRCollapsed" class="table table-hover">
                  <tr>
                    <th>Recipe ID</th>
                    <th>Name</th>
                    <th>Entered By</th>
                  </tr>
                  <tr *ngIf="recipesToReview == undefined || recipesToReview.length < 1">
                    <td class="empty" colspan="3">Empty</td>
                  </tr>
                  <ng-container *ngFor="let model of recipesToReview; let i=index">
                    <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.SOP_toReview)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.SOP_toReview, i)" (mouseleave)="cancelRoute()">
                      <td>{{model.somruid}}</td>
                      <td>{{model.name}}</td>
                      <td>{{model.enteredby}}</td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
            <!--------------------------------------------->
            <!--------Sub-view: Recipes To Approve--------->
            <!--------------------------------------------->
            <div *ngIf="showSOP.type === SOP.approve" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
              <h6>Recipes To Approve
                <small *ngIf="!recipesACollapsed" class="collapseBtn">
                  <a (click)="recipesACollapsed = true;">collapse &raquo;</a>
                </small>
              </h6>
              <div class="invent-content">
                <!------Collapsed View------->
                <table *ngIf="recipesACollapsed" class="collapsedSummary table table-hover">
                  <tr (click)="recipesACollapsed = false;">
                    <ng-container *ngIf="_array.isArray(recipesToApprove) && recipesToApprove.length > 0; then hasResult else isEmpty"></ng-container>
                    <ng-template #isEmpty><th>Empty</th></ng-template>
                    <ng-template #hasResult><th class="danger">{{recipesToApprove.length}} Recipes To Approve</th></ng-template>
                  </tr>
                </table>
                <!--------Table View--------->
                <table *ngIf="!recipesACollapsed" class="table table-hover">
                  <tr>
                    <th>Recipe ID</th>
                    <th>Name</th>
                    <th>Reviewed By</th>
                  </tr>
                  <tr *ngIf="recipesToApprove == undefined || recipesToApprove.length < 1">
                    <td class="empty" colspan="4">Empty</td>
                  </tr>
                  <ng-container *ngFor="let model of recipesToApprove; let i=index">
                    <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.SOP_toApprove)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.SOP_toApprove, i)" (mouseleave)="cancelRoute()">
                      <td>{{model.somruid}}</td>
                      <td>{{model.name}}</td>
                      <td>{{model.reviewedby}}</td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-------------------------------->
      <!---------Kit Assembly ---------->
      <!-------------------------------->
      <ng-container *ngIf="showKIT.show === true">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 invent">
          <h4>Kit Assembly</h4>
          <br>
          <div class="invent-body col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
            <!----------------------------------------->
            <!--------Sub-view: KITs To Review--------->
            <!----------------------------------------->
            <div *ngIf="showKIT.type === KIT.review" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
              <h6>Kits To Review
                <small *ngIf="!kitsRCollapsed" class="collapseBtn">
                  <a (click)="kitsRCollapsed = true;">collapse &raquo;</a>
                </small>
              </h6>
              <div class="invent-content">
                <!------Collapsed View------->
                <table *ngIf="kitsRCollapsed" class="collapsedSummary table table-hover">
                  <tr (click)="kitsRCollapsed = false;">
                    <ng-container *ngIf="_array.isArray(kitsToReview) && kitsToReview.length > 0; then hasResult else isEmpty"></ng-container>
                    <ng-template #isEmpty><th>Empty</th></ng-template>
                    <ng-template #hasResult><th class="danger">{{kitsToReview.length}} Kits to review</th></ng-template>
                  </tr>
                </table>
                <!--------Table View--------->
                <table *ngIf="!kitsRCollapsed" class="table table-hover">
                  <tr>
                    <th>Client</th>
                    <th>Kit Name</th>
                    <th>Pack Size (Wells)</th>
                    <th>Kit Price (USD)</th>
                  </tr>
                  <tr *ngIf="kitsToReview == undefined || kitsToReview.length < 1">
                    <td class="empty" colspan="4">Empty</td>
                  </tr>
                  <ng-container *ngFor="let model of kitsToReview; let i=index">
                    <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.KIT_toReview)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.KIT_toReview, i)" (mouseleave)="cancelRoute()">
                      <td>{{model.clientspecific}}</td>
                      <td>{{model.name}}</td>
                      <td>{{model.size}}</td>
                      <td>{{model.price}}</td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
            <!------------------------------------------>
            <!--------Sub-view: Kits To Approve--------->
            <!------------------------------------------>
            <div *ngIf="showKIT.type === KIT.approve" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
              <h6>Kits To Approve
                <small *ngIf="!kitsACollapsed" class="collapseBtn">
                  <a (click)="kitsACollapsed = true;">collapse &raquo;</a>
                </small>
              </h6>
              <div class="invent-content">
                <!------Collapsed View------->
                <table *ngIf="kitsACollapsed" class="collapsedSummary table table-hover">
                  <tr (click)="kitsACollapsed = false;">
                    <ng-container *ngIf="_array.isArray(kitsToApprove) && kitsToApprove.length > 0; then hasResult else isEmpty"></ng-container>
                    <ng-template #isEmpty><th>Empty</th></ng-template>
                    <ng-template #hasResult><th class="danger">{{kitsToApprove.length}} Kits to approve</th></ng-template>
                  </tr>
                </table>
                <!--------Table View--------->
                <table *ngIf="!kitsACollapsed" class="table table-hover">
                  <tr>
                    <th>Client</th>
                    <th>Kit Name</th>
                    <th>Pack Size (Wells)</th>
                    <th>Kit Price (USD)</th>
                  </tr>
                  <tr *ngIf="kitsToApprove == undefined || kitsToApprove.length < 1">
                    <td class="empty" colspan="4">Empty</td>
                  </tr>
                  <ng-container *ngFor="let model of kitsToApprove; let i=index">
                    <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.KIT_toApprove)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.KIT_toApprove, i)" (mouseleave)="cancelRoute()">
                      <td>{{model.clientspecific}}</td>
                      <td>{{model.name}}</td>
                      <td>{{model.size}}</td>
                      <td>{{model.price}}</td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
