.yncheck>label{
    padding-right: 25px; 
}

.control-btn{
    text-align: center;
}

.alert{
    text-align: center;
}

.cat-maker{
    overflow-y: auto;
    height: 100%;
}

.cat{
    font-size: 18px;
    font-weight: bold;
}

.show-noti{
    background-color: rgba(50, 205, 50, 0.5);
    position: absolute;
    bottom: -30px;
    width: 100%;
    margin-left: -10px;
    text-align: center;
    z-index: -1;
    height: 30px;
    font-size: 20px;
    transition: bottom 1s;
    -moz-transition: bottom 1s;
    -o-transition: bottom 1s;
    -webkit-transition: bottom 1s;
}

.hide-noti{
    bottom:0px;
}

.panel-warning{
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-size: 11px;
}

.panel-warning>.panel-heading{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-size: 20px;
    text-align: center
}

.panel>.panel-body{
    padding: 5px;
    text-align: center;
}

.panel>.panel-body>input, .panel>.panel-body>span{
    display: inline-block;
    margin: 2px 0px;
}

.star{
  color:red;
}


