<div class="cat-maker">
  <div [class]="addMessage?'show-noti':'hide-noti'">{{addMessage}}</div>

  <div class="form-group">
    <label>Is a Kit?<span class="star">*</span></label>
    <div class="form-control yncheck">
      <label style="margin-bottom:0px;">
        <input type="radio" [checked]="isKit==true" [value]="isKit" (change)="isKit=true"> Yes
      </label>
      <label style="margin-bottom:0px;">
        <input type="radio" [checked]="isKit==false" [value]="!isKit" (change)="isKit=false"> No
      </label>
    </div>
  </div>

  <div class="form-group">
    <label>Type<span class="star">*</span></label>
    <select class="form-control" [(ngModel)]="selectTypeName">
      <option [value]="t.name" [selected]="selectTypeName == t.name" *ngFor="let t of cattype">{{t.name}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="selectTypeName !==undefined && selectTypeName.trim()!='' && hasSpecies==undefined">
    <label>Has Species?<span class="star">*</span></label>
    <div class="form-control yncheck">
      <label>
        <input type="radio" [checked]="hasSpecies=='Yes'"  (change)="hasSpecies='Yes'">        Yes
      </label>
      <label>
        <input type="radio" [checked]="!hasSpecies=='No'"  (change)="hasSpecies='No'">        No
      </label>
    </div>
  </div>

  <div class="form-group" *ngIf="hasSpecies !==undefined && hasSpecies.trim()=='Yes'">
    <label>Species<span class="star">*</span></label>
    <select class="form-control" [(ngModel)]="selectSpeciesName">
      <option [value]="s.name" [selected]="selectSpeciesName == s.name" *ngFor="let s of species">{{s.name}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="selectTypeName !==undefined && selectTypeName.trim()!='' && isClientSpecific==undefined">
    <label>Is Client Specific?<span class="star">*</span></label>
    <div class="form-control yncheck">
      <label>
        <input type="radio" [checked]="isClientSpecific=='Yes'"  (change)="isClientSpecific='Yes'">        Yes
      </label>
      <label>
        <input type="radio" [checked]="!isClientSpecific=='No'" (change)="isClientSpecific='No'">        No
      </label>
    </div>
  </div>
    <div class="form-group" *ngIf="isClientSpecific !==undefined && isClientSpecific=='Yes'">
    <label>Client<span class="star">*</span></label>
    <select class="form-control"  [(ngModel)]="selectClientName">
      <option [value]="c.name" [selected]="selectClientName == c.name" *ngFor="let c of clients">{{c.name}}</option>
    </select>
  </div>



  <!-- <div class="form-group" *ngIf="isClientSpecific"> -->


  <!-- <div class="form-group" *ngIf="selectType !==undefined && selectType!=='--' && selectType.name == 'Associated Kit Component'">
    <label>ADA or PK:</label>
    <div class="form-control yncheck">
      <label>
        <input type="radio" [checked]="adaorpk=='ada'" [value]="adaorpk" (change)="adaorpk='ada'"> ADA
      </label>
      <label>
        <input type="radio" [checked]="adaorpk=='pk'" [value]="!adaorpk" (change)="isKit='pk'"> PK
      </label>
    </div>
  </div>
  <div class="form-group" *ngIf="selectType !==undefined && selectType!=='--' && selectType.name == 'Antibody'">
    <label>Clonality:</label>
    <select class="form-control" #clone (change)="setClonality(clone.value)">
      <option [value]="c.id" [selected]="selectClone?.id == c.id" *ngFor="let c of cloneLevel">{{c.name}}</option>
    </select>
  </div> -->

  <!-- <div class="form-group" *ngIf="selectType !==undefined && selectType!==''"> -->

  <!-- <div class="form-group" *ngIf="selectType !==undefined && selectType!=='--'">
    <label>Use Drug List?</label>
    <div class="form-control yncheck">
      <label>
        <input type="radio" [checked]="isUseDrugName" [value]="isUseDrugName" (change)="isUseDrugName=!isUseDrugName"> Yes
      </label>
      <label>
        <input type="radio" [checked]="!isUseDrugName" [value]="!isUseDrugName" (change)="isUseDrugName=!isUseDrugName">No
      </label>
    </div>
  </div> -->
  <!-- <div class="form-group" *ngIf="isUseDrugName && selectType !==undefined && selectType!=='--'">
    <label>Drug Name:</label>
    <div class="form-control">
      <label (click)="isNewDrug = false">
        <input type="radio" [checked]="!isNewDrug"> Please select a drug to generate the catalog number
        <select class="old-drug-list form-control" #drug [disabled]="isNewDrug" (change)="setDrug(drug.value)">
          <option>--</option>
          <option *ngFor="let d of drugList" [value]="d.name" [selected]="selectDrug?.name == d.name">{{d.num}} - {{d.name}}</option>
        </select>
      </label>
      <b>OR</b>
      <label (click)="isNewDrug = true">
        <input type="radio" [checked]="isNewDrug"> Please enter the name of the new drug to get catalog number
        <input class="new-drug form-control" #newdrug [disabled]="!isNewDrug" [value]="isNewDrug?selectDrug?.name:''" (change)="setDrug(newdrug.value)">
      </label>
    </div>
  </div> -->
  <div class="form-group control-btn">
    <button class="btn btn-primary" (click)="generateCatalog()" [disabled]="!isValid()">Get Catalog Number</button>
    <button class="btn btn-default" (click)="clear()">Clear</button>
  </div>

  <div class="form-group cat" *ngIf="catalog!==undefined && catalog!==''">
    <span *ngIf="isKit">New Catalog Number for Kit: (you can add letters after)</span>
    <span *ngIf="!isKit">New Catalog Number for Product: (you can add letters after)</span>
    <div class="panel panel-warning">
      <form class="form-inline" >
          <div class="panel-heading form-group" style="width:100%;">
              <input autocomplete="off" style="width:85%;" class="form-control" type="text" [(ngModel)]="editedcatalog" name="cat" (change)="checkcatalog()"/>
            <button class="btn btn-default icon-btn" *ngIf="catalogchangevalid==true" style="float:right;" (click)="showcatalog = true"><i class="fas fa-caret-down"></i></button>
          </div>
      </form>



      <div class="panel-body" *ngIf="showcatalog" style="padding-left:0px;">
        <span *ngIf="message" class="alert alert-warning">{{message}}</span>
        <input class="form-control" #nName required placeholder="Name" required>
        <input #nPrice [style.display]="isKit?'block':'none'" type="number" class="form-control" placeholder="Price"  required>
        <button class="btn btn-outline-warning" *ngIf="isKit" [disabled]="existObject" (click)="addKitWithCat(nName.value, nPrice.value)">Add to Kit</button>
        <button class="btn btn-outline-warning" *ngIf="!isKit" [disabled]="existObject" (click)="addProductWithCat(nName.value)">Add to Product</button>
      </div>
    </div>
  </div>


  <ngb-alert *ngIf="addMessage!=undefined && addMessage.length>0" (close)="addMessage = []">
    <ng-container *ngFor="let m of addMessage; let i = index">
      <p>
        <strong>{{m}}</strong>
      </p>
    </ng-container>
  </ngb-alert>


</div>