.message{
    color:red;
  }
  
  .method-type {
    margin: 0px 10px;
  }
  
  .recommend {
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px 0px lightgrey;
    max-width: 90%;
  }
  
  .recItem {
    width: 100%;
    background-color: white;
    margin: 0px;
    transition: 1s background-color;
    -moz-transition: 1s background-color;
    -o-transition: 1s background-color;
    -webkit-transition: 1s background-color;
  }
  
  .recItem:hover {
    background-color: lightgrey;
  }
  
  .new-ingre {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  
  .submit-buttons {
    text-align: right;
  }
  
  span{
    padding-right: 3px;
  }
  
  td{
    padding: 0px;
  }
  
  .form-group{
    max-width: 100%;
  }
  
  .vialid{
    border:none;
    color:black;
    font-weight: bold;
    background-color:white;
    padding:0px;
  }
  
  option{
    height:10%;
  }
  
  
  .recipeid:hover{
    background-color:lightgrey;
  }
  
  .componentid{
    font-size:10.5px;
  }
  
  .unit{
    padding:0px;
    font-size:15px;
    line-height: 20px;
  }
  
  .catforcomponent{
    padding:0px; 
    text-align: center; 
    color: red;
    font-size: 11px;
  }
  
  .small-form-group{
    display: inline-block;
    height: 50px;
  }
  
  .small-form-control{
    display: inline-block;
      border: 0.01em solid lightgrey;
      padding: 5px;
      height: 100%;
  }
  
  .small-form-control>select{
    display: block;
    border: 0.01em solid #ddd;
  }
  
  .small-form-group>.btn{
    margin: 0px;
    height: 100%;
    vertical-align: top;
  }
  
  .star{
    color:red;
  }
  
  p{
    border:white;
  }
  
 
  .form-group{
    margin:10px;
  }
  
  input.form-control{
    padding:0px;
    font-size:12px;
    width:100%;
    height:36px;
    margin:0px;
  }
  
  select.form-control{
    padding:0px, 0px,0px,0px;
    /* margin:10px; */
    /* width:160px; */
    font-size:12px;
  }

  .input-group-addon{
    width:50px;
    height:37px;
    font-size:12px;
    background-color: white;
    border:0px;
    padding:0px;
    margin:0px;
  }

  .remove-btn-cell{
    vertical-align: middle;
    text-align: center;
}

my-date-picker.form-control{
  padding:0px;
  border:0px;
  margin:0px;
  font-size: 12px;
  width:100%;
}

.search-key{
  margin: 0px 10px;
  font-size:11px;
}

.collectionnumber{
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 5px;
  border:0px;
  font-weight: bold;
}
  