<div class="tab-container" [class.blur]="isnew">
  <h2>Sales</h2>
  <div class="section">
    <button *ngFor="let t of tabs; let i = index;" [ngClass]="'arrow-btn arrow'+i" [style.width.%]="100/tabs.length" (click)="changeTab(t)"
      [class.inner-btn]="i<tabs.length-1" [class.active]="currentTab == t">
      <div class="arrow-body">{{t}}</div>
    </button>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <input autocomplete="off" #search type="text" class="form-control" [placeholder]="'Search ' +currentTab+ ' by ' +currentTab+ ' number'"
      aria-describedby="basic-addon1" (keyup.enter)="page = 1; searchObj(search.value)">
  </div>
  <div class="row control-box">
    <button class="btn btn-default menu-btn sale-btn newquote" *ngIf="currentTab =='Quote'">
        <i class="fa fa-plus" aria-hidden="true"></i> New
    </button>
    <div ngbDropdown class="btn-group sale-btn" *ngIf="currentTab =='Invoice'">
      <button class="btn btn-default menu-btn sale-btn newinvoice" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fa fa-plus" aria-hidden="true"></i> New
        <span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item newsaleitem wexistQ" >With Existing Quote</button>
        <!-- (click)="newItem('wq')" -->
        <button class="dropdown-item newsaleitem">From Scratch</button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-scroll" [class.pop-table]="isShow">
      <thead>
        <tr>
          <th colspan="3">{{currentTab}} Number</th>
          <th>Revision Number</th>
          <th colspan="2">Revision Date</th>
          <th colspan="2" *ngIf="currentTab == 'Quote'">Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of displayObj; let i = index">
          <td colspan="3" class="hover-obj" [class.complete]="currentTab == 'Quote'&&obj?.complete" 
          [class.expire]="currentTab == 'Quote'&&isExpired(obj)&&!obj?.complete">{{currentTab == 'Quote'? obj?.quoteNum : obj?.invoiceNum}}</td>
          <td>{{obj?.revision}}</td>
          <td colspan="2">{{obj?.revisionDate | date:'shortDate'}}</td>
          <td colspan="2" *ngIf="currentTab == 'Quote'">{{obj?.expireDate | date:'shortDate'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="searchKey==''&&count>10">
    <p class="page-note" [style.text-align]="'center'">Order {{((page-1)*10)+1}} - {{page*10>count?count:page*10}} of {{count}}
      {{currentTab}}(s)
    </p>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="count" [(page)]="page" [rotate]="true" [boundaryLinks]="true"
      [maxSize]="5" aria-label="Default pagination" (pageChange)="currentTab == 'Quote'?loadQuotePage():loadInvoicePage()"></ngb-pagination>
  </div>
  <button *ngIf="searchKey!==''&&displayObj.length>0 && displayObj.length==10" class="btn btn-info" [style.float]="'right'"
    (click)="page = page + 1; searchObj(searchKey)">
    Load Next 10 Results <i class="fas fa-caret-right"></i>
  </button>
  <div *ngIf="isLoading==true" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif">
  </div>

</div>

<div [style.right]="isShow?0+'px':-100+'%'" class="slide">
  <div class="edit-container">
    <h4>{{isnew?'New '+currentTab:selectItem?.name}}</h4>
    <app-quote-display *ngIf="currentTab == 'Quote' && selectItem!==undefined" [quote]="selectItem" [enableEdit]="enableEdit"
      [isnew]="isnew" (updateQuote)="updateQuote($event)" (cancel)="cancelAdd()" (completeQuote)="complateQuote($event)"></app-quote-display>
    <app-invoice-display *ngIf="currentTab == 'Invoice' && selectItem!==undefined" [invoice]="selectItem" [isWithQuote]="withQuote"
      [enableEdit]="enableEdit" [isnew]="isnew" (update)="updateInvoice($event)" (cancel)="cancelAdd()"></app-invoice-display>
  </div>
</div>

<ng-template #changeVersionNumberOption let-c="close" class="versionnumber">
    <div class="modal-header">
      <h6 class="modal-title">
        Want to change the version number of {{currentTab == 'Quote'? 'quote' : 'invoice'}} {{currentTab == 'Quote'? selectItem.quoteNum : selectItem.invoiceNum}}?
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
        <span class="field-title">Version Number (only positive integer number)</span>
        <input class="form-control" type="number" [(ngModel)]="versionNumber" id="version" step="1" (change)="validateVersoin()" >
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" id="updateversion" [disabled]="true" (click)="updateVersionNumber(currentTab, selectItem, versionNumber); c('')">Update</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('')">Cancel</button>
    </div>
  </ng-template>

  
<!-- 
<ngb-tabset (tabChange)="tabChange($event)">
  <ngb-tab *ngFor="let tab of tabs" [id]="tab">
    <ng-template ngbTabTitle>
      <span class="tab-title">{{tab}}</span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 list">
            <div class="row control-box">
              <div class="input-group">
                <input class="searchNum" [placeholder]="tab =='Quote'?'Quote Number':'Invoice Number'" #searchkey (keyup.enter)="search.click()">
                <span class="search-btn input-group-btn">
                  <button class="btn btn-default menu-btn" type="button" #search (click)="find(searchkey.value)"><i class="fas fa-search"></i></button>
                </span>
              </div>
            </div>
            <div class="row control-box">
              <button class="btn btn-default menu-btn sale-btn" *ngIf="tab =='Quote'" (click)="newItem()">
                <i class="fas fa-plus"></i> New
              </button>
              <div ngbDropdown class="btn-group sale-btn" *ngIf="tab =='Invoice'">
                <button class="btn btn-default menu-btn sale-btn" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="fas fa-plus"></i> New
                  <span class="caret"></span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="newItem('wq')">With Existing Quote</button>
                  <button class="dropdown-item" (click)="newItem()">From Scratch</button>
                </div>
              </div>
            </div>
            <ul class="itemlist" *ngIf="tab == 'Quote'">
              <li *ngFor="let q of quoteList" [class.complete]="q.complete" [class.expire]="isExpired(q)" [class.active]="selectItem?.dbid == q.dbid"
                [style.border-color]="isExpired(q)?'grey':q.complete?'orange':'limegreen'" (click)="setSelectItem(q)">
                <div>
                  <b class="qnum">Quote {{q.quoteNum}}</b>
                  <br> Version {{q.revision}}
</div>
</li>
</ul>
<p *ngIf="tab == 'Quote' && (quoteList == undefined || quoteList.length < 1)" class="empty">Empty List</p>
<ul class="itemlist" *ngIf="tab == 'Invoice'">
  <li *ngFor="let i of invoiceList" (click)="setSelectItem(i)" [class.active]="selectItem?.dbid == i.dbid" [style.border-color]="'limegreen'">
    <div>
      <b class="qnum">Invoice {{i.invoiceNum}}</b>
      <br> Version {{i.revision}}
    </div>
  </li>
</ul>
<p *ngIf="tab == 'Invoice' && (invoiceList == undefined || invoiceList.length < 1)" class="empty">Empty List</p>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 content">
  <h4 *ngIf="tab == 'Quote' && selectItem!==undefined">{{isNew?'New Quote':'Quote '+selectItem?.quoteNum}}</h4>
  <h4 *ngIf="tab == 'Invoice' && selectItem!==undefined">{{isNew?'New Invoice':'Invoice '+selectItem?.invoiceNum}}</h4>

  <app-quote-display *ngIf="tab == 'Quote' && selectItem!==undefined" [quote]="selectItem" [enableEdit]="enableEdit" [isnew]="isnew"
    (updateQuote)="updateQuote($event)" (cancel)="cancelAdd()"></app-quote-display>
  <app-invoice-display *ngIf="tab == 'Invoice' && selectItem!==undefined" [invoice]="selectItem" [isWithQuote]="withQuote"
    [enableEdit]="enableEdit" [isnew]="isnew" (update)="updateInvoice($event)" (cancel)="cancelAdd()"></app-invoice-display>
  <p *ngIf="selectItem == undefined">Please select {{tab == 'Quote'?'a Quote':'an Invoice'}} to review</p>
</div>
</div>
</div>
</ng-template>
</ngb-tab>
</ngb-tabset> -->