/* .list, .content{
    display: inline-block;
    margin: 0px;
    padding: 0px 5px;
}

.list{
    border: 0.01em solid #0285b9;
    overflow-y: auto;
    height: 100vh;
}

.list>ul{
    list-style: none;
    padding: 0px;
}

.list>ul>li{
    border: 1px solid;
    border-left-width: 10px;
    background-color: white;
    border-radius: 0px;
    padding-left: 10px;
    cursor: pointer;
    margin: 5px 0px;
    transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
}

.list>ul>li:hover{
    border-radius: 5px;
    background-color: lightgrey;
}

.list>ul>li.active{
    box-shadow: inset 15px 0px 10px -5px limegreen;
}

.list>ul>li.active.complete{
    box-shadow: inset 15px 0px 10px -5px orange;
}

.list>ul>li.active.expire{
    box-shadow: inset 15px 0px 10px -5px grey;
}

.container{
    padding: 0px;
    margin: 0px;
    display: inline;
}

.content{
    height: 100vh;
    overflow-y: auto;
}

.content > p {
    text-align: center;
    color:lightgray;
    font-size: 20px;
} */


.table-container{
    height: 60%;
  }

  
.complete{
    background-image: url('../../../assets/images/completeStamp.png');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right;
}

.expire{
    background-image: url('../../../assets/images/expiredStamp.png');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right;
}
/* 
.sale-btn{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 100%;
    height: 50px;
}

.sale-btn:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    font-size: 24px;
} */

/* .searchNum{
    width: 80%;
}

.search-btn{
    width: 20%;
}

.search-btn>button{
    width: 100%;
} */
.hover-obj{
    background-color: transparent;
    transition: 1s right;
    -moz-transition: 1s right;
    -o-transition: 1s right;
    -webkit-transition: 1s right;
  }
  
  .hover-obj:hover{
    background-color: lightgrey;
  }
  
  .slide{
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 100%;
    transition: 1s right;
    -moz-transition: 1s right;
    -o-transition: 1s right;
    -webkit-transition: 1s right;
  }

  .edit-container{
    display: inline-block;
    /* display: table; */
    width: auto;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: white;
    border-left: 15px solid #c3e933;
    padding: 10px 30px;
    padding-bottom: 0px; 
    box-shadow: -5px 0px 20px 0px #705757;
    overflow-y: auto;
    z-index: 2;
  }

  .blur{
    filter:blur(3px);
  }
  
  .exit-container{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: none;  
  }

.arrow-btn{
    display: inline-block;
    /* width: 33.33%; */
    margin: 0px;
    border: none;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    padding: 0px;
  }
  
  .arrow-body{
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: #e8e8e8;
    color: #8b8b8b;
    padding: 5px 0px;
  }
  
  .inner-btn::after{
    content:"";
    width: 0px;
    height: 0px;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    border-right: 0px solid transparent;
    border-left: 45px solid #e8e8e8;
    display: inline-block;
    position: absolute;
  }
  
  .arrow-btn.active>.arrow-body{
    background-color: #c3e933;
    color: black;
  }
  
  .arrow-btn.active.inner-btn::after{
    border-left-color: #c3e933;
  }
  
  .table-scroll{
    height: 100%;
    display: block;
    margin: 0px;
    width: 100%;
  }

  .pop-table{
      z-index: 1;
  }
  
  .table-scroll>tbody{
    display: block;
    width: 100%;
    height: 85%;
    overflow-y: overlay;
  }
  
  .table-scroll>tbody>tr{
    width: 100%;
    table-layout: fixed;
    display: table;
  }
  
  .table-scroll>thead{
    display: inline-table;
    width: 100%;
    table-layout: fixed;
  }