<div class="tab-container">
  <h2>Order Items</h2>
  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle style="font-size:16px;">
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input autocomplete="off" type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
      </div>
    </div>
    <button class="btn btn-default menu-btn" (click)="newrequests(multiplerequestes)" style="font-size:16px;">
      <i class="fa fa-plus" aria-hidden="true"></i> New Requests
    </button>
    <!-- <button class="btn btn-default menu-btn" *ngIf="selectrequestorderitems  !== undefined && selectrequestorderitems .length > 0"
      (click)="approvemultiplerequests()">
      Approve Requests
    </button>
    <button class="btn btn-default menu-btn" *ngIf="selectapprovedorderitems !== undefined && selectapprovedorderitems.length > 0"
      (click)="markmultipleorder()">
      Mark Ordered
    </button> -->

    <button class="btn btn-default menu-btn"
      *ngIf="currentTab == 'Requested' && selectOrders  !== undefined && selectOrders.length > 0"
      (click)="approvemultiplerequests()">
      Approve Requests
    </button>
    <button class="btn btn-default menu-btn"
      *ngIf="currentTab == 'Approved' && selectOrders !== undefined && selectOrders.length > 0"
      (click)="showETA()">
      Mark Ordered
    </button>
  </div>

  <div class="form-group">
    <ngb-alert *ngIf="requestapprove  == true" (close)="requestapprove = false">
      <strong>{{approverequestitemnames}} is (are) approved!</strong>
    </ngb-alert>
  </div>
  <div class="form-group">
    <ngb-alert *ngIf="requestmark  == true" (close)="requestmark = false">
      <strong>{{markrequestitemnames}} is (are) ordered!</strong>
    </ngb-alert>
  </div>
  <div class="section">
    <button *ngFor="let t of tabs; let i = index;" [ngClass]="'arrow-btn arrow'+i" [style.width.%]="100/tabs.length"
      (click)="changeTab(t)" [class.inner-btn]="i<tabs.length-1" [class.active]="currentTab == t">
      <div class="arrow-body">{{t}}</div>
    </button>
  </div>
  <div class="order-tab-content table-container">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
      <input autocomplete="off" #search type="text" class="form-control"
        [placeholder]="'Search ' +currentTab+ ' order by name, cat#, supplier, manufacturer or request person'"
        aria-describedby="basic-addon1" (keyup.enter)="page = 1; searchOrder(search.value)">
    </div>
    <table class="table table-scroll requests">
      <thead>
        <tr>
          <th *ngIf="(currentuser?.role=='Senior Manager'&&(currentTab=='Requested'||currentTab=='Approved')) ||
                  (currentuser?.role=='Administrator'&&currentTab=='Approved')"></th>
          <th *ngIf="viewColumn[0]" colspan="2">Name</th>
          <th *ngIf="viewColumn[1]" colspan="2">Manufacturer Cat #</th>
          <th *ngIf="viewColumn[2]">Amount <br>/Quantity</th>
          <th *ngIf="viewColumn[3]">Unreceive<br>Amount</th>
          <th *ngIf="viewColumn[4]">Unit</th>
          <th *ngIf="viewColumn[5]">Unit Size</th>
          <th *ngIf="viewColumn[6]" colspan="2">Supplier</th>
          <th *ngIf="viewColumn[7]" colspan="2">Manufacturer</th>
          <th *ngIf="viewColumn[8]" colspan="2">Project Number</th>
          <th *ngIf="viewColumn[9]" colspan="2">Requested By</th>
          <th *ngIf="viewColumn[10] && currentTab=='Received'" colspan="2">Receive Person</th>
          <th *ngIf="viewColumn[11]" colspan="2">Status</th>
          <th *ngIf="viewColumn[12]" colspan="2">{{currentTab}} Time</th>
          <th *ngIf="viewColumn[13]">
            <a style="color:#17a2b8; font-weight:bold; text-decoration: none; cursor: pointer;" (click)="setUrgent()">
              {{showUrgent?'Show All':'Urgent'}}
            </a>
          </th>
          <th *ngIf="viewColumn[14]" colspan="2">Comment(s)</th>
          <th colspan="2" *ngIf="currentTab=='Ordered'"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of displayOrders; let index=index">
          <td *ngIf="(currentuser?.role=='Senior Manager'&&(currentTab=='Requested'||currentTab=='Approved')) ||
                   (currentuser?.role=='Administrator'&&currentTab=='Approved')">
            <input type="checkbox" (change)="selectOrderItem(i)" [checked]="checkSelected(i)">
            <!-- <input *ngIf="currentTab=='Requested'" type="checkbox" (change)="selectOrderItem(i)" [checked]="checkSelected(i)">
              <input *ngIf="currentTab=='Approved'" type="checkbox" (change)="selectOrderItem(i)" [checked]="checkSelected(i)">               -->
          </td>
          <td *ngIf="viewColumn[0]" colspan="2" class="ordername" (click)="openorderitem(displayorderitem,i); ">
            {{i?.name}}</td>
          <!-- <td colspan="2" class="ordername" (click)="open(displayorderitem,i); ">{{i?.name}}</td> -->
          <td *ngIf="viewColumn[1]" colspan="2">{{i?.cat}}</td>
          <td *ngIf="viewColumn[2]">{{i?.amount}}</td>
          <td *ngIf="viewColumn[3]">{{i?.unreceiveamount}}</td>
          <td *ngIf="viewColumn[4]">{{i?.unit}}</td>
          <td *ngIf="viewColumn[5]">{{i?.unitsize}}</td>
          <td *ngIf="viewColumn[6]" colspan="2">{{i?.supplier}}</td>
          <td *ngIf="viewColumn[7]" colspan="2">{{i?.manufacturer}}</td>
          <td *ngIf="viewColumn[8]" colspan="2">{{i?.grantid}}</td>
          <td *ngIf="viewColumn[9]" colspan="2">{{i?.requestperson}}</td>
          <td *ngIf="viewColumn[10] && currentTab=='Received'" colspan="2">{{i?.receiveperson}}</td>
          <td *ngIf="viewColumn[11]" colspan="2">{{i?.status}}</td>
          <!-- <td colspan="2">{{currentTab=='Requested'?i?.requesttime: currentTab=='Approved'?i?.approvetime: currentTab=='Ordered'?i?.ordertime:receivetime}} -->
          <td *ngIf="viewColumn[12]" colspan="2">{{(currentTab=='Requested'?i?.requesttime :
            currentTab=='Approved'?i?.approvetime: currentTab=='Ordered'?i?.ordertime:
            currentTab=='Received'?i?.receivetime:receivetime) | date}}
            <!-- <td colspan="2">{{currentTab=='Requested'?i?.requesttime: currentTab=='Approved'?i?.approvetime: currentTab=='Ordered'?i?.ordertime: currentTab=='Received'?i?.receivetime}} -->
          </td>
          <td *ngIf="viewColumn[13]" [style.color]="i?.urgent?'red':'black'"
            [style.font-weight]="i?.urgent?'bold':'normal'" [style.font-style]="i?.urgent?'italic':'normal'">
            {{i?.urgent?'Yes':'No'}}</td>
          <td *ngIf="viewColumn[14]" colspan="2">{{i?.comment}}</td>
          <td colspan="2" *ngIf="currentTab=='Ordered'">
            <button class="btn btn-primary" (click)="addreceiveitems(i);showunreceive=true">
              Receive
              <br> Items
            </button>
          </td>
        </tr>
        <tr *ngIf="displayOrders == undefined || displayOrders.length < 1">
          <td class="empty" [attr.colspan]="
              (currentuser?.role=='Senior Manager'&&(currentTab=='Requested'||currentTab=='Approved')) ||
                   (currentuser?.role=='Administrator'&&currentTab=='Approved')?23:22">Empty</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="orderCount>10">
      <p class="page-note" [style.text-align]="'center'">Order {{((page-1)*10)+1}} -
        {{page*10>orderCount?orderCount:page*10}}
        of {{orderCount}} Order(s)
      </p>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="orderCount" [(page)]="page"
        [rotate]="true" [boundaryLinks]="true" [maxSize]="5" aria-label="Default pagination" (pageChange)="loadPage()">
      </ngb-pagination>
    </div>
    <!-- 
    <div class="d-flex justify-content-center">
      <button *ngIf="searchKey!==''"  class="btn btn-info" (click)="page = page - 1; searchOrder(searchKey)">
        <i class="fas fa-caret-left"></i>Previous 
      </button>
    
      <button *ngIf="searchKey!==''" class="btn btn-info" (click)="page = page + 1; searchOrder(searchKey)">
        Next <i class="fas fa-caret-right"></i>
      </button>
     </div> -->


    <!-- <button *ngIf="searchKey!==''&&displayOrders.length>0 && displayOrders.length==10" class="btn btn-info"
      [style.float]="'right'" (click)="page = page + 1; searchOrder(searchKey)">
      Load Next 10 Results <i class="fas fa-caret-right"></i>
    </button> -->
    <div *ngIf="isLoading" class="loading-screen">
      <img class="loading-img" src="../../../assets/images/loading.gif">
    </div>
  </div>
</div>

<ng-template #displayorderitem let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      <div class="row control-box" >
        <button class="btn btn-default menu-btn" (click)="enabledEditorderItem=true"  
        *ngIf="orderitem?.status == 'Requested' || (this.currentuser.role == 'Senior Manager' &&  (orderitem?.status == 'Approved' || orderitem?.status == 'Ordered' ) )">
          <i class="fa fa-pen-square" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default menu-btn" (click)="deleteorderItem(); c('')"
        *ngIf="orderitem?.status == 'Requested'">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button *ngIf="orderitem?.status == 'Approved' && this.currentuser.role == 'Senior Manager'" title="Reject approved order item"
        class="btn btn-default menu-btn" (click)="open(rejectapproveditem); c('')">
          <i class="fa fa-history" aria-hidden="true"></i>
        </button>
      </div>
      <b>{{orderitem?.name !== '' ? orderitem?.name : 'New Requests'}}</b>
      <!-- <button type="button" class="close" aria-label="Close" (click)="reset(); c('')"></button> -->
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-orderitem-display [orderitem]="[orderitem]" [enableEdit]="enabledEditorderItem"
      (updateorderItem)="updateorderItem($event)" (closeorder)="reset(); c('')"></app-orderitem-display>
  </div>
</ng-template>

<ng-template #rejectapproveditem let-c="close" class="rejectapproveditem">
  <div class="modal-header">
    <h6 class="modal-title">
      Do you want to reject {{orderitem?.name}} ?
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <span class="field-title">Reject Reason</span><br>
      <textarea [(ngModel)]="rejectComment" class ="rejectcomment"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="rejectorderItem(orderitem); c('')">Reject</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<ng-template #eta let-c="close" class="eta">
  <div class="modal-header">
    <h6 class="modal-title">
      Do you want to add eta for order items?
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div *ngFor="let order of orderswitheta">
      <span><strong>Name:</strong> {{order.name}}, <strong>Manufacturer Cat#:</strong> {{order.cat}}</span>
      <my-date-picker  [options]="etaoption" (dateChanged)="changeeta(order, $event)"></my-date-picker>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="markmultipleorder('update'); c('')">Update with eta</button>
    <button type="button" class="btn btn-outline-dark" (click)="markmultipleorder('cancel'); c('')">Update without eta</button>
  </div>
</ng-template>




<ng-template #displayrecieveitem let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Received item: {{receiveitem.itemname}}</h4>
  </div>
  <div class="modal-body">
    <app-receiveitem-display [receiveitem]="receiveitem" [unreceiveamount]="unreceiveamount" [newlot]="newlot"
      [showinuse]="showinuse" [showunit]="showunit" [enableEdit]="editreceiveitem"
      (updateItemdetail)="updateItemdetail($event)" (cancelItemdetail)="reset();c('');"></app-receiveitem-display>
  </div>

</ng-template>

<ng-template #multiplerequestes let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      <b>New Requests</b>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <app-orderitem-display [orderitem]="multipleorders" [isAdd]="true" [newrequest]="isnewrequests"
        (addOrders)="savemultipleorders($event); c('');" (closeorder)="reset(); c('')"></app-orderitem-display>
    </div>
  </div>
</ng-template>

<ng-template #barcode let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Generate Barcodes</h4>
    <div [style.float]="right">
      <button class="btn btn-danger" printSectionId="barcodes" ngxPrint>Print</button>
      <!-- <button class="btn btn-danger" (click)="printBarcode('barcodes')" >Print</button> -->
      <button class="btn btn default" (click)="cancelBarcode()" id="canceldelete">Cancel</button>
    </div>
  </div>
  <div class="modal-body">
    <!-- <div class="form-group">
        <label>Barcode Type<span class="star">*</span></label>
        <select class="form-control" [(ngModel)]="selectBarcodeType">
          <option [value]="b" [selected]="selectBarcodeType == b" *ngFor="let b of barcodeType">{{b}}</option>
        </select>
      </div> -->

    <div class="form-group">
      <label>Barcode Type<span class="star">*</span></label>
      <div class="form-control">
        <label style="width:50%;">
          <input type="radio" [checked]="selectBarcodeType=='Linear Barcode'" [value]="'Linear Barcode'"
            (change)="selectBarcodeType='Linear Barcode'"> Linear Barcode
        </label>
        <label>
          <input type="radio" [checked]="selectBarcodeType=='QR Barcode'" [value]="'QR Barcode'"
            (change)="selectBarcodeType='QR Barcode'"> QR Barcode
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Barcode Size<span class="star">*</span></label>
      <div class="form-control">
        <label style="width:33%;">
          <input type="radio" [checked]="selectBarcodeSize=='Small'" [value]="'Small'"
            (change)="selectBarcodeSize='Small';changeBarcodeDisplay()"> Small
        </label>
        <label style="width:33%;">
          <input type="radio" [checked]="selectBarcodeSize=='Middle'" [value]="'Middle'"
            (change)="selectBarcodeSize='Middle';changeBarcodeDisplay()"> Middle
        </label>
        <label>
          <input type="radio" [checked]="selectBarcodeSize=='Large'" [value]="'Large'"
            (change)="selectBarcodeSize='Large';changeBarcodeDisplay()"> Large
        </label>
      </div>
    </div>

    <div id="barcodes">
      <table *ngIf="selectBarcodeSize=='Large'">
          <thead><tr><th style="width:50%;"></th><th style="width:50%;"></th>></tr></thead>
          <tbody>
              <tr *ngFor="let array of twodarray1">
                  <td *ngFor="let PS of array">
                    <div>
                        <table>
                            <tr style="text-align: left;"> <b>{{barcodeItemName}}</b> </tr>
                            <tr style="text-align: left;"> {{barcodeItemCat}}</tr>
                            <tr *ngIf="selectBarcodeType=='Linear Barcode'">
                              <ngx-barcode [bc-value]="PS" [bc-display-value]="true"></ngx-barcode>
                            </tr>
                            <!-- <tr *ngIf="selectBarcodeType=='QR Barcode'">
                              <ngx-qrcode [qrc-value]="PS" qrc-class="class1" qrc-errorCorrectionLevel="L"[qrc-element-type]="'img'"></ngx-qrcode>
                              <p><b>{{PS}}</b></p>
                            </tr> -->
                          </table>
                    </div>

                  </td>
                </tr>
          </tbody>

      </table>

      <table *ngIf="selectBarcodeSize=='Middle'">
          <thead><tr><th style="width:33%;"></th><th style="width:33%;"></th><th style="width:33%;"></th></tr></thead>
          <tbody>
              <tr *ngFor="let array of twodarray2">
                  <td *ngFor="let PS of array">
                    <div>
                        <table style="width:80px;">
                            <tr style="font-size:10px;margin:0px;padding:0px;"> <b>{{barcodeItemName}}</b> </tr>
                            <tr style="font-size:10px;margin:0px;padding:0px;"> {{barcodeItemCat}}</tr>
                            <tr style="margin:0px;padding:0px;" *ngIf="selectBarcodeType=='Linear Barcode'">
                              <ngx-barcode [bc-value]="PS" [bc-display-value]="true" [bc-width]="1" [bc-height]="15"
                                [bc-text-align]="center" [bc-text-margin]="2" [bc-font-size]="10" [bc-margin]="0"
                                [bc-margin-top]="0" [bc-margin-bottom]="5" [bc-margin-left]="2" [bc-margin-right]="2">>
                              </ngx-barcode>
                            </tr>
                            <!-- <tr style="margin:0px;padding:0px;" *ngIf="selectBarcodeType=='QR Barcode'">
                              <ngx-qrcode [qrc-value]="PS" qrc-class="class2" qrc-errorCorrectionLevel="L" [qrc-element-type]="'img'"></ngx-qrcode>
                              <p style="font-size:10px;"><b>{{PS}}</b></p>
                            </tr> -->
                          </table>
                    </div>

                  </td>
                </tr>
          </tbody>

      </table>

      <table *ngIf="selectBarcodeSize=='Small'">
        <thead><tr><th style="width:25%;"></th><th style="width:25%;"></th><th style="width:25%;"></th><th style="width:25%;"></th></tr></thead>
        <tbody>
          <tr *ngFor="let array of twodarray3">
            <td *ngFor="let PS of array">
              <div>
                  <table style="width:50px;">
                      <tr style="font-size:8px;margin:0px;padding:0px;"> <b>{{barcodeItemName}}</b> </tr>
                      <tr style="font-size:8px;margin:0px;padding:0px;"> {{barcodeItemCat}}</tr>
                      <tr style="margin:0px;padding:0px;" *ngIf="selectBarcodeType=='Linear Barcode'">
                        <ngx-barcode [bc-value]="PS" [bc-display-value]="true" [bc-width]="0.8" [bc-height]="10"
                          [bc-text-align]="center" [bc-text-margin]="2" [bc-font-size]="8" [bc-margin]="0" [bc-margin-top]="0"
                          [bc-margin-bottom]="5" [bc-margin-left]="2" [bc-margin-right]="2"></ngx-barcode>
                      </tr>
                      <!-- <tr style="margin:0px;padding:0px;" *ngIf="selectBarcodeType=='QR Barcode'">
                        <ngx-qrcode [qrc-value]="PS" qrc-class="class2" qrc-errorCorrectionLevel="L" [qrc-element-type]="'img'"></ngx-qrcode>
                        <p style="font-size:8px;"><b>{{PS}}</b></p>
                      </tr> -->
                    </table>
              </div>

            </td>
          </tr>
        </tbody>

      </table>

    </div>



  </div>
</ng-template>