<div class="tab-container">
  <h2>Egg Inventory</h2>
  <!-- <div class="row control-box" style="background-color:#008080;">
    <button *ngFor="let t of tabs; let i = index;" class="btn btn-default menu-btn" style="width:50%;" (click)="changeTab(t)">
      <i class="fa fa-plus-square-o" aria-hidden="true" style="height:22px;font-size:22px;">View {{t}}</i></button>
  </div> -->
  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of chickencolumnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input autocomplete="off" type="checkbox" [checked]="chickenviewColumn[i]">{{mode}}</button>
      </div>
    </div>
    <button class="btn btn-default menu-btn" (click)="resetOpenChicken(); open(importData)">
      <i class="fa fa-upload" aria-hidden="true"></i> Import Chicken Information
    </button>
    <!-- <button class="btn btn-default menu-btn" (click)="CreateNew()"><i class="fa fa-plus-square-o" aria-hidden="true"></i>New Chicken</button> -->
    <button class="btn btn-default menu-btn"><i class="fa fa-plus" aria-hidden="true"></i> New Chicken</button>
    <button class="btn btn-default menu-btn"><i class="fa fa-chart-line" aria-hidden="true"></i>Titer Graph</button>
    
    <button class="btn btn-default menu-btn" (click)="eggseperation(seperateEgg);" *ngIf="selectWholeEggs !== undefined && selectWholeEggs.length > 0">Egg Seperation</button>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1" style="float:left;"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input autocomplete="off" #search type="text" class="form-control" style="float:left;" placeholder="Search Chicken by Chickenid Or Immunongen"
        aria-describedby="basic-addon1" (keyup.enter)="page= 1;searchChicken(search.value)">
    </div>
  </div>

  <div class="table-container">
    <table class="table table-scroll" >
      <thead>
        <tr>
          <th></th>
          
          <th colspan="2" *ngIf="chickenviewColumn[0]">Chicken ID</th>
          <th colspan="3" *ngIf="chickenviewColumn[1]">Immunogen</th>
          <th colspan="1" *ngIf="chickenviewColumn[3]">Egg In Stock</th>
          <th colspan="1" *ngIf="chickenviewColumn[4]">Egg Used</th>
          <th colspan="2" *ngIf="chickenviewColumn[5]">Latest Titer</th>
          <th colspan="2" *ngIf="chickenviewColumn[6]">Project Name</th>
          <th colspan="2" *ngIf="chickenviewColumn[7]">Immunization Status</th>
          <th colspan="1" *ngIf="chickenviewColumn[8]">Chicken Status</th>
          <th colspan="2"></th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let c of displayChickens; let chickenindex = index">
          <tr>

            <td>
              <button *ngIf="c.eggs!== undefined&&c.eggs.length>0" class="btn btn-default icon-btn showbutton" (click)="c.show=!c.show">
                <i *ngIf="c.show" class="fas fa-minus"></i>
                <i *ngIf="!c.show" class="fas fa-plus"></i>
              </button>
              <!-- <input autocomplete="off" type="checkbox" (change)="toggleSelectItem(i)" [checked]="checkItemSelect(i)"> -->
            </td>
            <!-- <td colspan="2">
                <button [style.font-size.px]="9" class="btn btn-info addegg" [id]="chickenindex">Add Eggs</button>
                </td> -->
            <td colspan="2" *ngIf="chickenviewColumn[0]" class="chickenId" [id]="chickenindex" ><a href="javascript:;" >{{c.chick.chickenid}}</a></td>
            <td colspan="3" *ngIf="chickenviewColumn[1]">{{c.chick.immunogen}}</td>
            <td colspan="1" *ngIf="chickenviewColumn[3]">{{c.chick.totalegg}}</td>
            <td colspan="1" *ngIf="chickenviewColumn[4]">{{c.chick.eggused}}</td>
            <td colspan="2" *ngIf="chickenviewColumn[5]">{{c.chick.latesttiter}}</td>
            <td colspan="2" *ngIf="chickenviewColumn[6]">{{c.chick.projectname}}</td>
            <td colspan="2" *ngIf="chickenviewColumn[7]" [style.color]="c.chick.immunstatus=='Active'?'red':'black'" [style.font-weight]="c.chick.immunstatus=='Active'?'bold':'normal'" [style.font-style]="c.chick.immunstatus=='Active'?'italic':'normal'">{{c.chick.immunstatus}}</td>
            <td colspan="1" *ngIf="chickenviewColumn[8] && c.chick.chickenstatus=='Active'" class="chickenstatus" (click)="changestatus(chickenindex)">
               <img src="../../../assets/images/alive chicken.jpg" alt="Alive Chicken" width="30" height="30">
            </td>        
            <td colspan="1" *ngIf="chickenviewColumn[8] && c.chick.chickenstatus=='Sacrificed'" class="chickenstatus" (click)="changestatus(chickenindex)">
                <img src="../../../assets/images/dead chicken.jpg" alt="Dead Chicken" width="30" height="30">
             </td>     
            <td colspan="2">
            <button [style.font-size.px]="9" class="btn btn-info addegg" [id]="chickenindex">Add Eggs</button>
            </td>
          </tr>

          <tr *ngIf="c.show&&c.eggs!== undefined&&c.eggs.length>0" class="sub-table">
            <td [attr.colspan]="subcolspan" style="padding:0px;">
              <table class="table table-bordered">
                <tr>
                  <th></th>
                  <th>Egg/Yolk</th>
                  <th >Collection Date</th>
                  <th>Amount</th>
                  <th>Days after First Immunization</th>
                  <th>Frozen Date</th>
                  <th>Titer</th>
                </tr>
                <tr *ngFor="let e of c.eggs; let eggindex=index">
                  <td>
                    <input autocomplete="off" class="checkoutbox" *ngIf="e.eggpart=='Whole Egg'" type="checkbox" (change)="toggleSelectEgg(e)" [checked]="checkEggSelect(e)">
                  </td>
                  <!-- (click)="isNewItem?'':showitemdetail(d, i.master.name); showunreceive=false;" -->
                  <ng-container>
                    <!-- <td class="eggpart" [id]="chickenindex +' '+eggindex"  (click)="showeggdetail(e); isShowChicken = false;enableEditEgg=false;">{{e?.eggpart}}</td> -->
                    <!-- <td class="eggpart" [id]="chickenindex +' '+eggindex"><a href="javascript:;" (contextmenu)="rightclick($event, e)">{{e?.eggpart}}</a></td> -->
                    <td class="eggpart" [id]="chickenindex +' '+eggindex"><a href="javascript:;" >{{e?.eggpart}}</a></td>
                    <!-- <td class="itemname detail" (click)="showeggdetail(e); isShowChicken = false;">{{e?.collectiondate|date}}</td> -->
                    <td>{{e?.collectiondate|date}}</td>
                    <td class="amount" [id]="chickenindex +' '+eggindex"><a href="javascript:;">{{e?.amount}}</a></td>
                    <td>{{e?.daysafterimmune}}</td>
                    <td>{{e?.frozendate|date}}</td>
                    <td>{{e?.titer}}</td>
                  </ng-container>

                </tr>
              </table>
            </td>
          </tr>
        </ng-container>

        <button  id="rightclickbutton" class="btn btn-info" (click)="hideanddelete()" (clickOutside)="hiderightclick()">Discard Egg</button>

        <tr *ngIf="displayChickens == undefined || displayChickens.length < 1">
          <td class="empty" [attr.colspan]="colCount">Empty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="chickenCount>10">
    <p class="page-note" [style.text-align]="'center'">Chichen {{((page-1)*10)+1}} - {{page*10>chickenCount?chickenCount:page*10}} of {{chickenCount}}
      Chickens
    </p>
    <ngb-pagination style="z-index: -1;" class="d-flex justify-content-center" [collectionSize]="chickenCount" [(page)]="page"
      [rotate]="true" [boundaryLinks]="true" [maxSize]="5" aria-label="Default pagination" (pageChange)="loadChickenPage()"></ngb-pagination>
  </div>
  <button *ngIf="searchKey!==''&&displayChickens.length>0 && displayChickens.length==10" class="btn btn-info" [style.float]="'right'"
    (click)="page = page + 1; searchKit(searchKey)">
    Load Next 10 Results <i class="fas fa-caret-right"></i>
  </button>
  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif">
  </div>
</div>


<div [style.right]="isShowChicken?0+'px':-100+'%'" class="slide" >
  <div class="edit-container">
    <h4>
      {{isNewChicken?'New Chicken':displayChicken?.chickenid}}
      <small *ngIf="!isNewChicken">
        <button class="btn-icon" (click)="enableEditChicken=true">
          <i class="fas fa-pen-square"></i>
        </button>
        <button class="btn-icon" (click)="openconfirmation('delete chicken')">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button class="btn-icon" (click)="generatetiterdataategraph() "  >
          <i class="fa fa-chart-line" aria-hidden="true"></i>
        </button>
      </small>
      <br>
      <small class="sub-head" *ngIf="displayChicken?.editby && displayChicken?.modify">Edited by {{displayChicken?.editby}}
        at {{displayChicken?.modify | date}}</small>
      <small *ngIf="message" class="sub-head" style="color:salmon;">{{message}}</small>
    </h4>
    <app-chicken-display [chicken]="displayChicken" [enableEdit]="enableEditChicken" [isNew]="isNewChicken" (updateChicken)="saveChicken($event)"
      (cancel)="isShowChicken=false;enableEditChicken=false;isNewChicken=false" [linearChart]="linearChart" (chickenimmune)="updatechickenimmune($event)"
      (chickenLatestTiter)="updateChickenLatestTiter($event)"></app-chicken-display>
    <!-- <div [hidden]="!linearChart" >
      <canvas id="canvas" #canvas>{{linearChart}}</canvas>
    </div> -->
  </div>
</div>

<div [style.right]="isShowEgg?0+'px':-100+'%'" class="slide">
  <div class="edit-container">
    <h4>
      Chicken Id-Immunogen: <strong>
        {{displayEgg==undefined?'':displayEgg.chickenid}}-{{displayEgg==undefined?'':displayEgg.immunogen}}
      </strong>
      <small *ngIf="isNewEgg==false || isNewEgg==undefined">
        <button class="btn-icon" (click)="enableEditEgg=true">
          <i class="fas fa-pen-square"></i>
        </button>
        <button class="btn-icon" (click)="openconfirmation('delete egg')">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </small>
      <br>
      <small class="sub-head" *ngIf="displayEgg?.editby && displayEgg?.modify">Edited by {{displayEgg?.editby}} at {{displayEgg?.modify | date}}</small>

      <br>
      <small *ngIf="message" class="sub-head" style="color:salmon;">{{message}}</small>
    </h4>
    <app-egg-display [egg]="displayEgg" [enableEdit]="enableEditEgg" [isNew]="isNewEgg" (updateEgg)="saveEgg($event)" (cancel)="isShowEgg=false;enableEditEgg=false;"></app-egg-display>
  </div>
</div>

<ng-template #confirmation let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Confirmatin</h4>
  </div>
  <div class="modal-body">
    {{confirmationmessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="action();e('closedel');">Yes</button>
    <button class="btn btn default" (click)="e('closedel')">No</button>
  </div>
</ng-template>

<ng-template #warn let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Warning</h4>
  </div>
  <div class="modal-body">
    Are you sure you want to cancel the process?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="c('')">Confirm</button>
    <button class="btn btn default" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<ng-template #importData let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Import Inventory
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="resetOpenChicken(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <label class="btn btn-primary  btn-file">Browse
      <input autocomplete="off" type="file" name="file" (change)="getfile($event)">
    </label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="import(); c('')">Import</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<ng-template #seperateEgg let-c="close" class="eggsep">
  <div class="modal-header">
    <h4 class="modal-title">
      Egg Seperation
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="canceleggseperate(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <p class="seperatenote" style="margin-top:2px;margin-bottom:2px;">Seperate egg number, yolk number, frozen date and location are required.</p>
  <p class="seperatenote" style="margin-top:0px;margin-bottom:2px;">  Seperate egg number should not be more than egg number in stock.</p>
  <p class="seperatenote" style="margin-top:0px;margin-bottom:0px;">  Save yolk number should be not more than seperate egg number.</p>

  <div class="modal-body">
    <ng-container *ngFor="let selectegg of selectWholeEggs; let i = index">
      <p>{{selectegg.chickenid}}-{{selectegg.immunogen}} {{selectegg.eggpart}} collected at {{selectegg.collectiondate|date}}</p>
      <table class="table table-bordered">
        <tr>
          <td style="width:33%">
            <div class="form-group">
              <label class="labelstyle">Number of Egg Seperated<span class="star">*</span></label>
              <input autocomplete="off" *ngIf="editseperateegg" class="form-control inputstyle" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                [(ngModel)]="selectegg.consumeeggnumber" name="consumeeggnumber">
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.consumeeggnumber}}</p>
            </div>

          </td>
          <td style="width:33%">
            <div class="form-group">
              <label class="labelstyle">Number of Yolk Saved<span class="star">*</span></label>
              <input autocomplete="off" *ngIf="editseperateegg" class="form-control inputstyle" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                [(ngModel)]="selectegg.saveyolknumber" name="saveyolknumber">
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.saveyolknumber}}</p>
            </div>

          </td>

          <td>
            <div class="form-group">
              <label class="labelstyle">Frozen Date<span class="star">*</span></label>
              <my-date-picker *ngIf="editseperateegg" style="width:200px;" name="frozendate" [options]="frozendateoptions" [(ngModel)]="frozendate[i]"
                (dateChanged)="changefrozendate(selectegg, $event, i)"></my-date-picker>
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.frozendate | date}}</p>
            </div>
          </td>
        </tr>
        <tr>
          <!-- <td style="width:33%">
            <div class="form-group">
              <label class="labelstyle">Location</label>
              <select *ngIf="editseperateegg" class="form-control" class="form-control selectstyle" #egglocation (change)="checklocation(selectegg, egglocation.value);selectegg.sublocation='';showsublocationoption(selectegg.location)">
                <option [selected]="selectegg.location == undefined">Location</option>
                <option *ngFor="let location of locations" [value]="location.locationname" [selected]="selectegg.location == location.locationname">{{location.locationname}}</option>
              </select>
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.location}}</p>
            </div>
          </td>
          <td style="width:33%">
            <div class="form-group">
              <label class="labelstyle">Sub Location</label>
              <select *ngIf="editseperateegg && selectegg.location && sublocations.length>0" class="form-control selectstyle" #eggsublocation
                (change)="checksublocation(selectegg, eggsublocation.value);">
                <option [selected]="selectegg.sublocation == undefined">Sublocation</option>
                <option *ngFor="let sublocation of sublocations" [value]="sublocation.sublocationname" [selected]="selectegg.sublocation == sublocation.sublocationname">{{sublocation.sublocationname}}</option>
              </select>
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.sublocation}}</p>
            </div>
          </td> -->

          <td style="width:33%">
            <div class="form-group">
              <label class="labelstyle">Location<span class="star">*</span></label>
              <select *ngIf="editseperateegg" class="form-control" class="form-control selectstyle" [(ngModel)]="selectegg.location" (change)="selectegg.sublocation='';showsublocationoption(selectegg.location,i)">
                <option *ngFor="let location of locations" [value]="location.name" [selected]="selectegg.location == location.name">{{location.name}}</option>
              </select>
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.location}}</p>
            </div>
          </td>
          <td style="width:33%">
            <div class="form-group">
              <label class="labelstyle">Sub Location</label>
              <select *ngIf="editseperateegg && selectegg.location && sublocations.length>0" class="form-control selectstyle" [(ngModel)]="selectegg.sublocation">
                <option *ngFor="let sublocation of sublocationlist[i]" [value]="sublocation.name" [selected]="selectegg.sublocation == sublocation.name">{{sublocation.name}}</option>
              </select>
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.sublocation}}</p>
            </div>
          </td>
          <td>
            <div class="form-group" class="sucrose">
              <label class="labelstyle">Add Sucrose</label>
              <br>
              <input style="background-color:red;" class="sucrose" type="checkbox" [checked]="selectegg.addsucrose=='Yes'" (change)="changeaddsucrose(selectegg)">
              <p class="read-only-input" *ngIf="!editseperateegg">{{selectegg.addsucrose}}</p>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width:33%">
            <div class="form-group">
              <label class="labelstyle">Antibody Titer</label>
              <div class="form-inline" *ngIf="editseperateegg">
                  <select class="form-control selectstyle"  [(ngModel)]="selectegg.titer" >
                    <option *ngFor="let titer of yolktiterlist"  [value]="titer.name" [selected]="selectegg.titer == titer.name">{{titer.name}}</option>
                  </select>
                  <p class="read-only-input" *ngIf="!editseperateegg"> {{selectegg.titer}}</p>
                </div>
            </div>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
  <div class="submit-buttons">
    <p style="width: 10px;float:right;"></p>
    <button  class="btn btn-primary" (click)="canceleggseperate(); c('')" style="float:right;">Close</button>
    <p style="width: 10px;float:right;"></p>
    <button *ngIf="editseperateegg" class="btn btn-primary save"  style="float:right;">Save</button>
    <!-- <button *ngIf="editseperateegg" class="btn btn-primary save"  style="float:right;">Save</button> -->
  </div>
  <br>
</ng-template>



<ng-template #checkAmount let-c="close" >
  <div class="modal-header">
    <h4 class="modal-title">
      Check Out Egg(s)
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelcheckout()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header">
    <h6 class="modal-title">
      Chicken ID: {{selectcheckegg.chickenid}}, Immunogen: {{selectcheckegg.immunogen}}
    </h6>
  </div>
  <div class="modal-header">
    <h6  *ngIf="selectcheckegg.eggpart=='Whole Egg'" class="modal-title">
      Egg: {{selectcheckegg.eggpart}}, Collection Date: {{selectcheckegg.collectiondate|date}}, Days after first immune: {{selectcheckegg.daysafterimmune}} day(s)
    </h6> 
    <h6  *ngIf="selectcheckegg.eggpart=='Yolk'" class="modal-title">
      Egg: {{selectcheckegg.eggpart}}, Frozen Date: {{selectcheckegg.frozendate|date}}, Days after first immune: {{selectcheckegg.daysafterimmune}} day(s)
    </h6>
  </div>

  <div class="modal-body">
    <label  class="search-key"><input type="radio" [checked]="checkoutoption=='Discard Eggs'" (change)="checkoutoption='Discard Eggs'">Discard Eggs</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label  class="search-key"><input type="radio" [checked]="checkoutoption=='Purify Antibody'" (change)="checkoutoption='Purify Antibody'">Purify Antibody</label>
    <table class="table table-bordered fix-table" *ngIf="checkoutoption=='Discard Eggs'">
        <tr>
          <td style="width:33%;" >
            <label >Egg Amount</label>
            <div >{{selectcheckegg.amount}}</div >
          </td>
          <td style="width:33%;" >
            <label>Check Out Amount<span class="star">*</span></label>
            <div  >
              <!-- <input class="form-control" #reduce [(ngModel)]="reducevalue" style="text-align: center;" input type="number" min="1" (change)="changeremain(reducevalue)" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"> -->
              <input class="form-control" #reduce [(ngModel)]="reducevalue" style="text-align: center;" input type="number" min="1" (keyup)="changeremain(reducevalue)" (click)="changeremain(reducevalue)" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
            </div>
          </td>
          <td >
              <label >Remain</label>
            <div >
              {{remainamount}}
            </div >
          </td>
        </tr>
  
    </table>  

    <table class="table table-bordered fix-table" *ngIf="checkoutoption=='Purify Antibody'">
        <tr>
          <td colspan='1' >
            <label >Egg Amount</label>
            <div >{{selectcheckegg.amount}}</div >
          </td>
          <td colspan='1' >
            <label>Check Out Amount<span class="star">*</span></label>
            <div  >
              <input class="form-control" #reduce [(ngModel)]="reducevalue" style="text-align: center;" input type="number" min="1" (keyup)="changeremain(reducevalue)" (click)="changeremain(reducevalue)" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
            </div>
          </td>
          <td colspan='1'>
              <label >Remain</label>
            <div >
              {{remainamount}}
            </div >
          </td>
          <td>
              <label >Antibody Name<span class="star">*</span></label>
              <input #antibody  class="form-control input-sm" (keyup)="filterantibodyname(antibody.value);"
              [(ngModel)]="antibodyname"  (paste)="filterantibodyname(antibody.value);">                

          </td>
        </tr>
    </table>  
 

    <div class="recommend" *ngIf="antibodyselectlist!= undefined" >
      <p class="recItem" *ngFor="let antibody of antibodyselectlist" (click)="selectantibody(antibody); ">{{antibody.name}},&nbsp;
        Supplier: {{antibody.supplier}}, &nbsp;Type#: {{antibody.type}}</p>
      <p *ngIf="antibodyselectlist.length == 0 && shownoresult==true" class="no-result" (clickOutside)="shownoresult=false">No result found</p>
    </div>


 
    
     <ngb-alert *ngIf="amountalert" [dismissible]="false">Amount is not enough!</ngb-alert>
     
     <div style="text-align: right;">
      <button type="button" class="btn btn-primary" [disabled]="amountalert||showReconError" (click)="savecheckout();">save</button>
      <button type="button" class="btn btn-outline-dark" (click)="cancelcheckout()">Cancel</button>
     </div>
  </div>
</ng-template>

<ng-template #titergraph let-c="close" >
  <div class="modal-header">
    <h4 class="modal-title">Generate Graph for Immunogen</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelgraph()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body"> 
    <label >Immunogen</label>
    <input  class="form-control selectstyle"  [(ngModel)]="immunogengraph" style="width:100%;">
    <br>

    <div style="text-align: right;">
      <button type="button" class="btn btn-primary"  (click)="generatetiterdataategraphfromimmunogen();">Generate Graph</button>
      <button type="button" class="btn btn-outline-dark" (click)="cancelgraph()">Cancel</button>
     </div>
  </div>

  <div [hidden]="!titerChart" >
    <canvas id="canvas" #canvas (click)='showdetail(canvas.value)'>{{titerChart}}</canvas>
    <div id="chartjs-tooltip"></div>
  </div>
  <br>
</ng-template>

