.tab-container{
    height:80%;
}

.table-container{
    height: 80%;
}

.sub-head{
    font-size: 12px;
    color:grey;
}

.td{
    position:center;
    padding:0px;
}

.red {
    background-color: deeppink; 
}

.black {
    background-color: white;
}

.form-group{
    max-width: 100%;
    margin-bottom:2px;
}

.checkbox{
    text-align: center; 
    vertical-align: middle;
}

.checkall{
    position: fixed; 
    right:5%;
}

.recipeid:hover {
    background-color: lightgrey;
  }

.chickenId:hover{
background-color: lightgrey;
}

.chickenstatus:hover{
    background-color: lightgrey;
}

.slide{
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    /* width: 50%; */
    height: 100%;
    transition: 1s right;
    -moz-transition:1s right;
    -o-transition:1s right;
    -webkit-transition:1s right;
  }
  
  .edit-container{
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: white;
    border-left: 15px solid #28a745;
    padding: 10px 30px;
    box-shadow: -5px 0px 20px 0px #705757;
    overflow-y: auto;
  }
  
  .exit-container{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: none;
    
  }
  

  .table-scroll{
    height: 90%;
    display: block;
    margin: 0px;
    width: 100%;
  }
  
  .table-scroll>tbody{
    display: block;
    width: 100%;
    height: 85%;
    overflow-y: overlay;
  }
  
  .table-scroll>tbody>tr{
    width: 100%;
    table-layout: fixed;
    display: table;
  }
  
  .table-scroll>thead{
    display: inline-table;
    width: 100%;
    table-layout: fixed;
  }  

.search-area{
    margin:0px 10px;
}

.table{
    border:1px, solid, lightblue;
}

.btn-file {
    position: relative;
    overflow: hidden;
  }
  
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.modal-dialog .modal-lg {
    min-width: 1000px;
}

.modal-content{
    width: 1000px;
}

.labelstyle{
    /* height:50px; */
    margin-bottom: 0px;
    font-size:12px;
}

.inputstyle.form-control{
    /* width: 80px; */
    height:38px;
    font-size: 12px;
}

.form-control.selectstyle{
    /* width: 180px; */
    font-size: 12px;
}

.chickenId:hover{
    background-color: lightgrey;
}

.eggpart:hover{
    background-color: lightgrey;
}

.amount:hover{
    background-color: lightgrey;
}

.input-group{
    height: 30px;
  }
  
.input-group-addon{
    padding: 0px;
}

.input-group-addon > button{
    padding: 2px 10px;
}

.star{
    color:red;
}

.seperatenote{
    color:red;
    font-size:11px;
    margin-left:15px;
}

#rightclickbutton{
    z-index: 1;
    width:80px;
    position: absolute;
    font-size:11px;
    left:-800px; 
}

.recommend {
    position: fixed;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px 0px lightgrey;
    max-width: 90%;
    float:right;
    left:300px;
    z-index:2;
  }
  
  .recItem {
    width: 100%;
    background-color: white;
    margin: 0px;
    transition: 1s background-color;
    -moz-transition: 1s background-color;
    -o-transition: 1s background-color;
    -webkit-transition: 1s background-color;
    font-size:11px;
    font-weight:bold;

  }

  .recItem:hover{
    background-color:grey;
  }

  .no-result{
      position:fixed;
      left:500px;
      padding:0px;
      margin:0px;
  }

  #chartjs-tooltip{
    opacity: 0;
    position: absolute;
    background: lightblue;
    color: black;
    padding: 5px 12px 3px 12px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .2s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width:200px;
    height:100px;
    z-index:2;
}

