<!-- <div class="row control-box" [class.blur-container]="isLoading" *ngIf="quote">
  <button class="btn btn-default menu-btn" (click)="enableEdit = true" *ngIf="!isnew&&!displayQuote.complete&&!isExpire">
    <i class="fa fa-pen-square fa-2x"></i>
  </button>
  <button class="btn btn-default menu-btn" *ngIf="!isnew&&!enableEdit" (click)="open(prePDF, 'pdf')">
    <i class="far fa-file-pdf fa-2x"></i>
  </button>
</div>

<div class="displayQuote-form" [class.blur-container]="isLoading" *ngIf="quote">
  <div class="banner" [class.complete-banner]="displayQuote.complete" [class.expire-banner]="isExpire" *ngIf="displayQuote.complete||isExpire">
    {{isExpire?'EXPIRED':'COMPLETED'}}
  </div>
  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <div class="form-group">
    <label>Create on:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The date of when the displayQuote is created">?</button>
    </label>
    <my-date-picker *ngIf="enableEdit" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="cDate" (dateChanged)="onDateChanged('cd',$event)"
      required></my-date-picker>
    <span class="form-control" *ngIf="!enableEdit">{{displayQuote.createDate | date}}</span>
  </div>
  <div class="form-group">
    <label>Expire on:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The date when the qupte is no longer valid to use">?</button>
    </label>
    <my-date-picker *ngIf="enableEdit" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="eDate" (dateChanged)="onDateChanged('ed',$event)"
      required></my-date-picker>
    <span class="form-control" *ngIf="!enableEdit">{{displayQuote.expireDate | date}}</span>
  </div>
  <div class="form-group">
    <label>Quote Number:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Unique Invoice Number">?</button>
    </label>
    <span class="form-control">{{displayQuote.quoteNum}}</span>
  </div>
  <div class="form-group">
    <label>Version:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Number which tracking the quote has been modified through nagociation">?</button>
    </label>
    <span class="form-control" [style.background-color]="enableEdit?'lightgrey':'transparent'">{{displayQuote.revision}}</span>
  </div>
  <div class="form-group client-select" *ngIf="enableEdit">
    <label>End User Company:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The corporation who associates with this order">?</button>
    </label>
    <select class="form-control" *ngIf="enableEdit" #targetcompany (change)="getSaleRepresentative(targetcompany.value)">
      <option *ngFor="let com of companies" [value]="com.dbid" [selected]="selectClient?.dbid == com?.dbid">
        {{com.company}}</option>
    </select>
  </div>
  <div class="form-group client-select" *ngIf="enableEdit">
    <label>End User Name:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The client who associates with this order">?</button>
    </label>
    <select class="form-control" *ngIf="enableEdit" #targetclient (change)="setSaleRep(targetclient.value)">
      <option *ngFor="let srep of representative" [value]="srep.id" [selected]="selectSaleRep?.name == srep.name">
        {{srep?.name}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="!enableEdit">
    <div class="client-info form-control">
      <p>
        <b>{{selectSaleRep?.name}}</b>
      </p>
      <p>{{selectSaleRep?.role}}</p>
      <p>{{selectClient?.company}}</p>
      <p>{{selectClient?.address}}</p>
      <p *ngIf="selectClient?.address2">{{selectClient?.address2}}</p>
      <p>{{selectClient?.city+' '+selectClient?.province}}</p>
      <p>{{selectClient?.postalCode}} {{selectClient?.country}}</p>
      <p>Email: {{selectSaleRep?.email}}</p>
      <p>Phone: {{selectSaleRep?.phone}}</p>
    </div>
  </div>
  <div class="form-group">
    <label>Payment Type:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Payment type for this order">?</button>
    </label>
    <select *ngIf="enableEdit" class="form-control" #ptype (change)="displayQuote.paymentType = ptype.value">
      <option *ngFor="let payType of paymentType" [value]="payType.name" [selected]="displayQuote.paymentType == payType.name">{{payType.name}}</option>
    </select>
    <span class="form-control" *ngIf="!enableEdit">{{displayQuote.paymentType}}</span>
  </div>
  <div class="form-group">
    <label>Order Info:</label>
    <table class="table table-bordered">
      <tr>
        <th *ngIf="enableEdit"></th>
        <th>Catalog Number</th>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Sub Total Cost</th>
        <th>Discount(%)</th>
        <th>Discount Value</th>
        <th>Final Cost</th>
      </tr>
      <ng-container *ngFor="let link of selectLink; let i = index">
        <tr *ngIf="!enableEdit">
          <td>{{link.cat}}</td>
          <td>{{link.name}}<br>{{link.size}}</td>
          <td>{{link.price | currency: 'USD'}}</td>
          <td>{{link.itemQuan}}</td>
          <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
          <td>{{link.itemDiscount}} %</td>
          <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
          <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
        </tr>
        <tr *ngIf="enableEdit">
          <td>
            <button class="btn btn-outline-danger icon-btn" (click)="removeLink(i)">
              <i class="fas fa-times"></i>
            </button>
          </td>
          <td>
            <input #itemcat [value]="link.cat" (focus)="showfilter=i" (blur)="hideFilter()" (keyup)="filterByCat(itemcat.value)" (change)="setQuoteLinkItem(i, filterOrderItem[0])">
            <div class="filterlist" *ngIf="showfilter == i">
              <ul>
                <li *ngFor="let item of filterOrderItem" (click)="setSaleLinkItem(i, item)">{{item.cat}}</li>
              </ul>
            </div>
          </td>
          <td>{{link.name}}</td>
          <td>{{link.price | currency: 'USD'}}</td>
          <td>
            <input #quantity [value]="link.itemQuan" (change)="setQuantity(i,quantity.value)">
          </td>
          <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
          <td>
            <input #discount [value]="link.itemDiscount" (change)="setDiscount(i, discount.value)">
          </td>
          <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
          <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
        </tr>
        <tr>
          <td colspan="9" *ngIf="enableEdit">
            <b>Note:</b>
            <textarea #fn class="form-control" maxlength="255" (keyup)="charcount = fn.value.length" (change)="checkFootnote(fn.value, i)"
              [value]="link.footnote"></textarea>
            <span class="font-count">{{charcount==undefined?0:charcount}}/255</span>
          </td>
          <td colspan="8" *ngIf="!enableEdit">
            <b>Note:</b> {{link.footnote}}
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="enableEdit">
        <td colspan="9" style="text-align: center;">
          <button style="width: 150px;" class="btn btn-info" (click)="addQuoteLink()">
            <i class="far fa-plus-square"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="!enableEdit&&!isnew&&!displayQuote.complete&&!isExpire" style="text-align: center;">
    <button class="btn btn-warning" (click)="open(completeWarn, 'completeWarn')">
      Quote Complete
    </button>
  </div>
  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <div class="form-group submit-buttons" *ngIf="enableEdit" style="text-align: center;">
    <button class="btn btn-primary" (click)="save();">Save</button>
    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </div>
</div> -->
<div class="sale-form" [class.blur-container]="isLoading" *ngIf="companies && companies.length>0">
  <div class="row control-box" *ngIf="quote&&!enableEdit">
    <button class="btn btn-default menu-btn" (click)="enableEdit = true" *ngIf="!isnew&&!displayQuote.complete&&!isExpire">
      <i class="fa fa-pen-square fa-2x"></i>
    </button>
    <button class="btn btn-default menu-btn" *ngIf="!isnew&&!enableEdit" (click)="open(prePDF, 'pdf')">
      <i class="far fa-file-pdf fa-2x"></i>
    </button>
  </div>
  <div class="control-box" style="text-align:right;" *ngIf="quote&&enableEdit">
    <button class="btn btn-default menu-btn" (click)="cancelEdit()"><i class="fas fa-times"></i></button>
  </div>
  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <table class="table table-form">
    <tr>
      <td rowspan="4" style="padding:0px;">
        <div class="bubble">
          <div class="inner-bubble">
            <div class="objversion">Version {{displayQuote.revision}}</div>
            <div class="objnumber">{{displayQuote.quoteNum}}</div>
          </div>
          <div class="banner" [class.complete-banner]="displayQuote.complete" [class.expire-banner]="isExpire" *ngIf="displayQuote.complete||isExpire">
            {{isExpire?'EXPIRED':'COMPLETED'}}
          </div>
        </div>

      </td>
      <td colspan="2">
        <span class="field-title">Created on</span>
        <my-date-picker *ngIf="enableEdit" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="cDate" (dateChanged)="onDateChanged('cd',$event)"
          required></my-date-picker>
        <span class="form-control" *ngIf="!enableEdit">{{displayQuote.createDate | date}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="field-title">Expire on</span>
        <my-date-picker *ngIf="enableEdit" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="eDate" (dateChanged)="onDateChanged('ed',$event)"
          required></my-date-picker>
        <span class="form-control" *ngIf="!enableEdit">{{displayQuote.expireDate | date}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="field-title">Payment Type</span>
        <select *ngIf="enableEdit" class="form-control" #ptype (change)="displayQuote.paymentType = ptype.value">
          <option *ngFor="let payType of paymentType" [value]="payType.name" [selected]="displayQuote.paymentType == payType.name">{{payType.name}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit">{{displayQuote.paymentType}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="1">
        <span class="field-title">Currency</span>
        <select *ngIf="enableEdit" class="form-control" #ptype (change)="displayQuote.currency = ptype.value">
          <option *ngFor="let currency of currencyOptions" [value]="currency" [selected]="displayQuote.currency == currency">{{currency}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit">{{displayQuote.currency}}</span>
      </td>
      <td colspan="1">
        <span class="field-title">Currency Rate</span>
        <input *ngIf="enableEdit" class="form-control" type="number"  
        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        [(ngModel)]="displayQuote.currencyrate">
        <span class="form-control" *ngIf="!enableEdit">{{displayQuote.currencyrate}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span class="field-title">Client Information</span>
        <div class="form-group client-select" *ngIf="enableEdit">
          <span class="field-sub-title">End User Company:
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The corporation who associates with this order">?</button>
          </span>
          <select class="form-control" *ngIf="enableEdit" #targetcompany (change)="getSaleRepresentative(targetcompany.value)">
            <option *ngFor="let com of companies" [value]="com.dbid" [selected]="selectClient?.dbid == com?.dbid">
              {{com.company}}</option>
          </select>
        </div>
        <div class="form-group client-select" *ngIf="enableEdit">
          <span class="field-sub-title">Requisitioner Name:
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The client who associates with this order">?</button>
          </span>
          <select class="form-control" *ngIf="enableEdit" #targetrep (change)="setSaleRep(targetrep.value)">
            <option *ngFor="let srep of representative" [value]="srep.dbid" [selected]="selectSaleRep?.dbid == srep.dbid">
              {{srep?.name}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="!enableEdit" style="margin: 0px;">
          <div class="client-info form-control">
            <p>
              <b>{{selectSaleRep?.name}}</b>
            </p>
            <p>{{selectSaleRep?.role}}</p>
            <p>{{selectClient?.company}}</p>
            <p style="display:inline;">{{selectClient?.address}}</p>
            <p *ngIf="selectClient?.address2">{{selectClient?.address2}}</p>
            <p>{{selectClient?.city+' '+selectClient?.province}}</p>
            <p>{{selectClient?.postalCode}} {{selectClient?.country}}</p>
            <p>Email: {{selectSaleRep?.email}}</p>
            <p>Phone: {{selectSaleRep?.phone}}</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span class="field-title">Order Information</span>
        <table class="table table-bordered table-small">
          <tr>
            <th *ngIf="enableEdit"></th>
            <th>Catalog Number</th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Sub Total Cost</th>
            <th>Discount(%)</th>
            <th>Discount Value</th>
            <th>Final Cost</th>
          </tr>
          <ng-container *ngFor="let link of selectLink; let i = index">
            <tr *ngIf="!enableEdit">
              <td>{{link.cat}}</td>
              <td>{{link.name}}<br>{{link.size}}</td>
              <td>{{link.price | currency: 'USD'}}</td>
              <td>{{link.itemQuan}}</td>
              <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
              <td>{{link.itemDiscount}} %</td>
              <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
              <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
            </tr>
            <tr *ngIf="enableEdit" class="edit-row-form">
              <td>
                <button class="btn btn-outline-danger icon-btn" (click)="removeLink(i)">
                  <i class="fas fa-times"></i>
                </button>
              </td>
              <td>
                <!-- <input type="text" #itemcat [value]="link.cat" (focus)="showfilter=i" (blur)="hideFilter()" (keyup)="filterByCat(itemcat.value)" -->
                <input type="text" #itemcat [value]="link.cat" (focus)="showfilter=i" (keyup)="filterByCat(itemcat.value)">
                <div class="filterlist" *ngIf="showfilter == i">
                  <ul>
                    <li *ngFor="let item of filterOrderItem" (click)="setSaleLinkItem(i, item)">{{item.cat}}</li>
                  </ul>
                </div>
              </td>
              <td>{{link.name}}</td>
              <td>{{link.price | currency: 'USD'}}</td>
              <td>
                <input type="number" #quantity [value]="link.itemQuan" (change)="setQuantity(i,quantity.value)">
              </td>
              <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
              <td>
                <input type="number" #discount [value]="link.itemDiscount" (change)="setDiscount(i, discount.value)">
              </td>
              <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
              <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
            </tr>
            <tr>
              <td colspan="9" *ngIf="enableEdit">
                <b>Note:</b>
                <textarea #fn class="form-control" maxlength="500" (keyup)="charcount = fn.value.length" (change)="checkFootnote(fn.value, i)"
                  [value]="link.footnote"></textarea>
                <span class="font-count">{{charcount==undefined?0:charcount}}/255</span>
              </td>
              <td colspan="8" *ngIf="!enableEdit">
                <!-- <b>Note:</b> {{link.footnote}} -->
                <span style="white-space:pre-wrap;"><b>Note:</b> {{link.footnote}}</span>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="enableEdit">
            <td colspan="9" style="text-align: center;">
              <button style="width: 150px;" class="btn btn-info" (click)="addQuoteLink()">
                <i class="far fa-plus-square"></i>
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="3" *ngIf="enableEdit">
        <span class="field-title">Include shipping, handling and tax?</span>
        <div class="form-control client-select">
          <label style="width:35%;margin-bottom:0px;">
            <input type="radio" [checked]="includefeeandtax==true" (change)="includefeeandtax=true"> Yes
          </label>
          <label style="margin-bottom:0px;">
            <input type="radio" [checked]="includefeeandtax==false" (change)="includefeeandtax=false"> No
          </label>
        </div>
      </td>
    </tr>
    <tr *ngIf="includefeeandtax==true && enableEdit">
      <td colspan="1">
        <span class="field-title">Handling Fee</span>
        <input #fee *ngIf="enableEdit" class="form-control" [(ngModel)]="displayQuote.handlefee">
      </td>
      <td colspan="1">
        <span class="field-title">Shipping Fee</span>
        <input #fee *ngIf="enableEdit" class="form-control" [(ngModel)]="displayQuote.shippingfee">
      </td>
      <td colspan="1">
        <span class="field-title">Tax Rate (%)</span>
        <select *ngIf="enableEdit" class="form-control" [(ngModel)]="displayQuote.taxrate" #taxselect (change)="setTax()">
          <option value="No Tax" [selected]="displayQuote.taxrate == 'No Tax'">No Tax</option>
          <option *ngFor="let rate of taxRate" [value]="rate.name" [selected]="displayQuote.taxrate==rate.name">{{rate.name}}</option>
        </select>
      </td>
    </tr>
    <tr *ngIf="!enableEdit">
      <td colspan="1">
        <span class="field-title">Handling Fee</span>
        <span class="form-control">{{displayQuote?.handlefee}}</span>
      </td>
      <td colspan="1">
        <span class="field-title">Shipping Fee</span>
        <span class="form-control">{{displayQuote?.shippingfee}}</span>
      </td>
      <td colspan="1">
        <span class="field-title">Tax</span>
        <span class="form-control">{{displayQuote?.tax}}</span>
      </td>
    </tr>


    <tr >
      <td colspan="3"  *ngIf="enableEdit">
        <span class="field-title">Note:</span>
        <!-- <input class="form-control" [(ngModel)]="displayQuote.note"> -->
        <!-- <textarea class="form-control tandc" #nt [value]="note" (change)="note = nt.value" rows="2" placeholder="Additional Note (Optional)"></textarea> -->
        <textarea class="form-control" [(ngModel)]="displayQuote.note" rows="2" placeholder="Additional Note (Optional)"></textarea>
        <!-- <textarea class="form-control" [(ngModel)]="displayQuote.note" rows="2" placeholder="Additional Note (Optional)"></textarea> -->
      </td>
    </tr>
    <tr *ngIf="!enableEdit">
      <td colspan="3" >
        <span class="field-title">Note:</span>
        <span class="form-control angular-with-newlines">{{displayQuote?.note}}</span>
      </td>

    </tr>



    <tr>
      <td colspan="3" *ngIf="!enableEdit&&!isnew&&!displayQuote.complete&&!isExpire" style="text-align: center;">
        <button class="btn btn-warning" (click)="open(completeWarn, 'completeWarn')">
          Mark Quote Complete
        </button>
      </td>
    </tr>
  </table>
  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <div class="form-group submit-buttons" *ngIf="enableEdit" style="text-align: center;">
    <button class="btn btn-primary" (click)="save();">Save</button>
    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </div>
</div>

<ng-template #prePDF let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Quote Setting
    </h4>
  </div>
  <div class="modal-body">
    <!-- <div class="form-group">
      <label>Note:
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Otional input which will show on top of the Payment Term and below the Total">?</button>
      </label>
      <textarea class="form-control tandc" #nt [value]="note" (change)="note = nt.value" rows="2" placeholder="Additional Note (Optional)"></textarea>
    </div> -->
    <div class="form-group">
      <label>Terms and Conditions:
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Terms and conditions which will go at the bottom of the quote">?</button>
      </label>
      <div class="form-control"><input class="" type="checkbox" [checked]="isInnoProgram" (click)="isInnoProgram=!isInnoProgram">Is Innovator Program</div>
      <br>
      <textarea class="form-control tandc" #tac [value]="termAndCond" (change)="checkTAC(tac.value)" rows="5">
    </textarea>
    </div>
  </div>
  <div class="modal-footer warning">
    <button class="btn btn-success" (click)="getQuotePDF(); c('');">Generate PDF</button>
    <button class="btn btn-default" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<ng-template #completeWarn let-c="close">
  <div class="modal-body">
    By marking "Complete" on the quote, user agree that this quote is the final version which will be no longer available for
    editing.
  </div>
  <div class="modal-footer warning">
    <button class="btn btn-warning" (click)="setComplete(); c('');">Mark Complete</button>
    <button class="btn btn-default" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<div *ngIf="isLoading" class="loading-screen">
  <img class="loading-img" src="../../../assets/images/loading.gif">
</div>