<div>
  <!-- <mat-toolbar color="primary"> -->
  <nav class="tooBarColor">

    <a routerLink="/template-main/template-list" routerLinkActive="active" class="linkButton">
      <i class="fas fa-backward"></i>
      Template List
    </a>
  </nav>
  <!-- </mat-toolbar> -->
</div>
<mat-divider></mat-divider>

<div class="center">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button>
</div>

<mat-vertical-stepper [linear]="isLinear"  #stepper>
  <!-- Section One -->
  <mat-step [stepControl]="firstFormGroup" >
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Template Info</ng-template>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Assay Number</mat-label>
          <input matInput formControlName="assayNumber" [(ngModel)]="worksheetData.assayNumber" #assayNumber />
          <mat-hint align="end">Assay numbers required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Scientist</mat-label>
          <input matInput formControlName="scientist" [(ngModel)]="worksheetData.scientist" #scientist />
          <mat-hint align="end">scientist name required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Choose a date" formControlName="date" datetime="yyyy-MM-dd" [(ngModel)]="worksheetData.date" #date />
        </mat-form-field>
      </p>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Two -->



  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Coating</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating buffer:</span></strong><span class="specialSpan">&nbsp;&nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<u></u><input formControlName="coatingBuffer" class="lineShapeInputBox"
                                                          [(ngModel)]="worksheetData.coatingBuffer" #coatingBuffer />
          &nbsp; &nbsp; &nbsp;(Somru)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;<span class="black">Lot#: </span><input formControlName="coatingBufferLotNumber"
                                                              class="lineShapeInputBox" [(ngModel)]="worksheetData.coatingBufferLotNumber" #coatingBufferLotNumber />
        </span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 1</span></strong><span class="specialSpan">:&nbsp; &nbsp;
          &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input formControlName="coatingMaterial1" class="lineShapeInputBox" [(ngModel)]="worksheetData.coatingMaterial1" #coatingMaterial1 />&nbsp; &nbsp;
          &nbsp;(R&amp;D
          Systems;
          MAB050</span><span class="specialSpan black">) &nbsp; &nbsp;</span><span class="specialSpan">&nbsp;0.5
          mg/ml&nbsp; &nbsp; &nbsp;&nbsp;Lot
          <span class="black">#:</span><input formControlName="coatingMaterial1LotNumber"
                                              class="lineShapeInputBox" [(ngModel)]="worksheetData.coatingMaterial1LotNumber" #coatingMaterial1LotNumber /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"><input formControlName="ulCoatingMaterial" class="lineShapeInputBox"
                                         [(ngModel)]="worksheetData.ulCoatingMaterial" #ulCoatingMaterial />
          µL coating material +
          <input formControlName="ulCoatingBuffer" class="lineShapeInputBox" [(ngModel)]="worksheetData.ulCoatingBuffer" #ulCoatingBuffer />
          µL coating buffer =
          <input formControlName="ulCoatingMaterial_ulCoatingBuffer"  class="lineShapeInputBox"
                 [(ngModel)]="worksheetData.ulCoatingMaterial_ulCoatingBuffer" #ulCoatingMaterial_ulCoatingBuffer /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <!-- space between input boxes and check boxes -->
          <br />
          <br />
          <br />
          <span class="black">
            <mat-checkbox color="primary"></mat-checkbox> Dispense&nbsp;
          </span>1<span class="black">00 µL per well.</span></span>
      </p>
      <span class="specialParagraph"><span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT
          for&nbsp;
        </span><span class='specialSpan'>60 min<span class="black">, shaking 300rpm
          </span></span></span>


      <!-- space above nav buttons -->
      <br />
      <br />

      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer one buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(0)">Start
          Timer{{timer.displayStartTime(0)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(0)">Stop
          Timer{{timer.displayStopTime(0)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <app-counter (sendTime)="saveTime($event, 0)"></app-counter>
    <mat-divider></mat-divider>

    <p>Timer Duration: {{ getTime(0) }} seconds</p>
  </mat-step>

  <!-- Section Three -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Blocking</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">B<span class="black">LOCKING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;Superblock &nbsp; &nbsp; &nbsp; &nbsp;</span></span></strong><span class="specialSpan">(<span
        class="black">ScyTek ; Cat#AAA999)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span class="black">Lot#:<input
        formControlName="lockingLotNum"  class="lineShapeInputBox" [(ngModel)]="worksheetData.lockingLotNum" #lockingLotNum /></span></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Dispense&nbsp;
        </span><span class="specialSpan">1<span class="black">00 µL per well. &nbsp;</span></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at overnight
          at 4°C.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(1)">Start
          Timer{{timer.displayStartTime(1)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(1)">Stop
          Timer{{timer.displayStopTime(1)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <app-counter (sendTime)="saveTime($event, 1)"></app-counter>
    <mat-divider></mat-divider>
    <p>Timer Duration: {{ getTime(1) }} seconds</p>
  </mat-step>

  <!-- Section Four -->
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;1X PBST&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;&nbsp;</span></strong><span class="specialSpan black">(ScyTek; Cat#PBT999)&nbsp; &nbsp; &nbsp;
          &nbsp;
          &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Lot#:
          <input formControlName="washingLotNum"  class="lineShapeInputBox" [(ngModel)]="worksheetData.washingLotNUm" #washingLotNum/></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Use plate washer
          program PBST, 3 x 300 ul
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Five -->
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Capture Antibody Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">CAPTURE ANTIBODY ADDITION</span></strong>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan black">Diluent: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;</span></strong><span
        class="specialSpan black">Superblock&nbsp;</span><strong><span class="specialSpan black">&nbsp; &nbsp;
            &nbsp;
            &nbsp;&nbsp;</span></strong><span class="specialSpan black">(ScyTek; Cat#AAA999) &nbsp; &nbsp;&nbsp;
          &nbsp;
          &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span class="specialSpan black">Lot#<input
        formControlName="superblockLotNum"  class="lineShapeInputBox" [(ngModel)]="worksheetData.superblockLotNum" #superblockLotNum/></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Clone ID <span class="black">#:</span></span></strong><span
        class="specialSpan black">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;See Attached Plate map for Clone ID#s</span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"><input formControlName="ulClone1" class="lineShapeInputBox" [(ngModel)]="worksheetData.ulCLone1" #ulCLone1 />
          µL Clone +
          <input formControlName="ulClone2" class="lineShapeInputBox" [(ngModel)]="worksheetData.ulCLone2" #ulClone2 />
          µL Diluent =
          <input formControlName="ulDiluent"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulDiluent" #ulDiluent/></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer three buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(2)">Start
          Timer{{timer.displayStartTime(2)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(2)">Stop
          Timer{{timer.displayStopTime(2)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <app-counter (sendTime)="saveTime($event, 2)"></app-counter>
    <mat-divider></mat-divider>
    <p>Timer Duration: {{ getTime(2) }} seconds</p>
  </mat-step>

  <!-- Section Six  -->
  <mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup">
      <ng-template matStepLabel>Test Sample Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">TEST SAMPLE ADDITION (1 µg/mL)</span></strong>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Diluent: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;Superblock &nbsp; &nbsp; &nbsp;
            &nbsp;</span></strong><span class="specialSpan">(ScyTek; Cat#AAA999)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="black">Lot#:<input formControlName="diluentLotNumber"
                                                                                          class="lineShapeInputBox" [(ngModel)]="worksheetData.diluentLotNumber" #diluentLotNumber /></span></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Innovator</span></strong><span class="specialSpan">: &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;<strong><u>Avastin</u></strong>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;(Roche)&nbsp;&nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; Concentration:
          <u>25.0 mg/mL</u><span class="black">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lot#:<input formControlName="innovatorLotNumber"
                                                                                             class="lineShapeInputBox" [(ngModel)]="worksheetData.innovatorLotNumber" #innovatorLotNumber/></span></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"><input formControlName="chemicalInput1"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput1" #chemicalInput1/>
          µL Avastin +
          <input formControlName="chemicalInput2"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput2" #chemicalInput2 />
          µL superblock = &nbsp; &nbsp;<input formControlName="chemicalInput3"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput3" #chemicalInput3/></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"><input formControlName="chemicalInput4"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput4" #chemicalInput4 />
          µL &nbsp;Avastin @
          <input formControlName="chemicalInput5"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput5" #chemicalInput5 />+
          <input formControlName="chemicalInput6"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput6" #chemicalInput6 />
          µL superblock =
          <input formControlName="chemicalInput7"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput7" #chemicalInput7/></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Biosimilar</span></strong><span class="specialSpan">: &nbsp; &nbsp; &nbsp;
          &nbsp;<strong><u>Bevatas</u></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(INTAS)&nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; Concentration:
          <u>25.0 mg/mL</u><span class="black">&nbsp; &nbsp; &nbsp; &nbsp;Lot#:<input formControlName="concentrationLotNumber"
                                                                                      class="lineShapeInputBox" [(ngModel)]="worksheetData.concentrationLotNumber" #concentrationLotNumber /></span></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"><input formControlName="ulBiosimilar"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulBiosimilar" #ulBiosimilar/>
          µL biosimilar +
          <input formControlName="ulBiosimilar2"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulBiosimilar2" #ulBiosimilar2 />
          µL superblock = &nbsp; &nbsp;
          <input formControlName="ulSuperblock"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulSuperblock" #ulSuperblock/></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"><input formControlName="ulBiosimilar3"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulBiosimilar3" #ulBiosimilar3 />
          µL &nbsp;biosimilar @
          <input formControlName="ulBioSimilar4"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulBioSimilar4" #ulBioSimilar4/>+
          <input formControlName="ulBioSimilar5"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulBioSimilar5" #ulBioSimilar5 />
          µL superblock =
          <input formControlName="ulBioSimilar6"  class="lineShapeInputBox" [(ngModel)]="worksheetData.ulBioSimilar6" #ulBioSimilar6/></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Standard</span></strong><span class="specialSpan">: &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;<strong><u>IgG1</u></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;(NIST)&nbsp;&nbsp;&nbsp; &nbsp; Concentration: <u>10 mg/mL</u><span class="black">&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp;Lot#:<input formControlName="chemicalInput8"
                                           class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput8" #chemicalInput8/></span></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"><input formControlName="chemicalInput9"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput9" #chemicalInput9 />
          µL standard +
          <input formControlName="chemicalInput10"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput10" #chemicalInput10 />
          µL superblock = &nbsp; &nbsp;<input formControlName="chemicalInput11"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput11" #chemicalInput11/></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"><input formControlName="chemicalInput12"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput12" #chemicalInput12/>
          µL &nbsp;standard @
          <input formControlName="chemicalInput13"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput13" #chemicalInput13/>+
          <input formControlName="chemicalInput14"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput14" #chemicalInput14 />
          µL superblock =
          <input formControlName="chemicalInput15"  class="lineShapeInputBox" [(ngModel)]="worksheetData.chemicalInput15" #chemicalInput15 /></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer four buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(3)">Start
          Timer{{timer.displayStartTime(3)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(3)">Stop
          Timer{{timer.displayStopTime(3)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <app-counter (sendTime)="saveTime($event, 3)"></app-counter>
    <mat-divider></mat-divider>
    <p>Timer Duration: {{ getTime(3) }} seconds</p>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <span class="specialSpan black">You are now done.</span>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="formData(assayNumber.value, scientist.value, date.value, coatingBuffer.value ,coatingBufferLotNumber.value ,coatingMaterial1.value ,coatingMaterial1LotNumber.value ,ulCoatingMaterial.value ,ulCoatingBuffer.value ,ulCoatingMaterial_ulCoatingBuffer.value, lockingLotNum.value,washingLotNum.value,superblockLotNum.value,ulCLone1.value,ulClone2.value,ulDiluent.value,diluentLotNumber.value, innovatorLotNumber.value,chemicalInput1.value,chemicalInput2.value,chemicalInput3.value,chemicalInput4.value,chemicalInput5.value,chemicalInput6.value,chemicalInput7.value,concentrationLotNumber.value,ulBiosimilar.value,ulBiosimilar2.value,ulSuperblock.value,ulBiosimilar3.value,ulBioSimilar4.value ,ulBioSimilar5.value,ulBioSimilar6.value,chemicalInput8.value,chemicalInput9.value,chemicalInput10.value, chemicalInput11.value,chemicalInput12.value,chemicalInput13.value,chemicalInput14.value,chemicalInput15.value)">Submit</button>
    </div>

  </mat-step>

</mat-vertical-stepper>
