<table class="table table-bordered fix-table">
  <ng-container *ngFor="let si of selectItems; let i = index">
    <tr class="item-head">
      <td colspan="3">
        <span class="field-title" >Reconstitute</span><br>
        <button *ngIf="useInUse[i]==false" class="btn btn-outline-primary icon-btn" (click)="newReconstitute(i)" title="Reconstitute"><i class="fas fa-flask"></i></button>
      </td>
      <td colspan="3">
        <span class="field-title">Item Name</span><br> {{si.itemName}}
      </td>
      <td colspan="3">
        <span class="field-title">Catalog</span><br> {{si.itemCat}}
      </td>
      <td colspan="3">
        <span class="field-title">Lot Number</span><br> {{si.itemLot}}
      </td>
    </tr>
    <tr class="item-detail">
      <td colspan="3" class="btn-cell">
          <!-- <label class="inventory"><input type="radio" [checked]="useInUse[i]==false" (change)="setunopen(i)"> Un-open Inventory</label> -->
          <label class="inventory"><input type="radio" [checked]="useInUse[i]==false" (change)="setunopen(i)"> Unopened Inventory</label>
          <label class="inventory"><input type="radio" [checked]="useInUse[i]==true" (change)="setinuse(i)"> In-Use Inventory</label>
        
          <!-- <ul class="toggle-list">
          <li class="btn btn-default" [class.active]="!useInUse[i]" (click)="resetQty(i)">Un-open Inventory</li>
          <li class="btn btn-default" [class.active]="useInUse[i]" (click)="resetQty(i)">In-Use Inventory</li>
        </ul> -->
      </td>
      <td *ngIf="useInUse[i]==undefined" colspan="9" style="text-align: left;">
        <span style="font-size:11px;color:red;font-weight:bold">&#60;=== &nbsp;&nbsp; To check out or reconstitution, please select an inventory first!</span>
      </td>
      <td colspan="3" *ngIf="useInUse[i]!=undefined">
          <span class="field-title" >Item Amt/Qty</span>
        <div *ngIf="useInUse[i]==false">
            {{si.itemQuan==''?'0':si.itemQuan}}
        </div >
        <div  *ngIf="useInUse[i]==true">
            {{si.inuseQuan==''?'0':si.inuseQuan}}
        </div>
      </td>
      <td colspan="3" *ngIf="useInUse[i]!=undefined">
        <span class="field-title" >Unit Size</span><br> {{si.usize}} {{si.unit}}
      </td>
      <td colspan="3" *ngIf="useInUse[i]!=undefined" class="checkamount-td">
        <span class="field-title">Check out amount</span><br>
        <input *ngIf="useInUse[i]" #reduceunopen [(ngModel)]="si.inusecheckoutamount" class="checkout-inuseamount"  
        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode > 48 && event.charCode <= 57"
        (keyup)="validateCheckoutAmount(reduceunopen.value, i)">
        <input *ngIf="!useInUse[i]" #reduceinuse [(ngModel)]="si.nonopencheckoutamount " class="checkout-unopenamount" 
        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode > 48 && event.charCode <= 57"
        (keyup)="validateCheckoutAmount(reduceinuse.value, i)">
        <!-- <div class="input-group" >
          <span class="input-group-addon">
            <button class="btn btn-default" (click)="increase(i)">+</button>
          </span>
          <input #reduce [value]="useInUse[i]?si.inusereduce:si.reduceValue" class="checkout-amount"  (change)="validateNumber(reduce.value, i)">
          <span class="input-group-addon">
            <button class="btn btn-default" (click)="decrease(i)">-</button>
          </span>
        </div> -->
      </td>
      <!-- <td colspan="1" *ngIf="useInUse[i]!=undefined">
          <span class="field-title" >Remain</span>
        <div *ngIf="useInUse[i]==false">
            {{si.remain}}
        </div >
        <div  *ngIf="useInUse[i]==true">
            {{si.inuseremain}}
        </div>
      </td> -->
    </tr>
    <tr>
      <td colspan="12">
        <ngb-alert class="alertintable mb-0 pb-0" *ngIf="si.reserved=='Yes' && useInUse[i]!=undefined" [dismissible]="false">
            This Item Lot is Reserved!
        </ngb-alert>
      </td>
    </tr>
  </ng-container>
 </table>
 <div *ngIf="reconstitute !== undefined && reconstitute.length > 0">
  <h6>Reconstitution</h6>
  <!-- <span style="color:lightgrey; font-style: italic;">Please change catalog number and name of reconstitute item to add to
    inventory
  </span> -->
  <table class="table table-bordered fix-table">
    <ng-container *ngFor="let recon of reconstitute; let j = index">
      <tr>
        <td colspan="12" style="background-color:#77cedb; height:10px;"></td>
      </tr>
      <!-- <tr>
        <td colspan="6">
          <span class="field-title">Catalog</span>
          <input class="form-control" #recat [value]="recon?.m?.cat" (change)="recon.m.cat = recat.value; validateInput(j)">
        </td>
        <td colspan="6">
          <span class="field-title">Name</span>
          <input class="form-control" #rename [value]="recon?.m?.name" (change)="recon.m.name = rename.value; validateInput(j)">
        </td>
      </tr> -->
      <tr>
        <td colspan="6">
          <span class="field-title">Lot Number</span>
          <input class="form-control" #relot [value]="recon?.d?.lotnumber" (change)="recon.d.lotnumber = relot.value; validateInput(j)">
        </td>
        <td colspan="6">
          <span class="field-title">Expiry Date</span>
          <my-date-picker name="mydate" [options]="dateoption" [(ngModel)]="recon.e" (dateChanged)="assignDate(j,$event)"></my-date-picker>
          <!-- <input class="form-control" #reexpire type="number" [value]="recon.expiredate |date" (change)="recon.expredate = reexpire.value; validateInput(j)"> -->
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <span class="field-title">Amount/Quantity</span>
          <input class="form-control" #reamount [value]="recon?.d?.amount" (change)="recon.d.amount = reamount.value; validateInput(j)">
        </td>
        <td colspan="3">
          <span class="field-title">In Use</span>
          <input class="form-control" #reinuse [value]="recon?.d?.inuse" (change)="recon.d.inuse = reinuse.value; validateInput(j)">
        </td>
        <td colspan="3">
          <span class="field-title">Unit Size</span>
          <input class="form-control" #reunitsize [value]="recon?.d?.unitsize" (change)="recon.d.unitsize = reunitsize.value; validateInput(j)">
        </td>
        <td colspan="3">
          <span class="field-title">Unit</span>
          <select class="form-control" #reunit (change)="recon.d.unit = reunit.value; validateInput(j)" [value]="recon.d.unit">
            <option *ngFor="let u of unit" [value]="u.name" [selected]="recon.m.unit == u.name">{{u.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <span class="field-title">Concentration</span>
          <input class="form-control" #reconc [value]="recon?.d?.concentration" (change)="recon.d.concentration = reconc.value; validateInput(j)">
        </td>
        <td colspan="6">
          <span class="field-title">Concentration Unit</span>
          <select class="form-control" #reconcunit (change)="recon.d.concentrationunit = reconcunit.value; validateInput(j)" [value]="recon.d.concentrationunit">
            <option *ngFor="let u of conunit" [value]="u.concentrationunit" [selected]="recon.d.concentrationunit == u.concentrationunit">{{u.concentrationunit}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td [attr.colspan]="sublocations!==undefined && sublocations.length > 0?'5':'11'">
          <span class="field-title">Location</span>
          <select class="form-control" #location (change)="recon.d.location = location.value; showsublocationoption(location.value);">
            <option *ngFor="let l of locations" [value]="l.locationname" [selected]="recon.d.location == l.locationname">{{l.locationname}}</option>
          </select>
        </td>
        <td *ngIf="sublocations!==undefined && sublocations.length > 0" colspan="6">
          <span class="field-title">Sub-location</span>
          <select class="form-control" #sublocation (change)="recon.d.sublocation = sublocation.value;">
            <option *ngFor="let s of sublocations" [value]="s.sublocationname" [selected]="recon.d.sublocation == s.sublocationname">{{s.sublocationname}}</option>
          </select>
        </td>
        <td style="vertical-align: middle;">
          <button class="btn btn-outline-warning recon-btn" (click)="removeRecon(j)"><i class="fas fa-times"></i></button>
        </td>
      </tr>
    </ng-container>
  </table>
 </div>
 
 <ngb-alert *ngIf="showReconError" [dismissible]="false">
   <span style="font-size:12px;color:red;font-style: italic;">
      Please change <strong>Lot number</strong><br>
      And <strong>Expiry Date, Amount, Unit Size, Unit, Concentration, Concentration Unit and Location</strong>  information are all required
   </span>
  </ngb-alert>
 <ngb-alert *ngIf="checkoutAmountValid==false" [dismissible]="false">Amount is not enough!</ngb-alert>
 
 <div style="text-align: right;">
  <button type="button" class="btn btn-primary" [disabled]="showReconError|| checkoutAmountValid!=true" (click)="updateChange();">{{reconstitute?.length>0?'Update
    & Save':'Update'}}</button>
  <button type="button" class="btn btn-outline-dark" (click)="cancelChange()">Cancel</button>
 </div>
 
 
 