.form-control{
    font-size: 12px;
}

.field-title{
    font-size: 10px;
    font-style:italic;
    color:grey;
    vertical-align: top;
}
  
/* .input-group{
    height: 30px;
  } */
  .checkamount-td{
    /* text-align: center;  */
    vertical-align: middle;
  }

 .checkout-unopenamount{
    text-align: center;
    width:90%;
    border-radius: 5px;
    color:black;
  } 

  .checkout-inuseamount{
    text-align: center;
    width:90%;
    border-radius: 5px;
    color:black;
  } 

  .alertintable{
      margin:0px;
      padding-top:0px;
      padding-bottom:0px;
  }

  .alert{
    margin:0px;
  }

  /* div.alert.alert-warning{
    margin:0px;
  } */
  
/* .input-group-addon{
    padding: 0px;
}

.input-group-addon > button{
    padding: 2px 10px;
} */
  
.fix-table{
    table-layout: fixed;
}
  
.fix-table>tr>td{
    padding: 2px;
}

.field-label{
    font-size: 12px;
}

.btn-cell{
    padding: 0px;
    vertical-align: middle;
}

.toggle-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.toggle-list>li{
    background-color: white;
    width: 100%;
    border-radius: 0px;
    cursor: pointer;
    border: 0.01em solid #77cedb;
    font-size: 12px;
}

.toggle-list>li.active{
    background-color: #77cedb;
}

.item-head{
    background-color: #ededed;
}

.item-head>td{
    padding: 5px;
    line-height: 1;
    vertical-align: middle;
}

.item-detail{
    background-color: white;
}

.inventory{
    font-size:11px;
    margin-left:3px;
    color:grey;
}
