.message{
  color:red;
}

.method-type {
  margin: 0px 10px;
}

.recommend {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 5px 0px lightgrey;
  max-width: 90%;
}

.recItem {
  width: 100%;
  background-color: white;
  margin: 0px;
  transition: 1s background-color;
  -moz-transition: 1s background-color;
  -o-transition: 1s background-color;
  -webkit-transition: 1s background-color;
}

.recItem:hover {
  background-color: lightgrey;
}

.new-ingre {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
}

.submit-buttons {
  text-align: right;
}

span{
  padding-right: 3px;
}

td{
  padding: 0px;
}

.form-group{
  max-width: 100%;
}

.vialid{
  border:none;
  color:black;
  font-weight: bold;
  background-color:white;
  padding:0px;
}

option{
  height:10%;
}


.recipeid:hover{
  background-color:lightgrey;
}

.componentid{
  font-size:10.5px;
}

.unit{
  padding:0px;
  font-size:15px;
  line-height: 20px;
}

.catforcomponent{
  padding:0px; 
  text-align: center; 
  color: red;
  font-size: 11px;
}

.small-form-group{
  display: inline-block;
  height: 50px;
}

.small-form-control{
  display: inline-block;
    border: 0.01em solid lightgrey;
    padding: 5px;
    height: 100%;
}

.small-form-control>select{
  display: block;
  border: 0.01em solid #ddd;
  width:100%;
}

.small-form-group>.btn{
  margin: 0px;
  height: 100%;
  vertical-align: top;
}

.star{
  color:red;
}

p{
  border:white;
}

.read-only-input{
  margin-bottom:0px;
}

.read-only-input.recipeid{
  margin-bottom:0px;
}



.read-only-input.id{
  margin-bottom:0px;
  /* font-size:11px; */
}

.read-only-input.smaller{
  margin-bottom:0px;
  /* font-size:11px; */
}

.smalltable{
  width:100%;
  border-bottom:1px;

}

/* .form-group{
  margin:10px;
} */

input.form-control.up{
  padding:8px, 0px,8px,0px;
  font-size:12px;
  width:100%;
  height:38px;

}

select.form-control.up{
  padding:0px, 0px,0px,0px;
  width:100%;
  font-size:12px;
}

select.form-control.input-sm{
  padding:0px, 0px,0px,0px;
  width:100%;
  font-size:11px;
  height:32px;
}

/* .table{
  border: 1px solid lightgrey;
} */

label{
  font-weight:bold;
}

p.read-only-input{
  margin-bottom:0px;
}

label{
  margin-bottom:0px;
}






