<div *ngIf="kit" >
  <div *ngIf="enableEdit" style="min-width:1200px;">
    <form style="margin-left:2px;">
      <div class="form-row" *ngIf="enableEdit">
        <div class="form-group col-md-12" style="padding-bottom:0px;">
          <label>Name
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Name of the kit">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control up" type="text" [(ngModel)]="displayKit.name" name="name"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Cat#
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Catalog number of the kit">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control up" type="text" [(ngModel)]="displayKit.cat" name="kitcat"
          />
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Status
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Status of the kit">?</button>
          </label>
          <select *ngIf="enableEdit" class="form-control up" #kstatus (change)="checkkitstatus(kstatus.value);">
            <option [selected]="displayKit.status == undefined || displayKit.status == ''">Please Select</option>
            <option *ngFor="let status of kitStatus;" [value]="status.name" [selected]="displayKit.status == status.name">{{status.name}}</option>
          </select>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Pack Size
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Size of the kit">?</button>
          </label>
          <div *ngIf="enableEdit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="method-type" *ngFor="let size of kitsize; index as i">
              <input autocomplete="off" type="radio" *ngIf="size != 'Custom'" [value]="size" (click)="displayKit.size = size" [checked]="displayKit.size == size">
              <span > {{size}}</span>
              <span *ngIf="size == '1 x 96 wells'" class="packsize-note">(Special Client Only)</span>
              <!-- <input autocomplete="off" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                #cuskitsize *ngIf="size == 'Custom'" style="padding:0px;margin:0px;width:50px;" (keyup)="displayKit.size = cuskitsize .value+' x 96 wells'"> -->
              <!-- <span *ngIf="size == 'Custom'">x 96 wells</span> -->
            </label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Type
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The method of the kit">?</button>
          </label>
          <select *ngIf="enableEdit" class="form-control up" #kitmethod (change)="checkkitmethod(kitmethod.value);">
            <option [selected]="displayKit.method == undefined || displayKit.method == ''">Please Select Kit Type</option>
            <option *ngFor="let method of type;" [value]="method.name" [selected]="displayKit.method == method.name">{{method.name}}</option>
          </select>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Molecule (Innovator)
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Molecular of the kit">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control up" type="text" [(ngModel)]="displayKit.molecular" name="molecular"
          />
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Biosimilar
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Biosimilar of the kit">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control up" type="text" [(ngModel)]="displayKit.biosimilar" name="biosimilar"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group   col-md-4" style="padding-bottom:0px;">
          <label>Client Specific
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The client of the kit">?</button>
          </label>
          <select *ngIf="enableEdit" class="form-control up" #kitclient (change)="checkkitclient(kitclient.value);">
            <option [selected]="displayKit.clientspecific == undefined || displayKit.clientspecific == ''">Please Select
              Kit Client
            </option>
            <option *ngFor="let client of clients;" [value]="client.name" [selected]="displayKit.clientspecific == client.name">{{client.name}}</option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.clientspecific}}</p>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Price (USD)<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The price of the kit">?</button>
          </label>
          <input *ngIf="enableEdit" class="form-control up" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayKit.price" name="kitprice">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12" style="padding-bottom:0px;">
          <label>Description
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Description of the kit">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control up" type="text" [(ngModel)]="displayKit.description" name="description"
          />
        </div>
      </div>
    </form>

    <div class="form-group" *ngIf="!catunique">
      <ngb-alert *ngIf="!catunique" (close)="catunique = true">
        <strong>This catalog number already existed!</strong>
      </ngb-alert>
    </div>
  
    <div class="form-group" *ngIf="!nameunique">
      <ngb-alert *ngIf="!nameunique" (close)="nameunique = true">
        <strong>This kit name already existed!</strong>
      </ngb-alert>
    </div>

    <br>
    <div class="form-group" style="width:100%;">
      <label>Component(s)
        <span class="star">*</span>
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="List of Components">?</button>
      </label>
  
      <div *ngFor="let link of updatedkitcomponents; let i = index" style="width:100%;">
        <table class="table table-bordered" style="margin-bottom:5px;" [style.background-color]="i%2==0?'#F0FFFF':'lightgrey'">
          <td rowspan='3' style="width:10%;">
            <label>
              Component Id
            </label>
            <p class="read-only-input smaller" style="vertical-align: middle;text-align:center;">{{link.componentid}}</p>
          </td>
          <td style="width:80%;">
            <table style="width:100%;">
              <tr>
                <td style="width:20%;">
                  <label>
                    Component 
                  </label>
                  <input autocomplete="off" *ngIf="enableEdit" type="text" class="form-control input-sm" [value]="link.component" #component
                    (keyup)="link.component = component.value" name="component">
                </td>
                <td style="width:25%;">
                  <label>
                    Reagent
                  </label>
                  <div *ngIf="enableEdit">
                    <input autocomplete="off" #newItemKey class="form-control input-sm" *ngIf="enableEdit &&  !link.recipename || link.recipename=='N/A'"
                      (keyup)="itemFilter(link,newItemKey.value)" [value]="link.reagent" (focus)="onfocusIndex = i">
                    <input autocomplete="off" #newItemKey class="form-control input-sm" *ngIf=" enableEdit && link.recipename && link.recipename!='N/A'"
                      disabled="true" [value]="link.reagent">
                    <div class="recommend" *ngIf="itemfilterList!== undefined && onfocusIndex == i">
                      <p class="recItem" *ngFor="let item of itemfilterList" (click)="selectItem(item, i); onfocusIndex = -1">{{item.name}},
                        {{item.supplier}}, Cat#{{item.cat}}, Supplier Cat#{{item.suppliercat}}</p>
                      <p *ngIf="itemfilterList.length == 0" class="no-result" style="width:50%;">No result found</p>
                    </div>
                  </div>
                </td>
                <td style="width:12%;">
                  <label>
                    Part Number
                  </label>
                  <input autocomplete="off" *ngIf="enableEdit && link.iskit=='Yes' && (!link.recipename || link.recipename=='N/A')" type="text"
                    class="form-control input-sm" [value]="link.partnumber" #partnum (keyup)="link.partnumber=partnum.value"
                    name="partnumber">
                  <input autocomplete="off" *ngIf="enableEdit && (link.iskit!='Yes' && link.reagent || link.recipename && link.recipename!='N/A')"
                    type="text" class="form-control input-sm" name="partnumber" disabled="true">
                </td>
  
                <td style="width:25%;">
                  <label>
                    Recipe
                  </label>
                  <div *ngIf="enableEdit">
                    <input autocomplete="off" #newRecipeKey class="form-control input-sm" *ngIf=" !link.reagent || link.reagent=='N/A'" (keyup)="recipeFilter(link, newRecipeKey.value)"
                      [value]="link.recipeid!=undefined && link.recipeid!=''?'Name: '+link.recipename+', Id: .'+  link.recipeid:''" (focus)="onfocusIndex = i">
                    <input autocomplete="off" #newRecipeKey class="form-control input-sm" *ngIf=" link.reagent && link.reagent!='N/A'" disabled="true"
                      [value]="link.recipename">
                    <!-- <p class="read-only-input" *ngIf=" enableEdit && link.reagent && link.reagent!='N/A'">{{link.recipename}}</p>   -->
                    <div class="recommend" *ngIf="recipeFilterList!== undefined && onfocusIndex == i">
                      <p class="recItem" *ngFor="let recipe of recipeFilterList" (click)="selectRecipe(recipe, i); onfocusIndex = -1">
                      Name: {{recipe.name}}, Id: {{recipe.recipeid}}</p>
                      <!-- <p *ngIf="recipeFilterList.length == 0" class="no-result">No result found</p> -->
                      <p *ngIf="finditem == false" class="no-result">No result found</p>
                    </div>
                  </div>
                </td>
                <td style="width:7%;">
                  <label>
                    Amount 
                  </label>
                  <input autocomplete="off" #componentamount *ngIf="enableEdit" type="text" class="form-control input-sm" [value]="link.amount"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
                    (keyup)="link.amount = componentamount.value" name="componentamount">
                </td>
                <td>
                  <label>
                    Unit 
                  </label>
                  <select *ngIf="enableEdit" #unitval (change)="link.unit = unitval.value" class="form-control input-sm ">
                    <option *ngFor="let u of unitList" [value]="u.name" [selected]="link?.unit==u.name">{{u.name}}</option>
                  </select>
                </td>
              </tr>
            </table>
            <table style="width:100%;">
              <tr>
                <td style="width:100%;">
                  <label>
                    Packing
                  </label>
                  <input autocomplete="off" #packaging *ngIf="enableEdit" type="text" class="form-control input-sm" [value]="link.packaging"
                    (keyup)="link.packaging = packaging.value" name="packaging">
                </td>
              </tr>
            </table>
          </td>
          <td rowspan='3' style="width:10%;vertical-align: middle;text-align:center;">
            <button class="btn icon-btn" (click)="removekitcomponent(i)">
              <i class="fas fa-times"></i>
            </button>
          </td>
  
        </table>
      </div>
  
      <table *ngIf="enableEdit" style="width:100%;">
        <tr>
          <button class="btn btn-outline-primary new-ingre" (click)="addnewcomponent()" style="width:100%;"><i class="fas fa-plus"></i>
            New Component</button>
        </tr>
      </table>
  
  
    </div>
    <div style="width:100%;" class="catforcomponent">
      <ngb-alert *ngIf="!inputcat" (close)="inputcat = true">
        <strong>Input a kit catalog number first!</strong>
      </ngb-alert>
    </div>
    <div style="width:100%;" class="catforcomponent">
      <ngb-alert *ngIf="!finditem" (close)="finditem = true">
        <strong>If you did not find the reagent, please go to item inventory to add this new item!</strong>
      </ngb-alert>
    </div>
    <div class="form-group">
      <label>Comment(s)</label>
      <textarea *ngIf="enableEdit" class="form-control" style="font-size:12px;" [(ngModel)]="displayKit.comment" name="comments"></textarea>
    </div>


  </div>

  <div *ngIf="!enableEdit" style="min-width:800px;">

    <form style="margin-left:2px;width:100%;">
      <div class="form-row">
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Cat#
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Catalog number of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.cat}}</p>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Status
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Status of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.status}}</p>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Pack Size
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Size of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.size}}</p>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Type
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The method of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.method}}</p>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Molecule (Innovator)
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Molecular of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.molecular}}</p>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Biosimilar
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Biosimilar of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.biosimilar}}</p>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group   col-md-4" style="padding-bottom:0px;">
          <label>Client Specific
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The client of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.clientspecific}}</p>
        </div>
        <div class="form-group  col-md-4" style="padding-bottom:0px;">
          <label>Kit Price (USD)<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The price of the kit">?</button>
          </label>
          <p *ngIf="!enableEdit" class="read-only-input">{{displayKit.price}}</p>
        </div>
        <div class="col">
  
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12" style="padding-bottom:0px;">
          <label>Description
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Description of the kit">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayKit.description}}</p>
        </div>
      </div>
    </form>
  
    <br>
    <div class="form-group" style="width:100%;">
      <label>Component(s)
        <span class="star">*</span>
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="List of Components">?</button>
      </label>
  
      <div *ngFor="let link of updatedkitcomponents; let i = index" style="width:100%;">
        <table class="table table-bordered" style="margin-bottom:5px;" [style.background-color]="i%2==0?'#F0FFFF':'lightgrey'">
          <td rowspan='3' style="width:10%;">
            <label>
              Component Id
            </label>
            <p class="read-only-input smaller" style="vertical-align: middle;text-align:center;">{{link.componentid}}</p>
          </td>
          <td style="width:80%;">
            <table style="width:100%;">
              <tr>
                <td style="width:20%;">
                  <label>
                    Component 
                  </label>
                  <p class="read-only-input id" *ngIf=" !isNew && !enableEdit && link.dbid !=-1">{{link.component}}</p>
                </td>
                <td style="width:25%;">
                  <label>
                    Reagent
                  </label>
                  <p class="read-only-input smaller" *ngIf="!enableEdit">{{link.reagent}}</p>
                </td>
                <td style="width:12%;">
                  <label>
                    Part Number
                  </label>
                  <p class="read-only-input smaller" *ngIf="!enableEdit">{{link.partnumber}}</p>
                </td>
                <td style="width:25%;">
                  <label>
                    Recipe
                  </label>
                  <p class="read-only-input recipeid" *ngIf="!enableEdit && link.recipename && link.recipename!='N/A'" (click)="selectrecipename(link.recipename, link.recipeid)">Name: {{link.recipename}}, Id: {{link.recipeid}}</p>
                </td>
                <td style="width:7%;">
                  <label>
                    Amount 
                  </label>
                  <p class="read-only-input smaller" *ngIf="!enableEdit">{{link.amount}}</p>
                </td>
                <td>
                  <label>
                    Unit 
                  </label>
                  <p class="read-only-input smaller" *ngIf="!enableEdit">{{link.unit}}</p>
                </td>
              </tr>
            </table>
            <table style="width:100%;">
              <tr>
                <td style="width:100%;">
                  <label>
                    Packing
                  </label>
                  <p class="read-only-input smaller" *ngIf="!enableEdit">{{link.packaging}}</p>
                </td>
              </tr>
            </table>
          </td>
        </table>
      </div>
  
      <div class="form-group">
        <label>Comment(s)</label>
        <div *ngIf="!enableEdit" class="read-only-textarea">{{displayKit.comment}}</div>
      </div>
  
    </div>

  </div>

  <div *ngIf="displayKit.editstatus!=''" class="form-group">
    <label>Entered By
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who entered this kit">?</button>
    </label>
    <p class="read-only-input">{{displayKit.enteredby}}</p>
  </div>

  <div class="form-group">
    <label *ngIf="displayKit.editstatus=='Reviewed' || displayKit.editstatus=='Approved'||displayKit.editstatus=='Approve Rejected'">Reviewed
      By
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who reviewed this kit">?</button>
    </label>
    <label *ngIf="displayKit.editstatus=='Review Rejected'">Reviewe Rejected By
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who reviewe rejected this kit">?</button>
    </label>
    <p class="read-only-input" *ngIf="displayKit.editstatus!='Entered' && displayKit.editstatus!=''">{{displayKit.reviewedby}}</p>
  </div>

  <div class="form-group">
    <label *ngIf="(currentuserrole=='Manager' && displayKit.editstatus=='Entered') || displayKit.editstatus=='Reviewed' ||displayKit.editstatus=='Approved'||displayKit.editstatus=='Approve Rejected'">Review
      Comment
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Manager Review Comment">?</button>
    </label>
    <label *ngIf="displayKit.editstatus=='Review Rejected'">Review Rejected Comment
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Manager Review Comment">?</button>
    </label>
    <textarea *ngIf="currentuserrole=='Manager' && displayKit.editstatus=='Entered'" class="testarea" name="kitreviewcomment"
      form="usrform" rows="3" cols="123" [(ngModel)]="displayKit.reviewcomment"></textarea>
    <p class="read-only-input" *ngIf="displayKit.editstatus!='Entered' && displayKit.editstatus!=''">{{displayKit.reviewcomment}}</p>
  </div>

  <div class="form-group">
    <ngb-alert *ngIf="!reviewjectcomment" (close)="reviewjectcomment = true">
      <strong>Must comment if review reject!</strong>
    </ngb-alert>
  </div>

  <button *ngIf="currentuserrole=='Manager'&& displayKit.editstatus=='Entered'" class="btn btn-primary" (click)="review()">
    Review
  </button>
  <button *ngIf="currentuserrole=='Manager' && displayKit.editstatus=='Entered'" class="btn btn-primary" (click)="reviewreject()">
    Review Reject
  </button>

  <div class="form-group">
    <label *ngIf="displayKit.editstatus=='Approved'">Approved By
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who approved this kit">?</button>
    </label>
    <label *ngIf="displayKit.editstatus=='Approve Rejected'">Approve Rejected By
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who approve rejected this kit">?</button>
    </label>
    <p *ngIf="displayKit.editstatus=='Approved' || displayKit.editstatus=='Approve Rejected'" class="read-only-input">{{displayKit.approvedby}}</p>
  </div>

  <div class="form-group">
    <label *ngIf="(currentuserrole=='Senior Manager' && displayKit.editstatus=='Reviewed') || displayKit.editstatus=='Approved'">Approve
      Comment
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Senior Manager Approve Comment">?</button>
    </label>
    <label *ngIf="displayKit.editstatus=='Approve Rejected'">Approve Rejected Comment
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Senior Manager Approve Reject Comment">?</button>
    </label>
    <textarea *ngIf="currentuserrole=='Senior Manager' && displayKit.editstatus=='Reviewed'" class="testarea" name="kitapprovecomment"
      form="usrform" rows="3" cols="123" [(ngModel)]="displayKit.approvecomment"></textarea>
    <p class="read-only-input" *ngIf="displayKit.editstatus=='Approved' || displayKit.editstatus=='Approve Rejected'">{{displayKit.approvecomment}}</p>
  </div>

  <div class="form-group">
    <ngb-alert *ngIf="!approvejectcomment" (close)="approvejectcomment = true">
      <strong>Must comment if approve reject!</strong>
    </ngb-alert>
  </div>

  <button *ngIf="currentuserrole=='Senior Manager' && displayKit.editstatus=='Reviewed'" class="btn btn-primary" (click)="approve()">
    Approve
  </button>
  <button *ngIf="currentuserrole=='Senior Manager' && displayKit.editstatus=='Reviewed'" class="btn btn-primary" (click)="approvereject()">
    Approve Reject
  </button>

  <div class="form-group submit-buttons" style="position:relative;right:5%;">
    <button *ngIf="enableEdit" class="btn btn-primary" (click)="validateuserinput();">{{isNew?'Save':'Update'}}</button>
    <button type="button" class="btn btn-primary" (click)="cancelkit()">Close</button>
  </div>

  <ngb-alert *ngIf="!hidewarning" (close)="hidewarning=true">
    <ng-container *ngFor="let warning of inputwarning; let i = index">
      <p>
        <strong>{{warning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>





</div>








  <!-- <div *ngIf="!useExistCat && isNew">
            <div *ngIf="islockCat">
              <div class="input-group">
                <p type="text" class="form-control">{{displayKit.cat}}</p>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" (click)="islockCat = false">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group" *ngIf="!islockCat">
              <div class="small-form-group">
                <div class="small-form-control">
                  <small>Product Type:</small>
                  <select #dtype (change)="assignAndCheck('type', dtype.value)">
                    <option [value]="-1">Please pick</option>
                    <option [value]="t.id" [selected]="selectType?.id == t.id" *ngFor="let t of type">{{t.name}}</option>
                  </select>
                </div>
                <button class="btn btn-info" (click)="assignAndCheck('type', dtype.value)">
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
              <div class="small-form-group" *ngIf="selectType !== undefined && selectType.name =='Antibody'">
                <div class="small-form-control">
                  <small>Clonality</small>
                  <select #clone (change)="assignAndCheck('clone', clone.value)">
                    <option [value]="c.id" [selected]="selectClone?.id == c.id" *ngFor="let c of cloneLevel">{{c.name}}</option>
                  </select>
                </div>
                <button class="btn btn-info" (click)="assignAndCheck('clone', clone.value)">
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
              <div class="small-form-group" *ngIf="selectType !== undefined">
                <div class="small-form-control">
                  <small>Client Specific?</small>
                  <select #clientspec (change)="assignAndCheck('isCP', clientspec.value)">
                    <option [value]="'Yes'" [selected]="isClientSpecific">Yes</option>
                    <option [value]="'No'" [selected]="!isClientSpecific">No</option>
                  </select>
                </div>
                <button class="btn btn-info" (click)="assignAndCheck('isCP', clientspec.value)">
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
              <div class="small-form-group" *ngIf="isClientSpecific">
                <div class="small-form-control">
                  <small>Client:</small>
                  <select #client (change)="assignAndCheck('client', dtype.value)">
                    <option [value]="-1">Please pick</option>
                    <option [value]="c.id" [selected]="selectClient?.id == c.id" *ngFor="let c of clients">{{c.name}}</option>
                  </select>
                </div>
                <button class="btn btn-info" (click)="assignAndCheck('client', dtype.value)">
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
              <div class="small-form-group" *ngIf="selectType !== undefined">
                <div class="small-form-control">
                  <small>Species:</small>
                  <select #spc (change)="assignAndCheck('species', spc.value)">
                    <option [value]="s.id" [selected]="selectSpecies?.id == s.id" *ngFor="let s of species">{{s.name}}</option>
                  </select>
                </div>
                <button class="btn btn-info" (click)="assignAndCheck('species', spc.value)">
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
              <div class="small-form-group " *ngIf="selectType !== undefined">
                <div class="small-form-control">
                  <small>New Cat#:</small>
                  <div>
                    {{catalog}}
                  </div>
                </div>
                <button class="btn btn-success cat-gen" title="Generate Catalog Number" (click)="setCat()">
                  <i class="fas fa-check-circle"></i>
                </button>
              </div>
            </div>
          </div>
        </div> -->