<div>
  <!-- <mat-toolbar color="primary"> -->
  <nav class="tooBarColor">
    <a
      routerLink="/template-main/template-list"
      routerLinkActive="active"
      class="linkButton"
    >
      <i class="fas fa-backward"></i>
      Template List
    </a>
  </nav>
  <!-- </mat-toolbar> -->
</div>
<mat-divider></mat-divider>
<div class="center">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button>
</div>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!-- Section One -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Template Info</ng-template>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Assay Number</mat-label>
          <input matInput formControlName="firstCtrl" required />
          <mat-hint align="end">numbers required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Scientist</mat-label>
          <input matInput formControlName="firstCtrl" required />
          <mat-hint align="end">letters required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Coating Material Dilutions</ng-template>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating buffer:</span></strong
        ><span class="specialSpan"
          >&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<u></u
          ><input
            formControlName="step2_item_1"
            class="lineShapeInputBox"
            #step2_item_1
          />
          &nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_1"
            class="lineShapeInputBox"
            #step2_supplier_1
          />)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span
            class="black"
            >Lot#: &nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
          />
        </span>
      </p>
      <br />
      <br />

      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 1</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input
            formControlName="step2_item_2"
            class="lineShapeInputBox"
            #step2_item_2
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_2"
            class="lineShapeInputBox"
            #step2_supplier_2
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp;Concentration:&nbsp; &nbsp; &nbsp;<input
            formControlName="step2_concentration_1"
            class="lineShapeInputBox"
            #step2_concentration_1/>&nbsp; &nbsp; &nbsp;&nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
        <mat-select>
          <mat-option
            *ngFor="let chemicals; chemical"
            [value]="chemicals.value"
          >
            {{ chemicals.viewValue }}
          </mat-option>
        </mat-select>

        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp;standard @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <br />
      <br />

      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 2</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input
            formControlName="step2_item_3"
            class="lineShapeInputBox"
            #step2_item_3
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_3"
            class="lineShapeInputBox"
            #step2_supplier_3
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp;Concentration:&nbsp; &nbsp; &nbsp;<input
            formControlName="step2_concentration_2"
            class="lineShapeInputBox"
            #step2_concentration_2/>&nbsp; &nbsp; &nbsp;&nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp;standard @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 3</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input
            formControlName="step2_item_4"
            class="lineShapeInputBox"
            #step2_item_4
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_4"
            class="lineShapeInputBox"
            #step2_supplier_4
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp;Concentration:&nbsp; &nbsp; &nbsp;<input
            formControlName="step2_concentration_3"
            class="lineShapeInputBox"
            #step2_concentration_3/>&nbsp; &nbsp; &nbsp;&nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp;standard @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <br />
      <br />

      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 4</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input
            formControlName="step2_item_5"
            class="lineShapeInputBox"
            #step2_item_5
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_5"
            class="lineShapeInputBox"
            #step2_supplier_5
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp;Concentration:&nbsp; &nbsp; &nbsp;<input
            formControlName="step2_concentration_4"
            class="lineShapeInputBox"
            #step2_concentration_4/>&nbsp; &nbsp; &nbsp;&nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp;standard @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <br />
      <br />

      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 5</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input
            formControlName="step2_item_6"
            class="lineShapeInputBox"
            #step2_item_6
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_6"
            class="lineShapeInputBox"
            #step2_supplier_6
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp;Concentration:&nbsp; &nbsp; &nbsp;<input
            formControlName="step2_concentration_5"
            class="lineShapeInputBox"
            #step2_concentration_5/>&nbsp; &nbsp; &nbsp;&nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp;standard @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <br />
      <br />
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 6 </span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input
            formControlName="step2_item_7"
            class="lineShapeInputBox"
            #step2_item_7
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_7"
            class="lineShapeInputBox"
            #step2_supplier_7
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp;Concentration:&nbsp; &nbsp; &nbsp;<input
            formControlName="step2_concentration_6"
            class="lineShapeInputBox"
            #step2_concentration_6/>&nbsp; &nbsp; &nbsp;&nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp;standard @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <br />
      <br />
      <mat-divider></mat-divider>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 0)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 0)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(0) }} seconds</p> -->
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Washing & Blocking</ng-template>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;<input
              formControlName="step3_item_1"
              class="lineShapeInputBox"
              #step3_item_1
            />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step3_supplier_1"
            class="lineShapeInputBox"
            #step3_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Lot#:&nbsp;
          &nbsp; &nbsp;
          <input formControlName="thirdCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Use plate washer program
          PBST, 3 x 300 ul
        </span>
      </p>

      <br />

      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >B<span class="black"
              >LOCKING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp;<input
                formControlName="step3_item_2"
                class="lineShapeInputBox"
                #step3_item_2
              />
              &nbsp; &nbsp; &nbsp; &nbsp;</span
            ></span
          ></strong
        ><span class="specialSpan"
          ><span class="black"
            >(Supplier:&nbsp;&nbsp;<input
              formControlName="step3_supplier_2"
              class="lineShapeInputBox"
              #step3_supplier_2
            />)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
          ><span class="black"
            >Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="thirdCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Dispense&nbsp; </span
        ><span class="specialSpan"
          >1<span class="black">00 µL per well. &nbsp;</span></span
        >
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at overnight at
          4°C.
        </span>
      </p>
      <br />
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;<input
              formControlName="step3_item_3"
              class="lineShapeInputBox"
              #step3_item_3
            />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step3_supplier_3"
            class="lineShapeInputBox"
            #step3_supplier_3/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Lot#:&nbsp;
          &nbsp; &nbsp;
          <input formControlName="thirdCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Use plate washer program
          PBST, 3 x 300 ul
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />

      <!-- end of section content -->

      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(1)">Start
          Timer{{timer.displayStartTime(1)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(1)">Stop
          Timer{{timer.displayStopTime(1)}}</button>
      </div> -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Primary Antibody Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan">PRIMARY ANTIBODY ADDITION</span></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >Diluent: &nbsp; &nbsp; &nbsp;
            <input
              formControlName="step4_item_1"
              class="lineShapeInputBox"
              #step4_item_1
            />
            &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step4_supplier_1"
            class="lineShapeInputBox"
            #step4_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="black"
            >Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="fourthCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Innovator</span></strong
        ><span class="specialSpan"
          >: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input
            formControlName="step4_item_2"
            class="lineShapeInputBox"
            #step4_item_2/>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step4_supplier_2"
            class="lineShapeInputBox"
            #step4_supplier_2/>)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;&nbsp; Concentration:&nbsp; &nbsp; &nbsp;
          <input
            formControlName="step4_concentration_1"
            class="lineShapeInputBox"
            #step4_concentration_1/><span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="fourthCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="fourthCtrl"
            required
            class="lineShapeInputBox"/>
          µL Avastin +
          <input
            formControlName="fourthCtrl"
            required
            class="lineShapeInputBox"/>
          µL superblock = &nbsp; &nbsp;<input
            formControlName="fourthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="fourthCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp;Avastin @
          <input
            formControlName="fourthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="fourthCtrl"
            required
            class="lineShapeInputBox"/>
          µL superblock =
          <input formControlName="fourthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer four buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(3)">Start
          Timer{{timer.displayStartTime(3)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(3)">Stop
          Timer{{timer.displayStopTime(3)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 1)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 1)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(1) }} seconds</p> -->
  </mat-step>

  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Secondary Antibody Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan">SECONDARY ANTIBODY ADDITION</span></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >Diluent: &nbsp; &nbsp; &nbsp;
            <input
              formControlName="step5_item_1"
              class="lineShapeInputBox"
              #step5_item_1
            />
            &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step5_supplier_1"
            class="lineShapeInputBox"
            #step5_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="black"
            >Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="fifthCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Secondary Antibody</span></strong
        ><span class="specialSpan"
          >: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input
            formControlName="step5_item_2"
            class="lineShapeInputBox"
            #step5_item_2/>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step5_supplier_2"
            class="lineShapeInputBox"
            #step5_supplier_2/>)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;&nbsp; Concentration:&nbsp; &nbsp; &nbsp;
          <input
            formControlName="step5_concentration_1"
            class="lineShapeInputBox"
            #step5_concentration_1/><span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="fifthCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="fifthCtrl"
            required
            class="lineShapeInputBox"/>
          µL Conjugate +
          <input
            formControlName="fifthCtrl"
            required
            class="lineShapeInputBox"/>
          µL diluent = &nbsp; &nbsp;<input
            formControlName="fifthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="fifthCtrl"
            required
            class="lineShapeInputBox"/>
          µL &nbsp; @
          <input
            formControlName="fifthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="fifthCtrl"
            required
            class="lineShapeInputBox"/>
          µL diluent =
          <input formControlName="fifthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <!-- <button (click)="timer.startCountDown()">Start Timer</button>
        {{timer.timeLeft}} Minutes Left.... -->
        <br />
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer four buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(3)">Start
          Timer{{timer.displayStartTime(3)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(3)">Stop
          Timer{{timer.displayStopTime(3)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 2)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 2)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(2) }} seconds</p> -->
  </mat-step>

  <mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp;
            <input
              formControlName="step6_item_1"
              class="lineShapeInputBox"
              #step6_item_1
            />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_1"
            class="lineShapeInputBox"
            #step6_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Lot#:&nbsp;
          &nbsp; &nbsp;
          <input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <br />
      <br />

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="seventhFormGroup">
    <form [formGroup]="seventhFormGroup">
      <ng-template matStepLabel>Substrate Addition</ng-template>
      <p class="specialParagraph">
        <strong><span class="specialSpan">SuperSignal </span></strong
        ><span class="specialSpan"
          >: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;(Thermo Scientific&nbsp; Ref#:
          <input
            formControlName="seventhCtrl"
            required
            class="lineShapeInputBox"/>)<span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="seventhCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Mix equal volumes of
          SuperSignal ELISA Femto Luminal/Enchancer(
          <span class="black"
            ><input
              formControlName="seventhCtrl"
              required
              class="lineShapeInputBox"/></span
          >mL) and Supersignal ELISA Femto Stable Peroxide Solution(
          <span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
              formControlName="seventhCtrl"
              required
              class="lineShapeInputBox"/></span
          >mL)
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL reagent
          per well
        </span>
      </p>

      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate on a plate
          shaker at RT for 2 minutes
        </span>
      </p>

      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(3)">Start
          Timer{{timer.displayStartTime(3)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(3)">Stop
          Timer{{timer.displayStopTime(3)}}</button>
      </div> -->

      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Measure relative light
          units (RLU) at 425nm
        </span>
      </p>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 3)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 3)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(3) }} seconds</p> -->
  </mat-step>

  <mat-step [stepControl]="eigthFormGroup">
    <form [formGroup]="eigthFormGroup">
      <ng-template matStepLabel>Conclusion</ng-template>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Conclusion:</span></strong>
      </p>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Conclusion Notes"></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Submit</button>
        <!-- <button mat-button (click)="stepper.reset()">Submit</button> -->
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
