.table-scroll td, .table-scroll th {
  width:1%;
}

.warning{
  background-color:salmon;
  border:none;
}

.warning-body{
  box-shadow: inset 0px 0px 5px 3px salmon;
}

.warning.modal-footer{
  border-radius: 0px 0px 0.3rem 0.3rem;
}

.btn-outline-danger{
  background-color: white;
}

.btn-outline-danger:hover{
  background-color: #dc3545;
}
