<div class="tab-container">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <input type="text" class="form-control" placeholder="Search Equipment" aria-describedby="basic-addon1">
  </div>
  <hr>
  <div class="table-container">
    <div class="row control-box">
      <div ngbDropdown style="display: inline-block;">
        <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item">
            <input type="checkbox" [checked]="viewColumn[i]" (click)="toggleViewCol(i)">{{mode}}</button>
        </div>
      </div>
      <button class="btn btn-default menu-btn">
        <i class="fa fa-download" aria-hidden="true"></i> Download Equipment
      </button>
      <button class="btn btn-default menu-btn" (click)="newequipment()">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i> New Equipment
      </button>
    </div>
    <table class="table table-hover table-scroll">
      <tr>
        <th *ngIf="viewColumn[0]">ID</th>
        <th *ngIf="viewColumn[1]">Serial Number</th>
        <th *ngIf="viewColumn[2]">Equipment Name</th>
        <th *ngIf="viewColumn[3]">Manufactor</th>
        <th *ngIf="viewColumn[4]">Model</th>
        <th *ngIf="viewColumn[5]">Current Localtion</th>
        <th *ngIf="viewColumn[6]">Comment(s)</th>
      </tr>
      <tr *ngFor="let i of displayEquips" (click)="openEquip(displayequipment, i)">
        <td *ngIf="viewColumn[0]">{{i?.id}}</td>
        <td *ngIf="viewColumn[1]">{{i?.serial}}</td>
        <td *ngIf="viewColumn[2]">{{i?.name}}</td>
        <td *ngIf="viewColumn[3]">{{i?.manufactor}}</td>
        <td *ngIf="viewColumn[4]">{{i?.model}}</td>
        <td *ngIf="viewColumn[5]">{{i?.currentLocation}}</td>
        <td *ngIf="viewColumn[6]">{{i?.comment}}</td>
      </tr>
      <tr *ngIf="equips == undefined || equips.length < 1">
        <td class="empty" colspan="7">Empty</td>
      </tr>
    </table>
  </div>
</div>

<ng-template #displayequipment let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      <b *ngIf="equipment?.name !== ''">{{equipment?.name}}</b>
      <b *ngIf="equipment?.name == ''">New equipment</b>
      <small *ngIf="!isNewequipment">
        <button class="btn-icon" (click)="enabledEditequipment=true">
          <i class="fas fa-pen-square" aria-hidden="true"></i>
        </button>
        <button class="btn-icon" (click)="alertWarn = true; open(showAlertDelete, 'sm' , 'cus-warning'); c('deletewarn')">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </small>
      <br>
      <span>Last Modify: {{convertDate(equipment?.lastModify)}}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="enabledEditequipment=false; isShowequipment=false; equipment=undefined; c('xcls')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-equips-display [equipment]="equipment" [enableEdit]="enabledEditequipment" [isNew]="isNewequipment" (updateEquip)="updateequipment($event)" (exit)="enabledEditequipment=false; isShowequipment=false; equipment=undefined; c('');"></app-equips-display>
  </div>
  <div class="modal-footer">
    <button #closebtn *ngIf="!enabledEditequipment" type="button" class="btn btn-outline-dark" (click)="enabledEditequipment=false; isShowequipment=false; equipment=undefined; c('btncls');">Close</button>
  </div>
</ng-template>

<ng-template #showAlertDelete let-c="close">
  <div class="modal-header warning">
    <h4 class="modal-title">
      Warning!
    </h4>
  </div>
  <div class="modal-body warning-body">
    Do you want to delete <b>{{equipment.name}}</b>? 
  </div>
  <div class="modal-footer warning">
    <button class="btn btn-danger" (click)="deleteequipment(); c('dlcls')">Delete</button>
    <button class="btn btn-light" (click)="c('cncls'); openEquip(displayequipment, equipment)" >Cancel</button>
  </div>
</ng-template>