<div *ngIf="product" style="min-width:800px;">
  <form>
    <div class="form-group" *ngIf="isNew || enableEdit">
      <label>Name
        <span class="star">*</span>
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Name of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.name" [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group">
      <ngb-alert *ngIf="!nameunique && enableEdit" (close)="nameunique = true">
        <strong>This recipe name already existed!</strong>
      </ngb-alert>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Cat#
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Catalogue number of the product">?</button>
        </label>
        <input autocomplete="off" #cat *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.cat"
          [ngModelOptions]="{standalone: true}" />
        <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.cat}}</p>
      </div>
      <div class="form-group  col-md-3">
        <label>Old Catalogue #
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Old catalogue number of the product">?</button>
        </label>
        <input autocomplete="off" #cat *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.oldcat"
          [ngModelOptions]="{standalone: true}" />
        <p class="read-only-input" *ngIf="!isNew">{{displayProduct.oldcat}}</p>
      </div>
      <div class="form-group col-md-3">
        <label>Type
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Type of the product">?</button>
        </label>
        <select class="form-control" *ngIf="enableEdit" #type [value]="displayProduct.type" (change)="displayProduct.type = type.value;">
          <option *ngFor="let t of types" [value]="t" [selected]="displayProduct.type == t">{{t}}</option>
        </select>
        <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.type}}</p>
      </div>
    </div>


    <div class="form-group">
      <label>Description
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Description of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.description" [ngModelOptions]="{standalone: true}"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.description}}</p>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2" *ngIf="!enableEdit">
        <label>Size
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Size of the product">?</button>
        </label>
        <p class="read-only-input">{{displayProduct.unitsize}} {{displayProduct.unit}}</p>
      </div>
      <div class="form-group col-md-2" style="padding-right:0px;" *ngIf="enableEdit">
        <label>Unit Size
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Unitsize of the product">?</button>
        </label>
        <input autocomplete="off" #unitsize *ngIf="enableEdit" class="form-control" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode==46 || event.charCode >= 48 && event.charCode <= 57"
          (keyup)="displayProduct.unitsize=unitsize.value" name="unitsize" [value]="displayProduct.unitsize" />
      </div>
      <div class="form-group col-md-2" style="padding-left:0px;" *ngIf="enableEdit">
        <label>Unit
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Unit of the product">?</button>
        </label>
        <select class="form-control" #unitval (change)="displayProduct.unit=unitval.value;" [value]="displayProduct.unit" name="unit">
          <option *ngFor="let u of unit" [value]="u.name" [selected]="displayProduct.unit == u.name">{{u.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-2" style="padding-right:0px;">
        <label>Price (USD)
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Unitprice of the product">?</button>
        </label>
        <input autocomplete="off" #unitprice *ngIf="enableEdit" class="form-control" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode==46 || event.charCode >= 48 && event.charCode <= 57"
          (keyup)="displayProduct.unitprice=unitprice.value" name="unitprice" [value]="displayProduct.unitprice" />
        <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.unitprice}}</p>
      </div>
      <div class="form-group  col-md-2">
        <label>Pack Size
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Pack size of the product">?</button>
        </label>
        <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.packsize" [ngModelOptions]="{standalone: true}"/>
        <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.packsize}}</p>
      </div>

    </div>

    <!-- <div class="form-group">
      <label>Host/Isotype
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Host/Isotype of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.hostisotype" [ngModelOptions]="{standalone: true}"/>
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.hostisotype}}</p>
    </div> -->

    <div class="form-row">

      <div class="form-group col-md-2">
        <label>Host
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Host of the product">?</button>
        </label>
        <select class="form-control" *ngIf="enableEdit" #host [value]="displayProduct.host" (change)="displayProduct.host = host.value;">
          <option *ngFor="let h of hosts" [value]="h" [selected]="displayProduct.host == h">{{h}}</option>
        </select>
        <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.host}}</p>
      </div>
      <div class="form-group col-md-2">
        <label>Clonality
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Clonality of the product">?</button>
        </label>
        <select class="form-control" *ngIf="enableEdit" #clonality [value]="displayProduct.clonality" (change)="displayProduct.clonality=clonality.value;">
          <option *ngFor="let c of clonalities" [value]="c" [selected]="displayProduct.clonality == c">{{c}}</option>
        </select>
        <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.clonality}}</p>
      </div>
      <div class="form-group col-md-2">
        <label>Isotype
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Isotype of the product">?</button>
        </label>
        <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.isotype" [ngModelOptions]="{standalone: true}"
        />
        <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.isotype}}</p>
      </div>
    </div>

    <!-- <div class="form-group">
      <label>Immunogen
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Immunogen of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.immunogen" [ngModelOptions]="{standalone: true}"/>
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.immunogen}}</p>
    </div> -->

    <div class="form-group">
      <label>Immunogen
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Immunogen of the product">?</button>
      </label>
      <div autocomplete="off" *ngIf="enableEdit"  [innerHTML]="displayProduct?.immunogen" hidefocus="true" aria-label="Message Body" g_editable="true" aria-multiline="true" tabindex="1" contenteditable="true" class="form-control" id="specialinput" >
      </div> 
      <div class="read-only-input" *ngIf="!enableEdit" [innerHTML]="displayProduct?.immunogen"></div>
    </div>


    <div class="form-group">
      <label>Purification
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Purification of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.purification" [ngModelOptions]="{standalone: true}"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.purification}}</p>
    </div>

    <div class="form-group">
      <label>Buffer
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Buffer of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.buffer" [ngModelOptions]="{standalone: true}"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.buffer}}</p>
    </div>

    <div class="form-group">
      <label>Specificity
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Specificity of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.specificity" [ngModelOptions]="{standalone: true}"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.specificity}}</p>
    </div>

    <div class="form-group">
      <label>Reconstitution
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Reconstitution of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.reconstitution" [ngModelOptions]="{standalone: true}"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.reconstitution}}</p>
    </div>

    <div class="form-group">
      <label>Storage
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Storage of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.storage" [ngModelOptions]="{standalone: true}"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.storage}}</p>
    </div>

    <div class="form-group">
      <label>Comment
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Comment of the product">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayProduct.comment" [ngModelOptions]="{standalone: true}"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayProduct.comment}}</p>
    </div>

    <div class="form-group">
      <label>Application(s)
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="List of Ingredients">?</button>
      </label>
      <table class="table table-bordered">
        <tr>
          <table style="width:100%;">
            <tr>
              <td *ngIf="enableEdit" style="width:6%;"></td>
              <td style="width:33%;">
                <label style="font-weight:bold;">Purpose
                  <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Application purpose">?</button>
                </label>
              </td>
              <td style="width:33%;">
                <label style="font-weight:bold;">Reconmmended<br>Concentration
                  <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Application recommendation concentration">?</button>
                </label>
              </td>
              <td>
                <label style="font-weight:bold;">Comment
                  <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Application comment">?</button>
                </label>
              </td>
            </tr>
          </table>
        </tr>

        <tr *ngFor="let a of applications; let i = index">
          <table *ngIf="enableEdit">
            <tr>
              <td style="width:5%;vertical-align: center;">
                <button class="btn icon-btn" (click)="removeApplication(i)" style="margin-right:0px;">
                  <i class="fas fa-times"></i>
                </button>
              </td>

              <td style="width:100%;padding:0px;">
                <table style="width:100%;padding:0px;">
                  <tr>
                    <table style="width:100%;padding:0px;">
                      <tr>
                        <td style="width:35%; padding:0px;border-left:0px;border-top:0px;border-bottom:0px;">
                          <input autocomplete="off" type="text" class="form-control input-sm" [(ngModel)]="a.purpose" [ngModelOptions]="{standalone: true}">
                          <td style="width:35%;padding:0px;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;">
                            <input autocomplete="off" type="text" class="form-control input-sm" [(ngModel)]="a.recommenconcentration" [ngModelOptions]="{standalone: true}">
                          </td>
                          <td style="padding:0px;border-left:0px;border-top:0px;border-bottom:0px;">
                            <input autocomplete="off" type="text" class="form-control input-sm" class="form-control input-sm" [(ngModel)]="a.comment"
                              [ngModelOptions]="{standalone: true}">
                          </td>
                      </tr>
                    </table>
                  </tr>
                  <tr>
                    <table style="width:100%;">
                      <tr style="border:0px;">
                        <input autocomplete="off" type="text" class="form-control input-sm" class="form-control input-sm" [(ngModel)]="a.note" [ngModelOptions]="{standalone: true}">
                      </tr>
                    </table>
                  </tr>
                </table>
                </td>

            </tr>
          </table>
          <table *ngIf="!enableEdit" style="width:100%;">
            <tr>
              <table style="width:100%;">
                <td style="width:33%;">
                  <p class="read-only-input">{{a.purpose}}</p>
                </td>
                <td style="width:33%;">
                  <p class="read-only-input">{{a.recommenconcentration}}</p>
                </td>
                <td>
                  <p class="read-only-input">{{a.comment}}</p>
                </td>
              </table>
            </tr>
            <tr>
              <table style="width:100%;">
                <tr>
                  <p class="read-only-input">{{a.note}}</p>
                </tr>
              </table>
            </tr>
          </table>
        </tr>
        <tr *ngIf="enableEdit">
          <td colspan="6" style="padding:0px;">
            <button class="btn btn-outline-primary new-ingre" (click)="addNewApplication()">
              <i class="fas fa-plus"></i> New Application</button>
          </td>
        </tr>
      </table>
    </div>
 
   
   
    <div class="form-group">
        <label *ngIf="displayProduct.editstatus=='Reviewed' || displayProduct.editstatus=='Approved'||displayProduct.editstatus=='Approve Rejected'">Reviewed
          By
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who reviewed this recipe">?</button>
        </label>
        <label *ngIf="displayProduct.editstatus=='Review Rejected'">Reviewe Rejected By
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who reviewe rejected this recipe">?</button>
        </label>
        <p class="read-only-input" *ngIf="displayProduct.editstatus!='Entered' && displayProduct.editstatus!=''">{{displayProduct.reviewedby}}</p>
      </div>
  
      <div class="form-group">
        <label *ngIf="(currentuserrole=='Manager' && displayProduct.status=='Entered') || displayProduct.status=='Reviewed' ||displayProduct.status=='Approved'||displayProduct.status=='Approve Rejected'">Review
          Comment
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Manager Review Comment">?</button>
        </label>
        <label *ngIf="displayProduct.status=='Review Rejected'">Review Rejected Comment
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Manager Review Comment">?</button>
        </label>
        <textarea *ngIf="currentuserrole=='Manager' && displayProduct.status=='Entered'" class="testarea" name="recipereviewcomment"
          form="usrform" rows="3" cols="123" [(ngModel)]="displayProduct.reviewcomment"></textarea>
        <p class="read-only-input" *ngIf="displayProduct.status!='Entered' && displayProduct.status!=''">{{displayProduct.reviewcomment}}</p>
      </div>
  
      <div class="form-group">
        <ngb-alert *ngIf="!reviewjectcomment" (close)="reviewjectcomment = true">
          <strong>Must comment if review reject!</strong>
        </ngb-alert>
      </div>
  
      <button *ngIf="currentuserrole=='Manager' && displayProduct.status=='Entered'" class="btn btn-primary" (click)="review()">
        Review
      </button>
      <button *ngIf="currentuserrole=='Manager' && displayProduct.status=='Entered'" class="btn btn-primary" (click)="reviewreject()">
        Review Reject
      </button>
  
      <div class="form-group">
        <label *ngIf="displayProduct.status=='Approved'">Approved By
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who approved this kit">?</button>
        </label>
        <label *ngIf="displayProduct.status=='Approve Rejected'">Approve Rejected By
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who approve rejected this kit">?</button>
        </label>
        <p *ngIf="displayProduct.editstatus=='Approved' || displayProduct.status=='Approve Rejected'" class="read-only-input">{{displayRecipe.approvedby}}</p>
      </div>
  
      <div class="form-group">
        <label *ngIf="(currentuserrole=='Senior Manager' && displayProduct.status=='Reviewed') || displayProduct.status=='Approved'">Approve
          Comment
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Senior Manager Approve Comment">?</button>
        </label>
        <label *ngIf="displayProduct.status=='Approve Rejected'">Approve Rejected Comment
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Senior Manager Approve Reject Comment">?</button>
        </label>
        <textarea *ngIf="currentuserrole=='Senior Manager' && displayProduct.status=='Reviewed'" class="testarea" name="recipeapprovecomment"
          form="usrform" rows="3" cols="123" [(ngModel)]="displayProduct.approvecomment"></textarea>
        <p class="read-only-input" *ngIf="displayProduct.status=='Approved' || displayProduct.status=='Approve Rejected'">{{displayProduct.approvecomment}}</p>
      </div>
  
      <div class="form-group">
        <ngb-alert *ngIf="!approvejectcomment" (close)="approvejectcomment = true">
          <strong>Must comment if approve reject!</strong>
        </ngb-alert>
      </div>
  
      <button *ngIf="currentuserrole=='Senior Manager' && displayProduct.status=='Reviewed'" class="btn btn-primary" (click)="approve()">
        Approve
      </button>
      <button *ngIf="currentuserrole=='Senior Manager' && displayProduct.status=='Reviewed'" class="btn btn-primary" (click)="approvereject()">
        Approve Reject
      </button>


    <div class="form-group submit-buttons">
      <button *ngIf="enableEdit" class="btn btn-primary" (click)="validateuserinput();">{{isNew?'Save':'Update'}}</button>
      <button type="button" class="btn btn-primary" (click)="cancelproduct()">Close</button>
    </div>
    <ngb-alert *ngIf="!hidewarning" (close)="hidewarning=true">
      <ng-container *ngFor="let warning of inputwarning; let i = index">
        <p>
          <strong>{{warning}}</strong>
        </p>
      </ng-container>
    </ngb-alert>


  </form>
</div>

