<h4>Inventory</h4>
<br>
<div class="invent-body col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
 <!-------------------------------------->
 <!--------Sub-view: Expire Soon--------->
 <!-------------------------------------->
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
   <!------Header------->
   <h6>{{expiredMaterialTitle}}
     <div ngbDropdown #expiredMDropdown="ngbDropdown" autoClose="outside" style="display: inline-block;">
       <button ngbDropdownToggle>Edit View</button>
       <div ngbDropdownMenu>
         <button (click)="showMaterialsExpiring(0);expiredMDropdown.close();" class="dropdown-item">Expired Now</button>
         <button (click)="showMaterialsExpiring(14);expiredMDropdown.close();" class="dropdown-item">2 Weeks</button>
         <button (click)="showMaterialsExpiring(60);expiredMDropdown.close();" class="dropdown-item">2 Months</button>
         <div class="divider dropdown-divider"></div>
         <span style="cursor: default" class="dropdown-item">Custom: <input (keydown.enter)="expiredMDropdown.close(); input_showMaterialsExpiring($event);" type="text" onfocus="this.value=''" style="width: 50px"> days</span>
       </div>
     </div>
     <small *ngIf="!expiredMaterialCollapsed" class="collapseBtn">
       <a (click)="expiredMaterialCollapsed = true;">collapse &raquo;</a>
     </small>
   </h6>
   <div class="invent-content">
     <!------Collapsed View------->
     <table *ngIf="expiredMaterialCollapsed" class="collapsedSummary table table-hover">
       <tr (click)="expiredMaterialCollapsed = false;">
         <!---Logic--->
         <ng-container *ngIf="_array.isArray(expiredMaterialModelCurr) && expiredMaterialModelCurr.length > 0; then expiryThen else expiryEmpty"></ng-container>
         <ng-template #expiryThen><ng-container *ngIf="expiredMaterialModelCurr[expiredMaterialModelCurr.length-1].expiredate<=timeNow; then expiryExpired else expiryExpiring"></ng-container></ng-template>
         <!---Dispay--->
         <ng-template #expiryEmpty><th>Empty</th></ng-template>
         <ng-template #expiryExpired><th class="danger">{{expiredMaterialModelCurr.length}} Items Expired</th></ng-template>
         <ng-template #expiryExpiring><th class="danger">{{expiredMaterialModelCurr.length}} Items Expiring</th></ng-template>
       </tr>
     </table>
     <!--------Table View--------->
     <table *ngIf="!expiredMaterialCollapsed" class="table table-hover">
       <tr>
         <th>Supplier</th>
         <th>Name</th>
         <th>Quantity (In Use)</th>
         <th>Expiry Date</th>
       </tr>
       <tr *ngIf="expiredMaterialModelCurr == undefined || expiredMaterialModelCurr.length < 1">
         <td class="empty" colspan="4">Empty</td>
       </tr>
       <ng-container *ngFor="let item of expiredMaterialModelCurr; let i=index">
         <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.inv_expired)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.inv_expired, i)" (mouseleave)="cancelRoute()">
           <td>{{item.supplier}}</td>
           <td>{{item.itemname}}</td>
           <td>{{item.amount}}{{item.inuse>0?'('+item.inuse+')':''}}</td>
           <td>{{item.expiredate | date}}</td>
         </tr>
       </ng-container>
     </table>
   </div>
 </div>
 <!--------------------------------------->
 <!--------Sub-view: Stock Status--------->
 <!--------------------------------------->
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  invent-container">
   <!------Header------->
   <h6>{{stockStatusTitle}}
     <div ngbDropdown #StockSDropdown="ngbDropdown" autoClose="outside" style="display: inline-block;">
       <button ngbDropdownToggle>Edit View</button>
       <div ngbDropdownMenu>
         <button (click)="showStockStatus(true,100);StockSDropdown.close();" class="dropdown-item">Low In Stock</button>
         <button (click)="showStockStatus(true,0);StockSDropdown.close();" class="dropdown-item">Out Of Stock</button>
         <button (click)="showStockStatus(false);StockSDropdown.close();" class="dropdown-item">Missing Threshold</button>
         <div class="divider dropdown-divider"></div>
         <span style="cursor: default" class="dropdown-item">Custom: <input (keydown.enter)="StockSDropdown.close(); input_showStockStatus($event);" type="text" onfocus="this.value=''" style="width: 50px">% threshold</span>
       </div>
     </div>
     <small *ngIf="!stockStatusCollapsed" class="collapseBtn">
       <a (click)="stockStatusCollapsed = true;">collapse &raquo;</a>
     </small>
   </h6>
   <div class="invent-content">
     <!------Collapsed View------->
     <table *ngIf="stockStatusCollapsed" class="collapsedSummary table table-hover">
       <tr (click)="stockStatusCollapsed = false;">
         <!---Logic--->
         <ng-container *ngIf="_array.isArray(stockStatusModelCurr) && stockStatusModelCurr.length > 0; then stockStatusThen else stockStatusEmpty"></ng-container>
         <ng-template #stockStatusThen><ng-container *ngIf="stockStatusModelCurr===stockNoThresholdModel; then stockStatusMissingThreshold else stockStatusUnderStock"></ng-container></ng-template>
         <!---Display--->
         <ng-template #stockStatusEmpty><th>Empty</th></ng-template>
         <ng-template #stockStatusUnderStock><th class="danger">{{stockStatusModelCurr.length}} Items Under Stocked</th></ng-template>
         <ng-template #stockStatusMissingThreshold><th class="danger">{{stockStatusModelCurr.length}} Items Missing Threshold</th></ng-template>
       </tr>
     </table>
     <!--------Table View--------->
     <table *ngIf="!stockStatusCollapsed" class="table table-hover">
       <tr>
         <th>Catalog#</th>
         <th>Supplier</th>
         <th>Name</th>
         <th>Quantity (In Use)</th>
         <th *ngIf="stockStatusModelCurr!==stockNoThresholdModel">Threshold</th>
       </tr>
       <tr *ngIf="stockStatusModelCurr == undefined || stockStatusModelCurr.length < 1">
         <td class="empty" colspan="5">Empty</td>
       </tr>
       <ng-container *ngFor="let SKU of stockStatusModelCurr; let i=index">
         <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.inv_stock)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.inv_stock, i)" (mouseleave)="cancelRoute()">
           <td>{{SKU.cat}}</td>
           <td>{{SKU.supplier}}</td>
           <td>{{SKU.name}}</td>
           <td>{{SKU.amount}}{{SKU.inuse>0?'('+SKU.inuse+')':''}}</td>
           <td *ngIf="stockStatusModelCurr!==stockNoThresholdModel">{{SKU.quantitythreshold}}</td>
         </tr>
       </ng-container>
     </table>
   </div>
 </div>
</div>
