table{
    width:100%;
  }
  
  .table-container{
    height: 65%;
  }
  
  .tab-title{
    font-size: 16px;
  
  }
  
  .recItem:hover{
    background-color:grey;
  }
  
  .recommend {
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px 0px lightgrey;
    max-width: 90%;
  }
  
  .recItem {
    width: 100%;
    background-color: white;
    margin: 0px;
    transition: 1s background-color;
    -moz-transition: 1s background-color;
    -o-transition: 1s background-color;
    -webkit-transition: 1s background-color;
  }
  
  .form-control{
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 35px;
  }
  
  .ordername:hover{
    background-color: lightgrey;
  }
  
  .arrow-btn{
    display: inline-block;
    /* width: 33.33%; */
    margin: 0px;
    border: none;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    padding: 0px;
  }
  
  .arrow-body{
    width: 100%;
    height: 100%;
    /* font-size:18px; */
    display: inline-block;
    float: left;
    top: 50%;
    background-color: #e8e8e8;
    /* color: #8b8b8b; */
    padding: 0px 0px;
    margin:0px;
  }
  
  .inner-btn::after{
    content:"";
    width: 0px;
    height: 0px;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    border-right: 0px solid transparent;
    border-left: 45px solid #e8e8e8;
    display: inline-block;
    position: absolute;
  }
  
  .arrow-btn.active>.arrow-body{
    background-color: #c3e933;
    /* color: black; */
  
  }
  
  .arrow-body:focus, .arrow-body:active{
    border:none;
    outline:none !important;
    -moz-outline-style: none;
  }
  
  
  .arrow-btn.active.inner-btn::after{
    border-left-color: #c3e933;
  }
  
  .table-scroll{
    height: 90%;
    display: block;
    margin: 0px;
    width: 100%;
  }
  
  .table-scroll>tbody{
    display: block;
    width: 100%;
    height: 85%;
    overflow-y: overlay;
  }
  
  .table-scroll>tbody>tr{
    width: 100%;
    table-layout: fixed;
    display: table;
  }
  
  .table-scroll>thead{
    display: inline-table;
    width: 100%;
    table-layout: fixed;
  }
  
  .slide{
    /* display: inline-block; */
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    /* width:auto; */
    /* max-width: 80%; */
    /* min-width:800px; */
    height: 100%;
    transition: 1s right;
    -moz-transition:1s right;
    -o-transition:1s right;
    -webkit-transition:1s right;
  }
  
  .edit-container{
    /* display: inline-block; */
    /* display: table; */
    /* float:left; */
    /* width: 100%; */
    /* max-width:100%;
    min-width:50%; */
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: white;
    border-left: 15px solid #28a745;
    padding: 10px 30px;
    box-shadow: -5px 0px 20px 0px #705757;
    overflow-y: auto;
  }
  
  .exit-container{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: none;  
  }
  