<div *ngIf="recipe" style="min-width:800px;">
  <form>
    <div class="form-group" *ngIf="enableEdit" >
      <label>Name
        <span class="star">*</span>
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Name of the recipe">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayRecipe.name" name="recipename"/>
    </div>
    <div class="form-group">
      <ngb-alert *ngIf="!nameunique" (close)="nameunique = true">
        <strong>This recipe name already existed!</strong>
      </ngb-alert>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Recipe Id
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Id of the recipe">?</button>
        </label>
        <input autocomplete="off" #changesomruid *ngIf="isNew && enableEdit" class="form-control" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 ||  event.charCode >= 48 && event.charCode <= 57"
          (keyup)="displayRecipe.somruid=changesomruid.value" name="somruid" />
        <p class="read-only-input" *ngIf="!isNew">{{displayRecipe.somruid}}</p>
      </div>
      <div class="form-group col-md-3" style="padding-right:0px;">
        <label>Final Volume
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Final Volume of the recipe">?</button>
        </label>
        <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 ||  event.charCode >= 48 && event.charCode <= 57"
          [(ngModel)]="displayRecipe.volumn" name="volumn" />
        <p class="read-only-input" *ngIf="!enableEdit">{{displayRecipe.volumn}} {{displayRecipe.unit}}</p>
      </div>
      <div class="form-group col-md-3" style="padding-left:0px;" *ngIf="enableEdit">
        <label>Unit
          <span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Unit of the recipe">?</button>
        </label>
        <select class="form-control" #unitval (change)="checkrecipeunit(unitval.value);">
          <option [selected]="displayRecipe.unit == undefined">Please Select</option>
          <option *ngFor="let u of unit" [value]="u.name" [selected]="displayRecipe.unit == u.name">{{u.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <ngb-alert *ngIf="!idunique" (close)="idunique = true">
        <strong>This recipe id already existed!</strong>
      </ngb-alert>
    </div>

    <div class="form-group">
      <label>Description
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="General Description of the recipe">?</button>
      </label>
      <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text" [(ngModel)]="displayRecipe.description" name="recipedescription"
      />
      <p class="read-only-input" *ngIf="!enableEdit">{{displayRecipe.description}}</p>
    </div>
    <br>
    <div class="form-group">
      <label>Material(s)
        <span class="star">*</span>
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="List of Ingredients">?</button>
      </label>
      <table class="table table-bordered">
        <tr>
          <th *ngIf="enableEdit" style="width:10%;"></th>
          <th style="width:35%;">
            <label>Material Name
              <span class="star">*</span>
              <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Inventory Name">?</button>
            </label>
          </th>
          <th style="width:35%;">
            <label>Recipe
              <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Recipe Name">?</button>
            </label>
          </th>
          <th style="width:10%;">Amount
            <span class="star">*</span>
          </th>
          <th style="width:10%;">Unit
            <span class="star">*</span>
          </th>
        </tr>
        <tr *ngFor="let ing of updatedsopingredients; let i = index">
          <ng-container *ngIf="enableEdit">
            <td >
              <button class="btn icon-btn" (click)="removeIngre(i)">
                <i class="fas fa-times"></i>
              </button>
            </td>
            <td>
              <input autocomplete="off" *ngIf="!ing.recipename || ing.recipename=='N/A' || ing.recipename.trim()==''" #newItemKey class="form-control input-sm"
                (keyup)="getFilter(ing, newItemKey.value)" [value]="ing.itemname" (focus)="onfocusIndex = i">
              <input autocomplete="off" *ngIf="enableEdit && ing.recipename && ing.recipename!='N/A'" #newItemKey class="form-control input-sm"
                disabled="true" [value]="ing.itemname" (focus)="onfocusIndex = i">
              <div class="recommend" *ngIf="itemfilterList!== undefined && onfocusIndex == i">
                <p class="recItem" *ngFor="let item of itemfilterList" (click)="selectItem(item, i); onfocusIndex = -1">{{item.name}},
                  {{item.supplier}}, Cat# {{item.cat}}, Supplier Cat# {{item.suppliercat}}</p>
                <p *ngIf="finditem==false" class="no-result">No result found</p>
              </div>
            <td>
              <input autocomplete="off" *ngIf=" !ing.itemname || ing.itemname=='N/A' || ing.itemname.trim()==''" #newRecipeKey class="form-control input-sm"
                (keyup)="recipeFilter(ing, newRecipeKey.value)" [value]="ing.recipename" (focus)="onfocusIndex = i">
              <input autocomplete="off" #newRecipeKey class="form-control input-sm" *ngIf=" enableEdit && ing.itemname && ing.itemname!='N/A'"
                disabled="true" [value]="ing.recipename">
              <div class="recommend" *ngIf="recipeFilterList!== undefined && onfocusIndex == i">
                <p class="recItem" *ngFor="let recipe of recipeFilterList" (click)="selectRecipe(recipe, i); onfocusIndex = -1">Name: {{recipe.recipename}}, Id: {{recipe.recipeid}}</p>
                <!-- <p *ngIf="recipeFilterList.length == 0" class="no-result">No result found</p> -->
                <p *ngIf="findrecipe == false" class="no-result">No result found</p>
              </div>
            </td>

            <td>
              <input autocomplete="off" #ingredientamount *ngIf="enableEdit" type="text" class="form-control input-sm" [value]="ing.reqquan"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
                (keyup)="ing.reqquan = ingredientamount.value" name="ingredientamount">
            </td>

            <td>
              <select #unitval (change)="ing.requnit = unitval.value" class="form-control input-sm">
                <option *ngFor="let u of unit" [value]="u.name" [selected]="ing.requnit==u.name">{{u.name}}</option>
              </select>
            </td>
          </ng-container>
          <ng-container *ngIf="!enableEdit">
            <td>
                <p class="read-only-input" *ngIf="ing.itemname.trim()!=''">{{ing.itemname}}, Supplier: {{ing.vendor}}, Cat: {{ing.cat}}</p>
            </td>
            <td>
                <p class="read-only-input" *ngIf="ing.recipename && ing.recipename.trim()!=''">Name: {{ing.recipename}}, Id: {{ing.recipesomruid}}</p>
            </td>
            <td>
                <p class="read-only-input" >{{ing.reqquan}}</p>
            </td>
            <td>
                <p class="read-only-input"  >{{ing.requnit}}</p>
            </td>

          </ng-container>
        </tr>
        <tr>
          <td colspan="6" class="catforcomponent">
            <ngb-alert *ngIf="!finditem" (close)="finditem = true">
              <strong>If you did not find the material, please go to item inventory to add this new item!</strong>
            </ngb-alert>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="catforcomponent">
            <ngb-alert *ngIf="!findrecipe" (close)="findrecipe = true">
              <strong>If you did not find the recipe, please go to SOP to add this new recipe!</strong>
            </ngb-alert>
          </td>
        </tr>
        <tr *ngIf="enableEdit">
          <td colspan="6" style="padding:0px;">
            <button class="btn btn-outline-primary new-ingre" (click)="addNewIngredient()">
              <i class="fas fa-plus"></i> New Ingredient</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="form-group">
      <label>Direction
        <span class="star">*</span>
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Direction of the recipe">?</button>
      </label>
      <br>
      <textarea *ngIf="enableEdit" class="testarea" name="recipedirection" form="usrform" rows="15" cols="123" [(ngModel)]="displayRecipe.direction"></textarea>
      <p class="read-only-input angular-with-newlines" *ngIf="!enableEdit">{{displayRecipe.direction}}</p>
    </div>
    <div *ngIf="displayRecipe.editstatus!=''" class="form-group">
      <label>Entered By
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who entered this recipe">?</button>
      </label>
      <p class="read-only-input">{{displayRecipe.enteredby}}</p>
    </div>

    <div class="form-group">
      <label *ngIf="displayRecipe.editstatus=='Reviewed' || displayRecipe.editstatus=='Approved'||displayRecipe.editstatus=='Approve Rejected'">Reviewed
        By
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who reviewed this recipe">?</button>
      </label>
      <label *ngIf="displayRecipe.editstatus=='Review Rejected'">Reviewe Rejected By
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who reviewe rejected this recipe">?</button>
      </label>
      <p class="read-only-input" *ngIf="displayRecipe.editstatus!='Entered' && displayRecipe.editstatus!=''">{{displayRecipe.reviewedby}}</p>
    </div>

    <div class="form-group">
      <label *ngIf="(currentuserrole=='Manager' && displayRecipe.editstatus=='Entered') || displayRecipe.editstatus=='Reviewed' ||displayRecipe.editstatus=='Approved'||displayRecipe.editstatus=='Approve Rejected'">Review
        Comment
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Manager Review Comment">?</button>
      </label>
      <label *ngIf="displayRecipe.editstatus=='Review Rejected'">Review Rejected Comment
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Manager Review Comment">?</button>
      </label>
      <textarea *ngIf="currentuserrole=='Manager' && displayRecipe.editstatus=='Entered'" class="testarea" name="recipereviewcomment"
        form="usrform" rows="3" cols="123" [(ngModel)]="displayRecipe.reviewcomment"></textarea>
      <p class="read-only-input" *ngIf="displayRecipe.editstatus!='Entered' && displayRecipe.editstatus!=''">{{displayRecipe.reviewcomment}}</p>
    </div>

    <div class="form-group">
      <ngb-alert *ngIf="!reviewjectcomment" (close)="reviewjectcomment = true">
        <strong>Must comment if review reject!</strong>
      </ngb-alert>
    </div>

    <button *ngIf="currentuserrole=='Manager' && displayRecipe.editstatus=='Entered'" class="btn btn-primary" (click)="review()">
      Review
    </button>
    <button *ngIf="currentuserrole=='Manager' && displayRecipe.editstatus=='Entered'" class="btn btn-primary" (click)="reviewreject()">
      Review Reject
    </button>

    <div class="form-group">
      <label *ngIf="displayRecipe.editstatus=='Approved'">Approved By
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who approved this kit">?</button>
      </label>
      <label *ngIf="displayRecipe.editstatus=='Approve Rejected'">Approve Rejected By
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Who approve rejected this kit">?</button>
      </label>
      <p *ngIf="displayRecipe.editstatus=='Approved' || displayRecipe.editstatus=='Approve Rejected'" class="read-only-input">{{displayRecipe.approvedby}}</p>
    </div>

    <div class="form-group">
      <label *ngIf="(currentuserrole=='Senior Manager' && displayRecipe.editstatus=='Reviewed') || displayRecipe.editstatus=='Approved'">Approve
        Comment
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Senior Manager Approve Comment">?</button>
      </label>
      <label *ngIf="displayRecipe.editstatus=='Approve Rejected'">Approve Rejected Comment
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Senior Manager Approve Reject Comment">?</button>
      </label>
      <textarea *ngIf="currentuserrole=='Senior Manager' && displayRecipe.editstatus=='Reviewed'" class="testarea" name="recipeapprovecomment"
        form="usrform" rows="3" cols="123" [(ngModel)]="displayRecipe.approvecomment"></textarea>
      <p class="read-only-input" *ngIf="displayRecipe.editstatus=='Approved' || displayRecipe.editstatus=='Approve Rejected'">{{displayRecipe.approvecomment}}</p>
    </div>

    <div class="form-group">
      <ngb-alert *ngIf="!approvejectcomment" (close)="approvejectcomment = true">
        <strong>Must comment if approve reject!</strong>
      </ngb-alert>
    </div>

    <button *ngIf="currentuserrole=='Senior Manager' && displayRecipe.editstatus=='Reviewed'" class="btn btn-primary" (click)="approve()">
      Approve
    </button>
    <button *ngIf="currentuserrole=='Senior Manager' && displayRecipe.editstatus=='Reviewed'" class="btn btn-primary" (click)="approvereject()">
      Approve Reject
    </button>


    <div class="form-group submit-buttons">
      <button *ngIf="enableEdit" class="btn btn-primary" (click)="validateuserinput();">{{isNew?'Save':'Update'}}</button>
      <button type="button" class="btn btn-primary" (click)="cancelrecipe()">Close</button>
    </div>
    <ngb-alert *ngIf="!hidewarning" (close)="hidewarning=true">
      <ng-container *ngFor="let warning of inputwarning; let i = index">
        <p>
          <strong>{{warning}}</strong>
        </p>
      </ng-container>
    </ngb-alert>
  </form>
</div>