<div class="page" *ngIf="isTablet==false" align='center'>

  <div class="container" *ngIf="resetPassword == false" align='center'>
    <h1>Login</h1>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <span *ngIf="message" class="alert alert-warning">{{message}}</span>

      <div class="form-group">
        <!-- <input autocomplete="off" class="form-control" type="email" name="email" id="email" ngModel placeholder="Email" #email="ngModel"
        appForbiddenName="forbiddenNameValidator()" required /> -->
        <input autocomplete="off" class="form-control" type="email" id="email" formControlName="email"
          placeholder="Email" />
      </div>
      <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
        class="alert alert-danger">
        <label
          [ngClass]="loginForm.controls['email'].hasError('required') || loginForm.controls['email'].hasError('hasPattern') ||  loginForm.controls['email'].hasError('email')? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginForm.controls['email'].hasError('required') ||
          loginForm.controls['email'].hasError('hasPattern') || loginForm.controls['email'].hasError('email')? 'cancel' :
          'check_circle' }}
          </i>
          Enter a valid email address
        </label>
      </div>

      <div *ngIf="loginError" class="alert alert-danger">
        <label [ngClass]="loginError? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginError? 'cancel' : 'check_circle' }}
          </i>
          {{errorMessage}}
        </label>
      </div>

      <div *ngIf="activeError " class="alert alert-danger">
        <label [ngClass]="activeError? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ activeError? 'cancel' : 'check_circle' }}
          </i>
          {{errorMessage}}
        </label>
      </div>

      <div class="form-group">
        <!-- <input autocomplete="off" class="form-control" type="text" name="password" id="password" ngModel #password="ngModel"
          minlength="8"  placeholder="Password" required /> -->
        <input autocomplete="off" class="form-control" type="password" id="password" formControlName="password"
          placeholder="Password" />
      </div>

      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
        class="alert alert-danger">
        <label
          [ngClass]="loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginForm.controls['password'].hasError('required')  ? 'cancel' :
          'check_circle' }}
          </i>
          Password is required
        </label>

      </div>


      <!-- <div class="form-group">
        <label class="form-control">
          <input type="checkbox" [checked]="isRem" name="isRemember" id="isRemember" (change)="onCheckBox()"
            formControlName="isRemember">
          Remember Login
        </label>
      </div> -->

      <div class="form-group">
        <button type="submit" class="btn btn-info login-btn" id="loginbutton"
          [disabled]="loginForm.invalid || activeError">Login</button>
        <p (click)="changeTable('reset')" class="forgetpasswordbutton">Forgot Password?</p>
      </div>

    </form>
  </div>

  <div class="container" style="top: 20%; left: 30%;" *ngIf="resetPassword == true">
    <h3>Request Reset Password</h3>
    <!-- <span *ngIf="message" class="alert alert-warning">{{message}}</span> -->
    <form (ngSubmit)="sendLink()" [formGroup]="requetResetForm">


      <div class="form-group">
        <!-- <input autocomplete="off" class="form-control" type="email" name="email" id="email" ngModel placeholder="Email" #email="ngModel"
        appForbiddenName="forbiddenNameValidator()" required /> -->
        <input autocomplete="off" class="form-control" type="email" id="restemail" formControlName="resetemail"
          placeholder="Email" />
          
      </div>
      <!-- <div *ngIf="resetemail.invalid && resetemail.touched" class="alert alert-danger">
        <div *ngIf="resetemail.errors.required">
          Email is required.
        </div>
        <div *ngIf="resetemail.errors.forbiddenName">
          Email pattern is not right.
        </div>
      </div> -->
      <div *ngIf="requetResetForm.controls['resetemail'].invalid && requetResetForm.controls['resetemail'].touched"
        class="alert alert-danger">
        <label
          [ngClass]="requetResetForm.controls['resetemail'].hasError('required') || requetResetForm.controls['resetemail'].hasError('hasPattern') ||  loginForm.controls['email'].hasError('email')? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ requetResetForm.controls['resetemail'].hasError('required') ||
        requetResetForm.controls['resetemail'].hasError('hasPattern') || requetResetForm.controls['resetemail'].hasError('resetemail')? 'cancel' :
        'check_circle' }}
          </i>
          Enter a valid email address!
        </label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-info login-btn" id="loginbutton" [disabled]="requetResetForm.invalid">Reset
          Password</button>
        <p (click)="changeTable('login')" class="forgetpasswordbutton">Back to Login</p>
      </div>

    </form>
  </div>

</div>

<!-- <div class="page" *ngIf="isTablet==true">
  <div class="container" style="bottom: 50%; left: 25%;">
    <h1>Login</h1>
    <form class="form-group">
      <span *ngIf="message" class="alert alert-warning">{{message}}</span>
      <label class="login-field">
        <input autocomplete="off" class="form-control" type="text" [(ngModel)]="user.email" name="email" id="inputEmail"
          (keyup)="keyup(user.email)" placeholder="Email" />
      </label>
      <label class="form-control"><input type="checkbox" [checked]="isRem" (change)="onCheckBox()">Remember
        Login</label>
      <button type="submit" class="btn btn-info login-btn" id="loginbutton" [disabled]="emailnotvalid"
        (click)="login()">Login</button>
      <a class="button forgetpassword" [routerLink]="['/reset-password']">Forgot Password?</a>
    </form>
  </div>
</div> -->