<div>
  <nav></nav>
</div>

<div>
  <div class="titleCenter">
    <h1>
      Worksheet Template Management System
    </h1>
  </div>

  <!-- <mat-toolbar color="primary"> -->
  <nav class="tooBarColor">
    <a routerLink="/main" routerLinkActive="active" class="button">
      <!-- <a (click)="goBack()" class="button"> -->
      <i class="fas fa-home"></i>
      Home Page
    </a>
  </nav>
  <!-- </mat-toolbar> -->
</div>

<mat-divider></mat-divider>
<!-- <mat-toolbar color="primary">
  <mat-icon class='bigIcon'>archive</mat-icon>
</mat-toolbar> -->

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.author }} </mat-cell>
  </ng-container>

  <!-- Edition Column -->
  <ng-container matColumnDef="nav">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a
        routerLink="/template-main/{{ element.nav }}"
        routerLinkActive="active"
        class="button"
        >Edit</a
      >
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
