table {
        width: 100%;
}

.white{
        color: white;
}

a{
        text-decoration: none;
}

.button {
        background-color: #f44336;  
        border-radius: 5px;
        color: #fff;
        padding: .5em;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        box-sizing: border-box;
        position: relative;
        user-select: none;
        display: inline-block;
    white-space: nowrap;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    line-height: 36px;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    text-align: center;
      }

      a:hover {
        background-color: #ce0606;
      }
      
      a:active {
        box-shadow: none;
        top: 5px;
      }

      .bigIcon{
              font-size:30px;
      }

      .tooBarColor {
  background-color: #28c3ba;
}

.titleCenter {
  text-align: center;
}