.item-form {
    font-size: 12px;
  }
  
  .unit-dropdown-btn {
    width: 30%;
  }
  
  .unit-list {
    font-size: 12px;
    width: 100%;
    padding-left: 15px;
  }
  
  .submit-buttons {
    text-align: right;
  }
  
  .item-type {
    margin: 0px 10px;
  }
  
  .small-form-group{
    display: inline-block;
    height: 50px;
  }
  
  .small-form-control{
    display: inline-block;
      border: 0.01em solid lightgrey;
      padding: 5px;
      height: 100%;
  }
  
  .small-form-control>select{
    display: block;
    border: 0.01em solid #ddd;
  }
  
  .small-form-group>.btn{
    margin: 0px;
    height: 100%;
    vertical-align: top;
  }
  
  .star{
    color:red;
  }
  
  .table{
    border:black;
  }
  
  p{
    border:white;
    margin:0px;
  }

  div.form-group{
    margin:0px;
    width: 100%;
  }

  input.form-control {
    padding:8px,0px;
    margin:0px,0px,0px,0px;
    font-size: 12px;
    /* width:150px; */
    height:39px;
}

  select.form-control {
    margin:0px;
    margin:0px,0px,0px,0px;
    font-size: 12px;
    /* width:150px; */
  }

  my-date-picker.form-control{
    padding:0px;
    border:0px;
    margin:0px;
    font-size: 12px;
    /* width:150px;
    min-width:80%; */
  }



  label{
    margin-bottom:0px;
    font-size:12px;
    font-weight:bold;
  }







  .recItem {
    width: 100%;
    background-color: white;
    margin: 0px;
    transition: 1s background-color;
    -moz-transition: 1s background-color;
    -o-transition: 1s background-color;
    -webkit-transition: 1s background-color;
  }

  .recommend {
    /* position: absolute; */
    background-color: white;
    /* border: 1px solid lightgrey; */
    border: white;
    box-shadow: 3px 3px 5px 0px lightgrey;
    max-width: 90%;
  }

  .recItem:hover {
    background-color: lightgrey;
  }

  .input-group-addon{
    width: 50%;
  }

  .smalltable{
    border:0px;
    padding:0px;
    margin:0px;
    width:10%;
  }

