<div *ngIf="receiveitem" style="min-width:600px;">
  <div *ngIf="updateRf!=true && updateCon!=true">
    <table class="table table-bordered fix-table" *ngIf="enableEdit">
      <tr>
        <td style="width:100%;" colspan='4'>
          <label>Lot # <span class="star">*</span></label>
          <input autocomplete="off" class="form-control" #lotnumber (click)="showlotnumber(lotnumber.value)"
            (keyup)="showlotnumber(lotnumber.value)" [value]="displayreceiveitem.lotnumber" (focus)="onfocusIndex = i"
            id="itemdetaillotinput">
          <div class="recommend" *ngIf="lotnumbers!== undefined && onfocusIndex == i">
            <p class="recItem" *ngFor="let t of lotnumbers" (click)="selectlotnumber(t, i); onfocusIndex = -1">{{t}}
            </p>
          </div>
          <span
            *ngIf="(displayreceiveitem.itemtype=='Antibody' && displayreceiveitem.supplier=='Somru BioScience Inc.')  || (displayreceiveitem.itemtype=='Antibody' && displayreceiveitem.manufacturer=='Somru BioScience Inc.')"
            style="font-size:11px; color:red;">
            Format: ChickenId-Collection Days after First Immune-Purify Date-AS Precipitation RUN#-hIgG Depletion
            RUN#-Affinity purification RUN#</span>
        </td>

      </tr>

      <tr>
        <td style="width:25%;" colspan='1'>
          <label>Item Category </label>
          <p class="read-only-input">
            {{displayreceiveitem.itemcategory!=undefined && displayreceiveitem.itemcategory.trim()!=''?displayreceiveitem.itemcategory:'N/A'}}
          </p>
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Item Type </label>
          <p class="read-only-input">
            {{displayreceiveitem.itemtype!=undefined && displayreceiveitem.itemtype.trim()!=''?displayreceiveitem.itemtype:'N/A'}}
          </p>
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Project Number </label>
          <select class="form-control" [(ngModel)]="displayreceiveitem.projectnumber">
            <option *ngFor="let p of projectnumbers" [value]="p.name" [selected]="displayreceiveitem.projectnumber== p?.name">
              {{p.name}}</option>
          </select>
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Reserved </label>
          <br>
          <input style="background-color:red;" type="checkbox" [checked]="displayreceiveitem.reserve=='Yes'" (change)="changereservestatus()">
        </td>

      </tr>

      <tr *ngIf="showinuse">
        <td style="width:25%;" colspan='1'>
          <label>Amount <span class="star">*</span></label>
          <table style="border:0px;width:100%;">
            <tr>
              <td style="padding:0px;border:0px;width:60%;">
                <input autocomplete="off" type="text" class="form-control" id="itemdetailamountinput"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                  #receiveamount [value]="displayreceiveitem.amount"
                  (keyup)="validateamount(receiveamount.value);receiveamount.value=displayreceiveitem.amount"
                  name="amount">
              </td>
            </tr>
          </table>
        </td>

        <td style="width:25%;" colspan='1'>
          <label>In Use</label>
          <input autocomplete="off" type="text" class="form-control"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.inuse" name="inuse">
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Unit Size</label>
          <input autocomplete="off" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.unitsize" name="unitsize" />
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Unit <span class="star">*</span></label>
          <select class="form-control" id="itemdetailunitoption" #unitval [value]="displayreceiveitem.unit"
            (change)="displayreceiveitem.unit=unitval.value;">
            <option *ngFor="let u of unit" [value]="u.name" [selected]="displayreceiveitem.unit == u?.name">
              {{u.name}}
            </option>
          </select>
        </td>


      </tr>

      <tr *ngIf="!showinuse">
        <td style="width:25%;" colspan='1'>
          <label>Amount <span class="star">*</span></label>
          <table style="border:0px;width:100%;">
            <tr>
              <td style="padding:0px;border:0px;">
                <input autocomplete="off" type="text" class="form-control" id="itemdetailamountinput"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                  #receiveamount [value]="displayreceiveitem.amount"
                  (keyup)="validateamount(receiveamount.value);receiveamount.value=displayreceiveitem.amount"
                  name="amount">
              </td>
              <td style="padding:0px;border:0px;width:10%;">
                <span class="input-group-addon" id="basic-addon2" style="margin-right:0px;width:100%;">/
                  {{unreceiveamount}}</span>
              </td>
            </tr>
          </table>
        </td>

        <td style="width:25%;" colspan='1'>
          <label>Unit Size and Unit</label>
          <p class="read-only-input" id="itemdetailunit">{{displayreceiveitem.unitsize}} {{displayreceiveitem.unit}}
        </td>
        <!-- <td style="width:25%;" colspan='1'>
          <label>Reserved</label>
          <br>
          <input style="background-color:red;" type="checkbox" [checked]="displayreceiveitem.reserve=='Yes'"
            (change)="changereservestatus()">
        </td> -->
        <td colspan='1'>
          <label>Receive Person</label>
          <p class="read-only-input">{{displayreceiveitem.receiveperson}} </p>
        </td>
        <td style="width:25%;" colspan='1'>
        </td>

      </tr>

      <tr *ngIf="!showinuse">
        <td style="width:50%;" colspan='2'>
          <label>Location</label>
          <select class="form-control" #itemdetaillocation id="itemdetaillocationoption"
            [(ngModel)]="displayreceiveitem.location"
            (change)="displayreceiveitem.location=itemdetaillocation.value;displayreceiveitem.sublocation='';showsublocationoption(displayreceiveitem.location)">
            <option *ngFor="let location of locations" [value]="location.name"
              [selected]="displayreceiveitem.location == location?.name">{{location.name}}</option>
          </select>
        </td>
        <td style="width:50%;" colspan='2'>
          <label>Sub Location</label>
          <select class="form-control" *ngIf="displayreceiveitem.location && sublocations.length>0"
            [(ngModel)]="displayreceiveitem.sublocation" class="form-control" #itemdetailsublocation
            [value]="displayreceiveitem.sublocation"
            (change)="displayreceiveitem.sublocation=itemdetailsublocation.value;">
            <option *ngFor="let sublocation of sublocations" [value]="sublocation.name"
              [selected]="displayreceiveitem.sublocation == sublocation.name">{{sublocation.name}}</option>
          </select>
        </td>
      </tr>

      <tr *ngIf="showinuse">
        <td style="width:25%;" colspan='1'>
          <label>Concentration
          </label>
          <input autocomplete="off" type="text" class="form-control"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.concentration" name="concentration">
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Concentration Unit
          </label>
          <select class="form-control" #connunit [value]="displayreceiveitem.concentrationunit" (change)="displayreceiveitem.concentrationunit=connunit.value">
            <option *ngFor="let concentrationunit of concentrationunits" [value]="concentrationunit.concentrationunit"
              [selected]="displayreceiveitem.concentrationunit== concentrationunit.concentrationunit">
              {{concentrationunit.concentrationunit}}</option>
          </select>
        </td>

        <td style="width:25%;" colspan='1'>
          <label>Location <span class="star">*</span></label>
          <select class="form-control" #itemdetaillocation id="itemdetaillocationoption"
            [(ngModel)]="displayreceiveitem.location"
            (change)="displayreceiveitem.location=itemdetaillocation.value;displayreceiveitem.sublocation='';showsublocationoption(displayreceiveitem.location)">
            <option *ngFor="let location of locations" [value]="location.name"
              [selected]="displayreceiveitem.location == location?.name">{{location.name}}</option>
          </select>
        </td>

        <td style="width:25%;" colspan='1'>
          <label>Sub Location</label>
          <select class="form-control" *ngIf="(displayreceiveitem.location && sublocations.length>0)  || displayreceiveitem.sublocation"
            [(ngModel)]="displayreceiveitem.sublocation" class="form-control" #itemdetailsublocation
            [value]="displayreceiveitem.sublocation"
            (change)="displayreceiveitem.sublocation=itemdetailsublocation.value;">
            <option *ngFor="let sublocation of sublocations" [value]="sublocation.name"
              [selected]="displayreceiveitem.sublocation == sublocation.name">{{sublocation.name}}</option>
          </select>
        </td>
      </tr>

      <tr *ngIf="!showinuse">
        <td style="width:50%;" colspan='2'>
          <label *ngIf="!displayreceiveitem?.supplier?.trim().toUpperCase().includes('SOMRU') ">Received Date <span
              class="star">*</span></label>
          <my-date-picker class="form-control" id="itemdetailpredate" name="receivedate" [options]="receivedateoptions"
            [(ngModel)]="receivedate" (dateChanged)="changereceivedate($event)">
          </my-date-picker>
        </td>
        <td colspan='2' *ngIf="itemCategory=='Reference Material' || itemCategory=='Critical Reagent'">
          <label class="search-key"><input type="radio" id="expire" [checked]="expireOrRetest=='Expire'"
              (change)="expireOrRetest='Expire'">
            Expiry Date</label>
          <label class="search-key"><input type="radio" id="retest" [checked]="expireOrRetest=='Retest'"
              (change)="expireOrRetest='Retest'">
            Retest Date</label>
          <my-date-picker class="form-control" name="expiredate" [options]="expiredateoptions"
            *ngIf="expireOrRetest=='Expire'" [(ngModel)]="expiredate" (dateChanged)="changeexpiredateorrestest($event)">
          </my-date-picker>
          <my-date-picker class="form-control" name="retestdate" [options]="retestdateoptions"
            *ngIf="expireOrRetest=='Retest'" [(ngModel)]="retestdate"
            (dateChanged)="changeexpiredateorrestest($event)"></my-date-picker>
        </td>
        <td colspan='2' *ngIf="itemCategory!='Reference Material' && itemCategory!='Critical Reagent'">
          <label class="search-key">Expiry Date</label>
          <my-date-picker class="form-control" name="expiredate" [options]="expiredateoptions"
             [(ngModel)]="expiredate" (dateChanged)="changeexpiredateorrestest($event)">
          </my-date-picker>
        </td>
      </tr>


      <tr *ngIf="itemType!='Conjugate' && showinuse">
        <td style="width:50%;" colspan='2'>
          <label *ngIf="!displayreceiveitem?.supplier?.trim().toUpperCase().includes('SOMRU') ">Received Date <span
              class="star">*</span></label>
          <label *ngIf="displayreceiveitem?.supplier?.trim().toUpperCase().includes('SOMRU') ">Preparation Date
            <span class="star">*</span></label>
          <my-date-picker class="form-control" name="receivedate" id="itemdetailpredate" [options]="receivedateoptions"
            [(ngModel)]="receivedate" (dateChanged)="changereceivedate($event)">
          </my-date-picker>
        </td>
        <td colspan='2' *ngIf="itemCategory=='Reference Material' || itemCategory=='Critical Reagent' ">
          <label class="search-key"><input type="radio" id="expire" [checked]="expireOrRetest=='Expire'"
              (change)="expireOrRetest='Expire'">
            Expiry Date</label>
          <label class="search-key"><input type="radio" id="retest" [checked]="expireOrRetest=='Retest'"
              (change)="expireOrRetest='Retest'">
            Retest Date</label>
          <my-date-picker class="form-control" name="expiredate" [options]="expiredateoptions"
            *ngIf="expireOrRetest=='Expire'" [(ngModel)]="expiredate" (dateChanged)="changeexpiredateorrestest($event)">
          </my-date-picker>
          <my-date-picker class="form-control" name="retestdate" [options]="retestdateoptions"
            *ngIf="expireOrRetest=='Retest'" [(ngModel)]="retestdate"
            (dateChanged)="changeexpiredateorrestest($event)"></my-date-picker>
        </td>
        <td colspan='2' *ngIf="itemCategory!='Reference Material' && itemCategory!='Critical Reagent'">
          <label class="search-key">Expiry Date</label>
          <my-date-picker class="form-control" name="expiredate" [options]="expiredateoptions"
             [(ngModel)]="expiredate" (dateChanged)="changeexpiredateorrestest($event)">
          </my-date-picker>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemcategory=='Reference Material' &&  showinuse">
        <!-- <td colspan='1' *ngIf="itemCategory=='Reference Material'"> -->
        <td colspan='1' >
          <label>Batch# </label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailbarchnumber" #barchnumber
            [(ngModel)]="displayreceiveitem.batchnumber" name="barchnumber">
        </td>
        <!-- <td colspan='1' *ngIf="itemCategory=='Reference Material'"> -->
        <td colspan='1' >
          <label>Store Temperature (°C)</label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailstoretemperature"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 45 || event.charCode >= 48 && event.charCode <= 57"
            #storetemperature [(ngModel)]="displayreceiveitem.storetemperature" name="storetemperature">
        </td>
        <td colspan='1'>
          <label>Purity (%)</label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailpurity"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            #purity [(ngModel)]="displayreceiveitem.purity" name="purity">
        </td>
        <td colspan='1'>
          <label>Upload RF</label>
          <input type="file" class="form-control" (change)="uploadrf($event)" id="file" style="height:39px;">
        </td>
      </tr>



      <tr *ngIf="displayreceiveitem.itemtype=='Conjugate' && showinuse">
        <!-- <td style="width:25%;" colspan='1' *ngIf="itemType=='Conjugate'"> -->
        <td style="width:25%;" colspan='1'>
          <label>Molecular Weight (Dal) 
          </label>
          <input autocomplete="off" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.moleculeweight" name="moleculeweight" />
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Binding Activity (%)
          </label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailbindingactivity"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            #bindingactivity [(ngModel)]="displayreceiveitem.bindingactivity" name="bindingactivity">
        </td>
        <td colspan='1'>
          <label>Purity (%)
          </label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailpurity"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            #purity [(ngModel)]="displayreceiveitem.purity" name="purity">
        </td>

        <td colspan='1'>
          <!-- <label>Conjugate Incorporation Ratio</label> -->
          <label>Incorporation Ratio
          </label>
          <input autocomplete="off" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.conjugateincorporationratio" name="conjugateincorporationratio" />
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype=='Conjugate' && showinuse">
        <td style="width:25%;" colspan='1'>
          <label>Conjugate Chemistry 
              <p style="color:white;margin:0px;padding:0px;">a</p>
          </label>
          <select class="form-control" [(ngModel)]="displayreceiveitem.conjugatechemistry">
            <option *ngFor="let c of conjugateChemistryOptions" [value]="c.name"
              [selected]="displayreceiveitem.conjugatechemistry == c.name">{{c.name}}
            </option>
          </select>
        </td>
        <td style="width:25%;" colspan='1'>
          <label class="conjugateLabel">Conjugate to<br>Biomolecule Ratio</label>
          <select class="form-control" [(ngModel)]="displayreceiveitem.biotintobiomoleculeratio">
            <option *ngFor="let c of conjugateRatioOptions" [value]="c.name"
              [selected]="displayreceiveitem.biotintobiomoleculeratio == c.name">{{c.name}}
            </option>
          </select>
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Conjugation Run#
              <p style="color:white;margin:0px;padding:0px;">a</p>
          </label>
          <input autocomplete="off" class="form-control" type="text" [(ngModel)]="displayreceiveitem.runnumber"
            name="runnumber" />
        </td>
        <td style="width:25%;" colspan='1'>
          <label>BCA Run#
              <p style="color:white;margin:0px;padding:0px;">a</p>
          </label>
          <input autocomplete="off" class="form-control" type="text" [(ngModel)]="displayreceiveitem.bca" name="bca" />
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype=='Conjugate' && showinuse">
        <td style="width:50%;" colspan='2'>
          <label>Conjugate Preparation Date</label>
          <my-date-picker class="form-control" name="conjugateprepdate" id="itemdetailpredate" [options]="conjugateprepdateoptions"
            [(ngModel)]="conjugateprepdate" (dateChanged)="changeconjugateprepdate($event)">
          </my-date-picker>
        </td>
        <td style="width:50%;" colspan='2'>
          <label class="search-key"><input type="radio" id="expire" [checked]="expireOrRetest=='Expire'"
              (change)="expireOrRetest='Expire'">
            Expiry Date</label>
          <label class="search-key"><input type="radio" id="retest" [checked]="expireOrRetest=='Retest'"
              (change)="expireOrRetest='Retest'">
            Retest Date</label>
          <my-date-picker class="form-control" name="expiredate" [options]="expiredateoptions"
            *ngIf="expireOrRetest=='Expire'" [(ngModel)]="expiredate" (dateChanged)="changeexpiredateorrestest($event)">
          </my-date-picker>
          <my-date-picker class="form-control" name="retestdate" [options]="retestdateoptions"
            *ngIf="expireOrRetest=='Retest'" [(ngModel)]="retestdate"
            (dateChanged)="changeexpiredateorrestest($event)"></my-date-picker>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype=='Conjugate' && showinuse">
          <td colspan='2'>
              <label class="conjugateLabel">Conjugate Preparation Person</label>{{displayreceiveitem.prepperson}}
              <select [(ngModel)]="displayreceiveitem.conjugateprepperson" class="form-control input-sm ">
                <option *ngFor="let user of allusers" [value]="user.name" [selected]="displayreceiveitem.conjugateprepperson==user.name">
                  {{user.name}}
                </option>
              </select>
            </td>
        <td colspan='2'>
          <label>Upload COA</label>
          <input type="file" class="form-control" (change)="uploadcon($event )" id="file" style="height:39px;">
        </td>
      </tr>


      <tr *ngIf="displayreceiveitem.itemtype == 'Antibody'">
        <td colspan='1'>
          <label>IgG Depletion
          </label>
          <input autocomplete="off" class="form-control" style="height:15px;" type="checkbox"
            [checked]="displayreceiveitem.iggdepletion =='Yes'" (change)="changeiggdepletion()">
        </td>
        <td colspan='1'>
          <label>Conjugate
          </label>
          <input autocomplete="off" class="form-control" style="height:15px;" type="checkbox"
            [checked]="displayreceiveitem.conjugate =='Conjugated'" (change)="changeconjugate()">
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Clonality
          </label>
          <select class="form-control" #clonality [value]="displayreceiveitem.clonality"
            (change)="displayreceiveitem.clonality=clonality.value;">
            <option *ngFor="let c of clonalities" [value]="c" [selected]="displayreceiveitem.clonality == c">{{c}}
            </option>
          </select>
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Purification
          </label>
          <select class="form-control" #purification [value]="displayreceiveitem.purification"
            (change)="displayreceiveitem.purification=purification.value;">
            <option *ngFor="let p of purifications" [value]="p" [selected]="displayreceiveitem.purification == p">
              {{p}}</option>
          </select>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype == 'Antibody'">
        <td style="width:25%;" colspan='1'>
          <label>Volume
          </label>
          <input autocomplete="off" type="text" class="form-control"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.volume" name="volume">
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Volume Unit
          </label>
          <select class="form-control" #volumeunit [value]="displayreceiveitem.volumeunit"
            (change)="displayreceiveitem.volumeunit=volumeunit.value;">
            <option *ngFor="let u of volumeunits" [value]="u" [selected]="displayreceiveitem.volumeunit == u">{{u}}
            </option>
          </select>
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Weight
          </label>
          <input autocomplete="off" type="text" class="form-control"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.weight" name="weight">
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Weight Unit</label>
          <select class="form-control" #weightunit [value]="displayreceiveitem.weightunit"
            (change)="displayreceiveitem.weightunit=weightunit.value;">
            <option *ngFor="let w of weightunits" [value]="w" [selected]="displayreceiveitem.weightunit == w">{{w}}
            </option>
          </select>
        </td>

      </tr>
      <tr *ngIf="displayreceiveitem.itemtype == 'Antibody'">
          <td style="width:25%;" *ngIf="displayreceiveitem.itemtype == 'Antibody'" colspan='1'>
              <label>Species
              </label>
              <select class="form-control" #spec [value]="displayreceiveitem.species"
                (change)="displayreceiveitem.species = spec.value;">
                <option *ngFor="let s of tspecies" [value]="s" [selected]="displayreceiveitem.species == s">{{s}}
                </option>
              </select>
            </td>
            <td style="width:25%;" *ngIf="displayreceiveitem.itemtype == 'Antibody'" colspan='1'>
              <label>Host
              </label>
              <select class="form-control" #host [value]="displayreceiveitem.host"
                (change)="displayreceiveitem.host = host.value;">
                <option *ngFor="let h of hosts" [value]="h" [selected]="displayreceiveitem.host == h">{{h}}</option>
              </select>
            </td>
        <td style="width:25%;" colspan='1'>
          <label>Column Usage
          </label>
          <input autocomplete="off" type="text" class="form-control"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.usagecolumn" name="usagecolumn">
        </td>
        <td style="width:25%;" colspan='1'>
          <label>Column Preparation #
          </label>
          <input autocomplete="off" type="text" class="form-control" [(ngModel)]="displayreceiveitem.columnnumber"
            name="columnnumber">
        </td>



      </tr>

      <tr *ngIf="earlyexpiredatemessage">
        <td colspan='4'>
          <div class="form-group">
            <ngb-alert (close)="earlyexpiredatemessage = undefined">
              <strong>{{earlyexpiredatemessage}}</strong>
            </ngb-alert>
          </div>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype == 'Antibody'">

        <td style="width:50%;" colspan='2'>
          <label>APColumn Prep Date
          </label>
          <my-date-picker class="form-control" name="apcolumnprepdate" [options]="prepdateoptions"
            [(ngModel)]="apcolumnprepdate" (dateChanged)="changecolumeprepdate($event)"></my-date-picker>
        </td>

      </tr>



      <tr>
        <td style="width:100%;" colspan='4'>
          <label>Comment
          </label>
          <input autocomplete="off" type="text" class="form-control" style="width:100%;"
            [(ngModel)]="displayreceiveitem.comment" name="comment">
        </td>
      </tr>

      <tr *ngIf="inputerror==true">
        <td style="width:100%;" colspan='4'>
          <div class="form-group">
            <ngb-alert (close)="inputerror = false">
              <strong>Lot #, Amount, Location, Unit and Received Date are all required!</strong>
            </ngb-alert>
          </div>
        </td>
      </tr>

    </table>


    <table class="table table-bordered fix-table" *ngIf="!enableEdit" style="width:100%;">
      <tr>
        <td style="width:50%;" colspan="2">
          <label>Lot # </label>
          <p class="read-only-input" id="itemdetaillot">
            {{displayreceiveitem.lotnumber!=undefined && displayreceiveitem.lotnumber.trim()!=''?displayreceiveitem.lotnumber:'N/A'}}
          </p>
        </td>

        <td style="width:25%;">
          <label>Item Category </label>
          <p class="read-only-input">
            {{itemCategory!=undefined && itemCategory.trim()!=''?itemCategory:'N/A'}}
          </p>
        </td>
        <td>
          <label>Item Type </label>
          <p class="read-only-input">
            {{displayreceiveitem.itemtype!=undefined && displayreceiveitem.itemtype.trim()!=''?displayreceiveitem.itemtype:'N/A'}}
          </p>
        </td>
      </tr>

      <tr>

        <td style="width:25%;">
          <label>Amount/Quantity</label>
          <p class="read-only-input" id="itemdetailamount">
            {{displayreceiveitem.amount!=undefined && displayreceiveitem.amount.trim()!=''?displayreceiveitem.amount:'N/A'}}
            in stock</p>
        </td>
        <td style="width:25%;">
          <label>In Use</label>
          <p class="read-only-input" id="itemdetailamount">
            {{displayreceiveitem.inuse!=undefined && displayreceiveitem.inuse.trim()!=''?displayreceiveitem.inuse:'N/A'}}
            in use</p>
        </td>
        <td style="width:25%;">
          <!-- <label>Unit Size and Unit</label> -->
          <label>Unit Size</label>
          <p class="read-only-input" id="itemdetailunit">{{displayreceiveitem.unitsize}} {{displayreceiveitem.unit}}
        </td>
        <td style="width:25%;">
          <label>Concentration</label>
          <p class="read-only-input" id="itemdetailunit">{{displayreceiveitem.concentration}}
            {{displayreceiveitem.concentrationunit}}
        </td>
      </tr>

      <tr>
        <td style="width:25%;">
          <label>Project Number</label>
          <p class="read-only-input">{{displayreceiveitem.projectnumber}} </p>
        </td>
        <td style="width:25%;">
          <label>Reserved</label>
          <p class="read-only-input">{{displayreceiveitem.reserve=='Yes'?'Yes':'No'}} </p>
        </td>
        <td style="width:25%;">
          <label>Recon</label>
          <p class="read-only-input">{{displayreceiveitem.recon}} </p>
        </td>
        <td style="width:25%;" colspan="1">
          <label *ngIf="displayreceiveitem?.retestdate">Retest Date</label>
          <label *ngIf="displayreceiveitem?.expiredate">Expiry Date</label>
          <p class="read-only-input" id="itemdetailpredate" *ngIf="displayreceiveitem.expiredate">
            {{displayreceiveitem.expiredate|date}}
          </p>
          <p class="read-only-input" id="itemdetailpredate" *ngIf="displayreceiveitem.retestdate">
            {{displayreceiveitem.retestdate|date }}
          </p>
        </td>
      </tr>


      <tr>

        <td style="width:25%;" colspan="1" *ngIf="displayreceiveitem.itemtype!='Conjugate'">
          <label>{{displayreceiveitem?.supplier?.trim().toUpperCase().includes('SOMRU') ?'Preparation Date':'Received Date'}}</label>
          <p class="read-only-input" id="itemdetailpredate">
            {{displayreceiveitem.receivedate!=undefined ?(displayreceiveitem.receivedate|date) :'N/A' }}
          </p>
        </td>
        <td style="width:25%;" colspan="1" *ngIf="displayreceiveitem.itemtype!='Conjugate'">
          <label>Receive Person</label>
          <p class="read-only-input">{{displayreceiveitem.receiveperson}} </p>
        </td>
        <td style="width:25%;" *ngIf="displayreceiveitem.itemtype=='Conjugate'">
          <label>Conjugation Run#</label>
          <p class="read-only-input" style="text-decoration: underline;">{{displayreceiveitem.runnumber}}</p>
        </td>
        <td style="width:25%;" *ngIf="displayreceiveitem.itemtype=='Conjugate'">
          <label>BCA Run#</label>
          <p class="read-only-input" style="text-decoration: underline;">{{displayreceiveitem.bca}}</p>
        </td>
        <td style="width:25%;" *ngIf="displayreceiveitem.itemtype=='Conjugate'">
          <label>Conjugate Chemistry</label>
          <p class="read-only-input">{{displayreceiveitem.conjugatechemistry}}</p>
        </td>
        <td style="width:25%;" *ngIf="displayreceiveitem.itemtype=='Conjugate'">
          <label>Molecular Weight (Dal)</label>
          <p class="read-only-input">{{displayreceiveitem.moleculeweight}}</p>
        </td>
        <td colspan="2" *ngIf="displayreceiveitem.itemtype!='Conjugate'">
          <label>Location</label>
          <p class="read-only-input"  id="itemdetaillocation">{{displayreceiveitem.sublocation}}
            <span *ngIf="displayreceiveitem.sublocation && displayreceiveitem.location">of</span>
            {{displayreceiveitem.location!=undefined && displayreceiveitem.location.trim()!=''?displayreceiveitem.location:'N/A'}}
          </p>
        </td>

      </tr>

      <tr *ngIf="displayreceiveitem.itemtype=='Conjugate'">
        <td style="width:25%;" colspan="1" >
          <label>Binding Activity (%)</label>
          <p class="read-only-input" id="itemdetailpredate">
            {{displayreceiveitem.bindingactivity }}
          </p>
        </td>
        <td style="width:25%;" colspan="1" >
          <label>Purity (%)</label>
          <p class="read-only-input">{{displayreceiveitem.purity}} </p>
        </td>
        <td style="width:25%;"  colspan="1">
          <!-- <label>Conjugate Incorporation Ratio</label> -->
          <label>Incorporation Ratio</label>
          <p class="read-only-input">{{displayreceiveitem.conjugateincorporationratio}}</p>
        </td>
        <td style="width:25%;"  colspan="1">
          <label>Conjugate to Biotion Ratio</label>
          <p class="read-only-input">{{displayreceiveitem.biotintobiomoleculeratio}}</p>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype=='Conjugate'">
        <td style="width:50%;" colspan="2" >
          <label>Prepared By</label>
          <p class="read-only-input">{{displayreceiveitem.conjugateprepperson}} on
            {{displayreceiveitem.conjugateprepdate|date}}</p>
        </td>
        <td style="width:50%;" colspan="2">
          <label>Location</label>
          <p class="read-only-input">{{displayreceiveitem.sublocation}} of {{displayreceiveitem.location}}</p>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype=='Conjugate'">
        <td style="width:50%;" colspan="2">
          <label>COA File </label>
          <p class="read-only-input" class="coafile" (click)="openfile('coa')" style="font-size:12px;">
            <a href="javascript:;">{{filename}}</a>
          </p>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemcategory=='Reference Material'">
        <td style="width:25%;">
          <label>Purity (%)</label>
          <p class="read-only-input">{{displayreceiveitem.purity}}</p>
        </td>
        <td>
          <label>Batch# </label>
          <p class="read-only-input">{{displayreceiveitem.batchnumber}}</p>
        </td>
        <td style="width:25%;">
          <label>Store Temperature (°C)</label>
          <p class="read-only-input">{{displayreceiveitem.storetemperature}}</p>
        </td>
        <td colspan="4">
          <label>COA File </label>
          <p class="read-only-input" class="coafile" (click)="openfile('rf')" style="font-size:12px;">
            <a href="javascript:;">{{filename}}</a>
          </p>
        </td>
      </tr>





      <tr *ngIf="displayreceiveitem.itemtype == 'Antibody'">
        <td style="width:25%;">
          <label>Volume</label>
          <p class="read-only-input">
            {{displayreceiveitem.volume!=undefined && displayreceiveitem.volume.trim()!=''?displayreceiveitem.volume:'N/A'}}
            {{displayreceiveitem.volumeunit}}</p>
        </td>
        <td style="width:25%;">
          <label>Weight</label>
          <p class="read-only-input">
            {{displayreceiveitem.weight!=undefined && displayreceiveitem.weight.trim()!=''?displayreceiveitem.weight:'N/A'}}
            {{displayreceiveitem.weightunit}}</p>
        </td>
        <td style="width:25%;">
          <label>IgG Depletion</label>
          <p class="read-only-input">
            {{displayreceiveitem.iggdepletion!=undefined && displayreceiveitem.iggdepletion.trim()!=''?displayreceiveitem.iggdepletion:'N/A'}}
          </p>
        </td>
        <td style="width:25%;">
          <label>Conjugate</label>
          <p class="read-only-input">
            {{displayreceiveitem.conjugate!=undefined && displayreceiveitem.conjugate.trim()!=''?displayreceiveitem.conjugate:'N/A'}}
          </p>
        </td>
      </tr>


      <tr *ngIf="displayreceiveitem.itemtype == 'Antibody'">
        <td style="width:25%;">
          <label>APColumn Prep Date</label>
          <p class="read-only-input">
            {{displayreceiveitem.apcolumnprepdate!=undefined ?(displayreceiveitem.apcolumnprepdate|date) :'N/A' }}
          </p>
        </td>
        <td style="width:25%;">
          <label>Column Usage</label>
          <p class="read-only-input">
            {{displayreceiveitem.usagecolumn!=undefined ?(displayreceiveitem.usagecolumn) :'N/A' }}
          </p>
        </td>
        <td style="width:25%;">
          <label>Column Preparation #</label>
          <p class="read-only-input">
            {{displayreceiveitem.columnnumber!=undefined ?(displayreceiveitem.columnnumber) :'N/A' }}
          </p>
        </td>
        <td style="width:25%;">
          <label>Clonality</label>
          <p class="read-only-input" *ngIf=" displayreceiveitem.clonality">
            {{displayreceiveitem.clonality!=undefined && displayreceiveitem.clonality.trim()!=''?displayreceiveitem.clonality:'N/A'}}
          </p>
        </td>
      </tr>

      <tr *ngIf="displayreceiveitem.itemtype == 'Antibody'">
        <td style="width:25%;">
          <label>Specie</label>
          <p class="read-only-input">
            {{displayreceiveitem.species!=undefined && displayreceiveitem.species.trim()!=''?displayreceiveitem.species:'N/A'}}
          </p>
        </td>

        <td style="width:25%;">
          <label>Host</label>
          <p class="read-only-input">
            {{displayreceiveitem.host!=undefined && displayreceiveitem.host.trim()!=''?displayreceiveitem.host:'N/A'}}
          </p>
        </td>
        <td style="width:25%;">
          <label>Purification</label>
          <p class="read-only-input" *ngIf=" displayreceiveitem.clonality">
            {{displayreceiveitem.purification!=undefined && displayreceiveitem.purification.trim()!=''?displayreceiveitem.purification:'N/A'}}
          </p>
        </td>
      </tr>


      <tr>
        <td colspan="4">
          <label>Comment</label>
          <p class="read-only-input">{{displayreceiveitem.comment}}</p>
        </td>
      </tr>





    </table>


    <div class="form-group">
      <button *ngIf="!enableEdit && showBarcodes==false" class="btn btn-primary" (click)="showBarcodes=true"
        id="showBarcodes">Show Barcodes</button>
      <button *ngIf="!enableEdit && showBarcodes==true" class="btn btn-primary" (click)="showBarcodes=false"
        id="showBarcodes">Hide Barcodes</button>
    </div>
    <br>

    <table class="table table-bordered fix-table" *ngIf="showBarcodes==true">
      <label>Un-Open</label>
      <tr *ngFor="let array of unopenbarcodedisplay">
        <td *ngFor="let PS of array">
      <tr>
        <p class="read-only-input">{{PS}}</p>
      </tr>
      </td>
      </tr>
      <label>In-Use</label>
      <tr *ngFor="let array of inusebarcodedisplay">
        <td *ngFor="let PS of array">
      <tr>
        <p class="read-only-input">{{PS}}</p>
      </tr>
      </td>
      </tr>
    </table>


    <br>
    <div class="form-group submit-buttons">
      <button *ngIf="enableEdit" class="btn btn-primary" (click)="validateinput(displayreceiveitem);"
        id="saveitemdetail">Save</button>

      <button class="btn btn-primary" (click)="approverf()" id="cancelrf"
        *ngIf="showinuse && itemCategory=='Reference Material' && displayreceiveitem.rfstatus=='Entered' && (currentuser.role=='Manager' || currentuser.role=='Senior Manager') && !enableEdit">Approve</button>
      <button class="btn btn-primary" (click)="approvecon()" id="cancelrf"
        *ngIf="showinuse && itemType=='Conjugate' && displayreceiveitem.constatus=='Entered' && (currentuser.role=='Manager' || currentuser.role=='Senior Manager')  && !enableEdit">Approve</button>
      <button class="btn btn-primary" (click)="cancelitemdetail()" id="cancelitemdetail">Close</button>
    </div>
  </div>

  <div *ngIf="updateRf==true">
    <p style="font-size:12px;color:red;">All fields are required</p>
    <table class="table table-bordered fix-table">
      <tr>
        <td style="width:25%;" colspan="1">
          <label>Manufacturer</label>
          <p class="read-only-input" id="itemmanufacturer">{{itemManufacturer}}</p>
        </td>
        <td style="width:25%;" colspan="1">
          <label>Supplier</label>
          <p class="read-only-input" id="itemmanufacturer">{{itemSupplier}}</p>
        </td>
        <td style="width:25%;" colspan="1">
          <label>Lot#</label>
          <p class="read-only-input" id="itemmanufacturer">{{displayreceiveitem.lotnumber}}</p>
        </td>
        <td style="width:25%;" colspan="1" >
          <label>Receice Date</label>
          <p class="read-only-input" id="itemmanufacturer">{{displayreceiveitem.receivedate|date}}</p>
        </td>
      </tr>

      <tr>
        <td style="width:25%;" colspan="1">
          <label>Batch# </label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailbarchnumber" #barchnumber
            [(ngModel)]="displayreceiveitem.batchnumber" name="barchnumber">
        </td>
        <td style="width:25%;" colspan="1">
          <label>Store Temperature (°C)</label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailstoretemperature"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 45 || event.charCode >= 48 && event.charCode <= 57"
            #storetemperature [(ngModel)]="displayreceiveitem.storetemperature" name="storetemperature">
          <!-- <td style="padding:0px;border:0px;width:25%;">
                    <span class="input-group-addon" id="basic-addon2"
                      style="margin-right:0px;width:100%;height:39px;"><label></label></span>
                  </td> -->
        </td>
        <td style="width:25%;" colspan="1">
          <label>Purity (%)</label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailpurity"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            #purity [(ngModel)]="displayreceiveitem.purity" name="purity">
          <!-- <td style="padding:0px;border:0px;width:25%;">
                    <span class="input-group-addon" id="basic-addon2"
                      style="margin-right:0px;width:100%;height:39px;"><label>%</label></span>
                  </td> -->
        </td>
        <td style="width:25%;" colspan="1">
          <label>Upload RF</label>
          <input type="file" class="form-control" (change)="uploadrf($event)" id="file" style="height:39px;">
        </td>
      </tr>

    </table>
    <br>
    <div class="form-group submit-buttons">
      <button class="btn btn-primary" (click)="validrf(displayreceiveitem);" id="saverf">Save</button>
      <button class="btn btn-primary" (click)="cancelrf()" id="cancelrf">Close</button>

    </div>
  </div>


  <div *ngIf="updateCon==true">
      <p style="font-size:12px;color:red;">All fields are required</p>
    <table class="table table-bordered fix-table">
      <!-- <tr>
        <td style="width:50%;">
          <label>Concentration </label>
          <input autocomplete="off" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.concentration" name="concentration" />
        </td>
        <td style="width:50%;">
          <label>Concentration Unit
          </label>
          <select class="form-control" #concentrationunit [(ngModel)]="displayreceiveitem.concentrationunit">
            <option *ngFor="let concentrationunit of concentrationunits" [value]="concentrationunit.concentrationunit"
              [selected]="displayreceiveitem.concentrationunit== concentrationunit.concentrationunit">
              {{concentrationunit.concentrationunit}}</option>
          </select>
        </td>
      </tr> -->
      <tr>
        <td style="width:25%;" colspan="1">
          <label>Molecular Weight (Dal)
          </label>
          <input autocomplete="off" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.moleculeweight" name="moleculeweight" />
        </td>
        <td style="width:25%;">
          <label>Binding Activity (%)
          </label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailbindingactivity"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            #bindingactivity [(ngModel)]="displayreceiveitem.bindingactivity" name="bindingactivity">
          <!-- <td style="padding:0px;border:0px;width:25%;">
                <span class="input-group-addon" id="basic-addon2"
                  style="margin-right:0px;width:100%;height:39px;"><label>%</label></span>
              </td> -->
        </td>
        <td style="width:25%;">
          <label>Purity (%)</label>
          <input autocomplete="off" type="text" class="form-control" id="itemdetailpurity"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            #purity [(ngModel)]="displayreceiveitem.purity" name="purity">
          <!-- <td style="padding:0px;border:0px;width:25%;">
                  <span class="input-group-addon" id="basic-addon2"
                    style="margin-right:0px;width:100%;height:39px;"><label>%</label></span>
                </td> -->
        </td>
        <td style="width:25%;">
          <!-- <label>Conjugate Incorporation Ratio</label> -->
          <label>Incorporation Ratio</label>
          <input autocomplete="off" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayreceiveitem.conjugateincorporationratio" name="conjugateincorporationratio" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <label>Upload COA</label>
          <input type="file" class="form-control" (change)="uploadcon($event )" id="file" style="height:39px;">
        </td>

      </tr>
    </table>
    <br>
    <div class="form-group submit-buttons">
      <button class="btn btn-primary" (click)="validcon(displayreceiveitem);" id="savecon">Save</button>
      <button class="btn btn-primary" (click)="cancelcon()" id="cancelcon">Close</button>

    </div>
  </div>



</div>



<ng-template #uploadfile let-c="close" class="importfile">
  <div class="modal-header">
    <h4 class="modal-title">
      Import File
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <label class="btn btn-primary  btn-file">Browse
      <input autocomplete="off" type="file" name="file" (change)="getfilelocation($event)">
    </label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="savefilelocation(); c('')">Import</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('');closefilemodel()">Cancel</button>
  </div>
</ng-template>