<div>
  <nav></nav>
</div>

<div>
  <div class="titleCenter">
    <h1>
      Worksheet Template Management System
    </h1>
  </div>

  <!-- <mat-toolbar color="primary"> -->
  <nav class="tooBarColor">
    <a routerLink="/main" routerLinkActive="active" class="button">
      <i class="fas fa-home"></i>
      Home Page
    </a>
  </nav>
  <!-- </mat-toolbar> -->
</div>

<mat-divider></mat-divider>
<!-- <mat-toolbar color="primary">
  <mat-icon class='bigIcon'>archive</mat-icon>
</mat-toolbar> -->

<mat-table [dataSource]="worksheet" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> Worksheet ID </mat-header-cell>
    <mat-cell *matCellDef="let worksheet"> {{ worksheet.worksheetID }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Scientist Name </mat-header-cell>
    <mat-cell *matCellDef="let worksheet"> {{ worksheet.scientist }} </mat-cell>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let worksheet"> {{ worksheet.date}} </mat-cell>
  </ng-container>

  <!-- Edition Column -->
  <ng-container matColumnDef="nav">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let worksheet">
      <button mat-raised-button color="warn" [routerLink]="['template-one-edit', worksheet.worksheetID]">EDIT</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
