<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css" />

<section class="timer">

        <div class="wrapper">


                <div id="countdown">

                        <div class="cd-box">
                                <p class="numbers hours">{{ timeArr[0] }}</p>
                                <br />
                                <p class="strings timeRefHours">Hours</p>
                        </div>
                        <div class="cd-box">
                                <p class="numbers minutes">{{ timeArr[1] }}</p>
                                <br />
                                <p class="strings timeRefMinutes">Minutes</p>
                        </div>
                        <div class="cd-box">
                                <p class="numbers seconds">{{ timeArr[2] }}</p>
                                <br />
                                <p class="strings timeRefSeconds">Seconds</p>
                        </div>
                        <!-- <div class="cd-box"></div> -->
                        <div class="cd-box wider">
                                <button mat-raised-button color="primary" (click)="startTimer()" class="btn-right">
                                        <mat-icon>play_arrow</mat-icon>
                                </button>
                                <button mat-raised-button color="primary" (click)="pauseTimer()" class="btn-right">
                                        <mat-icon>pause</mat-icon>
                                </button>

                                <button mat-raised-button color="warn" (click)="stopTimer()" class="btn-right">
                                        <mat-icon>stop</mat-icon>
                                </button>
                                <mat-form-field appearance="outline">
                                        <mat-label>Seconds</mat-label>
                                        <input matInput (change)="onKeySecond($event)" type="number" />
                                        <mat-hint align="end">numbers required</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                        <mat-label>Minutes</mat-label>
                                        <input matInput (change)="onKeyMin($event)" type="number" />
                                        <mat-hint align="end">numbers required</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                        <mat-label>Hours</mat-label>
                                        <input matInput (change)="onKeyHr($event)" type="number" />
                                        <mat-hint align="end">numbers required</mat-hint>
                                </mat-form-field>
                        </div>
                </div>
                <!-- end div#countdown -->
        </div>
        <!-- end div.wrapper -->
</section>