.timerButton {
  float: right;
}
.btn-right {
  margin-left: 5px;
  margin-bottom: 15px;
}

/* resets and general styles */

* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.timer {
  height: 450px;
  width: auto;
  /* border: red solid 2px; */
  margin-top: 30px;
}

::-moz-selection {
  color: #ffffff;
  background: #ff5722;
}

::selection {
  color: #ffffff;
  background: #ff5722;
}

div.wrapper {
  width: calc(5 * 225px);
  margin: 0 auto;
}

span,
a,
strong {
  font-weight: 700;
}

/* section */

section {
  width: 100%;
  height: 50%;
}

section h1,
section p.meta {
  color: #ffffff;
  margin-bottom: 15px;
}

/* section hgroup{margin-top: -360px;} */

section p.numbers {
  font-size: 6em;
}
section p.meta,
section p.strings {
  font-size: 1.5em;
}
section h1 {
  font-size: 4.5em;
}

/* countdown styles */

div#countdown {
  color: #353535;
}

div#countdown p {
  /* width: 100%; */
  display: inline-block;
  text-align: center;
  /* border: 2px solid blue; */
  /* color: green; */
  /* color: black; */
}

p.numbers {
  width: 100%;
  height: 85%;
  background: #ffffff;
  margin-top: -25px;
  padding-top: 100px;
}

p.strings {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background: #ff5722;
  color: #ffffff;
}

div.cd-box {
  width: 210px;
  height: 360px;
  background: #ffffff;
  float: left;
  padding: 25px 0 0 0;
  margin: 30px 15px 0 0;
  -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  /* border: 4px solid goldenrod; */
}

div.cd-box.wider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  width: 220px;
  left: 150px;
}
