<div class="page" align='center'>
  <div class="container" *ngIf="showResetPass" align='center'>
    <h3>Reset Password</h3>
    <form (ngSubmit)="changePassword()" [formGroup]="resetPasswordForm">
      <div class="form-group">
        <input autocomplete="off" class="form-control" type="password" id="resetpassword"
          formControlName="password" placeholder="Reset Password" />
      </div>
      <div *ngIf="resetPasswordForm.controls['password'].invalid && resetPasswordForm.controls['password'].touched"
        class="alert alert-danger">

        <label class="col"
          [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ resetPasswordForm.controls['password'].hasError('required') ||
          resetPasswordForm.controls['password'].hasError('minlength') ? 'cancel' :
          'check_circle' }}
          </i>
          Must be at least 8 characters!
        </label>

        <label class="col"
          [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('maxlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ resetPasswordForm.controls['password'].hasError('required') ||
        resetPasswordForm.controls['password'].hasError('maxlength') ? 'cancel' :
        'check_circle' }}
          </i>
          Must be at most 15 characters!
        </label>

        <label class="col"
          [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ resetPasswordForm.controls['password'].hasError('required') ||
          resetPasswordForm.controls['password'].hasError('hasNumber') ? 'cancel' :
          'check_circle' }}
          </i>
          Must contain at least 1 number!
        </label>

        <label class="col"
          [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ resetPasswordForm.controls['password'].hasError('required') ||
          resetPasswordForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
          'check_circle' }}
          </i>
          Must contain at least 1 in Capital Case!
        </label>

        <label class="col"
          [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ resetPasswordForm.controls['password'].hasError('required') ||
          resetPasswordForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
          'check_circle' }}
          </i>
          Must contain at least 1 Letter in Small Case!
        </label>

        <label class="col"
          [ngClass]="resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ resetPasswordForm.controls['password'].hasError('required') ||
          resetPasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
          'check_circle' }}
          </i>
          Must contain at least 1 Special Character!
        </label>
      </div>
      <div class="form-group">
        <!-- <input *ngIf="resetpassword.invalid" autocomplete="off" class="form-control" type="password" id="confirmpassword" 
          formControlName="confirmpassword" placeholder="Confirm Password" disabled />
          <input *ngIf="!resetpassword.invalid" autocomplete="off" class="form-control" type="password" id="confirmpassword" 
          formControlName="confirmpassword" placeholder="Confirm Password" /> -->
        <input autocomplete="off" class="form-control" type="password" id="confirmpassword"
          formControlName="confirmPassword" placeholder="Confirm Password" />
      </div>
      <div *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched" class="alert alert-danger">
        <!-- <div *ngIf="confirmpassword.errors.required">
          Password is required.
        </div>
        <div *ngIf="confirmpassword.errors.minlength">
          Password must be at least 6 characters long.
        </div>
        <div *ngIf="confirmpassword.errors.maxlength">
          Password must be at most 15 characters long.
        </div>
        <div *ngIf="confirmpassword.errors.forbiddenName">
          Two passwords must be same.
        </div> -->
        <!-- <label class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">
          Please enter confirm password
        </label>
        <label class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
          Password does not match
        </label> -->

        <label class="col"
        [ngClass]="resetPasswordForm.controls['confirmPassword'].hasError('required') ? 'text-danger' : 'text-success'">
        <i class="material-icons">
          {{ resetPasswordForm.controls['confirmPassword'].hasError('required')? 'cancel' :
        'check_circle' }}
        </i>
        Please enter a confirm password
      </label>

        <label class="col"
          [ngClass]="resetPasswordForm.controls['confirmPassword'].hasError('required') || resetPasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ resetPasswordForm.controls['confirmPassword'].hasError('required') ||
          resetPasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch') ? 'cancel' :
          'check_circle' }}
          </i>
          Password dose not match
        </label>




      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info login-btn" id="submitbutton"
          [disabled]="resetPasswordForm.invalid">Reset
          Password and log in</button>
        <p (click)="backToLogin()" class="backtologinbutton">Back to Login</p>
      </div>
    </form>
  </div>
</div>