#menu>a>span{
    cursor: default;
}

.icon-btn{
    cursor: pointer;
}

.search-bar{
    float:right;
    margin: 0px;
}

.navbar-header{
    width: 100%;
}

.cus-nav{
    background-color: #0285b9;
    color: black;
    margin-bottom: 20px;
}

.navbar-brand{
    color: white;
}

.tab-description{
    background: white;
    border: 1px solid lightgrey;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 15px;
}

.tabs{
    padding: 0px;
    margin: 0px 20px;
    width: 97%;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px lightgrey;
    display: block;
}

.search-input{
    border-radius: 3px;
    border:1px solid lightgrey;
    width: 300px;
    transition:width 1s;
    -moz-transition:width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
}

.search-input:focus{
    width: 500px;
}

.image{
    position:absolute;
    left:10px;
    width:50px;
    height:50px;
}

.catalog-maker{
    position: fixed;
    height: 100vh;
    top: 0px;
    width: 33vw;
    background-color: white;
    border-left: 15px solid #28c3ba;
    transition: right 1s;
    -moz-transition: right 1s;
    -o-transition: right 1s;
    -webkit-transition: right 1s;
}

.visible{
    right:0px;
}

.hidden{
    right:-33vw;
}

.cat-btn{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 48px;
    left: -100px;
    background-color: #47cec6;
    border-color: #28c3ba;
}

.cat-btn:hover, .cat-btn:focus, .cat-btn:active, .btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle{
    background-color: #28c3ba;
    box-shadow: none;
    border-color: #28c3ba;
}

.outside{
    position: fixed;
    top:0px;
    left: 0px;
    width: 67vw;
    height: 100%;
    background: transparent;
    border: none;
    cursor: default;
    padding: 0px;
}

.panel-heading{
    width: 100%;
    height: 6vh;
    background-color: #28c3ba;
    font-size: 18px;
    border: 1px solid white;
    font-weight: bold;
    padding: 5px 10px;
    color: #f1f1f1;
}

.panel-body{
    padding: 0px 10px;
    height: 88vh;
    position: relative;
}

.edit-cat-setting{
    color: white;
    float: right;
}

.user-container{
    color: white;
    font-size: 17px;
}

.user-container>button{
    color: white;
}


/* design 2.0 */
/* .fixed-menu{
    height: 100vh;
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 5px;
    z-index: 1;
    background-color: #313131;
  
    
} */

.scroll-btn{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    height: 4vh;
}

.menu{
    margin: 0px;
    padding: 0px;
    color: #b3b3b3;
    height: 100vh;
    position: fixed;
    display: inline-block;
    top: 0px;
    width: 20px;
    left: 0px;
    z-index: 1;
    background-color: #313131;  
    overflow-y:auto; 
    overflow-x:hidden; 

}

/* .menu-bg{
    background-color: #313131;
} */

.show-all{
    height: 100vh;
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 5px;
    z-index: 1;
    background-color: #313131;
}

.show-all>a{
    display: block;
    font-size: 25px;
    text-align: center;
    border-width: 0px 0px 1px 0px;
    background-color: #313131;
    border-style: solid;
    border-color: #4a4a4a;
    box-shadow: inset 5px -5px 9px 0px #1f1f1f;
    width: 80px;
    /* left: -75px; */
    /* height: 50px; */
    color: white;
    display: block;
    padding: 10px;
    transition: right 1s;
    -moz-transition: right 1s;
    -o-transition: right 1s;
    -webkit-transition: right 1s;
}

.show-all>a>i{
    visibility:visible;
    display: block;

}

.show-all>a>span{
    font-size: 11px;
    display: block;

}

/* .show-all>a:hover{
    border: 1px solid white;
    border-left: none;
    text-align: center;
    background-color: #17a2b8;
    color: white;
    display: block;
    padding: 10px;
    -webkit-box-shadow: 1px 5px 10px -2px rgba(67, 67, 67, 0.5);
    box-shadow: 1px 5px 10px -2px rgba(67, 67, 67, 0.5);
    width: 80px;
    cursor: pointer;
    text-decoration: none;
} */

.menu>a{
    position: relative;
    display: block;
    font-size: 25px;
    text-align: center;
    /* padding: 5px 10px; */
    border-width: 0px 0px 1px 0px;
    background-color: #313131;
    border-style: solid;
    border-color: #4a4a4a;
    box-shadow: inset 5px -5px 9px 0px #1f1f1f;
    padding: 5px 20px;
    left: 0px;
    right: 0px;
    color:white;
}

/* .menu>a:hover{
    border: 1px solid white;
    border-left: none;
    text-align: center;
    background-color: #17a2b8;
    color: white;
    display: block;
    left: 0px;
    -webkit-box-shadow: 1px 5px 10px -2px rgba(67, 67, 67, 0.5);
    box-shadow: 1px 5px 10px -2px rgba(67, 67, 67, 0.5);
    width: 80px;
    cursor: pointer;
    text-decoration: none;
} */

/* .menu>a:hover .menu{
    width: auto;
} */

.menu>a>span{
    font-size: 11px;
    display: block;
    /* width:80px;
    left:-75px; */
}

.menu>a.active{
    background-color: #c3e933;
    color: black;
    box-shadow: none;
}

.show-all>a.active{
    background-color: #c3e933;
    color: black;
    box-shadow: none;
    border-color: #313131;
}

/* .menu>li:hover{
    font-size: 25px;
    text-align: center;
    padding: 5px 10px;
} */

.page{
    height:100vh;
    margin: 0px 25px;
    border-width: 0px 2px;
    border-style: dotted;
    border-color: #ccc;
    background-color: rgba(254, 255, 251, 0.7);
}

.expand-menu{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #313131;
    border: none;
    color: white;
    cursor: pointer;
}

.lock-menu{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px;
}

.lock{
    background-color: rgba(255, 250, 144, 0.8);
}

.user-panel{
    position: fixed;
    right: 25px;
    top: -40px;
    transition:top 1s;
    -moz-transition:top 1s;
    -o-transition: top 1s;
    -webkit-transition: top 1s;
}

.user-box{
    /* background-color: #17a2b8; */
    color: #17a2b8;
    padding: 5px 10px;
    display: block;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    background-color: transparent;
    font-style:italic;
    font-size: 20px;
}

.user-show{
    display: block;
    width: 100%;
    height: 18px;
    line-height: 0;
    background-color: #1493a7;
    border: none;
    border-radius: 0px 0px 5px 5px;
    color: white;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  ::-webkit-scrollbar-thumb {
    /* background-color: rgba(211, 211, 211, 0.5);  */
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent; 
  }