<div *ngIf="!isTablet">
  <div class="user-panel" [style.top.px]="0">
    <div class="user-box">Hello {{user?.name}} <button class="btn btn-default icon-btn" (click)="signout()">
        <i class="fas fa-power-off"></i>
      </button></div>
    <!-- <button class="user-show" (click)="showuser=!showuser" (blur)="closeUserPanel()"><i class="fas fa-angle-down"></i></button> -->
  </div>
  <div>
    <!-- <div class="fixed-menu" [style.width.px]="showAll?80:5" (mouseover)="showAll=true" (mouseout)="showAll=false"> -->
    <!-- <button class="scroll-btn"><i class="fas fa-angle-up"></i></button> -->
    <div class="menu" id="menu" (mouseover)="showmenu()" (mouseout)="hidemenu()">

      <a [class.active]="currentTab == 'dboard'" (click)="currentTab = 'dboard'" id="dashboard">
        <i class="far fa-clipboard"></i>
        <span>Dashboard</span>
      </a>
      <!-- <a [class.active]="currentTab == 'profile'" (click)="currentTab = 'profile'">
          <i class="far fa-user"></i>
          <span>Profile</span>
        </a> -->
      <a [class.active]="currentTab == 'inven'" (click)="currentTab = 'inven'" id="invent">
        <i class="fas fa-list-alt"></i>
        <span>Inventory</span>
      </a>
      <a [class.active]="currentTab == 'order'" (click)="currentTab = 'order'" id="order">
        <i class="fas fa-shopping-bag"></i>
        <span>Order Item</span>
      </a>
      <a [class.active]="currentTab == 'sop'" (click)="currentTab = 'sop'" id="sop">
        <i class="fas fa-flask"></i>
        <span>SOP</span>
      </a>
      <a [class.active]="currentTab == 'kit'" (click)="currentTab = 'kit'" id="kit">
        <i class="fas fa-box"></i>
        <span>Kit Assembly</span>
      </a>
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'product'" id="product"
        (click)="currentTab = 'product'">
        <i class="fas fa-users"></i>
        <span>Products</span>
      </a>
      <a [class.active]="currentTab == 'egg inventory'" (click)="currentTab = 'egg inventory'" id="egg">
        <i class="fas fa-box"></i>
        <span>Egg Inventory</span>
      </a>
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'client'" id="client"
        (click)="currentTab = 'client'">
        <i class="fas fa-users"></i>
        <span>Clients</span>
      </a>
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'sale'" id="sale" (click)="currentTab = 'sale'">
        <i class="fas fa-dollar-sign"></i>
        <span>Sales</span>
      </a>

      <a [class.active]="currentTab == 'config'" (click)="currentTab = 'config'" id="config">
        <i class="fas fa-cogs"></i>
        <span>Config</span>
      </a>
      <!-- <a [class.active]="currentTab == 'ship'" (click)="currentTab = 'ship'">
          <i class="fas fa-plane"></i>
          <span>Shipment</span>
        </a>
        <a [class.active]="currentTab == 'admin'" (click)="currentTab = 'admin'">
          <i class="fas fa-suitcase"></i>
          <span>Administrator</span>
        </a> -->
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'user history'" id="history"
        (click)="currentTab = 'user history'">
        <i class="fas fa-laptop"></i>
        <span>User History</span>
      </a>

      <a [class.active]="currentTab == 'template-main'" id="template-main" (click)="currentTab = 'template-main'">
        <i class="far fa-file-alt"></i>
        <span>Worksheet</span>
      </a>
    </div>
    <!-- <button *ngIf="showAll" class="icon-btn btn lock-menu" [class.lock]="lock" (click)="lock=!lock; lock?'':closeMenu()">
        <i class="fas fa-lock" *ngIf="lock"></i>
        <i class="fas fa-lock-open" *ngIf="!lock"></i>
      </button> -->
    <!-- <button class="scroll-btn"><i class="fas fa-angle-down"></i></button> -->
    <!-- </div> -->








    <!-- <button class="expand-menu" [style.left.px]="showAll?80:0" (click)="showAll = !showAll" (blur)="closeMenu()">
      <i *ngIf="!showAll" class="fas fa-caret-right"></i>
      <i *ngIf="showAll" class="fas fa-caret-left"></i>
    </button> -->
    <div class="page">
      <app-dashboard *ngIf="currentTab=='dboard'" (routeMain)="dashboardRoute($event)"></app-dashboard>

      <app-inventory *ngIf="currentTab=='inven'" [isShowItem]="showItem" [isShowItemDetail]="showItemdetail"
        [item]="item" [displayitemdetail]="newitemdetail" [eggtransfer]="eggtransfer" [enabledEditItem]="edititem"
        [edititemdetail]="edititemdetail" (resetView)="reset()"
        (sendorder)="currentTab='order'; openorderrequests($event[1])" (cleanView)="clearItem()"></app-inventory>

      <app-orderitem *ngIf="currentTab=='order'" [multipleorders]="requests"
        [editmultipleorderitems]="showmultiplerequests" [isShoworderItem]="isShoworderItem" [orderitem]="orderitem"
        (resetView)="reset()"></app-orderitem>

      <app-sop *ngIf="currentTab=='sop'" [isShowRecipe]="showRecipe" [displayRecipe]="displayRecipe"
        (resetView)="reset()"></app-sop>

      <app-kit *ngIf="currentTab=='kit'" [isShowKit]="showKit" [showkit]="kit" (changeTab)="tabset.select($event)"
        (sendout)="currentTab = 'sop'; changetorecipe($event[1])"
        (sendorder)="currentTab='order'; openorderrequests($event)" (cleanView)="clearKit()"></app-kit>

      <app-egginventory *ngIf="currentTab=='egg inventory'" [isShowChicken]="showChicken" [chicken]="chicken"
        (opennewitem)="currentTab='inven';transtoitem($event)"
        (opennewitemdetail)="currentTab='inven';transtoitemdetail($event)"></app-egginventory>

      <app-admin *ngIf="currentTab=='admin'&&userIsManager===true"></app-admin>
      <app-client *ngIf="currentTab=='client'&&userIsManager===true"></app-client>
      <app-sale *ngIf="currentTab=='sale'&&userIsManager===true"></app-sale>
      <app-product *ngIf="currentTab=='product'&&userIsManager===true" [displayProduct]="product"></app-product>
      <app-config *ngIf="currentTab=='config'"></app-config>
      <app-userhistory *ngIf="currentTab=='user history'&&userIsManager===true"></app-userhistory>
      <app-template-main *ngIf="currentTab=='template-main'"></app-template-main>
    </div>
  </div>

  <button class="outside" *ngIf="catFocus" (click)="catFocus=false; catalogViewMode = 'search'"></button>
  <div class="catalog-maker" [class.visible]="catFocus" [class.hidden]="!catFocus">
    <button class="btn btn-success cat-btn" (click)="catFocus=!catFocus">Master Catalog</button>
    <div class="catalog-body">
      <div class="panel panel-default">
        <div class="panel-heading" (click)="catalogViewMode = 'search'">Search</div>
        <div class="panel-body" *ngIf="catalogViewMode == 'search'">
          <app-catalog-search (viewkit)="currentTab ='kit'; setKit($event)"
            (viewproduct)="currentTab='product'; setProduct($event)"></app-catalog-search>
        </div>
      </div>

      <div class="panel panel-default" *ngIf="user?.role !== 'User'">
        <div class="panel-heading" (click)="catalogViewMode = 'gen'">Catalog Generator</div>
        <div class="panel-body" *ngIf="catalogViewMode == 'gen'">
          <app-catalog></app-catalog>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="isTablet">
  <div class="user-panel" [style.top.px]="0">
    <div class="user-box">Hello {{user?.name}} <button class="btn btn-default icon-btn" (click)="signout()">
        <i class="fas fa-power-off"></i>
      </button></div>
  </div>
  <div>
    <div class="menu" id="menu" (mouseover)="showmenu()" (mouseout)="hidemenu()" (click)="changeMenuStatus()">

      <a [class.active]="currentTab == 'dboard'" (click)="currentTab = 'dboard'" id="dashboard">
        <i class="far fa-clipboard"></i>
        <span>Dashboard</span>
      </a>
      <a [class.active]="currentTab == 'inven'" (click)="currentTab = 'inven'" id="invent">
        <i class="fas fa-list-alt"></i>
        <span>Inventory</span>
      </a>
      <a [class.active]="currentTab == 'order'" (click)="currentTab = 'order'" id="order">
        <i class="fas fa-shopping-bag"></i>
        <span>Order Item</span>
      </a>
      <a [class.active]="currentTab == 'sop'" (click)="currentTab = 'sop'" id="sop">
        <i class="fas fa-flask"></i>
        <span>SOP</span>
      </a>
      <a [class.active]="currentTab == 'kit'" (click)="currentTab = 'kit'" id="kit">
        <i class="fas fa-box"></i>
        <span>Kit Assembly</span>
      </a>
      <a [class.active]="currentTab == 'egg inventory'" (click)="currentTab = 'egg inventory'" id="egg">
        <i class="fas fa-box"></i>
        <span>Egg Inventory</span>
      </a>
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'client'" id="client"
        (click)="currentTab = 'client'">
        <i class="fas fa-users"></i>
        <span>Clients</span>
      </a>
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'sale'" id="sale" (click)="currentTab = 'sale'">
        <i class="fas fa-dollar-sign"></i>
        <span>Sales</span>
      </a>
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'product'" id="product"
        (click)="currentTab = 'product'">
        <i class="fas fa-users"></i>
        <span>Products</span>
      </a>
      <a [class.active]="currentTab == 'config'" (click)="currentTab = 'config'" id="config">
        <i class="fas fa-cogs"></i>
        <span>Config</span>
      </a>
      <a *ngIf="userIsManager === true" [class.active]="currentTab == 'user history'" id="history"
        (click)="currentTab = 'user history'">
        <i class="fas fa-laptop"></i>
        <span>User History</span>
      </a>
    </div>
    <div class="page" style="width:750px;">
      <app-dashboard *ngIf="currentTab=='dboard'" (routeMain)="dashboardRoute($event)"></app-dashboard>

      <app-inventory *ngIf="currentTab=='inven'" [isShowItem]="showItem" [isShowItemDetail]="showItemdetail"
        [item]="item" [displayitemdetail]="newitemdetail" [eggtransfer]="eggtransfer" [enabledEditItem]="edititem"
        [edititemdetail]="edititemdetail" (resetView)="reset()"
        (sendorder)="currentTab='order'; openorderrequests($event[1])" (cleanView)="clearItem()"></app-inventory>

      <app-orderitem *ngIf="currentTab=='order'" [multipleorders]="requests"
        [editmultipleorderitems]="showmultiplerequests" [isShoworderItem]="isShoworderItem" [orderitem]="orderitem"
        (resetView)="reset()"></app-orderitem>

      <app-sop *ngIf="currentTab=='sop'" [isShowRecipe]="showRecipe" [displayRecipe]="displayRecipe"
        (resetView)="reset()"></app-sop>

      <app-kit *ngIf="currentTab=='kit'" [isShowKit]="showKit" [showkit]="kit" (changeTab)="tabset.select($event)"
        (sendout)="currentTab = 'sop'; changetorecipe($event[1])"
        (sendorder)="currentTab='order'; openorderrequests($event)" (cleanView)="clearKit()"></app-kit>

      <app-egginventory *ngIf="currentTab=='egg inventory'" [isShowChicken]="showChicken" [chicken]="chicken"
        (opennewitem)="currentTab='inven';transtoitem($event)"
        (opennewitemdetail)="currentTab='inven';transtoitemdetail($event)"></app-egginventory>

      <app-admin *ngIf="currentTab=='admin'&&userIsManager===true"></app-admin>
      <app-client *ngIf="currentTab=='client'&&userIsManager===true"></app-client>
      <app-sale *ngIf="currentTab=='sale'&&userIsManager===true"></app-sale>
      <app-product *ngIf="currentTab=='product'&&userIsManager===true" [displayProduct]="product"></app-product>
      <app-config *ngIf="currentTab=='config'"></app-config>
      <app-userhistory *ngIf="currentTab=='user history'&&userIsManager===true"></app-userhistory>
    </div>
  </div>

  <div class="catalog-maker" [class.visible]="catFocus" [class.hidden]="!catFocus">
    <button class="btn btn-success cat-btn" (click)="catFocus=!catFocus">Master Catalog</button>
    <div class="catalog-body">
      <div class="panel panel-default">
        <div class="panel-heading" (click)="catalogViewMode = 'search'">Search</div>
        <div class="panel-body" *ngIf="catalogViewMode == 'search'">
          <app-catalog-search (viewkit)="currentTab ='kit'; setKit($event); catFocus = false;"
            (viewproduct)="currentTab=='product'; setProduct($event); catFocus = false;"></app-catalog-search>
        </div>
      </div>

      <div class="panel panel-default" *ngIf="user?.role !== 'User'">
        <div class="panel-heading" (click)="catalogViewMode = 'gen'">Catalog Generator</div>
        <div class="panel-body" *ngIf="catalogViewMode == 'gen'">
          <app-catalog></app-catalog>
        </div>
      </div>

    </div>
  </div>
</div>