a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}

a:hover {
  background-color: #ce0606;
}

a:active {
  box-shadow: none;
  top: 5px;
}

/* Non-Demo Styles */
/* body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    } */

.button {
  text-transform: uppercase;
  background-color: #f44336;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  user-select: none;
  display: inline-block;
  /* white-space: nowrap; */
  /* white-space: nowrap;  */
  /* vertical-align: text-bottom; */
  /* text-align: center; */
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  /* -webkit-tap-highlight-color: transparent; */
  white-space: nowrap;
}

mat-icon {
  vertical-align: text-bottom;
}

h1 {
  margin-left: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tooBarColor {
  background-color: #28c3ba;
}

.titleCenter {
  text-align: center;
}
