<div>
        <div class="titleCenter">
                <h1>
                        Worksheet Template Management System
                </h1>
        </div>

        <!-- <mat-toolbar color="primary"> -->
        <nav class="tooBarColor">

                <!-- <a routerLink="/main" routerLinkActive="active" class="button">
                        <mat-icon>home</mat-icon>
                        Home
                </a> -->

                <a routerLink="/template-main/template-list" routerLinkActive="active" class="button">
                        <i class="fas fa-list"></i>
                        Template List
                </a>
        </nav>


  <nav class="tooBarColor">

    <!-- <a routerLink="/main" routerLinkActive="active" class="button">
            <mat-icon>home</mat-icon>
            Home
    </a> -->

    <a routerLink="/template-main/template-review-list" routerLinkActive="active" class="button">
      <i class="fas fa-list"></i>
      Template Review
    </a>
  </nav>



        <nav class="tooBarColor">


                <a routerLink="/main" routerLinkActive="active" class="button">
                        <i class="fas fa-search"></i>
                        Search Worksheet
                </a>
        </nav>
        <!-- </mat-toolbar> -->
</div>
<router-outlet> </router-outlet>
