.table-container{
    height: 65%;
}

.search-area{
  margin: 0px 10px;
}

.contactList{
    list-style: none;
}

.dropdown-btn{
    background-color: #17a2b8;
    border: none;
    color: white;
}

.dropdown-btn:hover{
    border: 1px solid #17a2b8;
    background-color: white;
    color:#17a2b8;
}

.slide{
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 100%;
    transition: 1s right;
    -moz-transition: 1s right;
    -o-transition: 1s right;
    -webkit-transition: 1s right;
  }

  .edit-container{
    display: inline-block;
    /* display: table; */
    width: auto;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: white;
    border-left: 15px solid #c3e933;
    padding: 10px 30px;
    padding-bottom: 0px; 
    box-shadow: -5px 0px 20px 0px #705757;
    overflow-y: auto;
  }

  .blur{
    filter:blur(3px);
  }

.contacts{
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 2px;
}

.table-scroll{
    height: 90%;
    display: block;
    margin: 0px;
    width: 100%;
  }
  
  .table-scroll>tbody{
    display: block;
    width: 100%;
    height: 85%;
    overflow-y: overlay;
  }
  
  .table-scroll>tbody>tr{
    width: 100%;
    table-layout: fixed;
    display: table;
  }
  
  .table-scroll>thead{
    display: inline-table;
    width: 100%;
    table-layout: fixed;
  }