<div class="tab-container" [class.blur]="isnew">
  <h2>Client</h2>
  <div><b>Search In</b>
    <label class="search-area"><input type="radio" [checked]="searchArea=='All'" (change)="searchArea='All'"> All</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Company'" (change)="searchArea='Company'"> Company
      Name</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Ship'" (change)="searchArea='Ship'"> Shipping
      Address</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Bill'" (change)="searchArea='Bill'"> Billing Address</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Contacts'" (change)="searchArea='Contacts'"> Contact</label>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <input type="text" class="form-control" placeholder="Search Client" [value]="search" #searchkey aria-describedby="basic-addon1"
      (keyup.enter)="page = 1; searchWPage(searchkey.value)">
  </div>
  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa fa-download" aria-hidden="true"></i>Import
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="text-align: center;" (click)="hasHeader = true;">
        <div>
          <!-- <label>Has Header? <input type="checkbox" [checked]="hasHeader" (change)="hasHeader=!hasHeader"></label> -->
          <input type="file" #importfile (change)="loadFile($event)"></div>
      </div>
    </div>

    <button class="btn btn-default menu-btn">
      <i class="fa fa-plus" aria-hidden="true"></i> New Client
    </button>
  </div>
  <div class="table-container">
    <table *ngIf="!isLoading" class="table table-hover table-scroll">
      <thead>
        <tr>
          <th *ngIf="viewColumn[0]" colspan="2">Company</th>
          <th *ngIf="viewColumn[1]" colspan="4">Shipping Address</th>
          <th *ngIf="viewColumn[2]" colspan="4">Billing Address</th>
          <th *ngIf="viewColumn[3]" colspan="4">Contacts</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of display" class="companyRecord" [id]="i?.company?.dbid">
          <td colspan="2" *ngIf="viewColumn[0]">{{i?.company.company}}</td>
          <td colspan="4" *ngIf="viewColumn[1]">
            {{i?.company.address}}<br> <span *ngIf="i?.company.address2 !== undefined && i?.company.address2 !== ''">{{i?.company.address2}}</span><br>{{i?.company.city}} <span *ngIf="i?.company.province !== undefined && i?.company.province !== ''">{{i?.company.province}}</span><br>{{i?.company.country}}
            <span *ngIf="i?.company.postalCode !== undefined && i?.company.postalCode !== ''">{{i?.company.postalCode}}</span>
          </td>
          <td colspan="4" *ngIf="viewColumn[2]">
            {{i?.company.baddress}}<br> <span *ngIf="i?.company.baddress2 !== undefined && i?.company.baddress2 !== ''">{{i?.company.baddress2}}</span><br>{{i?.company.bcity}} <span *ngIf="i?.company.bprovince !== undefined && i?.company.bprovince !== ''">{{i?.company.bprovince}}</span><br>{{i?.company.bcountry}}
            <span *ngIf="i?.company.bpostalCode !== undefined && i?.company.bpostalCode !== ''">{{i?.company.bpostalCode}}</span>
          </td>
          <td colspan="4" *ngIf="viewColumn[3]">
            <div *ngIf="i?.contacts !== undefined">
              <div *ngFor="let sale of i?.contacts; let ci = index" [class.contacts]="i?.contacts.length > 1">
                <b *ngIf="i?.contacts.length > 1">Contact {{ci+1}}<br></b>{{sale?.name}}
                <br><a [href]="'mailto:'+sale?.email">{{sale?.email}}</a><br>{{sale?.phone}} <span *ngIf="sale?.ext !== undefined && sale?.ext !== ''">Ext:
                  {{sale.ext}}
                </span>
              </div>
            </div>
          </td>
          <!-- <td>
            <button class="btn btn-outline-primary btn-icon">
              <i class="fa fa-pen-square" aria-hidden="true"></i>
            </button>
          </td> -->
        </tr>
        <tr *ngIf="display == undefined || display.length < 1">
          <td class="empty" colspan="14">Empty</td>
        </tr>
      </tbody>

    </table>
    <div *ngIf="isLoading" class="loading-screen">
      <img class="loading-img" src="../../../assets/images/loading.gif">
    </div>
    <div *ngIf="search==''&&count>10">
      <p class="page-note" [style.text-align]="'center'">Client {{((page-1)*10)+1}} - {{page*10>count?count:page*10}} of
        {{count}} Client(s)
      </p>
      <ngb-pagination *ngIf="!isLoading&&search==''" class="d-flex justify-content-center" [collectionSize]="count" [(page)]="page"
        (pageChange)="loadPage()" aria-label="Default pagination"></ngb-pagination>
    </div>
    <button class="btn btn-info" *ngIf="!isLoading&&search!==''&&display.length > 0" [style.float]="'right'" (click)="page=page+1; searchWPage(search);">Load
      Next 10 Results <i class="fas fa-caret-right"></i></button>
  </div>
</div>

<div class="slide" [style.right]="showClient?0+'px':-100+'%'">
  <div class="edit-container">
    <app-client-display [selectClient]="selectClient" [isNew]="isnew" (updateClient)="saveClient($event)"
      (cancel)="cancelAdd()"></app-client-display>
  </div>
</div>

<ng-template #showAlertDelete let-c="close">
  <div class="modal-header warning">
    <h4 class="modal-title">
      Warning!
    </h4>
  </div>
  <div class="modal-body warning-body">
    Do you want to remove record of
    <b>{{selectClient.name}}</b>?
  </div>
  <div class="modal-footer warning">
    <button class="btn btn-danger" (click)="removeClient(); c('del')">Delete</button>
    <button class="btn btn-light" (click)="c('closedel');">Cancel</button>
  </div>
</ng-template>