.cat-search{
    display: inline-block;
    height: 100%;
    overflow: auto;
    width: 100%;
}
.alert.alert-danger{
    margin:0px;
    padding:0px;
}

.searchResult:hover{
    background-color: lightgrey;
}