<div class="cat-search">
    <form (ngSubmit)="search()" [formGroup]="searchForm">
      <div class="input-group">
              <input autocomplete="off" class="form-control" type="text" id="search" formControlName="search"
              placeholder="Search by Cat# or Name" (keyup.enter)="search()"/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" [disabled]="searchForm.controls['search'].invalid"><i class="fas fa-search"></i></button>      
              </span>
      </div>
      <div *ngIf="noInput"
      class="alert alert-danger">Please enter a Cat# or a Name</div>
      </form>

  <hr>
  <table class="table table-bordered table-hover">
    <tr>
      <th>Type</th>
      <th>Cat#</th>
      <th>Name</th>
      <th>Size</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let r of searchResult" class="searchResult" (click)="r.type=='Kit'?setViewKit(r.id):setViewProduct(r.id)" title="click to go to detail page">
      <td>{{r.type}}</td>
      <td>{{r.cat}}</td>
      <td>{{r.name}}</td>
      <td>{{r.size}}</td>
      <td>{{r.price}}</td>
    </tr>
  </table>
</div>