<div>
  <!-- <mat-toolbar color="primary"> -->
  <nav class="tooBarColor">
    <a
      routerLink="/template-main/template-list"
      routerLinkActive="active"
      class="linkButton"
    >
      <i class="fas fa-backward"></i>
      Template List
    </a>
  </nav>
  <!-- </mat-toolbar> -->
</div>
<mat-divider></mat-divider>

<div class="center">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button>
</div>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!-- Section One -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Template Info</ng-template>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Assay Number</mat-label>
          <input matInput formControlName="firstCtrl" required />
          <mat-hint align="end">numbers required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Scientist</mat-label>
          <input matInput formControlName="firstCtrl" required />
          <mat-hint align="end">letters required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Two -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Coating</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >COATING/CAPTUREANTIBODY &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan"
          >Coating buffer:
          <input
            formControlName="step2_item_1"
            class="lineShapeInputBox"
            #step2_item_1/>
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_1"
            class="lineShapeInputBox"
            #step2_supplier_1/>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="black"
            >Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 1</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step2_item_2"
            class="lineShapeInputBox"
            #step2_item_2
          />
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_2"
            class="lineShapeInputBox"
            #step2_supplier_2
          />) &nbsp; &nbsp;</span
        ><span>&nbsp;</span><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan">&nbsp;</span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 2</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step2_item_3"
            class="lineShapeInputBox"
            #step2_item_3
          />
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_3"
            class="lineShapeInputBox"
            #step2_supplier_3
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan">&nbsp;</span
        ><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan">&nbsp;</span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 3</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step2_item_4"
            class="lineShapeInputBox"
            #step2_item_4
          />
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_4"
            class="lineShapeInputBox"
            #step2_supplier_4
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan">&nbsp;</span
        ><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan">&nbsp;</span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 4</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step2_item_5"
            class="lineShapeInputBox"
            #step2_item_5
          />
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_5"
            class="lineShapeInputBox"
            #step2_supplier_5
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan">&nbsp;</span
        ><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan">&nbsp;</span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 5</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step2_item_6"
            class="lineShapeInputBox"
            #step2_item_6
          />
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_6"
            class="lineShapeInputBox"
            #step2_supplier_6
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan">&nbsp;</span
        ><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan">&nbsp;</span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 6</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step2_item_7"
            class="lineShapeInputBox"
            #step2_item_7
          />
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_7"
            class="lineShapeInputBox"
            #step2_supplier_7
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan">&nbsp;</span
        ><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan">&nbsp;</span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 7</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step2_item_8"
            class="lineShapeInputBox"
            #step2_item_8
          />
          (Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_8"
            class="lineShapeInputBox"
            #step2_supplier_8
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan">&nbsp;C</span
        ><span class="specialSpan">oncentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material +
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>
          µL coating material @
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="secondCtrl"
            required
            class="lineShapeInputBox"/>µL coating buffer =
          <input formControlName="secondCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per well
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(0)">Start
          Timer{{timer.displayStartTime(0)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(0)">Stop
          Timer{{timer.displayStopTime(0)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 0)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 0)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(0) }} seconds</p> -->
  </mat-step>

  <!-- Section Three -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp;
            <input
              formControlName="step3_item_1"
              class="lineShapeInputBox"
              #step3_item_1/></span></strong
        ><span class="specialSpan black"
          >&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step3_supplier_1"
            class="lineShapeInputBox"
            #step3_supplier_1/>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;Lot#:&nbsp; &nbsp; &nbsp;
          <input formControlName="thirdCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Use plate washer program
          PBST, 3 x 300 ul
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Four -->
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Blocking</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >BLOCKING &nbsp; &nbsp; &nbsp;<input
              formControlName="step4_item_1"
              class="lineShapeInputBox"
              #step4_item_1
            />&nbsp;</span
          ></strong
        ><span class="specialSpan"
          >&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step4_supplier_1"
            class="lineShapeInputBox"
            #step4_supplier_1/>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="fourthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> &nbsp; Dispense 100 µL
          per well
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> &nbsp; Incubate at
          overnight at 4°C
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->
      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(1)">Start
          Timer{{timer.displayStartTime(1)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(1)">Stop
          Timer{{timer.displayStopTime(1)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 1)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 1)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(1) }} seconds</p> -->
  </mat-step>

  <!-- Section Five -->
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;<input
              formControlName="step5_item_1"
              class="lineShapeInputBox"
              #step5_item_1/></span></strong
        ><span class="specialSpan black"
          >&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step5_supplier_1"
            class="lineShapeInputBox"
            #step5_supplier_1/>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;Lot#:&nbsp; &nbsp; &nbsp;
          <input formControlName="fifthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Use plate washer program
          PBST, 3 x 300 ul
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Six  -->
  <mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup">
      <ng-template matStepLabel>Antibody Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan">CAPTURE ANTIBODY ADDITION</span></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >Diluent: &nbsp; &nbsp; &nbsp;
            <input
              formControlName="step6_item_1"
              class="lineShapeInputBox"
              #step6_item_1/></span></strong
        ><span class="specialSpan">&nbsp;</span
        ><span class="specialSpan"
          >&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_1"
            class="lineShapeInputBox"
            #step6_supplier_1
          />) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
        ><span class="specialSpan black"
          >Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Detection Antibody 1</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step6_item_2"
            class="lineShapeInputBox"
            #step6_item_2
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_2"
            class="lineShapeInputBox"
            #step6_supplier_2
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
        ><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>&nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL superblock =
          <input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>@
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>µL superblock =
          <input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph"><span class="specialSpan">&nbsp;</span></p>

      <p class="specialParagraph">
        <strong><span class="specialSpan">Detection Antibody 2</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step6_item_3"
            class="lineShapeInputBox"
            #step6_item_3
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_3"
            class="lineShapeInputBox"
            #step6_supplier_3
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;C</span
        ><span class="specialSpan">oncentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>&nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL superblock =
          <input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>@
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>µL superblock =
          <input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph"><span class="specialSpan">&nbsp;</span></p>

      <p class="specialParagraph">
        <strong><span class="specialSpan">Detection Antibody 3</span></strong
        ><span class="specialSpan"
          >:
          <input
            formControlName="step6_item_4"
            class="lineShapeInputBox"
            #step6_item_4
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_4"
            class="lineShapeInputBox"
            #step6_supplier_4
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;C</span
        ><span class="specialSpan">oncentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>&nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL superblock =
          <input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>
          µL
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>@
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="sixthCtrl"
            required
            class="lineShapeInputBox"/>µL superblock =
          <input formControlName="sixthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph"><span class="specialSpan">&nbsp;</span></p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> &nbsp; Dispense 100 µL
          per well
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> &nbsp; Incubate at RT
          for 60 min, shaking 300rpm
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(2)">Start
          Timer{{timer.displayStartTime(2)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(2)">Stop
          Timer{{timer.displayStopTime(2)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 2)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 2)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(2) }} seconds</p> -->
  </mat-step>

  <!-- Section Seven  -->
  <mat-step [stepControl]="seventhFormGroup">
    <form [formGroup]="seventhFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;<input
              formControlName="step7_item_1"
              class="lineShapeInputBox"
              #step7_item_1/></span></strong
        ><span class="specialSpan black"
          >&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step7_supplier_1"
            class="lineShapeInputBox"
            #step7_supplier_1/>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;Lot#:&nbsp; &nbsp; &nbsp;
          <input
            formControlName="seventhCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan"
          >Use plate washer program PBST, 3 x 300 ul</span
        >
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Eight  -->
  <mat-step [stepControl]="eightFormGroup">
    <form [formGroup]="eighthFormGroup">
      <ng-template matStepLabel>Conjugate Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >CONJUGATE &nbsp;ADDITION (1/5000)&nbsp;</span
          ></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >Diluent: &nbsp; &nbsp; &nbsp;
            <input
              formControlName="step8_item_1"
              class="lineShapeInputBox"
              #step8_item_1
            />&nbsp;</span
          ></strong
        ><span class="specialSpan"
          >&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step8_supplier_1"
            class="lineShapeInputBox"
            #step8_supplier_1
          />) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;&nbsp;</span
        ><span class="specialSpan black"
          >Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">Conjugate:</span
        ><span class="specialSpan"
          >&nbsp;<input
            formControlName="step8_item_2"
            class="lineShapeInputBox"
            #step8_item_2
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step8_supplier_2"
            class="lineShapeInputBox"
            #step8_supplier_2
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan">&nbsp;</span
        ><span class="specialSpan">Concentration:</span
        ><span class="specialSpan"
          ><input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="black">Lot#:&nbsp; &nbsp; &nbsp;</span
          ><input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"/>µL Conjugate +
          <input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"/>µL diluent &nbsp; &nbsp; =
          <input formControlName="eighthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraphforTestSampleAddition">
        <span class="specialSpan"
          ><input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"/>µL @<input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"/>
          +
          <input
            formControlName="eighthCtrl"
            required
            class="lineShapeInputBox"/>
          µL diluent &nbsp; &nbsp;=
          <input formControlName="eighthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan">Dispense 100 µL per well</span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan"
          >Incubate at RT for 1 hour, shaking 300rpm</span
        >
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->
      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(3)">Start
          Timer{{timer.displayStartTime(3)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(3)">Stop
          Timer{{timer.displayStopTime(3)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 3)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 3)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(3) }} seconds</p> -->
  </mat-step>

  <!-- Section Nine  -->
  <mat-step [stepControl]="nineFormGroup">
    <form [formGroup]="ninthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp;
            <input
              formControlName="step9_item_1"
              class="lineShapeInputBox"
              #step9_item_1/></span></strong
        ><span class="specialSpan black"
          >&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step9_supplier_1"
            class="lineShapeInputBox"
            #step9_supplier_1/>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;Lot#:&nbsp; &nbsp; &nbsp;
          <input formControlName="ninthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan"
          >Use plate washer program PBST, 3 x 300 ul</span
        >
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />

      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Ten  -->
  <mat-step [stepControl]="TenFormGroup">
    <form [formGroup]="tenthFormGroup">
      <ng-template matStepLabel>Substrate Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">SUBSTRATE ADDITION</span></strong
        ><span class="specialSpan">:</span>
      </p>
      <p>
        <strong><span class="specialSpan">SuperSignal</span></strong
        ><span class="specialSpan"
          >&nbsp; &nbsp; &nbsp;<input
            class="lineShapeInputBox"/><strong></strong>, &nbsp; &nbsp;
          &nbsp;Catalog#:<input
            formControlName="tenthCtrl"
            required
            class="lineShapeInputBox"/>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lot#:&nbsp;
          &nbsp; &nbsp;<input
            formControlName="tenthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan"
          >Mix equal volumes of SuperSignal ELISA Femto Luminol/Enhancer(<input
            formControlName="tenthCtrl"
            required
            class="lineShapeInputBox"
          />ml) and Supersignal ELISA Femto Stable Peroxide Solution(<input
            formControlName="tenthCtrl"
            required
            class="lineShapeInputBox"
          />ml)</span
        >
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan">Dispense 100µL reagent per well</span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan"
          >incubate on a plate shaker at RT for
          <input
            formControlName="tenthCtrl"
            required
            class="lineShapeInputBox"/>
          minutes Add:
          <input
            formControlName="tenthCtrl"
            required
            class="lineShapeInputBox"/>Read:
          <input formControlName="tenthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan"
          >Measure relative light units (RLU) at 425nm using BioTek Synergy H1
          plate reader</span
        >
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />

      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Eleven  -->
  <mat-step [stepControl]="eleventhFormGroup">
    <form [formGroup]="eleventhFormGroup">
      <ng-template matStepLabel>Conclusion</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">CONCLUSIONS</span></strong
        ><span>:</span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">&nbsp;</span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">&nbsp;</span></strong>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">&nbsp;</span></strong>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">&nbsp;</span></strong>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <span class="specialSpan black">You are now done.</span>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Submit</button>
      <!-- <button mat-button (click)="stepper.reset()">Submit</button> -->
    </div>
  </mat-step>
</mat-vertical-stepper>
