<div class="tab-container">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <input type="text" class="form-control" placeholder="Search Order & Shipment" aria-describedby="basic-addon1">
  </div>
  <hr>
  <div class="table-container">
    <div class="row control-box">
      <div ngbDropdown style="display: inline-block;">
        <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item">
            <input type="checkbox" [checked]="viewColumn[i]" (click)="toggleViewCol(i)">{{mode}}</button>
        </div>
      </div>
      <button class="btn btn-default menu-btn">
        <i class="fa fa-download" aria-hidden="true"></i> Download Order(s)
      </button>
      <button class="btn btn-default menu-btn" (click)="newItem()">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i> New Order
      </button>
    </div>
    <table class="table table-hover table-scroll">
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Order Detail</th>
        <th>Client</th>
        <th>Shipment Carrier</th>
        <th>QC By</th>
        <th>Monitor By</th>
        <th></th>
      </tr>
      <tr></tr>
      <tr *ngIf="order == undefined || order.length < 1">
        <td class="empty" colspan="9">Empty</td>
      </tr>
    </table>
  </div>
</div>
