<h4>Immunizations</h4>
<br>
<div class="invent-body col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
  <!-------------------------------------->
  <!---Sub-view: Immunization Reminder---->
  <!-------------------------------------->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">
    <h6>{{injectionTitle}}
      <div ngbDropdown #immRDropdown="ngbDropdown" autoClose="outside" style="display: inline-block;">
       <button ngbDropdownToggle>Edit View</button>
       <div ngbDropdownMenu>
         <button (click)="showImmunizingReminder(7);immRDropdown.close();" class="dropdown-item">1 Week</button>
         <button (click)="showImmunizingReminder(14);immRDropdown.close();" class="dropdown-item">2 Weeks</button>
         <div class="divider dropdown-divider"></div>
         <span style="cursor: default" class="dropdown-item">Custom: <input (keydown.enter)="immRDropdown.close(); input_showImmunizingReminder($event);" type="text" onfocus="this.value=''" style="width: 50px"> days</span>
       </div>
     </div>
      <small *ngIf="!injectionCollapsed" class="collapseBtn">
        <a (click)="injectionCollapsed = true;">collapse &raquo;</a>
      </small>
    </h6>
    <div class="invent-content">
      <!------Collapsed View------->
      <table *ngIf="injectionCollapsed" class="collapsedSummary table table-hover">
        <tr (click)="injectionCollapsed = false;">
          <!---logic--->
          <ng-container *ngIf="_array.isArray(injectionReminderCurr) && injectionReminderCurr.length > 0; then injectionThen else injectionEmpty"></ng-container>
          <ng-template #injectionThen><ng-container *ngIf="injectionReminderCurr[0].injection.injectdate > timeNow; then injectionSoon else injectionOverdue"></ng-container></ng-template>
          <!---Display--->
          <ng-template #injectionEmpty><th>Empty</th></ng-template>
          <ng-template #injectionSoon><th class="attention">{{injectionReminderCurr.length}} Injections Soon</th></ng-template>
          <ng-template #injectionOverdue><th class="danger">Injections Overdue</th></ng-template>
        </tr>
      </table>
      <!--------Table View--------->
      <table *ngIf="!injectionCollapsed" class="table table-hover">
        <tr>
          <th>Chicken ID</th>
          <th>Project Name</th>
          <th>Immunogen</th>
          <th>Injection Date</th>
        </tr>
        <tr *ngIf="injectionReminderCurr == undefined || injectionReminderCurr.length < 1">
          <td class="empty" colspan="4">Empty</td>
        </tr>
        <ng-container *ngFor="let model of injectionReminderCurr; let i=index">
          <tr [@routeAnimation]="(i==animateRow && animateTable==TABLE.imm_reminder)" (@routeAnimation.done)="onAnimationDone($event)" (mousedown)="onClickTableData(TABLE.imm_reminder, i)" (mouseleave)="cancelRoute()">
            <td>{{model.injection.chickenid}}</td>
            <td>{{model.chicken.projectname}}</td>
            <td>{{model.chicken.immunogen}}</td>
            <td *ngIf="model.displayMessage!='Injection Overdue'">
              {{(model.displayMessage!=null)?model.displayMessage:model.injection.injectdate|date}}</td>
            <td *ngIf="model.displayMessage=='Injection Overdue'" class="danger">Overdue
              ({{model.injection.injectdate|date}})</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>