<div *ngIf="orderitem" style="min-width:500px;">
  <p *ngIf="enableEdit || isAdd" style="color:red;font-style:italic;font-size:11px;font-weight:bold;margin-bottom:0px;">
    Name, Catalog #, Project Number, Amount/Quantity, Unit Size, Unit, Item Type and either Supplier or Manufacturer are
    required!
  </p>
  <table class="table table-bordered table-fix" *ngIf="enableEdit || isAdd">
    <table style="width:100%;" *ngFor="let order of orderitem; let i = index">
      <tr class="head-row" *ngIf="i!==0" style="width:100%;"></tr>
      <tr class="top-row" [class.odd]="i%2==1" [class.event]="i%2==0&&isAdd">
        <td *ngIf="isAdd" style="width:5%;" class="remove-btn-cell">
          <button class="btn icon-btn" (click)="removeorderitem(i)">
            <i class="fas fa-times"></i>
          </button>
        </td>
        <td>
          <table style="width:100%;">
            <tr>
              <td style="width:20%;">
                <div (clickOutside)="showitemlist=false">
                  <label>Name<span class="star">*</span></label>
                  <input #newItemKey *ngIf="isAdd || (enableEdit && order.exist!='Yes')" class="form-control input-sm"
                    (keyup)="getFilter(newItemKey.value, order);showitemlist=true;" [(ngModel)]="order.name"
                    (focus)="onfocusIndex = i" (paste)="filtername($event,order);showitemlist=true;">
                  <div class="recommend"
                    *ngIf="orderitemfilterList!== undefined && onfocusIndex == i && showitemlist==true">
                    <p class="recItem" *ngFor="let filterorder of orderitemfilterList"
                      (click)="selectorderitem(filterorder, i); onfocusIndex = -1">{{filterorder.name}},
                      Supplier: {{filterorder.supplier}}, Cat#: {{filterorder.cat}}</p>
                    <p *ngIf="orderitemfilterList.length == 0 && onfocusIndex == i" class="no-result">No result found
                    </p>
                  </div>
                  <p class="read-only-input" *ngIf="!isAdd && order.exist=='Yes'">{{order.name}}</p>
                </div>
              </td>
              <td style="width:20%;">
                <div (clickOutside)="showcatlist=false">
                  <label>Manufacturer Catalog #<span class="star">*</span></label>
                  <!-- <input *ngIf="order.exist!='Yes'" class="form-control" type="text" [(ngModel)]="order.cat" name="orderitemcat"> -->
                  <input #newCatKey *ngIf="isAdd || (enableEdit && order.exist!='Yes')" class="form-control input-sm"
                    (keyup)="getFilterbycat(newCatKey.value, order);showcatlist=true;" [(ngModel)]="order.cat"
                    (focus)="onfocusIndex = i" (paste)="filtercat($event,order);showcatlist=true;">
                  <div class="recommend" *ngIf="catfilterList!== undefined && onfocusIndex == i && showcatlist==true">
                    <p class="recItem" *ngFor="let filterorder of catfilterList"
                      (click)="selectorderitembycat(filterorder, i); onfocusIndex = -1">{{filterorder.name}},
                      Supplier: {{filterorder.supplier}}, Cat#: {{filterorder.cat}}</p>
                    <p *ngIf="catfilterList.length == 0 && onfocusIndex == i" class="no-result">No result found</p>
                  </div>
                  <p class="read-only-input" *ngIf="!isAdd && order.exist=='Yes'">{{order.cat}}</p>
                </div>
              </td>
              <td style="width:20%;">
                <label>Supplier Catalog #</label>
                <input type="text" class="form-control" [(ngModel)]="order.suppliercat" name="orderitemSuppliercat">
                <p class="read-only-input" *ngIf="order.exist=='Yes'">{{order.suppliecat}}</p>
              </td>
              <td style="width:20%;">
                <label>Supplier</label>
                <input *ngIf="order.exist!='Yes'" type="text" class="form-control" [(ngModel)]="order.supplier"
                  name="orderitemSupplier">
                <p class="read-only-input" *ngIf="order.exist=='Yes'">{{order.supplier}}</p>
              </td>
              <td>
                <label>Manufacturer</label>
                <input *ngIf="order.exist!='Yes'" type="text" class="form-control" [(ngModel)]="order.manufacturer"
                  name="orderitemmanufacturer">
                <p class="read-only-input" *ngIf="order.exist=='Yes'">{{order.manufacturer}}</p>
              </td>
            </tr>

            <tr>
              <td style="width:20%;">
                <label>Amount/Quantity<span class="star">*</span></label>
                <input type="text" min="0"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
                  class="form-control" placeholder="" [(ngModel)]="order.amount" name="amount">
              </td>
              <td style="width:20%;">
                <label>Unit Size<span class="star">*</span></label>
                <input class="form-control" type="text" [(ngModel)]="order.unitsize" name="orderitemunitsize" />
              </td>
              <td style="width:20%;">
                <label>Unit<span class="star">*</span></label>
                <!-- <select class="form-control" #unitval [value]="order.unit" (change)="order.unit = unitval.value;"> -->
                <select class="form-control" [(ngModel)]="order.unit">
                  <option *ngFor="let u of unit" [value]="u.name" [selected]="order.unit == u?.name">{{u.name}}</option>
                </select>
              </td>
              <td style="width:20%;">
                <label>Unit Price</label>
                <input type="text" min="0"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
                  class="form-control" placeholder="" [(ngModel)]="order.unitprice" name="unitprice">
              </td>
              <td>
                <label>Project Number<span class="star">*</span></label>
                <!-- <select class="form-control" #ordergrant [value]="order.grantid" (change)="order.grantid = ordergrant.value;" > -->
                <select class="form-control" [(ngModel)]="order.grantid">
                  <option *ngFor="let p of projectnumbers" [value]="p.name" [selected]="order.grantid== p?.name">
                    {{p.name}}</option>
                </select>
              </td>
            </tr>

            <tr>
              <td style="width:20%;">
                <label>Item Category</label>
                <!-- <select *ngIf="order.exist!='Yes'" class="form-control" #ordertype (change)="order.type=ordertype.value;" [value]="order.type"> -->
                <select *ngIf="order.exist!='Yes'" class="form-control" [(ngModel)]="order.category">
                  <option *ngFor="let category of itemcategories" [value]="category.name"
                    [selected]="order.category == category.name">
                    {{category.name}}</option>
                </select>
                <p class="read-only-input" *ngIf="order.exist=='Yes'">{{order.category}}</p>
              </td>
              <td style="width:20%;">
                <label>Item Type<span class="star">*</span></label>
                <!-- <select *ngIf="order.exist!='Yes'" class="form-control" #ordertype (change)="order.type=ordertype.value;" [value]="order.type"> -->
                <select *ngIf="order.exist!='Yes'" class="form-control" [(ngModel)]="order.type">
                  <option *ngFor="let type of itemtypes" [value]="type.name" [selected]="order.type == type.name">
                    {{type.name}}</option>
                </select>
                <p class="read-only-input" *ngIf="order.exist=='Yes'">{{order.type}}</p>
              </td>
              <td style="width:20%;">
                <label>Urgent</label>
                <input style="background-color:red;" type="checkbox" [checked]="order.urgent"
                  (change)="changeurgentstatus(i)">
              </td>
              <td style="width:20%;">
                <label>Reserved</label>
                <input style="background-color:red;" type="checkbox" [checked]="order.reserve=='Yes'"
                  (change)="changereservestatus(i)">
              </td>
              <td style="width:20%;" *ngIf="!isAdd">
                <label>Status</label>
                <p class="read-only-input">{{order.status}}</p>
              </td>
            </tr>

            <tr *ngIf="!isAdd">
              <td style="width:20%;">
                <label>Request Person</label>
                <p class="read-only-input">{{order.requestperson}}</p>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Requested Time</label>
                  <div class="read-only-input">{{order.requesttime|date}}</div>
                </div>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Approved Time</label>
                  <div class="read-only-input">{{order.approvetime|date}}</div>
                </div>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Ordered Time</label>
                  <div class="read-only-input">{{order.ordertime|date}}</div>
                </div>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Received Time</label>
                  <div class="read-only-input">{{order.receivetime|date}}</div>
                </div>
              </td>
            </tr>

            <tr>
              <td style="width:20%;">
                <div>
                  <label>ETA</label>
                  <my-date-picker class="form-control" id="eta" name="eta" [options]="etaoptions"
                  [(ngModel)]="eta" (dateChanged)="changeeta($event, order)">
                </my-date-picker>
                </div>
              </td>
              <td style="width:20%;">
              </td>
              <td style="width:20%;">
              </td>
              <td style="width:20%;">
              </td>
              <td style="width:20%;">
              </td>
            </tr>

            <tr>
              <td colspan='5'>
                <label>Comment</label>
                <textarea class="form-control" [(ngModel)]="order.comment"></textarea>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <tr *ngIf="isAdd">
      <button style="width:100%;" class="btn btn-outline-primary" (click)="addneworderitem()">
        <i class="fas fa-plus"></i> New Request</button>
    </tr>
  </table>




  <table class="table table-bordered table-fix" *ngIf="!enableEdit && !isAdd">
    <table style="width:100%;" *ngFor="let order of orderitem; let i = index">
      <tr class="head-row" *ngIf="i!==0" style="width:100%;"></tr>
      <tr class="top-row" [class.odd]="i%2==1" [class.event]="i%2==0&&isAdd">

        <table style="width:100%;">
          <tr>
            <td style="width:20%;">
              <div (clickOutside)="showitemlist=false">
                <label>Name<span class="star">*</span></label>
                <p class="read-only-input">{{order.name}}</p>
              </div>
            </td>
            <td style="width:20%;">
              <label>Manfacturer Catalog #<span class="star">*</span></label>
              <p class="read-only-input">{{order.cat}}</p>
            </td>
            <td style="width:20%;">
              <label>Supplier Catalog #</label>
              <p class="read-only-input">{{order.suppliercat}}</p>
            </td>
            <td style="width:20%;">
              <label>Supplier</label>
              <p class="read-only-input">{{order.supplier}}</p>
            </td>
            <td style="width:20%;">
              <label>Manufacturer</label>
              <p class="read-only-input">{{order.manufacturer}}</p>
            </td>

          </tr>

          <tr>
            <td style="width:20%;">
              <label>Amount/Quantity<span class="star">*</span></label>
              <p class="read-only-input">{{order.amount}}</p>
            </td>
            <td style="width:20%;">
              <label>Unit Size<span class="star">*</span></label>
              <p class="read-only-input">{{order.unitsize}}</p>
            </td>
            <td style="width:20%;">
              <label>Unit<span class="star">*</span></label>
              <p class="read-only-input">{{order.unit}}</p>
            </td>
            <td style="width:20%;">
              <label>Unit Price</label>
              <p class="read-only-input">{{order.unitprice}}</p>
            </td>
            <td style="width:20%;">
              <label>Project Number<span class="star">*</span></label>
              <p class="read-only-input">{{order.grantid}}</p>
            </td>

          </tr>
          <tr>
            <td style="width:20%;">
              <label>Item Category</label>
              <p class="read-only-input">{{order.category}}</p>
            </td>
            <td style="width:20%;">
              <label>Item Type<span class="star">*</span></label>
              <p class="read-only-input">{{order.type}}</p>
            </td>
            <td style="width:20%;">
              <label>Is Urgent</label>
              <label *ngIf="!enableEdit && order.urgent" style="color:red;">Urgent</label>
              <div class="read-only-input" *ngIf=" !order.urgent">Not Urgent</div>
            </td>
            <td style="width:20%;">
              <label>Is Reserved</label>
              <label *ngIf="!enableEdit && order.reserve=='Yes'" style="color:red;">Reserve</label>
              <div class="read-only-input" *ngIf=" order.reserve!='Yes'">Not Reserved</div>
            </td>
            <td *ngIf="isAdd" style="width:60%;">

            </td>
            <td style="width:20%;" *ngIf="!isAdd">
              <label>Status</label>
              <p class="read-only-input">{{order.status}}</p>
            </td>


          </tr>

          <tr *ngIf="!isAdd">
            <td style="width:20%;">
              <label>Request Person</label>
              <p class="read-only-input">{{order.requestperson}}</p>
            </td>
            <td style="width:20%;">
              <div>
                <label>Requested Time</label>
                <div class="read-only-input">{{order.requesttime|date}}</div>
              </div>
            </td>
            <td style="width:20%;">
              <div>
                <label>Approved Time</label>
                <div class="read-only-input">{{order.approvetime|date}}</div>
              </div>
            </td>
            <td style="width:20%;">
              <div>
                <label>Ordered Time</label>
                <div class="read-only-input">{{order.ordertime|date}}</div>
              </div>
            </td>
            <td style="width:20%;">
              <div>
                <label>Received Time</label>
                <div class="read-only-input">{{order.receivetime|date}}</div>
              </div>
            </td>
          </tr>

          <tr *ngIf="!isAdd">
            <td style="width:20%;">
              <div>
                <label>ETA</label>
                <div class="read-only-input">{{order.eta|date}}</div>
              </div>
            </td>
            <td style="width:20%;">
            </td>
            <td style="width:20%;">
            </td>
            <td style="width:20%;">
            </td>
            <td style="width:20%;">
            </td>
          </tr>


          <tr>

            <td colspan='5'>
              <label>Comment</label>
              <div class="read-only-textarea" style="font-size:12px;">{{order.comment}}</div>
            </td>
          </tr>
        </table>

      </tr>
    </table>
  </table>

  <div class="form-group submit-buttons" style="float:right;">
    <button class="btn btn-primary" *ngIf="isAdd" (click)="save()">Save</button>
    <button class="btn btn-primary" *ngIf="!isAdd && enableEdit" (click)="update()">Update</button>
    <button class="btn btn-primary" (click)="cancelorder()">Close</button>
  </div>
</div>