.table-fix{
    table-layout: fixed;
    background-color: #f8fcfb;
    border:2px solid #17a2b8;
}

.table-fix td{
    padding: 0px 12px 10px 12px;
    margin: 0px;
}

.table-fix label{
    font-size: 11px;
    font-weight: bold;
    color:rgb(105, 105, 105);
    width: 100%;
    font-style: italic;
    text-decoration: underline;
}

.read-only-input{
    border:none;
    padding: 0px;
    margin: 0px;
}

.table-fix textarea{
    width: 100%;
}

.recItem:hover{
    background-color:grey;
  }
  
  .recommend {
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px 0px lightgrey;
    max-width: 90%;
  }
  
  .recItem {
    width: 100%;
    background-color: white;
    margin: 0px;
    transition: 1s background-color;
    -moz-transition: 1s background-color;
    -o-transition: 1s background-color;
    -webkit-transition: 1s background-color;
  }
  
  .remove-btn-cell{
      vertical-align: middle;
      text-align: center;
  }

  .head-row{
      background-color: rgb(167, 167, 167);
  }

  .head-row>td{
      height: 10px;
  }

  .top-row td{
      padding-top: 15px;
  }

  .bottom-row td{
      padding-bottom: 15px;
  }

  .odd{
      background-color: #f9fcf1;
  }

  .event{
      background-color: #f1fbfc;
  }

  .star{
    color:red;
  }

  input.form-control{
      height:35px;
  }

  select.form-control{
      font-size:12px;
      height:35px;
  }

  textarea.form-control{
    font-size:12px;
    height:35px;
}

input.form-control {
    /* padding:8px,0px;
    margin:0px,0px,0px,0px; */
    font-size: 12px;
    /* width:150px; */
    /* height:39px; */
}

my-date-picker.form-control{
    padding:0px;
    border:0px;
    margin:0px;
    font-size: 12px;
    /* width:150px;
    min-width:80%; */
  }
