
.emptyReq{
  font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: #ffc4bd;
}

.table-container{
  height: 65%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.warning{
  color:darkblue;
  size:10px;
  font-weight:bold;
}

.search-key{
  margin: 0px 10px;
}

.hiderow{
  background-color:paleturquoise;
  border-bottom: 2px solid;
  border-color: white;
}
/* .input-group{
  height: 30px;
}

.input-group-addon{
  padding: 0px;
}

.input-group-addon > button{
  padding: 2px 10px;
} */

.itemname:hover{
  background-color: lightgrey;
}

.slide{
  /* display: inline-block; */
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  /* width:auto; */
  /* max-width: 80%; */
  /* min-width:800px; */
  height: 100%;
  transition: 1s right;
  -moz-transition:1s right;
  -o-transition:1s right;
  -webkit-transition:1s right;
}

.edit-container{
  /* display: inline-block; */
  /* display: table; */
  /* float:left; */
  /* width: 100%; */
  /* max-width:100%;
  min-width:50%; */
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: white;
  border-left: 15px solid #28a745;
  padding: 10px 30px;
  box-shadow: -5px 0px 20px 0px #705757;
  overflow-y: auto;
}

.exit-container{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border: none;  
}

.sub-table{
  background-color: #eaedef;
}

.table .table-bordered{
  background-color: transparent;
  margin:0px;
  font-size:11px;
}

.table-scroll{
  height: 100%;
  display: block;
  margin: 0px;
  width: 100%;
}

.table-scroll>tbody{
  display: block;
  width: 100%;
  height: 85%;
  overflow-y: overlay;
  overflow-x: scroll;
}

.table-scroll>tbody>tr{
  width: 100%;
  table-layout: fixed;
  display: table;
}

.table-scroll>thead{
  display: inline-table;
  width: 100%;
  table-layout: fixed;
}

.star{
  color:red;
}

.loglabel{
  color:blue;
  font-size:20px;
  font-weight:bold;
}

table.bottomBorder { 
  border-collapse: collapse; 
  width:100%;
}
table.bottomBorder td, 
table.bottomBorder th { 
  border-bottom: 1px solid lightblue; 
  /* padding: 10px; 
  text-align: left; */
}

.oneline{
  margin:0px;
  display: inline-block;
  padding:0px;
}

.conjugateLabel{
  font-weight:bold;
  font-size: 14px;
}

.questionLabel{
  font-weight:bold;
  font-size: 14px;
  color:cadetblue;
}

.smalllabel{
  font-weight:bold;
  font-size: 13px;
  padding:0px;
  margin:0px;
}

table.concheckout{
  width:100%;
}

table.concheckout tr td{
  
  border:0px solid white;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
}

.blockLabel{
  font-weight:bold;
  font-size: 15px;
}

my-date-picker.form-control{
  padding:0px;
  border:0px;
  margin:0px;
  font-size: 12px;
  height:39px;
}

.recommend {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 5px 0px lightgrey;
  max-width: 90%;
  font-size:12px;
  z-index: 2;
}

.recItem {
  width: 100%;
  background-color: white;
  margin: 0px;
  transition: 1s background-color;
  -moz-transition: 1s background-color;
  -o-transition: 1s background-color;
  -webkit-transition: 1s background-color;
}

.recItem:hover {
  background-color: lightgrey;
}

.comparetable table{
  table-layout: fixed;
}

.comparetable td, 
.comparetable th{
  border: 1px solid lightblue;
  margin:0px;
  /* vertical-align: center;
  text-align: center; */
}

.noborder td, 
.noborder th{
  border-bottom: 0px;
}

.dynamictable table{
  table-layout: fixed;
}

/* .dynamictable td:nth-child(1){
  font-weight: bold;
  text-align: left;
  cursor: pointer;
} */

.showinfor{
  font-weight: bold;
  cursor: pointer;
  width:10%;
  vertical-align: middle;    
  text-align: center;
  margin:0px;
  padding:0px;
}

.noshowinfor{
  font-weight: bold;
  cursor: pointer;
  width:10%;
  vertical-align: middle;    
  text-align: left;
  margin:0px;
  padding:0px;
}


.propertycolumn{
  width:11.1%;
  font-size:14px;
  border:0px;
  font-weight: bold;
  text-align: left;
}


p.datacolumn {
  margin: 0px;
  font-size:14px;
}

p.lotnumber{
  margin: 0px;
  font-weight: bold;
}

.rowCollapsed::before {
  content: "^ ";
}

.rowExpanded::before {
  content: "v ";
}

select.form-control {
  padding:0px;
  margin:0px,0px,0px,0px;
  font-size: 12px;
  /* width:220px; */
}


input.form-control {
  padding:15px,0px;
  margin:0px,0px,0px,0px;
  font-size: 12px;
  /* width:220px; */
  height:39px;
}

.font-count{
  /* float: left; */
  /* color: grey; */
  font-size: 11px;
}

textarea.form-control{
  font-size:12px;
}

p.conjugatename {
  width: 100%;
  /* border-bottom: 0.05em solid lightgrey; */
  font-size: 12px;
}

/* tr.nobottom{
  border: none !important;
} */

.conjugatecompareresulttable{
  width:100%;
  table-layout: fixed;
  border: 1px solid lightblue;
}

.conjugatecompareresulttable td, 
.conjugatecompareresulttable th{
  border: 1px solid lightblue;
  vertical-align: center;
  padding: .75rem;
}

.conjuagtename{
  font-size: 18px;
  font-weight:bold;
  margin:0px;
  padding:0px;
  text-align: center;
}

.conjuagtenametd{
  text-align: center;
  background-color:darkturquoise;
  vertical-align: middle;
}

.sesstion{
  width:5%;
  font-weight:bold;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin:0px;
  padding:0px;
}

.propertytitle{
  width:8%;
  font-weight:bold;
  font-size:14px;
}

.hidesesstion{
  width:100%;
  font-weight:bold;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  margin:0px;
  padding:0px;
}

.nospace{
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  /* margin-left: 10px; */
  font-size:12px;
  color:darkcyan;
}

.angular-with-newlines {
  white-space: pre-wrap;
}



