<div class="tab-container">
  <h2>Inventory</h2>
  <div>
    <b>Search by : </b>
    <label class="search-key"><input type="radio" id="all" [checked]="searchkey==''" (change)="searchkey=''">
      All</label>
    <label class="search-key"><input type="radio" id="cat" [checked]="searchkey=='cat'" (change)="searchkey='cat'">
      Catalog #</label>
    <label class="search-key"><input type="radio" id="name" [checked]="searchkey=='name'" (change)="searchkey='name'">
      Name</label>
    <label class="search-key"><input type="radio" id="location" [checked]="searchkey=='location'"
        (change)="searchkey='location'"> Location</label>
    <label class="search-key"><input type="radio" id="sublocation" [checked]="searchkey=='sublocation'"
        (change)="searchkey='sublocation'"> Sub Location</label>
    <label class="search-key"><input type="radio" id="suppliermanufacturer"
        [checked]="searchkey=='suppliermanufacturer'" (change)="searchkey='suppliermanufacturer'"> Supplier or
      Manufacturer</label>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <input autocomplete="off" #search type="text" class="form-control" placeholder="Search Item" id="searchbar"
      aria-describedby="basic-addon1" (keyup.enter)="page= 1; searchInven(search.value);">
  </div>
  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input autocomplete="off" type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
      </div>
    </div>
    <button class="btn btn-default menu-btn" (click)="reset(); open(importData)">
      <i class="fa fa-upload" aria-hidden="true"></i> Import Inventory
    </button>
    <!--
      <button class="btn btn-default menu-btn">
        <i class="fa fa-download" aria-hidden="true"></i> Export Inventory
      </button>-->
    <button class="btn btn-default menu-btn" id="createnewitem">
      <!-- <i class="fa fa-plus" aria-hidden="true"></i> New Item -->
      <i class="fas fa-plus" aria-hidden="true"></i> New Item
    </button>

    <button class="btn btn-default menu-btn checkout-checkin" (click)="open(checkItem);"
      *ngIf="selectItems !== undefined && selectItems.length > 0">
      <i class="far fa-arrow-alt-circle-up"></i> Check Out
    </button>
    <!-- <button class="btn btn-default menu-btn checkout-checkin" id="checkinout" (click)="openCheckOut();">
      <i class="far fa-arrow-alt-circle-up"></i> Check-out
    </button> -->

    <button class="btn btn-default menu-btn" id="conjugate" (click)="conjugate();">
      <i class="far fa-arrow-alt-circle-up"></i> Conjugate
    </button>

    <button class="btn btn-default menu-btn" id="conjugate" (click)="openCompareModel();">
      <i class="far fa-arrow-alt-circle-up"></i> Compare
    </button>


    <!-- <button class="btn btn-default menu-btn checkout-checkin" id="checkinout" (click)="open(Reconstitution);"
      *ngIf="selectItems !== undefined && selectItems.length > 0">
      <i class="fas fa-flask"></i> Reconstitution
    </button> -->

  </div>
  <div class="table-container" >
    <table class="table table-scroll" >
      <thead>
        <tr>
          <th>
            <button class="btn btn-default icon-btn" title="Collapse All" (click)="collapseAll()">
              <i class="far fa-minus-square"></i>
            </button>
          </th>
          <th *ngIf="viewColumn[0]">Item<br> Status</th>
          <th colspan="5">Item<br> Name</th>
          <th colspan="2" *ngIf="viewColumn[1]">Manufacturer<br>Catalog#</th>
          <th colspan="2" *ngIf="viewColumn[2]">Item<br> Type</th>
          <th colspan="2" *ngIf="viewColumn[3]">Supplier<br> Name</th>
          <th colspan="2" *ngIf="viewColumn[4]">Manufacturer</th>
          <th colspan="2" *ngIf="viewColumn[5]">Amount<br> /Quantity</th>
          <th *ngIf="viewColumn[6]">Unit<br> Size</th>
          <th *ngIf="viewColumn[7]">Unit</th>
          <th *ngIf="viewColumn[8]">In<br> Use</th>
          <th *ngIf="viewColumn[9]">Unit<br> Price (USD)</th>
          <th colspan="2" *ngIf="viewColumn[10]">Quantity<br> Threshold</th>
          <th colspan="2" *ngIf="viewColumn[11]">Last<br> Modify</th>
          <th colspan="5" *ngIf="viewColumn[12]">Comment(s)</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let i of displayInvent; let masterindex = index">
          <tr>
            <td>
              <button *ngIf="i.detail!== undefined&&i.detail.length>0" class="btn btn-default icon-btn"
                (click)="i.show=!i.show" id="showitemdetaillist">
                <i *ngIf="i.show" class="fas fa-minus" [id]="show+' '+masterindex"></i>
                <!-- <i *ngIf="!i.show" class="fas fa-plus" [id]="hide+' '+masterindex"></i> -->
                <i *ngIf="!i.show" class="fas fa-plus" [id]="hide+' '+masterindex"></i>
              </button>
              <!-- <input autocomplete="off" type="checkbox" (change)="toggleSelectItem(i)" [checked]="checkItemSelect(i)"> -->
            </td>
            <td *ngIf="viewColumn[0]">
              <i class="fa fa-square" aria-hidden="true" placement="top"
                [ngbTooltip]="i?.master?.active?'Active':'Inactive'"
                [style.color]="i?.master?.active?'limegreen':'grey'"></i>
            </td>
            <td colspan="5" class="itemname master" [id]="masterindex">{{i?.master?.name}}</td>
            <!-- (click)="isNewItem?'':showitem(i.master)" -->
            <td colspan="2" *ngIf="viewColumn[1]" [class.emptyReq]="i?.master?.cat==undefined||i?.master?.cat==''">
              {{i?.master?.cat!==undefined&&i?.master?.cat!==''?i?.master?.cat:'?'}}</td>
            <td colspan="2" *ngIf="viewColumn[2] ">{{i?.master?.type}}</td>
            <td colspan="2" *ngIf="viewColumn[3] ">
              <a *ngIf="i?.master?.supplylink !== undefined && i?.master?.supplylink!== ''"
                [attr.href]="i?.master?.supplylink" target="_blank">{{i?.master?.supplier}}</a>
              <span
                *ngIf="i?.master?.supplylink == undefined || i?.master?.supplylink == ''">{{i?.master?.supplier}}</span>
            </td>
            <td colspan="2" *ngIf="viewColumn[4] ">
              <a *ngIf="i?.master?.manufacturerlink !== undefined && i?.master?.manufacturerlink!== ''"
                [attr.href]="i?.master?.manufacturerlink" target="_blank">{{i?.manufacturer}}</a>
              <span
                *ngIf="i?.master?.manufacturerlink == undefined || i?.master?.manufacturerlink == ''">{{i?.master?.manufacturer}}</span>
            </td>
            <td colspan="2" *ngIf="viewColumn[5] "
              [style.background-color]="i?.master?.amount<i?.master?.quantityThreshold?'salmon':'transparent'">
              {{i.master.amount}}</td>
            <td *ngIf="viewColumn[6] ">{{i?.master?.unitsize}}</td>
            <td *ngIf="viewColumn[7] ">{{i?.master?.unit}}</td>
            <td *ngIf="viewColumn[8] ">{{i?.master?.inuse}}</td>
            <td *ngIf="viewColumn[9] ">{{i?.master?.unitprice}}</td>
            <td colspan="2" *ngIf="viewColumn[10] ">{{i?.master?.quantitythreshold}}</td>
            <td colspan="2" *ngIf="viewColumn[11] ">{{i?.master?.lastmodify | date}}</td>
            <td colspan="5" *ngIf="viewColumn[12] ">{{i?.master?.comment}}</td>
            <!-- <td>
              <button *ngIf="i?.master?.supplier.toUpperCase() == 'SOMRU' || i?.master?.supplier.toUpperCase() == 'SOMRU BIOSCIENCE' || i?.master?.supplier.toUpperCase() == 'SOMRU BIOSCIENCE Inc.'"
                [style.font-size.px]="9" class="btn btn-primary" (click)="additemdetail(i.master)">Add <br> Lot</button>
            </td> -->

            <!--<td>
                        <button class="btn btn-outline-warning icon-btn" (click)="sendsinglerequest(i)"><i class="fas fa-cart-arrow-down"></i></button>
                      </td>-->
          </tr>
          <tr *ngIf="i.show&&i.detail!== undefined&&i.detail.length>0" class="sub-table">
            <td [attr.colspan]="subcolspan" style="padding:0px;">
              <table class="table table-bordered">
                <tr>
                  <th></th>
                  <th>Lot<br>Number</th>
                  <th>Recon</th>
                  <th *ngIf="!i.master.supplier.trim().toUpperCase().includes('SOMRU')">Received<br>Date</th>
                  <th *ngIf="i.master.supplier.trim().toUpperCase().includes('SOMRU')">Preparation<br>Date</th>
                  <th>Expiry Date/<br>Retest Date</th>
                  <th>Location</th>
                  <th>Sub<br>Location</th>
                  <th>Amount/<br>Quantity</th>
                  <th>In<br>Use</th>
                  <th>Reserved</th>
                </tr>
                <tr *ngFor="let d of i.detail; let detailindex=index"
                  [style.background-color]="d.reserve=='Yes'?'#f7dcd2':'#eaedef'">
                  <td>
                    <input autocomplete="off" type="checkbox" (change)="toggleSelectItem(i.master, d)"
                      [id]="select+' '+masterindex+' '+detailindex" [checked]="checkItemSelect(d)">
                  </td>
                  <!-- (click)="isNewItem?'':showitemdetail(d, i.master.name); showunreceive=false;" -->
                  <!-- <td class="itemname detail" [id]="d.dbid" >{{d?.lotnumber}}</td> -->
                  <!-- <td class="itemname detail" [id]="masterindex" [detaildbid]="d.dbid">{{d?.lotnumber}}</td> -->
                  <td class="itemname detail" [id]="masterindex +' '+detailindex">{{d?.lotnumber}}</td>
                  <td>{{d?.recon=='Yes'?'Yes':'No'}}</td>
                  <td *ngIf="d.itemtype!='Conjugate'">{{d?.receivedate | date}}</td>
                  <td *ngIf="d.itemtype=='Conjugate'">{{d.conjugateprepdate|date}}</td>
                  <td *ngIf="!d.retestdate">{{d?.expiredate | date}}</td>
                  <td *ngIf="d.retestdate">{{d?.retestdate | date}}</td>
                  <td>{{d?.location}}</td>
                  <td>{{d?.sublocation}}</td>
                  <td [id]="itemdetailamount+' '+ masterindex +' '+detailindex">{{d?.amount}}</td>
                  <td>{{d?.inuse}}</td>
                  <td>{{d?.reserve=='Yes'?'Yes':'No'}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </ng-container>

        <tr *ngIf="displayInvent == undefined || displayInvent.length < 1">
          <td class="empty" colspan="15">Empty</td>
        </tr>

      </tbody>
      <!-- *ngFor="let i of displayInvent.slice().reverse(); let index = index" -->
    </table>

  </div>

  <!-- <div *ngIf="(searchKeyword==''|| searchKeyword==undefined) && invenLength>10" style="z-index: -1;"> -->
  <!-- <div *ngIf="searchKeyword=='' && invenLength>10" style="z-index: -1;">  
    <p class="page-note" [style.text-align]="'center'">Item {{((page-1)*10)+1}} - {{page*10>invenLength?invenLength:page*10}}
      of {{invenLength}} Item(s)
    </p>
    <ngb-pagination style="z-index: -1;" class="d-flex justify-content-center" [collectionSize]="invenLength" [(page)]="page" [maxSize]="5" [rotate]="true"
      [boundaryLinks]="true" aria-label="Default pagination" (pageChange)="loadPage()"></ngb-pagination>
  </div> -->

  <div *ngIf="invenLength>10" style="z-index: -1;">
    <p class="page-note" [style.text-align]="'center'">Item {{((page-1)*10)+1}} -
      {{page*10>invenLength?invenLength:page*10}}
      of {{invenLength}} Item(s)
    </p>
    <ngb-pagination style="z-index: -1;" class="d-flex justify-content-center" [collectionSize]="invenLength"
      [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" aria-label="Default pagination"
      (pageChange)="changepage(searchKeyword)"></ngb-pagination>
  </div>

  <!-- <div    class="d-flex justify-content-center">
  <button *ngIf="searchKeyword!==''"  class="btn btn-info" (click)="page = page - 1; searchInven(searchKeyword)">
    <i class="fas fa-caret-left"></i>Previous 
  </button>

  <button *ngIf="searchKeyword!==''" class="btn btn-info" (click)="page = page + 1; searchInven(searchKeyword)">
    Next <i class="fas fa-caret-right"></i>
  </button>
 </div> -->



  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif">
  </div>
</div>



<div [style.right]="isShowItem?0+'px':-100+'%'" class="slide" id="iteminfor">
  <div class="edit-container">
    <h4>
      <b *ngIf="item?.name !== ''" id="itemname">{{item?.name}}</b>
      <b *ngIf="item?.name == ''" id="newitem">New Item</b>
      <small [style.float]="right" *ngIf="!isNewItem">
        <button class="btn-icon" (click)="enabledEditItem=true" id="edititembutton">
          <i class="fa fa-pen-square" aria-hidden="true"></i>
        </button>
        <button class="btn-icon" (click)="openconfirmation('delete', 'item')" id="deleteitembutton">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <br>
        <button [style.font-size.px]="9" class="btn btn-info" (click)="additemdetail(item); isShowItem = false;"
          id="newitemdetail">
          New Lot
        </button>
        <button [style.font-size.px]="9" class="btn btn-info" (click)="showItemLog(item); isShowItem = false;"
          id="itemlog">
          Item Log
        </button>
      </small>
      <br>
      <small class="sub-head" style="font-size:11px;" *ngIf="item?.lastmodify && item?.modifyperson">Edited by
        {{item?.modifyperson}} on {{item?.lastmodify | date}}</small>
    </h4>
    <app-item-display [item]="item" [eggtransfer]="eggtransfer" [enableEdit]="enabledEditItem" [isNew]="isNewItem"
      (updateItem)="updateItem($event)" (cancelitem)="reset()"></app-item-display>
  </div>
  <!-- <button class="exit-container" (click)="!isnew?enableEdit = false:''"></button> -->
</div>

<div [style.right]="isShowItemDetail?0+'px':-200+'%'" class="slide" id="itemdetailinfor">
  <div class="edit-container">
    <h4>
      <b>{{displayitemdetail?.itemname}} {{displayitemdetail?.recon=='Yes'? 'Recon':''}}</b>
      <p *ngIf="isNewItemDetail" style="font-size:10px;font-weight:bold;margin-bottom:2px;color:red;">New lot must have
        different information than existing lots! </p>
      <small [style.float]="right" *ngIf="!isNewItem && !isNewItemDetail">
        <button class="btn-icon" (click)="edititemdetail=true" id="edititemdetail">
          <i class="fa fa-pen-square" aria-hidden="true" ngbTooltip="Edit" placement="bottom"></i>
        </button>
        <button class="btn-icon" (click)="openconfirmation('delete', 'displayitemdetail')" id="deleteitemdetail">
          <i class="fa fa-trash" aria-hidden="true" ngbTooltip="Delete" placement="bottom"></i>
        </button>
        <!-- <button [style.font-size.px]="9" class="btn btn-info"
          (click)="showItemdetailLog(displayitemdetail); isShowItemdetail = false;" id="itemdetaillog">
          Item Lot Log
        </button> -->
        <!-- <button [style.font-size.px]="9" class="btn btn-info"
          *ngIf="itemcategory=='Reference Material' && (!displayitemdetail.rfstatus ||displayitemdetail.rfstatus!='Approved' )  "
          (click)="rftrue(); isShowItemdetail = true;" id="itemdetailrf">Update RF</button>
        <button [style.font-size.px]="9" class="btn btn-info"
          *ngIf="conjugateitemtype=='Conjugate' && (!displayitemdetail.constatus || displayitemdetail.constatus!='Approved')   "
          (click)="contrue(); isShowItemdetail = true;" id="itemdetailcon">Update Conjugate</button> -->
      </small>

      <br *ngIf="!isNewItem && !isNewItemDetail">

      <small
        *ngIf=" ((itemcategory=='Reference Material' && (!displayitemdetail?.rfstatus ||displayitemdetail?.rfstatus!='Approved' ) ) || ( conjugateitemtype=='Conjugate' && (!displayitemdetail?.constatus || displayitemdetail?.constatus!='Approved') ) ) &&  !isNewItem && !isNewItemDetail">
        <button [style.font-size.px]="9" class="btn btn-info"
          *ngIf="itemcategory=='Reference Material' && (!displayitemdetail?.rfstatus ||displayitemdetail?.rfstatus!='Approved' )  "
          (click)="rftrue(); isShowItemdetail = true;" id="itemdetailrf">Update RF</button>
        <button [style.font-size.px]="9" class="btn btn-info"
          *ngIf="conjugateitemtype=='Conjugate' && (!displayitemdetail?.constatus || displayitemdetail?.constatus!='Approved')   "
          (click)="contrue(); isShowItemdetail = true;" id="itemdetailcon">Update Conjugate</button>
        <br>
      </small>



      <!-- <br *ngIf="(itemcategory=='Reference Material' ||  conjugateitemtype=='Conjugate') && !isNewItem && !isNewItemDetail"> -->
      <small class="sub-head" style="font-size:11px;"
        *ngIf="displayitemdetail?.modifydate && displayitemdetail?.modifyperson">Edited by
        {{displayitemdetail?.modifyperson}}
        on {{displayitemdetail?.modifydate | date}}</small>

      <div *ngIf="itemcategory=='Reference Material' && displayitemdetail && displayitemdetail?.rfstatus!=undefined">
        <small class="sub-head" style="font-size:11px;">Reference Update Status:
          {{displayitemdetail.rfstatus=='Approved'?'Approved for Use':displayitemdetail?.rfstatus}}
        </small>
      </div>
      <div *ngIf="conjugateitemtype=='Conjugate' && displayitemdetail && displayitemdetail?.constatus!=undefined">
        <small class="sub-head" style="font-size:11px;">Conjugate Update Status:
          {{displayitemdetail.constatus=='Approved'?'Approved for Use':displayitemdetail?.constatus}}
        </small>
      </div>
    </h4>
    <app-receiveitem-display [receiveitem]="displayitemdetail" [eggtransfer]="eggtransfer" [enableEdit]="edititemdetail"
      [newlot]="newlot" [showinuse]="showinuse" [showunit]="showunit" [updateRf]="updaterf" [updateCon]="updatecon"
      (updateItemdetail)="updateItemdetail($event)" (cancelItemdetail)="reset()" (cancelreference)="cancelrf()"
      (cancelconjugate)="cancelcon()" (rfconapprove)="rfconapprove($event)"></app-receiveitem-display>
  </div>
  <!-- <button class="exit-container" (click)="!isnew?enableEdit = false:''"></button> -->
</div>

<ng-template #importData let-c="close" class="importfile">
  <div class="modal-header">
    <h4 class="modal-title">
      Import Inventory
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <label class="btn btn-primary  btn-file">Browse
      <input autocomplete="off" type="file" name="file" (change)="getfile($event)">
    </label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="import(); c('')">Import</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<ng-template #checkItembarcode let-c="close" class="checkinout">
  <div class="modal-header">
    <h4 class="modal-title">Check-Out Item(s)</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelCheckOut()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Scan Barcode/Input Barcode#<span class="star">*</span></label>
      <form class="form-inline" style="width:100%;">
        <div class="form-group" style="width:100%;">
          <input style="width:90%;height:39px;" autocomplete="off" id="barcodenumber" class="form-control"
            [(ngModel)]="barcodeNumber" [ngModelOptions]="{standalone: true}"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            (paste)="checkInput($event)">
          <button type="submit" class="btn btn-primary my-1" style="height:39px;" [disabled]="!validBarcode"
            (click)="displayItemlot()" onfocus="this.value=''" id="displaycheckout">Display</button>
        </div>
      </form>
      <ngb-alert *ngIf="!validBarcode" (close)="validBarcode=true">
        <!-- <p style="margin:0px;color:red;"><strong>Barcode# are 16 digits Numbers</strong>&nbsp;
          <i class="material-icons" aria-hidden="true" style="color:red;font-size:50px;">sentiment_very_dissatisfied</i>
        </p> -->
        <strong>Barcode# are 16 digits Numbers</strong>
      </ngb-alert>

      <ngb-alert *ngIf="itemdetailreserve" (close)="itemdetailreserve=false">
        <!-- <p style="margin:0px;color:red;"><strong>Barcode# are 16 digits Numbers</strong>&nbsp;
          <i class="material-icons" aria-hidden="true" style="color:red;font-size:50px;">sentiment_very_dissatisfied</i>
        </p> -->
        <strong>This Item Lot is reserved.</strong>
      </ngb-alert>

      <ngb-alert *ngIf="barcodeInformMissing==true" (close)="barcodeInformMissing=false">
        <ng-container>
          <tr *ngFor="let row of missingInform">
            {{row}}
          </tr>
        </ng-container>
      </ngb-alert>

      <ngb-alert *ngIf="notFoundBarcode" (close)="notFoundBarcode=false">
        <!-- <p style="margin:0px; color:red; font-size:15px" >
          <strong>Barcode not found! Please check barcode!</strong>&nbsp;<i class="material-icons" aria-hidden="true"
            style="color:red;font-size:50px;">sentiment_very_dissatisfied</i>
        </p> -->
        <strong>Barcode not found! Please check barcode!</strong>
      </ngb-alert>

      <br>
      <label>Check-Out Purpose<span class="star">*</span></label>
      <br>
      <label style="width:20%;">
        <input type="radio" [checked]="selectAction=='Complete'" (change)="selectAction='Complete'"> Discard
      </label>
      <label>
        <input type="radio" [checked]="selectAction=='Transtoinuse'" (change)="selectAction='Transtoinuse'"> Transfer to
        In Use
      </label>
    </div>



    <div *ngIf="checkoutItem" style="font-size:14px;">
      <p><strong>Do you wish to
          {{selectAction=='Complete'?'discard this item':'transfer this item from "Unopened" to "In Use"'}}?</strong>
      </p>
      <p><strong>Item Name:</strong> {{checkoutItem.name}}</p>
      <p><strong>Item Cat#:</strong> {{checkoutItem.cat}}</p>
      <p><strong>Lot#:</strong> {{checkoutItemdetail.lotnumber}}</p>
    </div>


    <ngb-alert *ngIf="inuseBarcode" (close)="inuseBarcode=false">
      <!-- <div style="margin:0px; color:red; font-size:15px">
        <p>Item with barcode#: <strong>{{checkoutBarcode.barcode}}</strong></p>
        <strong>is already transferred to "In Use" (please check barcode)</strong>&nbsp;<i class="material-icons" aria-hidden="true"
          style="color:red;font-size:50px;">sentiment_very_dissatisfied</i>
      </div> -->
      <strong style="font-size:14px;">Item with barcode# ({{checkoutBarcode.barcode}}) is already transferred to "In
        Use" (please check barcode)</strong>
    </ngb-alert>

    <ngb-alert *ngIf="alreadyComplete" (close)="alreadyComplete=false">
      <!-- <div style="margin:0px; color:red; font-size:15px">
        <p>ITtem with barcode#: <strong>{{checkoutBarcode.barcode}}</strong></p>
        <strong>is already "Discarded" (please check barcode)</strong>&nbsp;<i class="material-icons" aria-hidden="true"
          style="color:red;font-size:50px;">sentiment_very_dissatisfied</i>
      </div> -->
      <strong style="font-size:14px;">Item with barcode# ({{checkoutBarcode.barcode}}) is already "Discarded" (please
        check barcode)</strong>
    </ngb-alert>

    <ngb-alert *ngIf="completeSubmit && submitAction=='Complete'" (close)="completeSubmit=false" [type]="'success'">
      <!-- <div style="margin:0px;; font-size:15px" *ngIf="submitAction=='Complete'">
        <p>Name: <strong>{{checkoutItem.name}}</strong></p>
        <p>Cat#: <strong>{{checkoutItem.cat}}</strong></p>
        <p>Lot#: <strong>{{checkoutItemdetail.lotnumber}}</strong></p>
        <p>Barcode#: <strong>{{checkoutBarcode.barcode}}</strong></p>
        <strong>was successfully "Discarded"!</strong>&nbsp;<i class="material-icons"
          style="color:#5dbcd2;font-size:50px;">sentiment_very_satisfied</i>
      </div>

        <div style="margin:0px;; font-size:15px" *ngIf="submitAction=='Transtoinuse'">
        <p>Name: <strong>{{checkoutItem.name}}</strong></p>
        <p>Cat#: <strong>{{checkoutItem.cat}}</strong></p>
        <p>Lot#: <strong>{{checkoutItemdetail.lotnumber}}</strong></p>
        <p>Barcode#: <strong>{{checkoutBarcode.barcode}}</strong></p>
        <strong>was successfully transferred from "Unopened" to "In Use"!</strong>&nbsp;<i class="material-icons"
          style="color:#5dbcd2;font-size:50px;">sentiment_very_satisfied</i>
      </div> -->
      <strong style="font-size:14px;">Item with barcode# ({{checkoutBarcode.barcode}}) was successfully
        "Discarded"!</strong>
    </ngb-alert>

    <ngb-alert *ngIf="completeSubmit && submitAction=='Transtoinuse'" (close)="completeSubmit=false" [type]="'success'">
      <strong style="font-size:14px;">Item with barcode# ({{checkoutBarcode.barcode}}) was successfully transferred from
        "Unopened" to "In Use"!</strong>
    </ngb-alert>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="submitBarcode()" id="submitcheckout"
      [disabled]="validBarcode==false||barcodeInformMissing==true||notFoundBarcode==true">Submit</button>
    <button class="btn btn default" (click)="cancelCheckOut()" id="cancelcheckout">Cancel</button>
  </div>
</ng-template>

<ng-template #checkItem let-c="close" class="checkinout">
  <div class="modal-header">
    <h4 class="modal-title">
      Check Out Item(s)
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-check-out [selectItems]="selectItems" (update)="updateItemAmount($event); c('');" (cancel)="reset(); c('');">
    </app-check-out>
  </div>
</ng-template>

<ng-template #Reconstitution let-c="close" class="checkinout">
  <div class="modal-header">
    <h4 class="modal-title">
      Reconstitute Item(s)
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-reconstitution [selectItems]="selectItems" (update)="updateItemAmount($event); c('');"
      (cancel)="reset(); c('');"></app-reconstitution>
  </div>
</ng-template>

<ng-template #confirmation let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
  </div>
  <div class="modal-body">
    {{confirmationmessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="e('');action()" id="confirmdelete">Yes</button>
    <button class="btn btn default" (click)="e('')" id="canceldelete">No</button>
  </div>
</ng-template>

<ng-template #barcode let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Barcodes</h4>
    <div [style.float]="right">
      <button class="btn btn-danger" (click)="printBarcode()" id="confirmdelete" printSectionId="barcodes"
        ngxPrint>Print</button>
      <button class="btn btn default" (click)="cancelBarcode()" id="canceldelete">Cancel</button>
    </div>

  </div>
  <div class="modal-body">
    <!-- <tr ng-repeat="i in array"  ng-init="index = i*3">
          <td *ngFor="let PS of PrintSerials.slice(index,index+3)" >
            <ngx-barcode [bc-value]="PS" [bc-display-value]="true"></ngx-barcode>
          </td>
      </tr> -->
    <!-- <tr *ngFor="let PS of PrintSerials" >
      <ngx-barcode [bc-value]="PS" [bc-display-value]="true"></ngx-barcode>
    </tr> -->
    <!-- <tr *ngFor="let PS of twoDBarcodeValues">
      <ngx-qrcode [qrc-value]="PS" qrc-class="aclass" qrc-errorCorrectionLevel="L"></ngx-qrcode>
    </tr> -->


    <table id="barcodes">
      <tr *ngFor="let array of twodarray">
        <td *ngFor="let PS of array">
          <div class="col-md-4">
            <ngx-barcode [bc-value]="PS" [bc-display-value]="true"></ngx-barcode>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <!-- <div class="modal-footer">
    <button class="btn btn-danger" (click)="printBarcode()" id="print">Print</button>
    <button class="btn btn default" (click)="cancelBarcode()" id="cancelbarcode">Cancel</button>
  </div> -->
</ng-template>

<div [style.right]="isShowItemLog?0+'px':-200+'%'" class="slide" id="itemLogInfor" style="width:1200px;">
  <div class="edit-container">
    <h4>
      <b *ngIf="item?.name !== ''" id="itemname">{{item?.name}} Logs</b>
      <b *ngIf="item?.name == ''" id="newitem">New Item</b>
      <small [style.float]="right" *ngIf="!isNewItem">
        <button class="btn btn default" (click)="cancelItemLog()" id="cancelitemlog">Cancel</button>
      </small>
      <br>
    </h4>
    <table id="itemlogs" style="width:100%; font-size:14px;" border="1">
      <thead>
        <tr>
          <th style="width:10%"><label>Action</label></th>
          <th><label>Changes</label></th>
          <th style="width:10%"><label>Date</label></th>
          <th style="width:10%"><label>User</label></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let itemchange of itemLogObject">
          <tr>
            <td>{{itemchange.action}}</td>
            <td>
              <table class="bottomBorder">
                <thead>
                  <tr>
                    <th style="width:30%"><label>Field</label></th>
                    <th style="width:35%"><label>Old Value</label></th>
                    <th style="width:35%"><label>New Value</label></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let change of itemchange.changes">
                    <tr>
                      <td>{{change.field}}</td>
                      <td>{{change.oldValue}}</td>
                      <td>{{change.newValue}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </td>
            <td>{{itemchange.time|date}}</td>
            <td>{{itemchange.user}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <!-- <button class="exit-container" (click)="!isnew?enableEdit = false:''"></button> -->
</div>

<ng-template #openconjugate let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Conjugation</h4>
  </div>

  <div class="modal-body">
      <p  style="color:red;font-style:italic;font-size:11px;font-weight:bold;margin:0px;">
          All fields are required!</p>
    <table class="table table-bordered fix-table">
      <tr *ngIf="hideconjugateformrow[0]==true" class="hiderow" (click)="hideconjugateformrow[0]=false">
        <td colspan='8'>
          <label class="blockLabel">Biomolecule Information</label>
          <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 10h32L18 26z"></path>
          </svg>
        </td>
      </tr>
      <tr style="background-color:paleturquoise;" *ngIf="hideconjugateformrow[0]==false"
        (click)="hideconjugateformrow[0]=true">
        <td colspan='8'>
          <label class="blockLabel">Biomolecule  Information</label>
          <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10z"></path>
          </svg>
        </td>
      </tr>

      <tr class="biomolecule" *ngIf="hideconjugateformrow[0]==false">
        <td colspan='5' style="width:65%;">
          <label class="conjugateLabel">Biomolecule</label>
          <div (clickOutside)="showMoleculeList=false">
            <input autocomplete="off" class="form-control" id="biomolecule" #biomolecule type="text"
              [value]="newConjugate.biomolecule" (keyup)="searchMolecule(biomolecule.value); showMoleculeList=true;"
              (paste)="pasteMolecule($event); showMoleculeList=true;" name="biomolecule" />
            <div class="recommend" *ngIf="moleculeFilterList!== undefined && showMoleculeList==true;">
              <p class="recItem" *ngFor="let item of moleculeFilterList" (click)="selectMolecule(item);">
                {{item.name}},&nbsp;
                Cat#: {{item.cat}}, &nbsp;Supplier: {{item.supplier}}</p>
              <p *ngIf="moleculeFilterList.length == 0" class="no-result">No result found</p>
            </div>
          </div>
        </td>
        <td colspan='3' >
            <label class="conjugateLabel">Biomolecule Item Lot#</label>
            <select class="form-control" #biomoleculeitemlot
              *ngIf="selectedMolecule.itemdetails!=null && selectedMolecule.itemdetails.length>0"
              (change)="getbiomodeluceitemlot($event)">
              <option [disabled]="true">Please Select Biomolecule Item Lot</option>
              <!-- <option *ngFor="let l of selectedMolecule.itemdetails" [value]="l" [selected]="selectedMolecule.itemdetail.dbid==l.dbid">Lot#: {{l.lotnumber}}, Amount: {{l.amount}} x {{l.unitsize}} {{l.unit}}, In Use: {{l.inuse}} x {{l.unitsize}} {{l.unit}}</option> -->
              <option *ngFor="let l of selectedMolecule.itemdetails" [value]="l"
                [selected]="selectedMolecule.itemdetail.dbid==l.dbid">{{l.lotnumber}},&nbsp;   Unopened: {{l.amount}},&nbsp;  In Use: {{l.inuse}}
              </option>
            </select>
            <div *ngIf="selectedMolecule.itemdetails!=null && selectedMolecule.itemdetails.length==0">
              No Item Lots
            </div>
          </td>
      </tr>

      <!-- <tr class="biomolecule" *ngIf="hideconjugateformrow[0]==false">
        <td colspan='4' >
          <label class="conjugateLabel">Biomolecule Item Lot#</label>
          <select class="form-control" #biomoleculeitemlot
            *ngIf="selectedMolecule.itemdetails!=null && selectedMolecule.itemdetails.length>0"
            (change)="getbiomodeluceitemlot($event)">
            <option [disabled]="true">Please select Biomolecule Item Lot</option>
            <option *ngFor="let l of selectedMolecule.itemdetails" [value]="l"
              [selected]="selectedMolecule.itemdetail.dbid==l.dbid">{{l.lotnumber}}
            </option>
          </select>
          <div *ngIf="selectedMolecule.itemdetails!=null && selectedMolecule.itemdetails.length==0">
            No Item Lots
          </div>
        </td>
        <td colspan='2'  *ngIf="selectedMolecule.itemdetail!=null">
              <label class="conjugateLabel">Unopened:</label>&nbsp;{{selectedMolecule.itemdetail.amount}}
              <br>
              <label class="conjugateLabel">In-Use:</label>&nbsp;{{selectedMolecule.itemdetail.inuse}}
        </td>

        <td colspan='2'>
          <label class="conjugateLabel">Required Amount</label>
          <div class="form-inline" *ngIf="newConjugate.biounit.trim()!=''">
            <input autocomplete="off" class="form-control" type="text" #biorequireamount
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
              (keyup)="getBioRequireAmount(biorequireamount.value);" (paste)="pasteBioRequireAmount($event); "
              [(ngModel)]="newConjugate.biorequireamount" name="biorequireamount" />&nbsp;<label
              class="smalllabel">{{newConjugate.biounit}}</label>
          </div>
        </td>

      </tr> -->

      <!-- <tr *ngIf="newConjugate.biomolecule && newConjugate.biomolecule.trim()!=''">
        <td colspan='4'>
          <p class='nospace'><strong>Name: </strong>{{selectedMolecule.name}}, <strong>Cat#: </strong>
            {{selectedMolecule.cat}}, <strong>Supplier: </strong>{{selectedMolecule.supplier}}</p>
        </td>
      </tr> -->
      <tr class="biomolecule" *ngIf="hideconjugateformrow[0]==false">
        <td colspan='8'>
          <label class="questionLabel">Check Out Biomolecule Item Lot?</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" [checked]="newConjugate.checkoutbiomolecule=='Yes'"
            (change)="checkoutbioyes()"><label class="smalllabel">Yes</label>&nbsp;
          <input type="checkbox" [checked]="newConjugate.checkoutbiomolecule=='No'"
            (change)="checkoutbiono()"><label class="smalllabel">No</label>
          <table class="concheckout" *ngIf="newConjugate.checkoutbiomolecule=='Yes'">
            <tr>
              <td colspan="1" style="width:33%;">
                <label class="smalllabel">Finish Unopened</label>
                <div class="form-inline">
                  <input autocomplete="off" class="form-control" type="text" #biodepleteunopen
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    (keyup)="checkBioUnopened(biodepleteunopen.value);" (paste)="pasteBioUnopened($event); "
                    [(ngModel)]="newConjugate.biodepleteunopened" name="biodepleteunopen" />&nbsp;<label
                    class="smalllabel">vial(s)</label>
                </div>

              </td>
              <td colspan="1" style="width:33%;">
                <label class="smalllabel">Transfer Unopened to In Use</label>
                <div class="form-inline">
                  <input autocomplete="off" class="form-control" type="text" #biotransferunopen
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    (keyup)="checkBioUnopened(biotransferunopen.value);" (paste)="pasteBioUnopened($event); "
                    [(ngModel)]="newConjugate.biotransfer" name="biotransferunopen" />&nbsp;<label
                    class="smalllabel">vial(s)</label>
                </div>

              </td>
              <td colspan="1">
                <label class="smalllabel">Finish In Use</label>
                <div class="form-inline">
                  <input autocomplete="off" class="form-control" type="text" #biodepleteinuse
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    (keyup)="checkBioInuse(biodepleteinuse.value);" (paste)="pasteBioInuse($event); "
                    [(ngModel)]="newConjugate.biodepleteinuse" name="biodepleteinuse" />&nbsp;<label
                    class="smalllabel">vial(s)</label>
                </div>

              </td>
            </tr>

          </table>
        </td>
      </tr>
      <!-- <tr class="biomolecule" *ngIf="hideconjugateformrow[0]==false && newConjugate.checkoutbiomolecule=='Yes'">
        <td colspan='4'>
          <label class="conjugateLabel">Finish Unopened</label>
          <input autocomplete="off" class="form-control" type="text" #biodepleteunopen
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            (keyup)="checkBioUnopened(biodepleteunopen.value);" (paste)="pasteBioUnopened($event); "
            [(ngModel)]="newConjugate.biodepleteunopened" name="biodepleteunopen" />
            
        </td>
        <td colspan='2'>
          <label class="conjugateLabel">Transfer Unopened to In-Use</label>
          <input autocomplete="off" class="form-control" type="text" #biotransferunopen
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            (keyup)="checkBioUnopened(biotransferunopen.value);" (paste)="pasteBioUnopened($event); "
            [(ngModel)]="newConjugate.biotransfer" name="biotransferunopen" />
        </td>
        <td colspan='2'>
          <label class="conjugateLabel">Finish In-Use</label>
          <input autocomplete="off" class="form-control" type="text" #biodepleteinuse
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            (keyup)="checkBioInuse(biodepleteinuse.value);" (paste)="pasteBioInuse($event); "
            [(ngModel)]="newConjugate.biodepleteinuse" name="biodepleteinuse" />
        </td>
      </tr> -->




      <tr *ngIf="hideconjugateformrow[1]==true" class="hiderow">
        <!-- <td colspan='8'><label class="blockLabel">Conjugate Molecule Info</label>
        </td> -->
        <td colspan='8' (click)="hideconjugateformrow[1]=false">
          <label class="blockLabel">Conjugate Molecule Information</label>
          <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 10h32L18 26z"></path>
          </svg>
        </td>
      </tr>

      <tr style="background-color:paleturquoise;" *ngIf="hideconjugateformrow[1]==false">
        <td colspan='8' (click)="hideconjugateformrow[1]=true">
          <label class="blockLabel">Conjugate Molecule Information</label>
          <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10z"></path>
          </svg>
        </td>
      </tr>

      <tr class="conjugate" *ngIf="hideconjugateformrow[1]==false">
        <td colspan='5' style="width:65%;">
          <label class="conjugateLabel">Conjugate Molecule</label>
          <div (clickOutside)="showConjugateList=false">
            <input autocomplete="off" class="form-control" id="conjugate" #conjugate type="text"
              [value]="newConjugate.conjugate" (keyup)="searchConjugate(conjugate.value);showConjugateList=true;"
              (paste)="pasteConjugate($event);showConjugateList=true;" name="conjugate" />
            <div class="recommend" *ngIf="conjugateFilterList!== undefined && showConjugateList==true;">
              <p class="recItem" *ngFor="let item of conjugateFilterList" (click)="selectConjugate(item);">
                {{item.name}},&nbsp;
                Cat#: {{item.cat}}, &nbsp;Supplier: {{item.supplier}}</p>
              <p *ngIf="conjugateFilterList.length == 0" class="no-result">No result found</p>
            </div>
          </div>
        </td>
        <td colspan='3'>
            <label class="conjugateLabel">Conjugate Molecule Item Lot#</label>
            <select class="form-control" #conjugateitemlot
              *ngIf="selectedConjugate.itemdetails!=null && selectedConjugate.itemdetails.length>0"
              (change)="getconjugateitemlot($event)">
              <option [disabled]="true">Please Select Conjugate Molecule Item Lot</option>
              <!-- <option *ngFor="let l of selectedConjugate.itemdetails" [value]="l" [selected]="selectedConjugate.itemdetail.dbid==l.dbid">Lot#: {{l.lotnumber}}, Amount: {{l.amount}} x {{l.unitsize}} {{l.unit}}, In Use: {{l.inuse}} x {{l.unitsize}} {{l.unit}}</option> -->
              <option *ngFor="let l of selectedConjugate.itemdetails" [value]="l"
                [selected]="selectedConjugate.itemdetail.dbid==l.dbid">{{l.lotnumber}},&nbsp;   Unopened: {{l.amount}},&nbsp;  In Use: {{l.inuse}}
              </option>
            </select>
            <div *ngIf="selectedConjugate.itemdetails!=null && selectedConjugate.itemdetails.length==0">
              No Item Lots
            </div>
          </td>
      </tr>
      <!-- <tr class="conjugate" *ngIf="hideconjugateformrow[1]==false">
        <td colspan='6'>
          <label class="conjugateLabel">Conjugate Molecule Item Lot#</label>
          <select class="form-control" #conjugateitemlot
            *ngIf="selectedConjugate.itemdetails!=null && selectedConjugate.itemdetails.length>0"
            (change)="getconjugateitemlot($event)">
            <option [disabled]="true">Please select Conjugate Molecule Item Lot</option>
            <option *ngFor="let l of selectedConjugate.itemdetails" [value]="l"
              [selected]="selectedConjugate.itemdetail.dbid==l.dbid">{{l.lotnumber}}   <strong>Unopened:</strong> {{l.amount}}   <strong>In-Use:</strong> {{l.inuse}}
            </option>
          </select>
          <div *ngIf="selectedConjugate.itemdetails!=null && selectedConjugate.itemdetails.length==0">
            No Item Lots
          </div>
        </td>
        <td colspan='2'>
          <label class="conjugateLabel">Required Amount</label>
          <div class="form-inline" *ngIf="newConjugate.conunit.trim()!=''">
            <input autocomplete="off" class="form-control" type="text" #conrequireamount
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
              (keyup)="getConRequireAmount(conrequireamount.value);" (paste)="pasteConRequireAmount($event); "
              [(ngModel)]="newConjugate.biorequireamount" name="biorequireamount" />&nbsp;<label
              class="smalllabel">{{newConjugate.conunit}}</label>
          </div>
        </td>
      </tr> -->
      <!-- <tr colspan='4' *ngIf="newConjugate.conjugate && newConjugate.conjugate.trim()!=''">
        <td colspan='4'>
          <p class='nospace'><strong>Name: </strong>{{selectedConjugate.name}}, <strong>Cat#:
            </strong>{{selectedConjugate.cat}}</p>
          <p class='nospace'><strong>Supplier: </strong>{{selectedConjugate.supplier}}, <strong>Stock Amount:
            </strong>{{selectedConjugate.stockamount}} {{selectedConjugate.stockunit}}</p>
        </td>
      </tr> -->
      <tr class="conjugate" *ngIf="hideconjugateformrow[1]==false">
        <td colspan='8'>
          <label class="questionLabel">Check Out Conjugate Molecule Item Lot?</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" [checked]="newConjugate.checkoutconjugate=='Yes'"
            (change)="checkoutconyes()"><label class="smalllabel">Yes</label>&nbsp;
          <input type="checkbox" [checked]="newConjugate.checkoutconjugate=='No'"
            (change)="checkoutconno()"><label class="smalllabel">No</label>
          <table class="concheckout" *ngIf="newConjugate.checkoutconjugate=='Yes'">
            <tr>
              <td colspan='1'>
                <label class="smalllabel">Finish Unopened</label>
                <div class="form-inline">
                  <input autocomplete="off" class="form-control" type="text" #condepleteunopen
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null :  event.charCode >= 48 && event.charCode <= 57"
                    (keyup)="checkConUnopened(condepleteunopen.value);" (paste)="pasteConUnopened($event); "
                    [(ngModel)]="newConjugate.condepleteunopened" name="condepleteunopen" />&nbsp;<label class="smalllabel">vial(s)</label>
                </div>

              </td>
              <td colspan='1'>
                <label class="smalllabel">Transfer Unopened to In Use</label>
                <div class="form-inline">
                  <input autocomplete="off" class="form-control" type="text" #contransferunopen
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    (keyup)="checkConUnopened(contransferunopen.value);" (paste)="pasteConUnopened($event); "
                    [(ngModel)]="newConjugate.contransfer" name="contransferunopen" />&nbsp;<label
                    class="smalllabel">vial(s)</label>
                </div>

              </td>
              <td colspan='1'>
                <label class="smalllabel">Finish In Use</label>
                <div class="form-inline">
                  <input autocomplete="off" class="form-control" type="text" #condepleteinuse
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    (keyup)="checkConInuse(condepleteinuse.value);" (paste)="pasteConInuse($event); "
                    [(ngModel)]="newConjugate.condepleteinuse" name="condepleteinuse" />&nbsp;<label
                    class="smalllabel">vial(s)</label>
                </div>

              </td>
            </tr>

          </table>
        </td>
      </tr>

      <!-- <tr class="conjugate" *ngIf="hideconjugateformrow[1]==false">
        <td colspan='4'>
          <label class="conjugateLabel">Deplete Unopened</label>
          <input autocomplete="off" class="form-control" type="text" #condepleteunopen
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            (keyup)="checkConUnopened(condepleteunopen.value);" (paste)="pasteConUnopened($event); "
            [(ngModel)]="newConjugate.condepleteunopened" name="condepleteunopen" />
        </td>
        <td colspan='2'>
          <label class="conjugateLabel">Transfer to In-Use</label>
          <input autocomplete="off" class="form-control" type="text" #contransferunopen
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            (keyup)="checkConUnopened(contransferunopen.value);" (paste)="pasteConUnopened($event); "
            [(ngModel)]="newConjugate.contransfer" name="contransferunopen" />
        </td>
        <td colspan='2'>
          <label class="conjugateLabel">Deplete In-Use</label>
          <input autocomplete="off" class="form-control" type="text" #condepleteinuse
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            (keyup)="checkConInuse(condepleteinuse.value);" (paste)="pasteConInuse($event); "
            [(ngModel)]="newConjugate.condepleteinuse" name="condepleteinuse" />
        </td>
      </tr> -->

      <tr style="background-color:paleturquoise;" *ngIf="hideconjugateformrow[2]==true">
        <!-- <td colspan='8'><label class="blockLabel">Preparation Info</label></td> -->
        <td colspan='8' (click)="hideconjugateformrow[2]=false">
          <label class="blockLabel">Conjugated Biomolecule Information</label>
          <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 10h32L18 26z"></path>
          </svg>
        </td>
      </tr>

      <tr *ngIf="hideconjugateformrow[2]==false" class="hiderow">
        <td colspan='8' (click)="hideconjugateformrow[2]=true">
          <label class="blockLabel">Conjugated Biomolecule Information</label>
          <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10z"></path>
          </svg>
        </td>
      </tr>




      <tr>
        <td colspan='8' *ngIf="hideconjugateformrow[2]==false">
          <label class="conjugateLabel">Conjugated Biomolecule Name</label>
          <p *ngIf="newConjugate.name.trim()!=''" class="conjugatename">
            {{newConjugate.name}}</p>
        </td>
      </tr>
      <tr *ngIf="hideconjugateformrow[2]==false">
        <td colspan='2' style="width:25%;">
          <label class="conjugateLabel">Conjugation Run#</label>
          <input autocomplete="off" class="form-control" type="text" placeholder="three digits"  maxlength="3"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          onfocus="this.placeholder = ''" onblur="this.placeholder = 'three digits'"
          [(ngModel)]="newConjugate.runnumber"
            name="conjugaterunnubmer" />
        </td>
        <td colspan='2' style="width:25%;">
          <label class="conjugateLabel">BCA Run#</label>
          <input autocomplete="off" class="form-control" type="text" placeholder="three digits"  maxlength="3"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          onfocus="this.placeholder = ''" onblur="this.placeholder = 'three digits'"
          [(ngModel)]="newConjugate.bca"
            name="conjugatebca" />
        </td>
        <td colspan='2' style="width:25%;">
          <label class="conjugateLabel">Project Number</label>
          <select class="form-control" [(ngModel)]="newConjugate.projectnumber">
            <option *ngFor="let p of projectnumberoptions" [value]="p.name"
              [selected]="newConjugate.projectnumber== p?.name">
              {{p.name}}</option>
          </select>
        </td>
        <td colspan='2' style="width:25%;">
          <label class="conjugateLabel">Reserved
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Reservation details should be stated in the comment field">?</button>
          </label>
          <br>
          <input style="background-color:red;" type="checkbox" [checked]="newConjugate.reserve=='Yes'"
            (change)="changeconjugatereserve()">
        </td>
      </tr>
      <tr *ngIf="hideconjugateformrow[2]==false">
        <td colspan='2'>
          <label class="conjugateLabel">Lot #</label>
          <input autocomplete="off" class="form-control" type="text" [(ngModel)]="newConjugate.lot"
            name="conjugatelot" />
        </td>
        <td colspan='2'>
          <div class="oneline">
            <label class="conjugateLabel">Amount/Quantity</label>
            <input autocomplete="off" class="form-control" type="text"
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
              [(ngModel)]="newConjugate.amount" name="conjugateproduceamount" />
          </div>
        </td>

        <td colspan='2'>
          <div class="oneline">
            <label class="conjugateLabel">Unit Size</label>
            <input autocomplete="off" class="form-control" type="text"
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
              [(ngModel)]="newConjugate.unitsize" name="conjugateproduceunitsize" />
          </div>
        </td>
        <td colspan='2'>
          <label class="conjugateLabel">Unit</label>
          <select [(ngModel)]="newConjugate.unit" class="form-control input-sm ">
            <option *ngFor="let u of unitList" [value]="u.name" [selected]="newConjugate.unit==u.name">
              {{u.name}}
            </option>
          </select>
        </td>

      </tr>

      <tr *ngIf="hideconjugateformrow[2]==false">
        <td colspan='2'>
          <label class="conjugateLabel">Conjugate Chemistry
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="If unsure of chemistry, refer to data sheet">?</button>
            <p style="color:white;margin:0px;padding:0px;">a</p>
          </label>

          <select [(ngModel)]="newConjugate.chemistry" class="form-control input-sm ">
            <option *ngFor="let u of conjugateChemistryOptions" [value]="u.name"
              [selected]="newConjugate.chemistry==u.name">{{u.name}}
            </option>
          </select>
        </td>

        <td colspan='2'>
          <label class="conjugateLabel">Conjugate to<br>Biomolecule ratio</label>
          <!-- <input autocomplete="off" class="form-control" type="text" [(ngModel)]="newConjugate.ratio" name="biotintobiomoleculeRatio" /> -->
          <select [(ngModel)]="newConjugate.ratio" class="form-control input-sm ">
            <option *ngFor="let r of conjugateRatioOptions" [value]="r.name" [selected]="newConjugate.ratio==r.name">
              {{r.name}}
            </option>
          </select>
        </td>

        <td colspan='2'>
          <label class="conjugateLabel">Concentration<br>
            <p style="color:white;margin:0px;padding:0px;">a</p>
          </label>
          <input autocomplete="off" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="newConjugate.concentration" name="conjugateproduceconcentration" />
        </td>
        <td colspan='2'>
          <label class="conjugateLabel">Unit<br>
            <p style="color:white;margin:0px;padding:0px;">a</p>
          </label>
          <select [(ngModel)]="newConjugate.concentrationunit" class="form-control input-sm ">
            <option *ngFor="let c of conUnit" [value]="c.name" [selected]="newConjugate.concentrationunit==c.name">
              {{c.name}}
            </option>
          </select>
        </td>
      </tr>
      <tr *ngIf="hideconjugateformrow[2]==false">
        <td colspan='4'>
          <label class="conjugateLabel">Location</label>
          <select [(ngModel)]="newConjugate.location" class="form-control input-sm " #location
            (change)="newConjugate.location=location.value;newConjugate.sublocation='';showsublocationoption(newConjugate.location)">
            <option *ngFor="let l of locations" [value]="l.name" [selected]="newConjugate.location==l.name">{{l.name}}
            </option>
          </select>
        </td>

        <td colspan='4'>
          <label class="conjugateLabel">Sub Location</label>
          <select [(ngModel)]="newConjugate.sublocation" class="form-control input-sm " #sublocation>
            <option *ngFor="let s of sublocations" [value]="s.name" [selected]="newConjugate.sublocation==s.name">
              {{s.name}}
            </option>
          </select>
        </td>
      </tr>
      <tr *ngIf="hideconjugateformrow[2]==false">
        <td colspan='4'>
          <label class="conjugateLabel">Preparation Date </label>
          <my-date-picker class="form-control" id="conjugatepredate" name="prepdate" [options]="prepareDateOptions"
            [(ngModel)]="conjugatePrepdateDisplay" (dateChanged)="changeprepdate($event)">
          </my-date-picker>
        </td>
        <td colspan='4'>
          <label class="conjugateLabel">Prepared By</label>
          <select [(ngModel)]="newConjugate.prepperson" class="form-control input-sm ">
            <option *ngFor="let user of allusers" [value]="user.name" [selected]="newConjugate.prepperson==user.name">
              {{user.name}}
            </option>
          </select>
        </td>
      </tr>
      <tr *ngIf="hideconjugateformrow[2]==false">
        <td colspan='8'>
          <!-- <label class="conjugateLabel">Description of Preparation</label> -->
          <label class="conjugateLabel">Comment</label>
          <!-- <textarea #description class="form-control" maxlength="255" (keyup)="checkDescription(description.value)"
            (change)="checkDescription(description.value)" [(ngModel)]="newConjugate.description"></textarea> -->
          <textarea #description class="form-control" maxlength="255" (keyup)="checkDescription(description.value)"
            (change)="checkDescription(description.value)" [(ngModel)]="newConjugate.comment"></textarea>
          <span class="font-count">{{description.value.length}}/255</span>
        </td>
      </tr>

    </table>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="checkConjugateInput()" id="checkconjugate">Save</button>
    <button class="btn btn default" (click)="cancelConjugate()" id="cancelconjugate">Cancel</button>
  </div>
</ng-template>

<ng-template #compare let-c="close" class="compare">
  <div class="modal-header">
    <h4 class="modal-title">
      Compare Item Lots
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeCompareModel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>Search By Item Name</label>
      <div class="form-group" style="width:100%;" (clickOutside)="showCompareConjugateList=false">
        <input autocomplete="off" class="form-control" id="compareconjugatename" #compareconjugatename type="text"
          [value]="compareConjugateName"
          (keyup)="searchCompareConjugate(compareconjugatename.value); showCompareConjugateList=true;"
          (paste)="getName($event);showCompareConjugateList=true;" name="compareconjugatename" />
        <div class="recommend" *ngIf="compareConjugateList!== undefined && showCompareConjugateList==true;">
          <p class="recItem" *ngFor="let item of compareConjugateList" (click)="selectCompareConjugate(item);">
            {{item.name}}, Cat#: {{item.cat}}, Supplier: {{item.supplier}}</p>
          <p *ngIf="compareConjugateList.length == 0" class="no-result">No result found, can not compare conjugate</p>
        </div>
      </div>


      <label *ngIf="compareConjugateName && compareConjugateName.trim()!=''">Select Item Lot (maximum five item
        lots)</label>
      <div class="form-group" style="width:100%;" *ngIf="compareConjugateName && compareConjugateName.trim()!=''">
        <table style="width:100%;">
          <tr *ngFor="let selectlot of selectConjugateItemLots; let i = index">
            <select #lotselect class="form-control input-sm " (click)="setItemlot(i, lotselect.value)">
              <option value="" disabled selected>Select Item Lot</option>
              <option *ngFor="let lot of itemlotDynamicList" [value]="lot" style="font-size:12px;">{{lot}}
              </option>
            </select>
          </tr>
          <button
            *ngIf="selectConjugateItemLots.length<5 && selectConjugateItemLots.length<compareConjugateItemLots.length"
            class="btn btn-outline-primary new-ingre" (click)="addlotcompare()" style="width:5%;"><i
              class="fas fa-plus"></i></button>
        </table>
        <button class="btn btn-primary" style="float:right;" (click)="ShowComparison()" id="showcompare"
          [disabled]="selectConjugateItemLots[0].itemdetail==null || selectConjugateItemLots[1].itemdetail==null">Compare Item Lot</button>
      </div>

    </div>
    <br>
    <br>
    <table class="conjugatecompareresulttable"
      *ngIf="showComparisonResult==true && compareConjugateName && compareConjugateName.trim()!=''"
      style="border-color:lightblue;">
      <tr>
        <td [attr.colspan]="conjugteCompareColspan" class="conjuagtenametd">
          <label class="conjuagtename">Name: {{compareConjugateName}}</label>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2">
            <p class="lotnumber">Lot#: {{lot.itemdetail.lotnumber}}</p>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="showList[0]==true">
        <td rowspan="6" (click)="hidethisrow(0)" class="sesstion">
          <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10z"></path>
          </svg>
          <br>
          General
        </td>
        <td class="propertytitle">
          Conjugate to Biomolecule Ratio
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[0]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.biotintobiomoleculeratio}}</p>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="showList[0]==true">
        <td class="propertytitle">
          Concentration
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[1]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.concentration}} {{lot.itemdetail.concentrationunit}}
            </p>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="showList[0]==true">
        <td class="propertytitle">
          Molecular Weight (Dal)
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[2]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.moleculeweight}}</p>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="showList[0]==true">
        <td class="propertytitle">
          Binding Activity (%)
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[3]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.bindingactivity}}</p>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="showList[0]==true">
        <td class="propertytitle">
          Purity (%)
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[4]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.purity}}</p>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="showList[0]==true">
        <td class="propertytitle">
          Conjugate Incorporation Ratio
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[5]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.conjugateincorporationratio}}</p>
          </td>
        </ng-container>
      </tr>

      <tr *ngIf="showList[0]==false">
        <td [attr.colspan]="conjugteCompareColspan" (click)="showthisrow(0)" class="hidesesstion">
          <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 10h32L18 26z"></path>
          </svg>
          General
        </td>
      </tr>


      <tr *ngIf="showList[1]==true">
        <td rowspan="8" (click)="hidethisrow(1)" class="sesstion">
          <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10z"></path>
          </svg>
          <br>
          Preparation
        </td>
        <td class="propertytitle">
          Biomolecule Info
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[6]==true?'mistyrose':'white'">
            <p class="datacolumn angular-with-newlines">{{lot.itemdetail.biomoleculeinfo}}</p>
          </td>
        </ng-container>
      </tr>

      <tr *ngIf="showList[1]==true">
        <td class="propertytitle">
          Conjugate Info
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[7]==true?'mistyrose':'white'">
            <p class="datacolumn angular-with-newlines">{{lot.itemdetail.conjugateinfo}}</p>
          </td>
        </ng-container>
      </tr>

      <tr *ngIf="showList[1]==true">
        <td class="propertytitle">
          Conjugation Run#
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[8]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.runnumber}}</p>
          </td>
        </ng-container>
      </tr>

      <tr *ngIf="showList[1]==true">
        <td class="propertytitle">
          BCA Run#
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[9]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.bca}}</p>
          </td>
        </ng-container>
      </tr>


      <tr *ngIf="showList[1]==true">
        <td class="propertytitle">
          Conjugate Chemistry
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[10]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.conjugatechemistry}}</p>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="showList[1]==true">
        <td class="propertytitle">
          Amount/<br>Quantity
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[11]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.amount}} x {{lot.itemdetail.unitsize}} {{lot.itemdetail.unit}}
            </p>
          </td>
        </ng-container>
      </tr>


      <tr *ngIf="showList[1]==true">
        <td class="propertytitle">
          Prepared By
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[12]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.conjugateprepperson}}</p>
          </td>
        </ng-container>
      </tr>

      <tr *ngIf="showList[1]==true">
        <td class="propertytitle">
          Prepared Date
        </td>
        <ng-container *ngFor="let lot of selectConjugateItemLots">
          <td colspan="2" [style.backgroundColor]="differentrows[13]==true?'mistyrose':'white'">
            <p class="datacolumn">{{lot.itemdetail.conjugateprepdate|date}}</p>
          </td>
        </ng-container>
      </tr>

      <tr *ngIf="showList[1]==false">
        <td [attr.colspan]="conjugteCompareColspan" (click)="showthisrow(1)" class="hidesesstion">
          <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="10" height="16" viewBox="0 0 36 36">
            <path d="M2 10h32L18 26z"></path>
          </svg>
          Preparation
        </td>
      </tr>


    </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn default" (click)="closeCompareModel()" id="cancelcheckout">Cancel</button>
  </div>
</ng-template>