<div  *ngIf="recipelist" >
    <ul >
        <li *ngFor="let recipe of recipelist; let i = index" style="width:100%;">
            <table  style="width:100%;table-layout: fixed;">
              <!-- <tr  [style.background-color]="!recipe.itemname?'':i % 2==0?'lightgrey':'#ccffff'" [style.color]="recipe.enough=='Yes'?'black':'red'"> -->
              <tbody style="display:table;width:100%;border-radius:6px;-moz-border-radius:6px;">
                  <tr  [style.background-color]="!recipe.itemname?'':'#e7f5fd'" [style.color]="recipe.enough=='Yes'?'black':'red'" >   
                      <td *ngIf="recipe.recipename" class="paragraph" style="width:100%;">
                        <p><b >Recipe: </b>{{recipe.recipename}}</p>
                        <app-buildkit-display [recipelist]="recipe.children" ></app-buildkit-display> 
                      </td>
                      <td *ngIf="recipe.itemname" style="width:20%;">
                        <label style="font-weight:bold;">Item</label>
                        <p >{{recipe.itemname}}</p>
                      </td>
                      <td *ngIf="recipe.supplier" style="width:20%;">
                        <label style="font-weight:bold;">Supplier</label>
                        <p >{{recipe.supplier}}</p>
                      </td>
                      <td *ngIf="recipe.itemcat" style="width:20%;">
                        <label style="font-weight:bold;">Cat#</label>
                        <p >{{recipe.itemcat}}</p>
                      </td>
                      <td *ngIf="!recipe.recipename && recipe.requireamount && recipe.requireunit" style="width:15%;"  >
                        <label style="font-weight:bold;">Require</label>
                        <p >{{recipe.requireamount}} {{recipe.requireunit}}</p>
                      </td>
                      <td *ngIf="!recipe.recipename && recipe.stockamount!=null && recipe.stockunit" style="width:15%;" >
                        <label style="font-weight:bold;">In stock</label>
                        <p >{{recipe.stockamount}} {{recipe.stockunit}}</p>
                      </td>
                      <td *ngIf="recipe.itemname" style="width:10%;" >
                        <input  #checkbox type="checkbox" class="checkbox" [checked]="recipe.selected == true" (change)="select(recipe)">
                      </td>
                    </tr>
              </tbody>

            </table>
          </li>
    </ul>
  </div>
