<div>
  <!-- <mat-toolbar color="primary"> -->
  <nav class="tooBarColor">
    <a
      routerLink="/template-main/template-list"
      routerLinkActive="active"
      class="linkButton"
    >
      <i class="fas fa-backward"></i>
      Template List
    </a>
  </nav>
  <!-- </mat-toolbar> -->
</div>
<mat-divider></mat-divider>

<div class="center">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button>
</div>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!-- Section One -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Template Info</ng-template>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Assay Number</mat-label>
          <input matInput formControlName="assayNumber" #assayNumber />
          <mat-hint align="end">Assay numbers required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Scientist</mat-label>
          <input matInput formControlName="scientist" #scientist />
          <mat-hint align="end">scientist name required</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
            formControlName="date"
            #date
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Two -->

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Coating</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating buffer:</span></strong
        ><span class="specialSpan"
          >&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<u></u
          ><input
            formControlName="coatingBuffer"
            class="lineShapeInputBox"
            #coatingBuffer

            
    (input)="autoComplete.search(0, coatingBuffer.value, searchListArr)"
    [(ngModel)]="autoInputDataArr[0].name"
          />

          <ul class="search-result">
            <li
              *ngFor="let item of searchListArr[0]"
              (click)="
                autoComplete.setInputValues(0, item.name, autoInputDataArr);
                autoComplete.clearSearchListArr(0, searchListArr)
              "
            >
              {{ item.name }}
            </li>
          </ul>
          &nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_1"
            class="lineShapeInputBox"
            #step2_supplier_1
          />)<ul class="search-result">
            <li
              *ngFor="let supplier of autoInputDataArr[0].suppliers"
              (click)="
              step2_supplier_1.value = supplier;
                autoComplete.clearSupplierArr(0, autoInputDataArr)
              "
            >
              {{ supplier }}
            </li>
          </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span class="black"
            >Lot#:&nbsp;&nbsp; &nbsp;</span
          ><input
            formControlName="coatingBufferLotNumber"
            class="lineShapeInputBox"
            #coatingBufferLotNumber
          />

          <ul class="search-result">
            <li
              *ngFor="let lotNum of autoInputDataArr[0].lotNumbers"
              (click)="
              coatingBufferLotNumber.value = lotNum;
                autoComplete.clearlotNumArr(0, autoInputDataArr)
              "
            >
              {{ lotNum }}
            </li>
          </ul>
        </span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Coating material 1</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <u></u>&nbsp;
          <input
            formControlName="coatingMaterial1"
            class="lineShapeInputBox"
            #coatingMaterial1
          />&nbsp; &nbsp; &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step2_supplier_2"
            class="lineShapeInputBox"
            #step2_supplier_2
          />) &nbsp; &nbsp;</span
        ><span class="specialSpan"
          >&nbsp;Concentration:&nbsp; &nbsp;<input
            formControlName="step2_concentration_1"
            class="lineShapeInputBox"
            #step2_concentration_1/>
          &nbsp;&nbsp;<span class="black">Lot#:&nbsp;&nbsp; &nbsp;</span
          ><input
            formControlName="coatingMaterial1LotNumber"
            class="lineShapeInputBox"
            #coatingMaterial1LotNumber
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"
          ><input
            formControlName="ulCoatingMaterial"
            class="lineShapeInputBox"
            #ulCoatingMaterial/>
          µL coating material +
          <input
            formControlName="ulCoatingBuffer"
            class="lineShapeInputBox"
            #ulCoatingBuffer/>
          µL coating buffer =
          <input
            formControlName="ulCoatingMaterial_ulCoatingBuffer"
            class="lineShapeInputBox"
            #ulCoatingMaterial_ulCoatingBuffer
        /></span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <!-- space between input boxes and check boxes -->
          <br />
          <br />
          <br />
          <span class="black">
            <mat-checkbox color="primary"></mat-checkbox> Dispense&nbsp; </span
          >1<span class="black">00 µL per well.</span></span
        >
      </p>
      <span class="specialParagraph"
        ><span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for&nbsp; </span
        ><span class="specialSpan"
          >60 min<span class="black">, shaking 300rpm </span></span
        ></span
      >

      <!-- space above nav buttons -->
      <br />
      <br />

      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer one buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(0)">Start
          Timer{{timer.displayStartTime(0)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(0)">Stop
          Timer{{timer.displayStopTime(0)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 0)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 0)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(0) }} seconds</p> -->
  </mat-step>

  <!-- Section Three -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Blocking</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            ><span class="black"
              >BLOCKING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp;<input
                formControlName="step3_item_1"
                class="lineShapeInputBox"
                #step3_item_1
              />
              &nbsp; &nbsp; &nbsp; &nbsp;</span
            ></span
          ></strong
        ><span class="specialSpan"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step3_supplier_1"
            class="lineShapeInputBox"
            #step3_supplier_1
          />)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
        ><span class="black"
          >Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="lockingLotNum"
            class="lineShapeInputBox"
            #lockingLotNum
        /></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Dispense&nbsp; </span
        ><span class="specialSpan"
          >1<span class="black">00 µL per well. &nbsp;</span></span
        >
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at overnight at
          4°C.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(1)">Start
          Timer{{timer.displayStartTime(1)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(1)">Stop
          Timer{{timer.displayStopTime(1)}}</button>
      </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 1)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 1)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <!-- <p>Timer Duration: {{ getTime(1) }} seconds</p> -->
  </mat-step>

  <!-- Section Four -->
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;<input
              formControlName="step4_item_1"
              class="lineShapeInputBox"
              #step4_item_1
            />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step4_supplier_1"
            class="lineShapeInputBox"
            #step4_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;Lot#:&nbsp;&nbsp; &nbsp;
          <input
            formControlName="washingLotNum"
            class="lineShapeInputBox"
            #washingLotNum
        /></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Use plate washer program
          PBST, 3 x 300 ul
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Section Five -->
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Capture Antibody Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan">CAPTURE ANTIBODY ADDITION</span></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan black"
            >Diluent: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan black"
          ><input
            formControlName="step5_item_1"
            class="lineShapeInputBox"
            #step5_item_1
          />&nbsp;</span
        ><strong
          ><span class="specialSpan black"
            >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step5_supplier_1"
            class="lineShapeInputBox"
            #step5_supplier_1
          />) &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
        ><span class="specialSpan black"
          >Lot#:&nbsp;&nbsp; &nbsp;<input
            formControlName="superblockLotNum"
            class="lineShapeInputBox"
            #superblockLotNum
        /></span>
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >Clone ID
            <span class="black"
              >#:
              <input
                formControlName="step5_cloneId_1"
                class="lineShapeInputBox"
                #step5_cloneId_1/></span></span
        ></strong>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan"
          ><input
            formControlName="ulClone1"
            class="lineShapeInputBox"
            #ulCLone1/>
          µL Clone +
          <input
            formControlName="ulClone2"
            class="lineShapeInputBox"
            #ulClone2/>
          µL Diluent =
          <input
            formControlName="ulDiluent"
            class="lineShapeInputBox"
            #ulDiluent
        /></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer three buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(2)">Start
          Timer{{timer.displayStartTime(2)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(2)">Stop
          Timer{{timer.displayStopTime(2)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 2)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 2)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <!-- <p>Timer Duration: {{ getTime(2) }} seconds</p> -->
  </mat-step>

  <!-- Section Six  -->
  <mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup">
      <ng-template matStepLabel>Test Sample Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >TEST SAMPLE ADDITION (1 µg/mL)</span
          ></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >Diluent: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;<input
              formControlName="step6_item_1"
              class="lineShapeInputBox"
              #step6_item_1
            />
            &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_1"
            class="lineShapeInputBox"
            #step6_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="black"
            >Lot#:&nbsp;&nbsp; &nbsp;<input
              formControlName="diluentLotNumber"
              class="lineShapeInputBox"
              #diluentLotNumber/></span
        ></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Innovator</span></strong
        ><span class="specialSpan"
          >: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong
            ><u
              ><input
                formControlName="step6_item_2"
                class="lineShapeInputBox"
                #step6_item_2/></u
          ></strong>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_2"
            class="lineShapeInputBox"
            #step6_supplier_2/>)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;&nbsp; Concentration:
          <input
            formControlName="step6_concentration_1"
            class="lineShapeInputBox"
            #step6_concentration_1/><span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lot#:&nbsp;&nbsp; &nbsp;<input
              formControlName="innovatorLotNumber"
              class="lineShapeInputBox"
              #innovatorLotNumber/></span
        ></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="chemicalInput1"
            class="lineShapeInputBox"
            #chemicalInput1/>
          µL Avastin +
          <input
            formControlName="chemicalInput2"
            class="lineShapeInputBox"
            #chemicalInput2/>
          µL superblock = &nbsp; &nbsp;<input
            formControlName="chemicalInput3"
            class="lineShapeInputBox"
            #chemicalInput3
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="chemicalInput4"
            class="lineShapeInputBox"
            #chemicalInput4/>
          µL &nbsp;Avastin @
          <input
            formControlName="chemicalInput5"
            class="lineShapeInputBox"
            #chemicalInput5/>+
          <input
            formControlName="chemicalInput6"
            class="lineShapeInputBox"
            #chemicalInput6/>
          µL superblock =
          <input
            formControlName="chemicalInput7"
            class="lineShapeInputBox"
            #chemicalInput7
        /></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Biosimilar</span></strong
        ><span class="specialSpan"
          >: &nbsp; &nbsp; &nbsp; &nbsp;<strong
            ><u
              ><input
                formControlName="step6_item_3"
                class="lineShapeInputBox"
                #step6_item_3/></u></strong
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_3"
            class="lineShapeInputBox"
            #step6_supplier_3/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;&nbsp; &nbsp; Concentration:
          <input
            formControlName="step6_concentration_2"
            class="lineShapeInputBox"
            #step6_concentration_2/><span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp;Lot#:&nbsp;&nbsp; &nbsp;<input
              formControlName="concentrationLotNumber"
              class="lineShapeInputBox"
              #concentrationLotNumber/></span
        ></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="ulBiosimilar"
            class="lineShapeInputBox"
            #ulBiosimilar/>
          µL biosimilar +
          <input
            formControlName="ulBiosimilar2"
            class="lineShapeInputBox"
            #ulBiosimilar2/>
          µL superblock = &nbsp; &nbsp;
          <input
            formControlName="ulSuperblock"
            class="lineShapeInputBox"
            #ulSuperblock
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="ulBiosimilar3"
            class="lineShapeInputBox"
            #ulBiosimilar3/>
          µL &nbsp;biosimilar @
          <input
            formControlName="ulBioSimilar4"
            class="lineShapeInputBox"
            #ulBioSimilar4/>+
          <input
            formControlName="ulBioSimilar5"
            class="lineShapeInputBox"
            #ulBioSimilar5/>
          µL superblock =
          <input
            formControlName="ulBioSimilar6"
            class="lineShapeInputBox"
            #ulBioSimilar6
        /></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Standard</span></strong
        ><span class="specialSpan"
          >: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong
            ><u
              ><input
                formControlName="step6_item_4"
                class="lineShapeInputBox"
                #step6_item_4/></u></strong
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step6_supplier_4"
            class="lineShapeInputBox"
            #step6_supplier_4/>)&nbsp;&nbsp;&nbsp; &nbsp; Concentration:
          <input
            formControlName="step6_concentration_3"
            class="lineShapeInputBox"
            #step6_concentration_3/><span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Lot#:&nbsp;&nbsp;
            &nbsp;<input
              formControlName="chemicalInput8"
              required
              class="lineShapeInputBox"
              #chemicalInput8/></span
        ></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="chemicalInput9"
            class="lineShapeInputBox"
            #chemicalInput9/>
          µL standard +
          <input
            formControlName="chemicalInput10"
            class="lineShapeInputBox"
            #chemicalInput10/>
          µL superblock = &nbsp; &nbsp;<input
            formControlName="chemicalInput11"
            class="lineShapeInputBox"
            #chemicalInput11
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="chemicalInput12"
            class="lineShapeInputBox"
            #chemicalInput12/>
          µL &nbsp;standard @
          <input
            formControlName="chemicalInput13"
            class="lineShapeInputBox"
            #chemicalInput13/>+
          <input
            formControlName="chemicalInput14"
            class="lineShapeInputBox"
            #chemicalInput14/>
          µL superblock =
          <input
            formControlName="chemicalInput15"
            class="lineShapeInputBox"
            #chemicalInput15
        /></span>
      </p>
      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm.
        </span>
      </p>
      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer four buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(3)">Start
          Timer{{timer.displayStartTime(3)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(3)">Stop
          Timer{{timer.displayStopTime(3)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 3)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 3)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <!-- <p>Timer Duration: {{ getTime(3) }} seconds</p> -->
  </mat-step>

  <!-- Data migrated from template two -->

  <!-- Section Eigth -->
  <mat-step [stepControl]="eighthFormGroup">
    <form [formGroup]="eighthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
              formControlName="step8_item_1"
              class="lineShapeInputBox"
              #step8_item_1
            />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step8_supplier_1"
            class="lineShapeInputBox"
            #step8_supplier_1/>)&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;&nbsp;Lot#:&nbsp; &nbsp; &nbsp;
          <input formControlName="eigthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Use plate washer program
          PBST, 3 x 300 ul
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- end of section eight -->

  <!-- Section Nine -->
  <mat-step [stepControl]="ninthFormGroup">
    <form [formGroup]="ninthFormGroup">
      <ng-template matStepLabel>Biotinylated Target Addition</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan black"
            >BIOTINYLATED TARGET ADDITION (0.5 µg/ml)&nbsp;</span
          ></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan black"
            >Diluent: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan black"
          ><input
            formControlName="step9_item_1"
            class="lineShapeInputBox"
            #step9_item_1
          />&nbsp;</span
        ><strong
          ><span class="specialSpan black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step9_supplier_1"
            class="lineShapeInputBox"
            #step9_supplier_1
          />) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;</span
        ><span class="specialSpan black"
          >Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="ninthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan black">Biotinylated Target:</span></strong
        ><span class="specialSpan black"
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
            formControlName="step9_item_2"
            class="lineShapeInputBox"
            #step9_item_2
          />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step9_supplier_2"
            class="lineShapeInputBox"
            #step9_supplier_2
          />)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
        ><span class="specialSpan black"
          >Lot#:&nbsp; &nbsp; &nbsp;
          <input formControlName="ninthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan black"
          ><input
            formControlName="ninthCtrl"
            required
            class="lineShapeInputBox"/>
          µL Conjugate +
          <input
            formControlName="ninthCtrl"
            required
            class="lineShapeInputBox"/>
          µL diluent &nbsp; &nbsp; =
          <input formControlName="ninthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan black"
          ><input
            formControlName="ninthCtrl"
            required
            class="lineShapeInputBox"/>
          µL @<input
            formControlName="ninthCtrl"
            required
            class="lineShapeInputBox"/>
          +
          <input
            formControlName="ninthCtrl"
            required
            class="lineShapeInputBox"/>
          µL diluent &nbsp; &nbsp;=
          <input formControlName="ninthCtrl" required class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 1
          hour, shaking 300rpm.
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer one buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(0)">Start
          Timer{{timer.displayStartTime(0)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(0)">Stop
          Timer{{timer.displayStopTime(0)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 0)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 0)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(0) }} seconds</p> -->
  </mat-step>
  <!-- end of section nine -->

  <!-- Section Ten -->
  <mat-step [stepControl]="tenthFormGroup">
    <form [formGroup]="tenthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan black"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
              formControlName="step10_item_1"
              class="lineShapeInputBox"
              #step10_item_1/></span></strong
        ><strong
          ><span class="specialSpan"
            >&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step10_supplier_1"
            class="lineShapeInputBox"
            #step10_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;&nbsp; Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="tenthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> &nbsp; Use plate washer
          program PBST, 3 x 300 ul
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- end of section ten -->

  <!-- section eleven -->
  <mat-step [stepControl]="eleventhFormGroup">
    <form [formGroup]="eleventhFormGroup">
      <ng-template matStepLabel>Detection Addtion</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >DETECTION ADDITION (1/10,000)</span
          ></strong
        >
      </p>
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan"
            >Diluent: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan"
          ><input
            formControlName="step11_item_1"
            class="lineShapeInputBox"
            #step11_item_1
          />&nbsp;</span
        ><strong
          ><span class="specialSpan"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step11_supplier_1"
            class="lineShapeInputBox"
            #step11_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span class="black"
            >Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="eleventhCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <p class="specialParagraph">
        <strong><span class="specialSpan">Detection</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
            formControlName="step11_item_2"
            class="lineShapeInputBox"
            #step11_item_2/>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;&nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step11_supplier_2"
            class="lineShapeInputBox"
            #step11_supplier_2/>)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;<span class="black"
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;&nbsp;Lot#:&nbsp; &nbsp; &nbsp;<input
              formControlName="eleventhCtrl"
              required
              class="lineShapeInputBox"/></span
        ></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="eleventhCtrl"
            required
            class="lineShapeInputBox"/>
          µL Detection +
          <input
            formControlName="eleventhCtrl"
            required
            class="lineShapeInputBox"/>
          µL diluent = &nbsp; &nbsp;<input
            formControlName="eleventhCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>
      <p class="specialParagraph2">
        <span class="specialSpan"
          ><input
            formControlName="eleventhCtrl"
            required
            class="lineShapeInputBox"/>
          µL Detection @
          <input
            formControlName="eleventhCtrl"
            required
            class="lineShapeInputBox"/>+
          <input
            formControlName="eleventhCtrl"
            required
            class="lineShapeInputBox"/>
          µL diluent =
          <input
            formControlName="eleventhCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Dispense 100 µL per
          well.
        </span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan">
          <mat-checkbox color="primary"></mat-checkbox> Incubate at RT for 60
          min, shaking 300rpm.
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer two buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(1)">Start
          Timer{{timer.displayStartTime(1)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(1)">Stop
          Timer{{timer.displayStopTime(1)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 1)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 1)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(1) }} seconds</p> -->
  </mat-step>
  <!-- end of section eleven -->

  <!-- Section Twelf -->
  <mat-step [stepControl]="twelfthFormGroup">
    <form [formGroup]="twelfthFormGroup">
      <ng-template matStepLabel>Washing</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong
          ><span class="specialSpan black"
            >WASHING &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
              formControlName="step12_item_1"
              class="lineShapeInputBox"
              #step12_item_1/></span></strong
        ><strong
          ><span class="specialSpan"
            >&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
          ></strong
        ><span class="specialSpan black"
          >(Supplier:&nbsp;&nbsp;<input
            formControlName="step12_supplier_1"
            class="lineShapeInputBox"
            #step12_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;&nbsp; Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="twelfthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox> &nbsp; Use plate washer
          program PBST, 3 x 300 ul
        </span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- end of section twelf -->

  <!-- Section thirteen -->
  <mat-step [stepControl]="thirteenthFormGroup">
    <form [formGroup]="thirteenthFormGroup">
      <ng-template matStepLabel>Substrate</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">SUBSTRATE</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;<input
            formControlName="step13_item_1"
            class="lineShapeInputBox"
            #step13_item_1/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;&nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step13_supplier_1"
            class="lineShapeInputBox"
            #step13_supplier_1/>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="thirteenthCtrl"
            required
            class="lineShapeInputBox"
        /></span>
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan">Dispense 100µL per well.</span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan"
          >incubate at RT for
          <input
            formControlName="thirteenthCtrl"
            required
            class="lineShapeInputBox"
          />
          minutes</span
        >
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <!-- Timer three buttons -->
      <!-- <div class='timerButton'>
        <button mat-raised-button color='warn' (click)="timer.startTimer(2)">Start
          Timer{{timer.displayStartTime(2)}}</button>
        <button mat-raised-button color='warn' (click)="timer.stopTimer(2)">Stop
          Timer{{timer.displayStopTime(2)}}</button>
      </div> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <!-- <app-counter (sendTime)="saveTime($event, 2)"></app-counter> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show Timer </mat-panel-title>
        <mat-panel-description
          >(Display a count down timer in below)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-counter (sendTime)="saveTime($event, 2)"></app-counter>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <!-- <p>Timer Duration: {{ getTime(2) }} seconds</p> -->
  </mat-step>
  <!-- end of section thirteen -->

  <!-- Section fourteen -->
  <mat-step [stepControl]="fourteenthFormGroup">
    <form [formGroup]="fourteenthFormGroup">
      <ng-template matStepLabel>Stop Solution</ng-template>
      <!-- code for section content -->
      <p class="specialParagraph">
        <strong><span class="specialSpan">STOP SOLUTION</span></strong
        ><span class="specialSpan"
          >:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
            formControlName="step14_item_1"
            class="lineShapeInputBox"
            #step14_item_1
          />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;(Supplier:&nbsp;&nbsp;<input
            formControlName="step14_supplier_1"
            class="lineShapeInputBox"
            #step14_supplier_1
          />)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;&nbsp;Lot#:&nbsp; &nbsp; &nbsp;<input
            formControlName="fourteenthCtrl"
            required
            class="lineShapeInputBox"
          />&nbsp; &nbsp;&nbsp;</span
        >
      </p>

      <!-- space between input boxes and check boxes -->
      <br />
      <br />
      <br />

      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan">Dispense 100 µL controls per well.</span>
      </p>
      <p class="specialParagraph">
        <span class="specialSpan black">
          <mat-checkbox color="primary"></mat-checkbox>
          &nbsp;&nbsp; </span
        ><span class="specialSpan">Read at 450 nm and 620 nm as reference</span>
      </p>

      <!-- space above nav buttons -->
      <br />
      <br />
      <mat-divider></mat-divider>
      <!-- end of section content -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- end of section fourteen -->

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <span class="specialSpan black">You are now done.</span>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-button
        (click)="
          formData(
            assayNumber.value,
            scientist.value,
            date.value,
            coatingBuffer.value,
            coatingBufferLotNumber.value,
            coatingMaterial1.value,
            coatingMaterial1LotNumber.value,
            ulCoatingMaterial.value,
            ulCoatingBuffer.value,
            ulCoatingMaterial_ulCoatingBuffer.value,
            lockingLotNum.value,
            washingLotNum.value,
            superblockLotNum.value,
            ulCLone1.value,
            ulClone2.value,
            ulDiluent.value,
            diluentLotNumber.value,
            innovatorLotNumber.value,
            chemicalInput1.value,
            chemicalInput2.value,
            chemicalInput3.value,
            chemicalInput4.value,
            chemicalInput5.value,
            chemicalInput6.value,
            chemicalInput7.value,
            concentrationLotNumber.value,
            ulBiosimilar.value,
            ulBiosimilar2.value,
            ulSuperblock.value,
            ulBiosimilar3.value,
            ulBioSimilar4.value,
            ulBioSimilar5.value,
            ulBioSimilar6.value,
            chemicalInput8.value,
            chemicalInput9.value,
            chemicalInput10.value,
            chemicalInput11.value,
            chemicalInput12.value,
            chemicalInput13.value,
            chemicalInput14.value,
            chemicalInput15.value
          )
        "
      >
        Submit
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
