/* You can add global styles to this file, and also import other style files */

html{
  height:100%;
}

body {
  background-color: #eff3ea;
  background-image: url("./assets/images/anti-bg-trans2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.tab-content {
  background:linear-gradient(to bottom, white, transparent);
  background:-moz-linear-gradient(bottom, white, transparent);
  background:-o-linear-gradient(bottom, white, transparent);
  background:-webkit-linear-gradient(top, white, transparent);
  padding: 20px;
  border: solid lightgrey;
  border-width: 1px 1px 1px 1px;
  margin: -2px 1px 1px 1px;
}

.nav-link {
  background-color: #17a2b8;
  color: #dae9ef;
  border: 1px solid white;
  box-shadow: inset 0px -2px 5px 0px #002e41;
  transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
}

.nav-link:hover {
  background-color: #97ca41;
  color: white;
  box-shadow: none;
}

.nav-link.active{
  background-color: transparent;
}

.nav-item {
  border: 1px solid white;
}

.nav-item .active {
  box-shadow: none;
}

.right-item {
  float: right;
}

.btn-icon {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.help-tooltip {
  padding: 0px;
  line-height: 1;
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.modal-title>span {
  font-size: 10px;
  color: lightgrey;
}

.form-group,
.form-group input,
.form-group .btn {
  font-size: 12px;
}

.form-group>label {
  font-weight: bold;
  font-size: 14px;
}

.read-only-input {
  width: 100%;
  border-bottom: 0.05em solid lightgrey;
  font-size: 13px;
}

.read-only-addon {
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 0px 5px;
}

.tab-container{
    font-size:13px;
    padding:20px; 
    height: 100vh;
}

.input-group{
  z-index: 0; 
}

.table-container {
  width: 100%;
  height: 100vh;
  /* overflow: auto; */
}

.empty{
  font-weight: bold;
  text-align: center;
  color:lightgrey;
}

.blur-container{
  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
}

.loading-screen{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: #8e8e8e2e;
}

.loading-img{
  margin: 20% 45%;
}

.control-box{
  margin: 5px 0px;
  background-color: #17a2b8;
}

.control-box button{
  border-radius: 0px;
  background-color: transparent;
  border-color:white;
  border-style: solid;
  border-width: 0px 1px;
}

.control-box .menu-btn{
  color:white;
}

.control-box button:hover{
  background-color: white;
  color: #17a2b8;
  border: 0.01em solid #17a2b8;
}

.dropdown-item{
  color:black;
}

.no-result{
  text-align:center;
  color:grey;
  font-style: italic;
}

.icon-btn {
  background: none;
  border: none;
  padding: 0px;
  margin-right: 10px;
  width: 22px;
  height: 28px;
  line-height: 1;
}

.icon-btn:hover {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(211, 211, 211, 0.5);  */
  background-color: lightblue;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.5); 
}

.flash{	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.modal-sm {
    max-width: 1490px !important;
    min-width: 971px !important;   
    width: 90% !important;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
