<div *ngIf="egg" style="min-width:600px;">

  <table class="table table-bordered" *ngIf="enableEdit && displayEgg.eggpart!='Yolk'">
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Egg Amount
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Amount of the Egg">?</button>
              </label>
              <input autocomplete="off" class="form-control" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                [(ngModel)]="displayEgg.amount" name="amount">
            </div>
          </td>
          <td class="rightline">
            <div class="form-group">
              <label>Collection Date
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Collection Date of the Egg">?</button>
              </label>
              <my-date-picker name="dateofbirth" [options]="collectiondateoptions" [(ngModel)]="collectiondate" (dateChanged)="changecollectiondate($event)"></my-date-picker>
            </div>
          </td>

        </tr>
      </table>
    </tr>
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Location
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Location of the Egg">?</button>
              </label>
              <select class="form-control"  (change)="displayEgg.sublocation='';showsublocationoption(displayEgg.location)" [(ngModel)]="displayEgg.location">
                <option *ngFor="let location of locations" [value]="location.name" [selected]="displayEgg.location == location.name">{{location.name}}</option>
              </select>
            </div>
          </td>
          <td class="removealllines">
            <div class="form-group">
              <label>Sub Location
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Sub Location of the Egg">?</button>
              </label>
              <select *ngIf="displayEgg.location " style="width:220px;" class="form-control"  [(ngModel)]="displayEgg.sublocation">
                <option *ngFor="let sublocation of sublocations" [value]="sublocation.name" [selected]="displayEgg.sublocation == sublocation.name">{{sublocation.name}}</option>
              </select>
            </div>
          </td>
        </tr>
      </table>

    </tr>

    <tr>
      <div class="form-group">
        <label>Lay Egg Dates<span class="star">*</span>
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Lay Egg Dates of the Egg">?</button>
        </label>
        <table style="width:100%;">
          <tr>
            <td class="layegg">
              <label style="padding:0px;margin:0px;">From</label>
              <div>
                <my-date-picker name="firstlayeggdate" [options]="firstlayeggdateoptions" [(ngModel)]="firstlayeggdate" (dateChanged)="changefirstlayeggdate($event)"></my-date-picker>
              </div>
            </td>
            <td class="layegg2">
              <label style="padding:0px;margin:0px;">To</label>
              <div>
                <my-date-picker name="lastlayeggdate" [options]="lastlayeggdateoptions" [(ngModel)]="lastlayeggdate" (dateChanged)="changelastlayeggdate($event)"></my-date-picker>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </tr>


    <tr *ngIf="displayEgg.eggpart=='Yolk'">
      <table style="width:100%;">
        <tr>
          <td style="width:33%;" class="lastrightline">
              <div class="form-group">
                  <label>Frozen Date
                    <span class="star">*</span>
                    <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Frozen Date of the Yolk">?</button>
                  </label>"
                  <my-date-picker style="width:150px;" name="dateofbirth" [options]="frozendateoptions" [(ngModel)]="frozendate" (dateChanged)="changefrozendate($event)"></my-date-picker>
                </div>


          </td>
          <td style="width:33%;" class="lastrightline" >
            <div class="form-group">
              <label>Add Sucrose
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="If add sucrose">?</button>
              </label>
              <label class="search-key"><input type="radio" [checked]="displayEgg.addsucrose=='Yes'" (change)="displayChicken.addsucrose='Yes'">                Yes</label>
              <label class="search-key"><input type="radio" [checked]="displayEgg.addsucrose=='No'" (change)="displayChicken.addsucrose='No'">                No</label>
            </div>
          </td>
          <td class="lastremovealllines" >
 

            <div class="form-group">
                <label>Titer
                  <span class="star">*</span>
                  <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Titer of the Antibody">?</button>
                </label>
                <div class="form-inline">
                  <select class="form-control" [(ngModel)]="displayEgg.titer">
                    <option *ngFor="let titer of yolktiterlist" [value]="titer.name" [selected]="displayEgg.titer == titer.name">{{titer.name}}</option>
                  </select>
                  <p style="width:20%;font-size:15px;vertical-align: center;margin:0px;"> {{displayEgg.titer}}</p>
                </div>
              </div>


          </td>
        </tr>
      </table>
    </tr>
  </table>

  <table class="table table-bordered" *ngIf="!enableEdit  && displayEgg.eggpart!='Yolk'">
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Egg Amount
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Amount of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.amount}}</p>
            </div>
          </td>
          <td class="rightline">
            <div class="form-group">
              <label>Collection Date
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Collection Date of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.collectiondate | date}}</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Location
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Location of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.location}}</p>
            </div>
          </td>
          <td class="removealllines">
            <div class="form-group">
              <label>Sub Location
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Sub Location of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.sublocation}}</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>

    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Lay Egg Dates<span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Lay Egg Dates of the Egg">?</button>
              </label>
              <p class="read-only-input">From {{displayEgg.firstlayeggdate|date}} to {{displayEgg.lastlayeggdate|date}}</p>
            </div>
          </td>
          <td class="removealllines">
            <div class="form-group">
              <label>Days after First Immunization
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Days after first immune of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.daysafterimmune}} day(s)</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>


    <tr *ngIf="displayEgg.eggpart=='Yolk'">
      <table style="width:100%;">
        <tr>
          <td style="width:33%;" class="lastrightline">
            <div class="form-group">
              <label>Frozen Date
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Frozen Date of the Yolk">?</button>
              </label>"
              <p class="read-only-input">{{displayEgg.frozendate | date}}</p>
            </div>
          </td>
          <td style="width:33%;" class="lastrightline">
            <div class="form-group">
              <label>Add Sucrose
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="If add sucrose">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.addsucrose=='Yes'?'Yes':'No'}}</p>
            </div>
          </td>
          <td class="lastremovealllines">
            <div class="form-group">
              <label>Titer
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Titer of the Antibody">?</button>
              </label>
              <div class="form-inline" *ngIf="displayEgg.titer && displayEgg.titer.trim()!='' ">
                <p class="read-only-input">{{displayEgg.titer}}</p>
              </div>


            </div>
          </td>
        </tr>
      </table>
    </tr>
  </table>

  <table class="table table-bordered" *ngIf="enableEdit  && displayEgg.eggpart=='Yolk'">
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Yolk Amount
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Amount of the Egg">?</button>
              </label>
              <input autocomplete="off" class="form-control" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                [(ngModel)]="displayEgg.amount" name="amount">
            </div>
          </td>
          <td class="rightline">
            <div class="form-group">
              <label>Collection Date
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Collection Date of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.collectiondate | date}}</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Location
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Location of the Egg">?</button>
              </label>
              <select class="form-control"  (change)="displayEgg.sublocation='';showsublocationoption(displayEgg.location)" [(ngModel)]="displayEgg.location">
                <option *ngFor="let location of locations" [value]="location.name" [selected]="displayEgg.location == location.name">{{location.name}}</option>
              </select>
            </div>
          </td>
          <td class="removealllines">
            <div class="form-group">
              <label>Sub Location
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Sub Location of the Egg">?</button>
              </label>
              <select *ngIf="displayEgg.location && sublocations.length>0" style="width:220px;" class="form-control" [(ngModel)]="displayEgg.sublocation">
                <option *ngFor="let sublocation of sublocations" [value]="sublocation.name" [selected]="displayEgg.sublocation == sublocation.name">{{sublocation.name}}</option>
              </select>
            </div>
          </td>
        </tr>
      </table>

    </tr>

    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Lay Egg Dates<span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Lay Egg Dates of the Egg">?</button>
              </label>
              <p class="read-only-input">From {{displayEgg.firstlayeggdate|date}} to {{displayEgg.lastlayeggdate|date}}</p>
            </div>
          </td>
          <td class="removealllines">
            <div class="form-group">
              <label>Days after First Immunization
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Days after first immune of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.daysafterimmune}} day(s)</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>


    <tr *ngIf="displayEgg.eggpart=='Yolk'">
      <table style="width:100%;">
        <tr>
          <td style="width:33%;" class="lastrightline">
            <div class="form-group">
              <label>Frozen Date
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Frozen Date of the Yolk">?</button>
              </label>"
              <my-date-picker style="width:150px;" name="dateofbirth" [options]="frozendateoptions" [(ngModel)]="frozendate" (dateChanged)="changefrozendate($event)"></my-date-picker>
            </div>
          </td>
          <td style="width:33%;" class="lastrightline">
            <div class="form-group">
              <label>Add Sucrose
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="If add sucrose">?</button>
              </label><br>
              <label class="search-key"><input type="radio" [checked]="displayEgg.addsucrose=='Yes'" (change)="displayChicken.addsucrose='Yes'">Yes</label>
              <label class="search-key"><input type="radio" [checked]="displayEgg.addsucrose=='No'" (change)="displayChicken.addsucrose='No'">No</label>
            </div>
          </td>
          <td class="lastremovealllines">
            <div class="form-group">
              <label>Titer

                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Titer of the Antibody">?</button>
              </label>
              <div class="form-inline">
                  <select class="form-control" [(ngModel)]="displayEgg.titer" >
                    <option *ngFor="let titer of yolktiterlist"  [value]="titer.name" [selected]="displayEgg.titer == titer.name">{{titer.name}}</option>
                  </select>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </tr>
  </table>

  <table class="table table-bordered" *ngIf="!enableEdit   && displayEgg.eggpart=='Yolk'">
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Yolk Amount
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Amount of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.amount}}</p>
            </div>
          </td>
          <td class="rightline">
            <div class="form-group">
              <label>Collection Date
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Collection Date of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.collectiondate | date}}</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>
    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Location
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Location of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.location}}</p>
            </div>
          </td>
          <td class="removealllines">
            <div class="form-group">
              <label>Sub Location
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Sub Location of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.sublocation}}</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>

    <tr>
      <table style="width:100%;">
        <tr>
          <td style="width:50%;" class="rightline">
            <div class="form-group">
              <label>Lay Egg Dates<span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Lay Egg Dates of the Egg">?</button>
              </label>
              <p class="read-only-input">From {{displayEgg.firstlayeggdate|date}} to {{displayEgg.lastlayeggdate|date}}</p>
            </div>
          </td>
          <td class="removealllines">
            <div class="form-group">
              <label>Days after First Immunization
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Days after first immune of the Egg">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.daysafterimmune}} day(s)</p>
            </div>
          </td>
        </tr>
      </table>
    </tr>


    <tr *ngIf="displayEgg.eggpart=='Yolk'">
      <table style="width:100%;">
        <tr>
          <td style="width:33%;" class="lastrightline">

              <div class="form-group">
                  <label>Frozen Date
                    <span class="star">*</span>
                    <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Frozen Date of the Yolk">?</button>
                  </label>"
                  <p class="read-only-input">{{displayEgg.frozendate | date}}</p>
                </div>
    


          </td>
          <td style="width:33%;" class="lastrightline" >
            <div class="form-group">
              <label>Add Sucrose
                <span class="star">*</span>
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="If add sucrose">?</button>
              </label>
              <p class="read-only-input">{{displayEgg.addsucrose=='Yes'?'Yes':'No'}}</p>
            </div>
          </td>
          <td class="lastremovealllines" >



            <div class="form-group">
                <label>Titer
                  <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Titer of the Antibody">?</button>
                </label>
                <div class="form-inline" *ngIf="displayEgg.titer.trim()!='' ">
                  <!-- <p class="read-only-input" >{{displayEgg.titer}} X 10<sup>-6</sup></p> -->
                  <p class="read-only-input">{{displayEgg.titer}}</p>
                  <!-- <p style="width:20%;font-size:15px;vertical-align: center;margin:0px;"><strong>10<sup>-6</sup></strong></p> -->
                </div>
              </div>
          </td>
        </tr>
      </table>
    </tr>
  </table>


  <div class="form-group submit-buttons">
    <button *ngIf="enableEdit" class="btn btn-primary" (click)="save();">{{isNew?'Save':'Update'}}</button>
    <button type="button" class="btn btn-primary" (click)="cancelEdit()">Close</button>
  </div>


</div>