.sale-form{
    padding-bottom: 170px;
    background-image: url('../../../assets/images/recent-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.loading-screen{
    background-color: transparent;
}

.filterlist{
    position: absolute;
    background-color: white;
    height: 100px;
    overflow-y: scroll;
    box-shadow: 1px 1px 5px 0px grey;
    border: 1px solid grey;
}

.filterlist>ul{
    list-style: none;
    padding: 0px 2px;
}

.filterlist>ul>li:hover{
    background-color: lightgrey;
    cursor: pointer;
}

span.form-control{
    background-color: #f8fcfb;
    border-color: #17a2b8;
    cursor: default;
}

.client-info>p{
    line-height: 0.5;
}

.client-info{
    background-color: #f8fcfb;
    border-style: solid;
    border-width: 2px 5px;
    border-color: #17a2b8 #8cdfec;
    text-align: center;
    padding: 25px 0px;
    margin: 0px;
    white-space: pre-wrap;
}

.table-small{
    font-size: 11.5px;
    border-color:rgb(27, 199, 226);
}

.table-small tr>td, .table-small  tr>th{
    border-color: #17a2b8;
    border-width: 2px;
    background-color: #f8fcfb;
}

.table-small tr>th{
    background-color: rgb(27, 199, 226);
    font-size: 12px;
    text-align: center;
}

.table-form{
    table-layout: fixed;
    height: 90%;
}

.table-form>tbody>tr>td{
    border:none;
}

.field-title{
    width: 100%;
    display: block;
    font-weight: bold;
    color: #0b8b71;
    font-size: 16px;
    font-style: italic;
}

.field-sub-title{
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #0b8b71;
}

.edit-row-form input[type="text"]{
    max-width: 100px;
}

.edit-row-form input[type="number"]{
    max-width: 50px;
}

.bubble{
    border-radius: 100%;
    min-width: 250px;
    min-height: 250px;
    max-width: 90%;
    max-height: 90%;
    background: linear-gradient(225deg, rgba(25, 192, 218), #1de9b5);
    text-align: center;
    margin: 10px;
    -webkit-animation: appear 3s, radiuschange 5s;
    animation: appear 3s, radiuschange 5s ;
    -moz-animation: appear 3s, radiuschange 5s;
    -o-animation: appear 3s, radiuschange 5s;
    border: 11px solid #8cdfec;
}

.inner-bubble{
    padding-top: 30%;
    line-height: 1;
}

.objversion{
    font-size: 100%;
    font-style: italic;
    color: #606060;
}

.objnumber{
    font-size: 400%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 5px grey;
}

@-webkit-keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes radiuschange {
    0%{border-radius: 0px;}
    50%{border-radius: 50%;}
    100%{border-radius: 100%;}
}

@-moz-keyframes radiuschange {
    0%{border-radius: 0px;}
    50%{border-radius: 50%;}
    100%{border-radius: 100%;}
}

@-o-keyframes radiuschange {
    0%{border-radius: 0px;}
    50%{border-radius: 50%;}
    100%{border-radius: 100%;}
}

@keyframes radiuschange {
    0%{border-radius: 0px;}
    50%{border-radius: 50%;}
    100%{border-radius: 100%;}
}

span.form-control{
    min-height:35px;
}

.angular-with-newlines {
    white-space:pre-wrap;
  }

  .divider{
    width:5px;
    height:auto;
    display:inline-block;
  }