<div class="sale-form">
  <div class="row control-box" [class.blur-container]="isLoading" *ngIf="invoice && displayInvoice && !enableEdit">
    <button class="btn btn-default menu-btn" (click)="enableEdit = true" *ngIf="!isnew">
      <i class="fa fa-pen-square fa-2x"></i>
    </button>
    <button class="btn btn-default menu-btn" *ngIf="!isnew" (click)="open(prePDF, 'pdf')">
      <i class="far fa-file-pdf fa-2x"></i>
    </button>
  </div>
  <div class="control-box" style="text-align:right;" [class.blur-container]="isLoading" *ngIf="invoice&&enableEdit">
    <button class="btn btn-default menu-btn" (click)="cancelEdit()"><i class="fas fa-times"></i></button>
  </div>

  <!-- <div class="displayInvoice-form" [class.blur-container]="isLoading" *ngIf="invoice">
  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <div class="form-group">
    <label>Create on:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The date of when the displayInvoice is created">?</button>
    </label>
    <span class="form-control">{{displayInvoice?.dateCreate | date }}</span>
  </div>
  <div class="form-group">
    <label>Invoice Number:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Invoice Id">?</button>
    </label>
    <span class="form-control">{{displayInvoice?.invoiceNum}}</span>
  </div>
  <div class="form-group">
    <label>PO Number:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The Purchase Order Number">?</button>
    </label>
    <input class="form-control" type="text" #ponum *ngIf="enableEdit" [value]="displayInvoice?.poNum" (change)="displayInvoice.poNum = ponum.value">
    <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.poNum}}</span>
  </div>
  <div class="form-group" *ngIf="isWithQuote">
    <label>Quote Number:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The Quote which associate with the Invoice">?</button>
    </label>
    <select class="form-control" *ngIf="enableEdit" #quoteid (change)="loadQuoteInfo(quoteid.value)">
      <option [selected]="selectQuote==undefined" [value]="undefined">--</option>
      <option *ngFor="let q of completeQuotes" [value]="q.dbid" [selected]="selectQuote?.dbid == q?.dbid">Quote# {{q?.quoteNum}}</option>
    </select>
    <span class="form-control" *ngIf="!enableEdit">{{selectQuote?.quoteNum}}</span>
  </div>
  <div class="form-group">
    <label>Requisitioner:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The person who requesting the order">?</button>
    </label>
    <input class="form-control" type="text" #requisitioner *ngIf="enableEdit" [value]="displayInvoice?.requisitioner" (change)="displayInvoice.requisitioner = requisitioner.value">
    <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.requisitioner}}</span>
  </div>
  <div class="form-group">
    <label>Shipped via:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The shipping company who handles the shipment of the order">?</button>
    </label>
    <input class="form-control" type="text" #shipper *ngIf="enableEdit" [value]="displayInvoice?.courier" (change)="displayInvoice.courier = shipper.value">
    <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.courier}}</span>
  </div>
  <div class="form-group">
    <label>Shipping Term:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The ">?</button>
    </label>
    <select class="form-control" *ngIf="enableEdit" #shipTerm (change)="displayInvoice.shippingTerm = shipTerm.value">
      <option *ngFor="let term of incoTerm" [value]="term.name" [selected]="displayInvoice?.shippingTerm == term.name">{{term.name}}</option>
    </select>
    <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.shippingTerm}}</span>
  </div>

  <div class="form-group">
    <label>Payment Type:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Payment type for this order">?</button>
    </label>
    <select class="form-control" *ngIf="enableEdit" class="form-control" #ptype (change)="displayInvoice.paymentTerm = ptype.value">
      <option *ngFor="let payType of paymentTerms" [value]="payType.name" [selected]="displayInvoice?.paymentTerm == payType.name">{{payType.name}}</option>
    </select>
    <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.paymentTerm}}</span>
  </div>
  <div class="form-group">
    <label>Bill To:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The Quote which associate with the Invoice">?</button>
    </label>
    <div *ngIf="enableEdit" class="form-control">
      Attention Name :
      <input class="form-control" #billname [value]="displayInvoice?.billAttn" (keyup)="lookupClientName(billname.value, 'bill')"
        (change)="displayInvoice.billAttn = billname.value" (blur)="showClientFilter=''" (focus)="billname.value!==undefined&&billname.value!==''?showClientFilter='bill':''">
      <div *ngIf="showClientFilter=='bill'" class="filterlist">
        <ul>
          <li *ngFor="let c of filterCLients" (click)="setClientInfo(c)">{{c.name}}</li>
        </ul>
      </div>
      Address:
      <textarea class="form-control" #billaddress [value]="displayInvoice?.billAddress" (change)="displayInvoice.billAddress = billaddress.value"></textarea>
      <input type="checkbox" #same [checked]="isSameAsShip" (change)="setShipping()"> Shipping is same as Billing
    </div>
    <textarea *ngIf="!enableEdit" class="client-info form-control" disabled [value]="displayInvoice?.billAttn+'\n'+displayInvoice?.billAddress"></textarea>
  </div>
  <div class="form-group">
    <label>Ship To:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="The Quote which associate with the Invoice">?</button>
    </label>
    <div *ngIf="enableEdit" class="form-control">
      Attention Name :
      <input class="form-control" #shipname [value]="displayInvoice?.shipAttn" (keyup)="lookupClientName(shipname.value, 'ship')"
        (change)="displayInvoice.shipAttn = shipname.value">
      <div class="filterlist" *ngIf="showClientFilter=='ship'">
        <ul>
          <li *ngFor="let c of filterCLients" (click)="setClientInfo(c)">{{c.name}}</li>
        </ul>
      </div>
      Address:
      <textarea class="form-control" #shipaddress [value]="displayInvoice?.shipAddress" (change)="displayInvoice.shipAddress = shipaddress.value"></textarea>
    </div>
    <textarea class="client-info form-control" *ngIf="!enableEdit" disabled [value]="displayInvoice?.shipAttn+'\n'+displayInvoice?.shipAddress"></textarea>
  </div>
  <div class="form-group">
    <label>Order Info:</label>
    <table class="table table-bordered">
      <tr>
        <th *ngIf="enableEdit"></th>
        <th>Catalog Number</th>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Sub Total Cost</th>
        <th>Discount(%)</th>
        <th>Discount Value</th>
        <th>Final Cost</th>
      </tr>
      <ng-container *ngFor="let link of selectLink; let i = index">
        <tr *ngIf="!enableEdit">
          <td>{{link.cat}}</td>
          <td>{{link.name}}</td>
          <td>{{link.price | currency: 'USD'}}</td>
          <td>{{link.itemQuan}}</td>
          <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
          <td>{{link.itemDiscount}} %</td>
          <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
          <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
        </tr>
        <tr *ngIf="enableEdit">
          <td>
            <button class="btn btn-outline-danger icon-btn" (click)="removeLink(i)">
              <i class="fas fa-times"></i>
            </button>
          </td>
          <td>
            <input #itemcat [value]="link.cat" (focus)="showfilter=i" (blur)="hideFilter()" (keyup)="filterByCat(itemcat.value)" (change)="setQuoteLinkItem(i, filterOrderItem[0])">
            <div class="filterlist" *ngIf="showfilter == i">
              <ul>
                <li *ngFor="let item of filterOrderItem" (click)="setQuoteLinkItem(i, item)">{{item.cat}}</li>
              </ul>
            </div>
          </td>
          <td>{{link.name}}</td>
          <td>{{link.price | currency: 'USD'}}</td>
          <td>
            <input #quantity [value]="link.itemQuan" (change)="setQuantity(i,quantity.value)">
          </td>
          <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
          <td>
            <input #discount [value]="link.itemDiscount" (change)="setDiscount(i, discount.value)">
          </td>
          <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
          <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
        </tr>
        <tr>
          <td colspan="9" *ngIf="enableEdit">
            <b>Note:</b>
            <textarea #fn class="form-control" maxlength="255" (keyup)="fn.value=fn.value" (change)="checkFootnote(fn.value, i)"
              [value]="link.footnote"></textarea>
            <span class="font-count">{{fn.value.length}}/255</span>
          </td>
          <td colspan="8" *ngIf="!enableEdit">
            <b>Note:</b> {{link.footnote}}
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="enableEdit">
        <td colspan="9" style="text-align: center;">
          <button style="width: 150px;" class="btn btn-info" (click)="addQuoteLink()">
            <i class="far fa-plus-square"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="form-group">
    <label>Shipping and Handling:
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Additional Shipping and Handling fee">?</button>
    </label>
    <input #fee *ngIf="enableEdit" class="form-control" [value]="displayInvoice?.handleFee" (change)="setHandleFee(fee.value)">
    <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.handleFee}}</span>
  </div>
  <div class="form-group">
    <label *ngIf="enableEdit">Tax Rate (%)
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Amount of tax which applied to products shipped in Canada">?</button>
    </label>
    <label *ngIf="!enableEdit">Tax
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Amount of tax which applied to products shipped in Canada">?</button>
    </label>
    <select *ngIf="enableEdit" class="form-control" #taxselect (change)="setTaxRate(taxselect.value)">
      <option value="no tax" [selected]="selectRate == 'no tax'">No Tax</option>
      <option *ngFor="let rate of taxRate" [value]="rate.name" #rateval [selected]="selectRate==rateval.value">{{rate.name}}</option>
    </select>
    <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.tax}}</span>
  </div>
  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <div class="form-group submit-buttons" *ngIf="enableEdit" style="text-align: center;">
    <button class="btn btn-primary" (click)="save();">Save</button>
    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </div>
</div> -->

  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <table class="table table-form">
    <tr>
      <td rowspan="3" colspan="2" style="padding:0px;">
        <div class="bubble">
          <div class="inner-bubble">
            <div class="objversion">Version {{displayInvoice.revision}}</div>
            <div class="objnumber">{{displayInvoice.invoiceNum}}</div>
          </div>
        </div>
      </td>
      <td colspan="2">
        <span class="field-title">Created on</span>
        <span class="form-control">{{displayInvoice.revisionDate | date}}</span>
      </td>
      <td colspan="2">
        <span class="field-title">Pro Forma</span>
        <input  style="border:0px;" autocomplete="off" *ngIf="enableEdit" type="checkbox" [checked]="displayInvoice?.proform =='Yes'" (change)="changeproform()">
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.proform}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span class="field-title">Linked Quote Number</span>
        <select class="form-control" *ngIf="enableEdit&&isWithQuote" #quoteid (change)="loadQuoteInfo(quoteid.value)">
          <option [selected]="selectQuote==undefined" [value]="undefined">--</option>
          <option *ngFor="let q of completeQuotes.slice().reverse()" [value]="q.dbid" [selected]="selectQuote?.dbid == q?.dbid">Quote# {{q?.quoteNum}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit||!isWithQuote">{{selectQuote?.quoteNum == undefined?'N/A':selectQuote?.quoteNum}}</span>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <span class="field-title">Company Name</span>
        <select class="form-control" *ngIf="enableEdit" #targetcompany (change)="setClient(targetcompany.value)">
          <option *ngFor="let com of companies" [value]="com.dbid" [selected]="selectClient?.dbid == com?.dbid">
            {{com.company}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit">{{selectClient?.company}}</span>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <span class="field-title">PO Number</span>
        <input class="form-control" type="text" #ponum *ngIf="enableEdit" [value]="displayInvoice?.poNum" (change)="displayInvoice.poNum = ponum.value">
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.poNum}}</span>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <span class="field-title">Requisitioner</span>
        <select class="form-control" *ngIf="enableEdit" #targetrep (change)="setRequisitioner(targetrep.value)">
          <option *ngFor="let con of selectContacts" [value]="con.dbid" [selected]="selectContact?.dbid == con.dbid">
            {{con?.name}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.requisitioner}}</span>
      </td>

      <td colspan="3">
        <span class="field-title">Payment Type</span>
        <select class="form-control" *ngIf="enableEdit" #paymentTerm (change)="displayInvoice.paymentTerm = paymentTerm.value">
          <option *ngFor="let term of paymentTerms" [value]="term.name" [selected]="displayInvoice?.paymentTerm == term.name">{{term.name}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.paymentTerm}}</span>
      </td>
    </tr>

    <tr>
        <td colspan="3">
          <span class="field-title">Currency</span>
          <select *ngIf="enableEdit" class="form-control" #ptype (change)="displayInvoice.currency = ptype.value">
            <option *ngFor="let currency of currencyOptions" [value]="currency" [selected]="displayInvoice.currency == currency">{{currency}}</option>
          </select>
          <span class="form-control" *ngIf="!enableEdit">{{displayInvoice.currency}}</span>
        </td>
        <td colspan="3">
          <span class="field-title">Currency Rate</span>
          <input *ngIf="enableEdit" class="form-control" type="number"  
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
          [(ngModel)]="displayInvoice.currencyrate">
          <span class="form-control" *ngIf="!enableEdit">{{displayInvoice.currencyrate}}</span>
        </td>
      </tr>



    <tr>
      <td colspan="3">
        <span class="field-title">Shipped Via</span>
        <input class="form-control" type="text" #shipper *ngIf="enableEdit" [value]="displayInvoice?.courier" (change)="displayInvoice.courier = shipper.value">
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.courier}}</span>
      </td>
      <td colspan="3">
        <span class="field-title">Shipping Term</span>
        <select class="form-control" *ngIf="enableEdit" #shipTerm (change)="displayInvoice.shippingTerm = shipTerm.value">
          <option *ngFor="let term of incoTerm" [value]="term.name" [selected]="displayInvoice?.shippingTerm == term.name">{{term.name}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.shippingTerm}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span class="field-title">Bill To</span>
        <div *ngIf="enableEdit" class="form-control">
          <span class="field-sub-title">Attention Name :</span>
          <select class="form-control" *ngIf="enableEdit" #targetrep (change)="setbillAttn(targetrep.value)">
            <option *ngFor="let con of selectContacts" [value]="con.dbid" [selected]="selectbillAttn?.dbid == con.dbid">
              {{con?.name}}</option>
          </select>
          <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.billAttn}}</span>
          <span class="field-sub-title">Address:</span>
          <textarea class="form-control" #billaddress rows="10" [value]="displayInvoice?.billAddress" (change)="displayInvoice.billAddress = billaddress.value"></textarea>
          <input type="checkbox" #same [checked]="isSameAsShip" (change)="setShipping()"> Shipping is same as Billing
        </div>
        <div *ngIf="!enableEdit" class="client-info form-control">{{displayInvoice?.billAttn+'\n'+displayInvoice?.billAddress}}</div>
      </td>
      <td colspan="3">
        <span class="field-title">Ship To</span>
        <div *ngIf="enableEdit" class="form-control">
          <span class="field-sub-title">Attention Name :</span>
          <select class="form-control" *ngIf="enableEdit" #targetrep (change)="setshipAttn(targetrep.value)">
            <option *ngFor="let con of selectContacts" [value]="con.dbid" [selected]="selectshipAttn?.dbid == con.dbid">
              {{con?.name}}</option>
          </select>
          <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.shipAttn}}</span>
          <span class="field-sub-title">Address:</span>
          <textarea class="form-control" #shipaddress rows="10" [value]="displayInvoice?.shipAddress" (change)="displayInvoice.shipAddress = shipaddress.value"></textarea>
        </div>
        <div class="client-info form-control" *ngIf="!enableEdit">{{displayInvoice?.shipAttn+'\n'+displayInvoice?.shipAddress}}</div>
      </td>
    </tr>
    <tr *ngIf=" (isnew && !isWithQuote) || (!isnew && displayInvoice.quoteId==undefined) " >
      <td  colspan="3" style="padding-bottom:0px;">
          <div class="form-group" >
              <span class="field-title" >Invoice Type</span>
              <select class="form-control" *ngIf="isnew || enableEdit" #ioption [value]="displayInvoice?.type" (change)="displayInvoice.type=ioption.value;">
                  <option *ngFor="let option of invoiceoption" [value]="option.name" [selected]="displayInvoice?.type == option?.name">{{option.name}}</option>
              </select>
            </div>
            <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.type}}</span>{{displayInvoice.quoteId}}
      </td>

    </tr>
    <tr>
      <td colspan="6">
        <span class="field-title" *ngIf="displayInvoice?.type!='Service Invoice'">Order Information</span>
        <table class="table table-bordered table-small" *ngIf="displayInvoice?.type!='Service Invoice' || isWithQuote">
            <tr>
                <th *ngIf="enableEdit"></th>
                <th>Catalog Number</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Sub Total Cost</th>
                <th>Discount(%)</th>
                <th>Discount Value</th>
                <th>Final Cost</th>
              </tr>
              <ng-container *ngFor="let link of selectLink; let i = index">
                <tr *ngIf="!enableEdit">
                  <td>{{link.cat}}</td>
                  <td>{{link.name}}</td>
                  <td>{{link.price | currency: 'USD'}}</td>
                  <td>{{link.itemQuan}}</td>
                  <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
                  <td>{{link.itemDiscount}} %</td>
                  <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
                  <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
                </tr>
            <tr *ngIf="enableEdit" class="edit-row-form">
              <td>
                <button class="btn btn-outline-danger icon-btn" (click)="removeLink(i)">
                  <i class="fas fa-times"></i>
                </button>
              </td>
              <td>
                <input #itemcat type="text" [value]="link.cat" (focus)="showfilter=i" (blur)="hideFilter()" (keyup)="filterByCat(itemcat.value)"
                  (change)="setQuoteLinkItem(i, filterOrderItem[0])">
                <div class="filterlist" *ngIf="showfilter == i">
                  <ul>
                    <li *ngFor="let item of filterOrderItem" (click)="setQuoteLinkItem(i, item)">{{item.cat}}</li>
                  </ul>
                </div>
              </td>
              <td>{{link.name}}</td>
              <td>{{link.price | currency: 'USD'}}</td>
              <td>
                <input #quantity type="number" [value]="link.itemQuan" (change)="setQuantity(i,quantity.value)">
              </td>
              <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
              <td>
                <input #discount type="number" [value]="link.itemDiscount" (change)="setDiscount(i, discount.value)">
              </td>
              <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
              <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
            </tr>
            <tr>
              <td colspan="9" *ngIf="enableEdit">
                <b>Note:</b>
                <textarea #fn class="form-control" maxlength="255" (keyup)="fn.value=fn.value" (change)="checkFootnote(fn.value, i)" [value]="link.footnote"></textarea>
                <span class="font-count">{{fn.value.length}}/255</span>
              </td>
              <td colspan="8" *ngIf="!enableEdit">
                <b>Note:</b> {{link.footnote}}
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="enableEdit">
            <td colspan="9" style="text-align: center;">
              <button style="width: 150px;" class="btn btn-info" (click)="addQuoteLink()">
                <i class="far fa-plus-square"></i>
              </button>
            </td>
          </tr>
        </table>

        <span class="field-title" *ngIf="displayInvoice?.type=='Service Invoice'">Order Information</span>
        <table class="table table-bordered table-small" *ngIf="displayInvoice?.type=='Service Invoice'">
            <tr>
                <th *ngIf="enableEdit"></th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Sub Total Cost</th>
                <th>Discount(%)</th>
                <th>Discount Value</th>
                <th>Final Cost</th>
              </tr>
              <ng-container *ngFor="let link of selectLink; let i = index">
                <tr *ngIf="!enableEdit">
                  <td>{{link.name}}</td>
                  <td>{{link.price | currency: 'USD'}}</td>
                  <td>{{link.itemQuan}}</td>
                  <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
                  <td>{{link.itemDiscount}} %</td>
                  <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
                  <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
                </tr>
            <tr *ngIf="enableEdit" class="edit-row-form">
              <td>
                <button class="btn btn-outline-danger icon-btn" (click)="removeLink(i)">
                  <i class="fas fa-times"></i>
                </button>
              </td>
              <td><input autocomplete="off" type="text" [(ngModel)]="link.name" name="linkname"/></td>
              <td><input autocomplete="off" type="number" [(ngModel)]="link.price" name="linkprice"/></td>
              <!-- <td>{{link.price | currency: 'USD'}}</td> -->
              <td><input autocomplete="off" type="number" [(ngModel)]="link.itemQuan" name="linkitemQuan" (change)="setQuantity(i,linkitemQuan.value)"/></td>
              <!-- <td>
                <input #quantity type="number" [value]="link.itemQuan" >
              </td> -->
              <td>{{(link.price * link.itemQuan) | currency: 'USD'}}</td>
              <td>
                <input autocomplete="off" type="number"  [(ngModel)]="link.itemDiscount" name="linkdiscount"  (change)="setDiscount(i, link.itemDiscount)" >
              </td>
              <td>{{(((link.price * link.itemQuan) * link.itemDiscount)/100) | currency: 'USD'}}</td>
              <td>{{((1-(link.itemDiscount/100)) * (link.price * link.itemQuan)) | currency: 'USD'}}</td>
            </tr>
            <tr>
              <td colspan="9" *ngIf="enableEdit">
                <b>Note:</b>
                <textarea #fn class="form-control" maxlength="255" (keyup)="fn.value=fn.value" (change)="checkFootnote(fn.value, i)" [value]="link.footnote"></textarea>
                <span class="font-count">{{fn.value.length}}/255</span>
              </td>
              <td colspan="8" *ngIf="!enableEdit">
                <span style="white-space:pre-wrap;"><b>Note:</b> {{link.footnote}}</span>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="enableEdit">
            <td colspan="9" style="text-align: center;">
              <button style="width: 150px;" class="btn btn-info" (click)="addServiceLink()">
                <i class="far fa-plus-square"></i>
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="field-title">Handling Fee</span>
        <input #fee *ngIf="enableEdit" class="form-control" [value]="displayInvoice?.handleFee" (change)="setHandleFee(fee.value)">
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.handleFee}}</span>
      </td>
      <td colspan="2">
        <span class="field-title">Shipping Fee</span>
        <input #fee *ngIf="enableEdit" class="form-control" [value]="displayInvoice?.shippingfee" (change)="setShippingFee(fee.value)">
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.shippingfee}}</span>
      </td>
      <td colspan="2">
        <span class="field-title">{{enableEdit?'Tax Rate (%)':'Tax'}}</span>
        <select *ngIf="enableEdit" class="form-control" #taxselect (change)="setTaxRate(taxselect.value)">
          <option value="No Tax" [selected]="selectRate == 'No Tax'">No Tax</option>
          <option *ngFor="let rate of taxRate" [value]="rate.name" #rateval [selected]="selectRate==rate.name">{{rate.name}}</option>
        </select>
        <span class="form-control" *ngIf="!enableEdit">{{displayInvoice?.tax}}</span>
      </td>
    </tr>
    <tr *ngIf="enableEdit">
      <td colspan="6">
        <span class="field-title">Note:</span>
        <!-- <input class="form-control" [(ngModel)]="displayInvoice.note"> -->
        <textarea class="form-control" [(ngModel)]="displayInvoice.note" rows="2" placeholder="Additional Note (Optional)"></textarea>
      </td>
    </tr>
    <tr *ngIf="!enableEdit">
      <td colspan="6">
        <span class="field-title">Note:</span>
        <span class="form-control angular-with-newlines">{{displayInvoice?.note}}</span>
      </td>
    </tr>
  </table>
  <div *ngIf="message" class="alert alert-warning">{{message}}</div>
  <div class="form-group submit-buttons" *ngIf="enableEdit" style="text-align: center;">
    <button class="btn btn-primary" (click)="save();">Save</button>
    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </div>
</div>

<ng-template #prePDF let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Invoice Setting
    </h4>
  </div>
  <div class="modal-body">
    <!-- <div class="form-group">
      <label>Note:
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Otional input which will show on top of the Payment Term and below the Total">?</button>
      </label>
      <textarea class="form-control tandc" #nt [value]="note" (change)="note = nt.value" rows="2" placeholder="Additional Note (Optional)"></textarea>
    </div> -->
    <div class="form-group">
      <label>Somru Payment Information:
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" ngbTooltip="Payment Information which will go at the bottom of the quote">?</button>
      </label>
      <textarea class="form-control tandc" #pay [value]="paymentInfo" (change)="checkPAY(pay.value)" rows="5">
    </textarea>
    </div>
  </div>
  <div class="modal-footer warning">
    <button class="btn btn-success" (click)="getPDF(); c('');">Generate PDF</button>
    <button class="btn btn-default" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<div *ngIf="isLoading" class="loading-screen">
  <img class="loading-img" src="../../../assets/images/loading.gif">
</div>