.item-form {
  font-size: 12px;
}

.unit-dropdown-btn {
  width: 30%;
}

.unit-list {
  font-size: 12px;
  width: 100%;
  padding-left: 15px;
}

.submit-buttons {
  text-align: right;
}

.item-type {
  margin: 0px 10px;
}

.small-form-group{
  display: inline-block;
  height: 50px;
}

.small-form-control{
  display: inline-block;
    border: 0.01em solid lightgrey;
    padding: 5px;
    height: 100%;
}

.small-form-control>select{
  display: block;
  border: 0.01em solid #ddd;
}

.small-form-group>.btn{
  margin: 0px;
  height: 100%;
  vertical-align: top;
}

.star{
  color:red;
}

.table{
  border:black;
}

p{
  border:white;
  margin:0px;
}


div.form-group{
  margin:0px;
  padding:0px;
  /* width: 30%; */
}

/* .form-group{
  margin:0px;
  padding:0px;
} */

.fix-table{
  table-layout: fixed;
}

input.form-control {
  padding:15px,0px;
  margin:0px,0px,0px,0px;
  font-size: 12px;
  /* width:220px; */
  height:39px;
}

select.form-control {
  padding:0px;
  margin:0px,0px,0px,0px;
  font-size: 12px;
  /* width:220px; */
}

textarea.form-control{
  font-size: 12px;
}

.smalltable{
  border:0px;
  padding:0px;
  margin:0px;
  width:10%;
}

/* .special{
  font-weight:bold; 
  font-size:16px;
  color:#008080;
} */

label{
  margin-bottom:0px;
}