<div *ngIf="item" style="min-width:600px;">
  <table class="table table-bordered fix-table" *ngIf="enableEdit">
    <tr>
      <td colspan="2">
        <div class="form-group">
          <label>Item Name
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Generic name of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control" id="itemnameinput" type="text"
            [(ngModel)]="displayItem.name" name="itemname" />
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="!nameunique" (close)="nameunique = true">
            <strong>This item already exist!</strong>
          </ngb-alert>
        </div>
    </tr>

    <tr style="width:100%;">
      <!-- <table style="width:100%;">
        <tr> -->
      <td>
        <div class="form-group">
          <label>Manufacturer Catalog #
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Manufacturer Catalog number of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control" id="itemmanufacturercatinput" type="text"
            [(ngModel)]="displayItem.cat" name="itemcat" />
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="!catunique" (close)="catunique = true">
            <strong>This item cat already existed!</strong>
          </ngb-alert>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Supplier Catalog #
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Supplier Catalog number of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text"
            [(ngModel)]="displayItem.suppliercat" name="suppliercat" />
        </div>
      </td>
      <!-- </tr>
      </table> -->
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label>Unit Size
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Unit Size of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayItem.unitsize" name="itemunitsize" />
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Unit
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Unit of the item">?</button>
          </label>
          <select *ngIf="enableEdit" class="form-control" id="itemunitoption" #unitval [value]="displayItem.unit"
            (change)="displayItem.unit=unitval.value;">
            <option *ngFor="let u of unit" [value]="u.name" [selected]="displayItem.unit == u?.name">{{u.name}}</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
              <label>Item Category
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
                  ngbTooltip="The category of the item">?</button>
              </label>
              <select *ngIf="enableEdit" class="form-control" id="itemcategoryoption" #itemcategory [value]="displayItem.category"
                (change)="displayItem.category=itemcategory.value;">
                <option *ngFor="let category of itemCategory" [value]="category.name"
                  [selected]="displayItem.category == category?.name">{{category?.name}}</option>
              </select>
              <p class="read-only-input" *ngIf="!enableEdit" class="special">
                {{displayItem.type!=undefined && displayItem.category.trim()!=''?displayItem.category:'N/A'}}</p>
            </div>
          </td>
      <td>
        <div class="form-group">
          <label>Item Type
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The type of the item">?</button>
          </label>
          <select *ngIf="enableEdit" class="form-control" id="itemtypeoption" #type [value]="displayItem.type"
            (change)="displayItem.type=type.value;">
            <option *ngFor="let type of itemtypes" [value]="type.itemtype"
              [selected]="displayItem.type == type.itemtype">{{type.itemtype}}</option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit" class="special">
            {{displayItem.type!=undefined && displayItem.type.trim()!=''?displayItem.type:'N/A'}}</p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label>Quantity Threshold
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Quantity threshold of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayItem.quantitythreshold" name="itemquantitythreshold" />
          <p class="read-only-input" *ngIf="!enableEdit">
            {{displayItem.quantitythreshold!=undefined && displayItem.quantitythreshold.trim()!=''?displayItem.quantitythreshold:'N/A'}}
          </p>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Unit Price (USD)
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Unit price of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayItem.unitprice" name="itemunitprice" />
          <p class="read-only-input" *ngIf="!enableEdit" class="special">
            {{displayItem.unitprice!=undefined && displayItem.unitprice.trim()!=''?displayItem.unitprice:'N/A'}}</p>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label>Supplier
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Supplier of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" type="text" id="itemsupplierinput" class="form-control"
            [(ngModel)]="displayItem.supplier" name="supplier">
          <!-- <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.supplier}}</p> -->
          <!-- <a *ngIf="!enableEdit && displayItem.manufacturerlink !== undefined && displayItem.manufacturerlink!== ''" [attr.href]="displayItem.manufacturerlink">{{i?.supplier}}</a> -->
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Supplier Link
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Supplier website of the item">?</button>
          </label>
          <label *ngIf="!enableEdit">Manufacturer
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Manufacturer of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" type="text" class="form-control"
            [(ngModel)]="displayItem.supplylink" name="supplylink">
          <!-- <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.supplylink}}</p> -->
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label>Manufacturer
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Manufacturer of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" type="text" class="form-control" (change)="setManufacturer()"
            [(ngModel)]="displayItem.manufacturer" name="manufacturer">
          <!-- <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.manufacturer}}</p>
                <a *ngIf="!enableEdit && displayItem.manufacturerlink !== undefined && displayItem.manufacturerlink!== ''" [attr.href]="displayItem.manufacturerlink">{{i?.manufacturer}}</a> -->
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Manufacturer Link
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Manufacturer link of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" type="text" class="form-control"
            [(ngModel)]="displayItem.manufacturerlink" name="manufacturerlink">
          <!-- <p class="read-only-input" *ngIf="!enableEdit">{{displayItem.manufacturerlink}}</p> -->
        </div>
      </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
              <label>Item Status
                <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
                  ngbTooltip="The status which indicate if the item is in stock and being used or not">?</button>
              </label>
              <br>
              <div class="btn-group" role="group" aria-label="..." *ngIf="enableEdit">
                <button type="button" class="btn btn-default"
                  [style.background-color]="displayItem.active?'limegreen':'#ccc'"
                  (click)="displayItem.active=!displayItem.active">Active</button>
                <button type="button" class="btn btn-default" [style.background-color]="displayItem.active?'#ccc':'salmon'"
                  (click)="displayItem.active=!displayItem.active">Inactive</button>
              </div>
              <div *ngIf="!enableEdit">
                <i class="fa fa-square" aria-hidden="true" placement="top"
                  [ngbTooltip]="displayItem.active?'Active':'Inactive'"
                  [style.color]="displayItem.active?'limegreen':'grey'"></i>
                {{displayItem.active?'Active':'Inactive'}}
              </div>
            </div>
          </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="form-group">
          <label>Comment(s)</label>
          <textarea *ngIf="enableEdit" class="form-control"  [(ngModel)]="displayItem.comment"
            name="comments"></textarea>
          <div *ngIf="!enableEdit" class="read-only-textarea">{{displayItem.comment}}</div>
        </div>
      </td>
    </tr>

  </table>

  <table class="table table-bordered fix-table" *ngIf="!enableEdit">
    <tr>
      <td>
        <div class="form-group">
          <label>Manufacturer Catalog #
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Manufacturer Catalog number of the item">?</button>
          </label>
          <p class="read-only-input special" *ngIf="!enableEdit" id="itemmanufacturercat">
            {{displayItem.cat!=undefined && displayItem.cat.trim()!=''?displayItem.cat:'N/A'}}</p>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Supplier Catalog #
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Supplier Catalog number of the item">?</button>
          </label>
          <p class="read-only-input special" *ngIf="!enableEdit">
            {{displayItem.suppliercat!=undefined && displayItem.suppliercat.trim()!=''?displayItem.suppliercat:'N/A'}}
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label *ngIf="!enableEdit">Amount/Quantity
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Amount/Quantity of the item">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">
            <span class="special"
              *ngIf="displayItem.amount">{{displayItem.amount!=undefined?displayItem.amount:'N/A'}}</span>
            <span *ngIf="displayItem.unitsize || displayItem.unit"> x</span>
            <span *ngIf="displayItem.unitsize">{{displayItem.unitsize}}</span>
            <span *ngIf="displayItem.unit" id="itemunit">{{displayItem.unit}}</span>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Quantity Threshold
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Quantity threshold of the item">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit">
            {{displayItem.quantitythreshold!=undefined && displayItem.quantitythreshold.trim()!=''?displayItem.quantitythreshold:'N/A'}}
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label>Item Category
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The category of the item">?</button>
          </label>
          <br>
          <div *ngIf="!enableEdit">
            <p class="read-only-input" *ngIf="!enableEdit" class="special" id="itemcategory">
              {{displayItem.category!=undefined && displayItem.category.trim()!=''?displayItem.category:'N/A'}}</p>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Item Type
            <span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The type of the item">?</button>
          </label>
          <p class="read-only-input" *ngIf="!enableEdit" class="special" id="itemtype">
            {{displayItem.type!=undefined && displayItem.type.trim()!=''?displayItem.type:'N/A'}}</p>
        </div>
      </td>

    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label *ngIf="!enableEdit">Supplier
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Supplier of the item">?</button>
          </label>
          <p *ngIf="!enableEdit && (displayItem.supplylink == undefined || displayItem.supplylink.trim()== '')"
            id="itemsupplier">{{displayItem.supplier}}</p>
          <br *ngIf="!enableEdit && displayItem.supplylink !== undefined && displayItem.supplylink!== ''">
          <a class="special" *ngIf="!enableEdit && displayItem.supplylink !== undefined && displayItem.supplylink!== ''"
            [attr.href]="displayItem.supplylink">{{displayItem.supplier}}</a>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label *ngIf="!enableEdit">Manufacturer
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Manufacturer of the item">?</button>
          </label>
          <p *ngIf="!enableEdit && (displayItem.supplylink == undefined || displayItem.supplylink.trim()== '')">
            {{displayItem.manufacturer}}</p>
          <br *ngIf="!enableEdit && displayItem.manufacturerlink !== undefined && displayItem.manufacturerlink!== ''">
          <a class="special"
            *ngIf="!enableEdit && displayItem.manufacturerlink !== undefined && displayItem.manufacturerlink!== ''"
            [attr.href]="displayItem.manufacturerlink">{{displayItem.manufacturer}}</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label>Unit Price (USD)
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Unit price of the item">?</button>
          </label>
          <input autocomplete="off" *ngIf="enableEdit" class="form-control" type="text"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="displayItem.unitprice" name="itemunitprice" />
          <p class="read-only-input" *ngIf="!enableEdit" class="special">
            {{displayItem.unitprice!=undefined && displayItem.unitprice.trim()!=''?displayItem.unitprice:'N/A'}}</p>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Item Status
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The status which indicate if the item is in stock and being used or not">?</button>
          </label>
          <br>
          <div *ngIf="!enableEdit">
            <i class="fa fa-square" aria-hidden="true" placement="top"
              [ngbTooltip]="displayItem.active?'Active':'Inactive'"
              [style.color]="displayItem.active?'limegreen':'grey'"></i>
            {{displayItem.active?'Active':'Inactive'}}
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <div class="form-group">
          <label>Comment(s)</label>
          <div *ngIf="!enableEdit" class="read-only-textarea">{{displayItem.comment}}</div>
        </div>
      </td>
    </tr>
  </table>

  <div class="form-group submit-buttons">
    <button *ngIf="enableEdit" class="btn btn-primary" (click)="checkinput();" id="saveitem">Save</button>
    <button type="button" class="btn btn-primary" (click)="cancelItem()" id="cancelitem">Cancel</button>
  </div>
  <ngb-alert *ngIf="!hidewarning" (close)="hidewarning=true">
    <ng-container *ngFor="let warning of inputwarning; let i = index">
      <p>
        <strong>{{warning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>
</div>