.table-container{
    height: 65%;
}

.sub-head{
    font-size: 12px;
    color:grey;
}

.td{
    position:center;
}

.red {
    background-color: deeppink; 
}

.black {
    background-color: white;
}

.form-group{
    max-width: 100%;
}

.checkbox{
    text-align: center; 
    vertical-align: middle;
}

.checkall{
    position: fixed; 
    right:5%;
}

.recipeid:hover {
    background-color: lightgrey;
  }

.kitname:hover{
background-color: lightgrey;
}

.slide{
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    /* width: 50%; */
    height: 100%;
    transition: 1s right;
    -moz-transition:1s right;
    -o-transition:1s right;
    -webkit-transition:1s right;
  }
  
  .edit-container{
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: white;
    border-left: 15px solid #28a745;
    padding: 10px 30px;
    box-shadow: -5px 0px 20px 0px #705757;
    overflow-y: auto;
  }
  
  .exit-container{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: none;
    
  }
  

  .table-scroll{
    height: 90%;
    display: block;
    margin: 0px;
    width: 100%;
  }
  
  .table-scroll>tbody{
    display: block;
    width: 100%;
    height: 85%;
    overflow-y: overlay;
  }
  
  .table-scroll>tbody>tr{
    width: 100%;
    table-layout: fixed;
    display: table;
  }
  
  .table-scroll>thead{
    display: inline-table;
    width: 100%;
    table-layout: fixed;
  }  

.search-area{
    margin:0px 10px;
}

.table{
    border:1px, solid, lightblue;
}

li > * {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 10px;
}

/* .paragraph{
    border-bottom:1px dotted grey;
} */


