<div class="tab-container">
  <h2>Kit Assembly</h2>
  <div><b>Search In</b>
    <label class="search-area"><input type="radio" [checked]="searchArea==''" (change)="searchArea=''"> All</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Catalog'" (change)="searchArea='Catalog'">
      Catalog</label>
    <label class="search-area"><input type="radio" [checked]="searchArea=='Name'" (change)="searchArea='Name'">
      Name</label>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>

    <input autocomplete="off" #search type="text" class="form-control"
      placeholder="Search kit by catalog number or name" aria-describedby="basic-addon1" [(ngModel)]='searchKey'
      (keyup.enter)="page= 1;searchKit(search.value)">
  </div>
  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input autocomplete="off" type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
      </div>
    </div>
    <button class="btn btn-default menu-btn" (click)="newKit()">
      <i class="fa fa-plus" aria-hidden="true"></i> New Kit</button>
    <button class="btn btn-default menu-btn" (click)="openbuildkitmodal(buildkit)">
      <i class="fas fa-box-open" aria-hidden="true"></i> Build Kit</button>
  </div>
  <div class="table-container">
    <table class="table table-scroll">
      <thead>
        <tr>
          <th colspan="2" *ngIf="viewColumn[0]">Cat#</th>
          <th colspan="4" *ngIf="viewColumn[1]">Name</th>
          <th *ngIf="viewColumn[2]">Type</th>
          <th *ngIf="viewColumn[3]">Size</th>
          <th *ngIf="viewColumn[4]">Price(USD)</th>
          <th *ngIf="viewColumn[5]">Edit Status</th>
          <th colspan="2" *ngIf="viewColumn[6]">Description</th>
          <th *ngIf="viewColumn[7]">Client Specific</th>
          <th *ngIf="viewColumn[8]">Molecule (Innovator)</th>
          <th *ngIf="viewColumn[9]">Biosimilar</th>
          <th *ngIf="viewColumn[10]">Status</th>
          <th *ngIf="viewColumn[11]">Entered By</th>
          <th *ngIf="viewColumn[12]">Reviewed By</th>
          <th *ngIf="viewColumn[13]">Review Comment</th>
          <th *ngIf="viewColumn[14]">Approved By</th>
          <th *ngIf="viewColumn[15]">Approve Comment</th>
          <th *ngIf="viewColumn[16]">last Modify</th>
          <th *ngIf="viewColumn[17]">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of displayKits; let i=index">
          <td colspan="2" *ngIf="viewColumn[0]">{{k.cat}}</td>
          <td colspan="4" *ngIf="viewColumn[1]" class="kitname" [id]="k.dbid" (click)="isNewKit?'':showkitfunction(k)">{{k.name}}</td>
          <td *ngIf="viewColumn[2]">{{k.method}}</td>
          <td *ngIf="viewColumn[3]">{{k.size}}</td>
          <td *ngIf="viewColumn[4]">{{k.price}}</td>
          <td *ngIf="viewColumn[5]">{{k.editstatus}}</td>
          <td colspan="2" *ngIf="viewColumn[6]">{{k.description}}</td>
          <td *ngIf="viewColumn[7]">{{k.clientspecific}}</td>
          <td *ngIf="viewColumn[8]">{{k.molecular}}</td>
          <td *ngIf="viewColumn[9]">{{k.biosimilar}}</td>
          <td *ngIf="viewColumn[10]">{{k.status}}</td>
          <td *ngIf="viewColumn[11]">{{k.enteredby}}</td>
          <td *ngIf="viewColumn[12]">{{k.reviewedby}}</td>
          <td *ngIf="viewColumn[13]">{{k.reviewcomment}}</td>
          <td *ngIf="viewColumn[14]">{{k.approvedby}}</td>
          <td *ngIf="viewColumn[15]">{{k.approvecomment}}</td>
          <td *ngIf="viewColumn[16]">{{k.lastmodify | date}}</td>
          <td *ngIf="viewColumn[17]">{{k.comment}}</td>
        </tr>
        <tr *ngIf="displayKits == undefined || displayKits.length < 1">
          <td class="empty" [attr.colspan]="colCount">Empty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="count>10">
    <p class="page-note" [style.text-align]="'center'">Kit {{((page-1)*10)+1}} - {{page*10>count?count:page*10}} of
      {{count}}
      Kit(s)
    </p>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="count" [(page)]="page" [rotate]="true"
      [boundaryLinks]="true" [maxSize]="5" aria-label="Default pagination" (pageChange)="loadPage()"></ngb-pagination>
  </div>


  <!-- <div   class="d-flex justify-content-center">
    <button *ngIf="searchKey!==''"  class="btn btn-info" (click)="page = page - 1; searchKit(searchKey)">
      <i class="fas fa-caret-left"></i>Previous 
    </button>
  
    <button *ngIf="searchKey!==''" class="btn btn-info" (click)="page = page + 1; searchKit(searchKey)">
      Next <i class="fas fa-caret-right"></i>
    </button>
   </div> -->

  <!-- <button *ngIf="searchKey!==''&&displayKits.length>0 && displayKits.length==10" class="btn btn-info" [style.float]="'right'"
    (click)="page = page + 1; searchKit(searchKey)">
    Load Next 10 Results <i class="fas fa-caret-right"></i>
  </button> -->
  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif">
  </div>
</div>


<div [style.right]="isShowKit?0+'px':-100+'%'" class="slide">
  <div class="edit-container">
    <h4>
      {{isNewKit?'New Kit':displayKit?.name}}
      <small *ngIf="!isNewKit">
        <button class="btn-icon" (click)="enableEditKit=true">
          <i class="fas fa-pen-square"></i>
        </button>
        <button class="btn-icon" (click)="openconfirmation('delete')">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </small>
      <br>
      <small class="sub-head">Modified by {{displayKit?.enteredby}} at {{displayKit?.lastmodify | date}}</small>
      <small *ngIf="message" class="sub-head" style="color:salmon;">{{message}}</small>
    </h4>
    <app-kit-display [kit]="displayKit" [enableEdit]="enableEditKit" [isNew]="isNewKit"
      (updateKitandsequence)="saveKitandsquence($event)" (updateeditstatus)="saveeditstatus($event)"
      (selectrecipe)="sendrecipe($event)" (cancel)="reset()"></app-kit-display>

  </div>
</div>

<ng-template #confirmation let-e="close" class="modal hide fade">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
  </div>
  <div class="modal-body">
    {{confirmationmessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="action();e('closedel');">Yes</button>
    <!-- action(); -->
    <button class="btn btn default" (click)="e('closedel')">No</button>
  </div>
</ng-template>

<ng-template #warn let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Warning</h4>
  </div>
  <div class="modal-body">
    Are you sure you want to cancel the process?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="c('')">Confirm</button>
    <button class="btn btn default" (click)="c('')">Cancel</button>
  </div>
</ng-template>

<ng-template #buildkit let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Build Kit</h4>
    <br>
    <button type="button" class="close" aria-label="Close" (click)="changeback();c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Kit Catalog Number
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
            ngbTooltip="Please type into the catablog number of the kit ">?</button>
        </label>
        <!-- <input autocomplete="off" #kitcatalog class="form-control" type="text" (keyup)="cat=kitcatalog.value" name="cat" />{{cat}} -->
        <input autocomplete="off" #kitcatalog class="form-control" type="text" [(ngModel)]="cat" name="cat" />

      </div>

      <div class="form-group">
        <label>Pack size
          <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
            ngbTooltip="Please type into the pack size of the kit ">?</button>
        </label>
        <input autocomplete="off" #putnumber class="form-control" type="number" (keyup)="kitpacknumber=putnumber.value"
          name="number"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
      </div>
      <button type="submit" class="btn btn-success" (click)="buildkittree(cat, kitpacknumber);">Submit</button>
    </form>

    <br>

    <ngb-alert *ngIf="notindatabase==true" (close)="notindatabase = false">
      <ng-container *ngFor="let a of notfindindatabase; let i = index">
        <p>
          <strong>{{a}}</strong>
        </p>
      </ng-container>
    </ngb-alert>

    <ngb-alert *ngIf="wronginput==true" (close)="wronginput=false">
      <ng-container *ngFor="let b of wronginputinformaiton; let i = index">
        <p>
          <strong>{{b}}</strong>
        </p>
      </ng-container>
    </ngb-alert>


    <ngb-alert *ngIf="databaseerror==true" (close)="databaseerror = false">
      <ng-container *ngFor="let c of databaseerrorinformation; let i = index">
        <p>
          <strong>{{c}}</strong>
        </p>
      </ng-container>
    </ngb-alert>

    <ngb-alert *ngIf="notsameunit==true" (close)="notsameunit=false">
      <ng-container *ngFor="let message of unitnotsame; let i = index">
        <p>
          <strong>{{message}}</strong>
        </p>
      </ng-container>
    </ngb-alert>


    <div *ngIf="rightkitlinks.length>0 && findcatalog == true" class="form-group">
      <br>
      <label>This Kit Component(s)
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
          ngbTooltip="List of Components">?</button>
      </label>
      <table class="table table-bordered" style="background-color:lightgrey;">
        <tr>
          <th>Component</th>
          <th>Component Id</th>
          <th>Reagent</th>
          <th>Recipe Id</th>
          <th>Amount</th>
          <th>Unit</th>
          <!--<th>Stock Amount</th>
            <th>Stock Unit</th> -->
          <th>Packaging</th>
          <!--<th>Select Order</th>  -->
        </tr>
        <tr *ngFor="let link of rightkitlinks; let i = index">
          <ng-container>
            <td style="background-color:#E8E8E8;">{{link.component}}</td>
            <td style="background-color: #E8E8E8;">{{link.componentid}}</td>
            <td style="background-color: #E8E8E8;">{{link.reagent}}</td>
            <td style="background-color: #E8E8E8;" *ngIf="link.recipeid!='N/A'" class="recipeid"
              (click)="openrecipe(link.recipeid)">{{link.recipeid}}</td>
            <td style="background-color: #E8E8E8;" *ngIf="link.recipeid=='N/A'">{{link.recipeid}}</td>
            <td style="background-color: #E8E8E8;">{{link.amount}}</td>
            <td style="background-color: #E8E8E8;">{{link.unit}}</td>
            <td style="background-color: #E8E8E8;">{{link.packaging}}</td>
            <!--<td >
                <input autocomplete="off" #checkbox type="checkbox" class="checkbox" [checked]="checkboxarray[i].status" name="rightkitlinks" (change)="selectorderitem(i)">
              </td>-->
          </ng-container>
        </tr>
      </table>
      <!--<div class="checkall">
          <input autocomplete="off" type="checkbox"  (change)="selectallorderitem()"> <b>Check All</b>
        </div>
        <br><br>-->
    </div>

    <div
      *ngIf="buildkititems.length>0 && findcatalog == true && notindatabase==false && databaseerror == false && notsameunit ==false"
      class="form-group">
      <br>
      <label>The Required Items to Build This Kit
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
          ngbTooltip="List of Items">?</button>
      </label>
      <table class="table" style="background-color:lightgrey;">
        <tr>
          <th>Item Name</th>
          <th>Supplier Name</th>
          <th>Supplier Cat#</th>
          <th>Need Amount</th>
          <th>Need Unit</th>
          <th>Stock Amount</th>
          <th>Stock Unit</th>
          <th>Request Orders</th>
        </tr>
        <tr *ngFor="let item of buildkititems; let i = index">
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">{{item.item.name}}
          </td>
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">{{item.supplier}}
          </td>
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">{{item.cat}}</td>
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">
            {{item.requireamount}}</td>
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">{{item.requireunit}}
          </td>
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">{{item.stockamount}}
          </td>
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">{{item.stockunit}}
          </td>
          <td [style.background-color]="item.requireamount > item.stockamount?'#ffcccc':'#ccffff'">
            <input autocomplete="off" #checkbox type="checkbox" class="checkbox"
              [checked]="buildkititems[i].selected == true" (change)="selectorderitem(i)">
          </td>
        </tr>
      </table>
      <div class="checkall">
        <input autocomplete="off" type="checkbox" (change)="selectallorderitem()"> <b>Check All</b>
      </div>
      <br><br>
    </div>
  </div>

  <div class="form-group" *ngIf="kittree && findcatalog == true && wronginput!=true">
    <div style="font-weight:bold;font-size:18px;font-style: italic;color:darkblue;">
      &#160;&#160;&#160;&#160;&#160;&#160;Kit Component(s)
      <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
        ngbTooltip="List of Components">?</button>
    </div>

    <ul>
      <li *ngFor="let component of kittree?.root?.children; let i = index">
        <p *ngIf="component.componentname" style="font-weight:bold;font-size:15px;width:720px;">
          Component {{i+1}}: {{component.componentname}}
          <p>
            <table style="width:98%;table-layout:fixed;">
              <tbody style="display:table;width:100%;border-radius:6px;-moz-border-radius:6px;">
                <tr [style.background-color]="!component.itemname?'':'#e7f5fd'"
                  [style.color]="component.enough=='Yes'?'black':'red'">
                  <!-- <tr [style.background-color]="!component.itemname?'':'#0069d9'" [style.color]="component.enough=='Yes'?'black':'red'">       -->
                  <td *ngIf="component.recipename" style="width:100%;">
                    <p><b style="font-weight:bold;font-size:12px;margin-bottom:0px;">Recipe:
                      </b>{{component.recipename}}</p>
                    <app-buildkit-display [recipelist]="component.children"></app-buildkit-display>
                  </td>
                  <td *ngIf="component.itemname" style="width:20%;">
                    <label style="font-weight:bold;font-size:12px;">Item</label>
                    <p style="margin-bottom:0px;">{{component.itemname}}</p>
                  </td>
                  <td *ngIf="component.supplier" style="width:20%;">
                    <label style="font-weight:bold;font-size:12px;">Supplier</label>
                    <p style="margin-bottom:0px;">{{component.supplier}}</p>
                  </td>
                  <td *ngIf="component.itemcat" style="width:20%;">
                    <label style="font-weight:bold;font-size:12px;">Cat#</label>
                    <p style="margin-bottom:0px;">{{component.itemcat}}</p>
                  </td>
                  <td *ngIf="!component.recipename && component.requireamount && component.requireunit"
                    style="width:15%;">
                    <label style="font-weight:bold;font-size:12px;">Require</label>
                    <p style="margin-bottom:0px;">{{component.requireamount}} {{component.requireunit}}</p>
                  </td>
                  <td *ngIf="!component.recipename && component.stockamount!=null && component.stockunit"
                    style="width:15%;">
                    <label style="font-weight:bold;font-size:12px;">In stock</label>
                    <p style="margin-bottom:0px;">{{component.stockamount}} {{component.stockunit}}</p>
                  </td>
                  <td *ngIf="component.itemname" style="width:10%;">
                    <input #checkbox type="checkbox" class="checkbox" [checked]="component.selected == true"
                      (change)="select(component)">
                  </td>
                </tr>
              </tbody>

            </table>
      </li>
    </ul>
    <!-- <div class="checkall">
          <input type="checkbox" > <b>Check All</b>
              <input autocomplete="off" type="checkbox" (change)="selectallorderitem()"> <b>Check All</b> 
      </div>
      <br><br> -->
  </div>

  <div class="modal-footer">
    <!-- <button *ngIf="requestarray.length>0 && findcatalog == true && notindatabase==false && databaseerror == false && notsameunit ==false" -->
    <ngb-alert *ngIf="noselect==true" (close)="noselect=false">
      <p><strong>Please select at least one item!</strong></p>
    </ngb-alert>
    <button *ngIf="kittree" type="button" class="btn btn-primary" (click)="request()">Request Item</button>
    <button type="button" class="btn btn-primary" (click)="changeback();c('')">Close</button>
  </div>
</ng-template>