<div class="setting-cat">
  <div class="form-group">
    <h6>Product Type:</h6>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let t of type; let tindex = index">
        <td>
          <span *ngIf="!enableEdit">{{t.id}}</span>
          <input *ngIf="enableEdit" #tid type="number" [value]="t.id" (change)="assignId(tid.value, tindex, 'catType')">
        </td>
        <td>
          <span *ngIf="!enableEdit">{{t.name}}</span>
          <input *ngIf="enableEdit" #tname type="text" [value]="t.name" (change)="assignName(tname.value, tindex, 'catType')">
        </td>
      </tr>
      <ng-container *ngIf="showAddType">
        <tr>
          <td>
            <input #tnewId placeholder="new item ID">
          </td>
          <td>
            <input #tnewName placeholder="new item name">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-primary" (click)="newConfigVal(tnewId.value, tnewName.value, 'catType'); showAddType = false;">Add</button>
            <button class="btn btn-default" (click)="showAddType = false;">Cancel</button>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="enableEdit">
        <td colspan="2">
          <button class="btn btn-outline-info" (click)="showAddType = true">
            <i class="fas fa-plus"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="form-group">
    <h6>Clonality Type:</h6>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let c of cloneLevel; let cindex = index">
        <td>
          <span  *ngIf="!enableEdit">{{c.id}}</span>
          <input *ngIf="enableEdit" #cid type="number" [value]="c.id" (change)="assignId(cid.value, cindex, 'cloneType')">
        </td>
        <td>
          <span  *ngIf="!enableEdit">{{c.name}}</span>
          <input *ngIf="enableEdit" #cname type="text" [value]="c.name" (change)="assignName(cname.value, cindex, 'cloneType')">
        </td>
      </tr>
      <ng-container *ngIf="showAddClone">
        <tr>
          <td>
            <input #cnewId placeholder="new item ID">
          </td>
          <td>
            <input #cnewName placeholder="new item name">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-primary" (click)="newConfigVal(cnewId.value, cnewName.value, 'cloneType'); showAddClone = false;">Add</button>
            <button class="btn btn-default" (click)="showAddClone = false;">Cancel</button>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="enableEdit">
        <td colspan="2">
          <button class="btn btn-outline-info" (click)="showAddClone = true">
            <i class="fas fa-plus"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="form-group">
    <h6>Client Specific:</h6>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let cl of clients; let clindex = index">
        <td>
          <span  *ngIf="!enableEdit">{{cl.id}}</span>
          <input *ngIf="enableEdit" #clid type="number" [value]="cl.id" (change)="assignId(clid.value, clindex, 'focusClient')">
        </td>
        <td>
          <span  *ngIf="!enableEdit">{{cl.name}}</span>
          <input *ngIf="enableEdit" #clname type="text" [value]="cl.name" (change)="assignName(clname.value, clindex, 'focusClient')">
        </td>
      </tr>
      <ng-container *ngIf="showAddClient">
        <tr>
          <td>
            <input #clnewId placeholder="new item ID">
          </td>
          <td>
            <input #clnewName placeholder="new item name">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-primary" (click)="newConfigVal(clnewId.value, clnewName.value, 'focusClient'); showAddClient = false;">Add</button>
            <button class="btn btn-default" (click)="showAddClient = false;">Cancel</button>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="enableEdit">
        <td colspan="2">
          <button class="btn btn-outline-info" (click)="showAddClient = true">
            <i class="fas fa-plus"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="form-group">
    <h6>Species Type:</h6>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let spc of species; let spcindex = index">
        <td>
          <span *ngIf="!enableEdit">{{spc.id}}</span>
          <input *ngIf="enableEdit" #spcid type="number" [value]="spc.id" (change)="assignId(spcid.value, spcindex, 'species')">
        </td>
        <td>
          <span *ngIf="!enableEdit">{{spc.name}}</span>
          <input *ngIf="enableEdit" #spcname type="text" [value]="spc.name" (change)="assignName(spcname.value, spcindex, 'species')">
        </td>
      </tr>
      <ng-container *ngIf="showAddSpecies">
        <tr>
          <td>
            <input #spcnewId placeholder="new item ID">
          </td>
          <td>
            <input #spcnewName placeholder="new item name">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-primary" (click)="newConfigVal(spcnewId.value, spcnewName.value, 'species'); showAddSpecies = false;">Add</button>
            <button class="btn btn-default" (click)="showAddSpecies = false;">Cancel</button>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="enableEdit">
        <td colspan="2">
          <button class="btn btn-outline-info" (click)="showAddSpecies = true">
            <i class="fas fa-plus"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>